<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Softwarelizenz-
    und Servicevereinbarung</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Wichtiger
    Hinweis]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (im
    Folgenden als &#8222;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>“
    bezeichnet) erinnert die Benutzer hiermit daran, die Softwarelizenz und
    Servicevereinbarung (diese &#8222;Vereinbarung“) sorgf&auml;ltig zu lesen. <b>Die Benutzer
    sollen die Bedingungen dieser Vereinbarung sorgf&auml;ltig lesen und vollst&auml;ndig
    verstehen, insbesondere jene, die sich auf die Freistellung oder Beschr&auml;nkung
    der Haftung von Xiaomi, die Streitbeilegung und die anwendbaren Gesetze
    beziehen.</b> <b>Bitte beachten Sie insbesondere die in Fettdruck markierten
    Bedingungen, die einen Ausschluss bzw. eine Beschr&auml;nkung der Haftung betreffen.
    Bitte lesen Sie diese Vereinbarung sorgf&auml;ltig durch und entscheiden Sie sich
    dafür, sie zu akzeptieren oder nicht zu akzeptieren (beim Lesen dieser
    Vereinbarung durch einen Minderj&auml;hrigen sollte ein gesetzlicher Vormund
    anwesend sein). Durch das Herunterladen, Installieren und Verwenden der
    Software sowie durch den Erhalt Ihres Kontos und die Anmeldung darin erkl&auml;ren
    Sie sich damit einverstanden, diese Vereinbarung zu akzeptieren und sich
    vollst&auml;ndig an ihre Bestimmungen zu halten.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi beh&auml;lt sich
    das Recht vor, diese Vereinbarung zu &auml;ndern. Aktualisierte Bedingungen dieser
    Vereinbarung werden auf der offiziellen Website oder in der Software
    ver&ouml;ffentlicht und treten ab dem Datum der Ver&ouml;ffentlichung in Kraft.</span></b><span
    lang=DE style='font-size:12.0pt;font-family:"Times New Roman",serif'> Der
    Benutzer kann die Software erneut herunterladen und installieren oder sich die
    aktuellste Version der Bestimmungen dieser Vereinbarung auf der Website
    ansehen. <b>Nachdem Xiaomi die Bedingungen dieser Vereinbarung ge&auml;ndert hat,
    stellen Sie bitte sofort die Nutzung der von Xiaomi bereitgestellten &#8222;Xiaomi
    Router <span class="name"></span></b>“<b>-Software und -Dienste ein, wenn Sie die ge&auml;nderten
    Bedingungen nicht akzeptieren. Die fortgesetzte Nutzung der von Xiaomi
    bereitgestellten &#8222;Xiaomi Router <span class="name"></span>“-Software und -Dienste gilt als
    Zustimmung zu den ge&auml;nderten Bedingungen dieser Vereinbarung.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>1. Allgemeine Bestimmungen</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Diese
    Vereinbarung ist die zwischen Ihnen (nachfolgend &#8222;Benutzer“ genannt) und Xiaomi
    sowie dessen Betriebspartnern (nachfolgend &#8222;Partner“ genannt) geschlossene
    Vereinbarung über das Herunterladen, die Installation und die Nutzung der
    Software &#8222;<b> Xiaomi Router <span class="name"></span></b>“ (nachfolgend &#8222;Software“ genannt) von
    Xiaomi und die Nutzung der entsprechenden Dienste von Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Die Software
    und Dienste werden von Xiaomi für die Installation auf (insbesondere) mobilen,
    intelligenten Endger&auml;ten bereitgestellt, um dem Nutzer, der das genannte
    intelligente Endger&auml;t verwendet, Xiaomi-Dienste zur Verfügung zu stellen.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Das Eigentum
    und das Recht zum Betrieb der Software und -Dienste liegt bei Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>2. Umfang der Software-Lizenzierung</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi
    gew&auml;hrt dem Benutzer eine pers&ouml;nliche, nicht übertragbare und nicht-exklusive
    Lizenz zur Nutzung der Software ohne das Recht zur Unterlizenzierung.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Der Benutzer
    darf die Software für nicht-kommerzielle Zwecke auf einem einzelnen mobilen
    Endger&auml;t installieren, verwenden, anzeigen und betreiben. Der Benutzer darf die
    Software jedoch nicht zu kommerziellen Zwecken installieren, nutzen oder
    betreiben. Der Benutzer darf keine Daten der Software oder Daten, die w&auml;hrend
    des Betriebs der Software an den Speicher eines Endger&auml;ts freigegeben werden,
    und keine interaktiven Daten, die w&auml;hrend des Betriebs der Software zwischen
    dem Client und dem Server erzeugt werden, kopieren, &auml;ndern oder modifizieren,
    nicht die Software mit Plug-Ins betreiben, keine abgeleiteten Werke in
    irgendeiner Form erstellen, unter anderem Plug-Ins, und er darf auf die
    Software und zugeh&ouml;rige Systeme nicht durch nicht autorisierte Tools/Dienste
    von Drittanbietern zugreifen. Wenn Sie die Software, z.&nbsp;B. in Form von
    Softwarevorinstallation und -bündelung, kommerziell verkaufen, kopieren oder
    verteilen m&ouml;chten, müssen Sie die schriftliche Genehmigung und Lizenz von
    Xiaomi einholen. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Ohne die
    Erlaubnis von Xiaomi darf der Benutzer die Software nicht auf anderen
    Endger&auml;ten installieren, die nicht ausdrücklich von Xiaomi zugelassen sind,
    unter anderem auf Set-Top-Boxen, Spielkonsolen, Fernsehern, DVD-Playern usw. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Der Benutzer
    darf eine Kopie der Software anfertigen, um die Software und Dienste zu
    verwenden, diese darf jedoch nur als Sicherungskopie verwendet werden. Die
    Sicherungskopie muss alle urheberrechtlichen Daten der Originalsoftware
    enthalten.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Sofern nicht
    ausdrücklich durch diese Vereinbarung genehmigt, gew&auml;hrt Xiaomi dem Benutzer
    keine weiteren Rechte. Beabsichtigt der Benutzer, von einem anderen Recht
    Gebrauch zu machen, ist vorab die schriftliche Zustimmung von Xiaomi
    einzuholen. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>3. Softwareerwerb, Installation und
    Aktualisierung</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Der Benutzer
    ist verpflichtet, die Software von der Website oder in der von Xiaomi
    angegebenen Weise herunterzuladen und zu installieren. Achten Sie darauf, die
    Software nicht von nicht spezifizierten Websites herunterzuladen, um zu verhindern,
    dass mobile Ger&auml;te von b&ouml;sartigen Programmen infiziert werden, die
    Benutzerdaten zerst&ouml;ren und Daten über die Privatsph&auml;re der Benutzer erlangen
    k&ouml;nnen. Wenn Sie die Software oder das Installationsprogramm mit dem gleichen
    Namen wie die Software von einem Dritten erwerben, der nicht von Xiaomi
    autorisiert wurde, kann Xiaomi nicht garantieren, dass sie normal verwendet
    wird, und Xiaomi übernimmt keine Haftung für Verluste, die Ihnen dadurch
    entstehen.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Der Benutzer
    muss die Softwareversion ausw&auml;hlen, die zu dem installierten Endger&auml;t passt.
    Andernfalls gehen Softwareprobleme, Ger&auml;teprobleme oder Sch&auml;den, die sich aus
    einer Nichtübereinstimmung zwischen der Softwareversion und dem Ger&auml;temodell
    ergeben, ausschlie&szlig;lich zu Lasten des Benutzers.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Um die
    Benutzerfreundlichkeit zu verbessern und den Service zu optimieren, beh&auml;lt sich
    Xiaomi das Recht vor, eine ersetzte, modifizierte und aktualisierte Version der
    Software zur Verfügung zu stellen, und beh&auml;lt sich das Recht vor, eine solche
    Ersetzung, &Auml;nderung oder Aktualisierung in Rechnung zu stellen, wird aber im
    Voraus Ihre Zustimmung für diese Kosten einholen. Bei der Software wird
    standardm&auml;&szlig;ig eine &#8222;Aktualisierungsaufforderung“ für den Benutzer aktiviert.
    Abh&auml;ngig von der vom Benutzer verwendeten Softwareversion bietet Xiaomi dem
    Benutzer die M&ouml;glichkeit, diese Funktion zu aktivieren oder nicht. Nach der
    Ver&ouml;ffentlichung der neuen Version der Software garantiert Xiaomi nicht, dass
    &auml;ltere Versionen der Software weiterhin nutzbar sind.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>4. Verwendungsvorschriften</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Der Benutzer
    kann die Software und Dienste im Einklang mit dieser Vereinbarung und den
    geltenden Rechtsvorschriften verwenden. Der Benutzer verpflichtet sich dazu,
    die folgenden Handlungen zu unterlassen:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. L&ouml;schen von
    urheberrechtlichen Angaben in der Software oder in sonstigen Kopien oder
    &Auml;ndern, L&ouml;schen oder Umgehen der technischen Ma&szlig;nahmen seitens der Software zum
    Schutz der Rechte am geistigen Eigentum; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Nachbilden
    (Reverse-Engineering) der Software, wie beispielsweise Zerlegung,
    Dekompilierung oder andere Versuche, den Quellcode der Software zu erhalten;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Hinzufügen,
    Entfernen oder &Auml;ndern der Funktionen oder ausgeführten Effekte der Software
    durch Modifizieren oder F&auml;lschen der Anweisungen und Daten w&auml;hrend des Betriebs
    der Software oder anderweitiges Betreiben oder Verbreiten der Software oder der
    Methoden, die für die oben beschriebenen Zwecke verwendet werden, unabh&auml;ngig
    davon, ob dies für kommerzielle Zwecke geschieht oder nicht;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Nutzung der
    Software zur Begehung von Handlungen, welche die Netzwerksicherheit
    beeintr&auml;chtigen, insbesondere: Nutzung unautorisierter Daten oder Zugang zu
    unautorisierten Servern/Konten; unautorisierter Zugang zu &ouml;ffentlichen
    Netzwerken oder dem Betriebssystem anderer und L&ouml;schen, Ver&auml;ndern oder
    Hinzufügen gespeicherter Daten; unbefugte Versuche zum Erkennen, Scannen oder
    Testen des Softwaresystems oder von Netzwerkschw&auml;chen oder Vornahme anderer
    Handlungen, welche die Netzwerksicherheit gef&auml;hrden; Versuch der Beeintr&auml;chtigung
    oder Verhinderung des normalen Betriebs des Softwaresystems oder der Website;
    vors&auml;tzliche Verbreitung schadhafter Programme oder Viren; Vornahme sonstiger
    Handlungen, welche die normalen Netzwerkinformationsdienste gef&auml;hrden oder
    beeintr&auml;chtigen sowie F&auml;lschung des Namens oder von Namensteilen von
    TCP/IP-Datenpaketen;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Anmeldung
    bei oder Nutzung der Software und Dienste über drittanbieterkompatible Software
    oder Systeme, die nicht von Xiaomi entwickelt, autorisiert oder genehmigt
    wurden, oder das Produzieren, Ver&ouml;ffentlichen oder Verbreiten der oben
    genannten Tools;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. &Auml;nderung
    der Software ohne die schriftliche Zustimmung von Xiaomi in Bezug auf die darin
    enthaltenen Informationen, darunter das Verwenden, Vermieten, Verleihen,
    Kopieren, Modifizieren, Einrichten eines Links, Reproduzieren, Kompilieren,
    Freigeben, Ver&ouml;ffentlichen, Einrichten einer gespiegelten Website oder die
    nicht autorisierte Nutzung der Software zur Entwicklung verwandter Produkte,
    Werke, Dienste, Plug-Ins, von Kompatibilit&auml;t oder Zusammenschaltung;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Nutzung der
    Software zur Ver&ouml;ffentlichung, &Uuml;bermittlung, Verbreitung oder Speicherung von
    Inhalten, welche gegen die lokalen Rechtsvorschriften versto&szlig;en; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Nutzung der
    Software zur Ver&ouml;ffentlichung, &Uuml;bermittlung, Verbreitung oder Speicherung von
    Inhalten, welche gegen die legitimen Rechte anderer, z.&nbsp;B. Rechte am
    geistigen Eigentum oder Gesch&auml;ftsgeheimnisse, versto&szlig;en; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Nutzung der
    Software zur massenhaften Ver&ouml;ffentlichung, &Uuml;bermittlung oder Verbreitung von
    Werbung oder Spam; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Das
    Verwenden der Software und anderer von Xiaomi bereitgestellte Dienste in
    irgendeiner rechtswidrigen Weise, zu irgendeinem rechtswidrigen Zweck oder in
    irgendeiner Weise, die mit der lizenzierten Verwendung unter dieser
    Vereinbarung unvereinbar ist.</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=DE style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Regelungen zur Ver&ouml;ffentlichung von Daten</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Sie k&ouml;nnen die Software verwenden, um Informationen wie Ansichten, Daten, Text,
    Infos, Benutzernamen, Abbildungen, Fotos, personenbezogene Daten, Audio- oder Videodateien,
    Links und so weiter, die von Ihnen erstellt werden und die Sie ver&ouml;ffentlichen
    dürfen, zu ver&ouml;ffentlichen. Sie müssen sicherstellen, dass Sie über die
    geistigen Eigentumsrechte verfügen oder die rechtliche Genehmigung für die von
    Ihnen hochgeladenen Daten erhalten haben und dass Ihre Verwendung der Software
    und Services keine legitimen Rechte oder Interessen Dritter verletzt.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Bei der Nutzung der Software sind Sie verpflichtet, die lokal geltenden
    Rechtsvorschriften einzuhalten.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Sie verpflichten sich, die Software nicht zu benutzen, um unter anderem die
    folgenden Handlungen auszuführen</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Erstellung, Reproduktion, Ver&ouml;ffentlichung, Verbreitung oder Speicherung der
    folgenden Inhalte, welche gegen die lokalen Rechtsvorschriften versto&szlig;en;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Ver&ouml;ffentlichung, &Uuml;bermittlung, Verbreitung oder Speicherung von Inhalten,
    welche gegen die legitimen Rechte anderer, wie z.&nbsp;B. Reputationsrechte,
    Recht am eigenen Bild, Rechte am geistigen Eigentum oder Gesch&auml;ftsgeheimnisse,
    versto&szlig;en;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Erfindung von Tatsachen oder Verschleierung der Wahrheit mit dem Ziel, andere
    zu t&auml;uschen oder zu betrügen;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Ver&ouml;ffentlichung, &Uuml;bermittlung oder Verbreitung von Werbung oder Spam;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Beteiligung an sonstigen Handlungen, die gegen lokal geltende Gesetze,
    Vorschriften usw. versto&szlig;en.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Ohne die
    Erlaubnis von Xiaomi dürfen Sie kein kommerzielles Verhalten in der Software
    zeigen, wie z.&nbsp;B. Werbung, Verkauf von Waren.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Sie verstehen
    Folgendes und stimmen diesem zu:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi wird
    feststellen, ob der Benutzer im Verdacht steht, gegen die oben genannten
    Nutzungsbestimmungen zu versto&szlig;en und aufgrund des Ergebnisses dieser
    Feststellung die Ihnen gew&auml;hrte Nutzungslizenz aussetzen oder beenden oder
    andere restriktive Ma&szlig;nahmen ergreifen, die in &Uuml;bereinstimmung mit dieser
    Vereinbarung ergriffen werden k&ouml;nnen;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi wird
    alle Informationen, die im Verdacht stehen, rechtswidrig zu sein oder die
    legitimen Rechte anderer zu verletzen oder diese Vereinbarung zu verletzen, die
    vom Benutzer w&auml;hrend der Nutzung der lizenzierten Software ver&ouml;ffentlicht
    werden, direkt l&ouml;schen;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Wenn Sie
    gegen die vorgenannten Nutzungsbestimmungen versto&szlig;en und damit Dritten Schaden
    zufügen, müssen Sie die Haftung in Ihrem eigenen Namen übernehmen und Xiaomi
    von allen daraus entstehenden Verlusten oder Ausgaben frei und schadlos halten;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Der
    Benutzer stellt Xiaomi von allen Verlusten, Ansprüchen Dritter,
    Verwaltungsstrafen, Sch&auml;den und/oder Ausgaben, einschlie&szlig;lich angemessener
    Anwaltsgebühren, Untersuchungs- und Beweiserhebungskosten, frei, die Xiaomi
    infolge der Verletzung einschl&auml;giger Gesetze durch den Benutzer oder der
    Verletzung dieser Vereinbarung entstehen oder entstehen.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>5. Datenschutzerkl&auml;rung und Schutz
    personenbezogener Daten</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Xiaomi ist
    der Schutz Ihrer personenbezogenen Daten ein wichtiges Anliegen. Um die
    Funktionen der Software bereitzustellen und die Benutzerfreundlichkeit zu
    verbessern, erhebt Xiaomi bestimmte Arten von Daten, wie sie in unserer Datenschutzerkl&auml;rung
    beschrieben sind, und wir erheben, verwenden und schützen Ihre Daten in
    &Uuml;bereinstimmung mit unserer Datenschutzerkl&auml;rung. Die Datenschutzerkl&auml;rung ist
    auf der folgenden Website verfügbar [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>6. Service-Risiko und
    Haftungsausschluss</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Der Benutzer
    muss das Ger&auml;t, das für den Zugang zum Internet und die Nutzung der
    Telekommunikations-Mehrwertservices durch das mobile Endger&auml;t erforderlich ist,
    bereitstellen und die Kommunikationsgebühren, Informationsgebühren und die
    verwandten Kosten, die durch den Internetzugang mit dem pers&ouml;nlichen mobilen
    Endger&auml;t entstehen oder durch Dritte in Rechnung gestellt werden
    (einschlie&szlig;lich Telekommunikations- oder Mobilfunkanbietern), selbst
    übernehmen. Wenn Sie Telekommunikations-Mehrwertservices ben&ouml;tigen, sollten Sie
    die Kosten mit Ihrem Telekommunikations-Mehrwertanbieter kl&auml;ren.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Weder Xiaomi
    noch sein Partner haftet für Sch&auml;den, die dem Benutzer aus Gründen entstehen,
    die Dritten zuzurechnen sind, z.&nbsp;B. Ausfall der Kommunikationsleitung, technische
    Probleme, Ausfall des Netzwerks oder der mobilen Endger&auml;te, Instabilit&auml;t des
    Systems und andere Faktoren h&ouml;herer Gewalt.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Die Software
    kann, wie die meisten anderen Internetprogramme, von Faktoren wie
    beispielsweise Benutzerproblemen, Netzwerkdienstqualit&auml;t, Unterschieden in der
    sozialen Umgebung usw. beeinflusst werden und kann auch Bel&auml;stigungen in Bezug
    auf verschiedene Sicherheitsprobleme ausgesetzt sein, wie z. B. der Nutzung von
    Daten des Benutzers durch andere, die zu Bel&auml;stigungen im wirklichen Leben
    führen. Andere Softwareprogramme, die vom Benutzer heruntergeladen und
    installiert werden, oder andere vom Benutzer besuchte Websites k&ouml;nnen
    &#8222;Trojaner“ und andere Viren enthalten, welche die Sicherheit der Informationen
    und Daten des Endger&auml;ts des Benutzers gef&auml;hrden und folglich die normale
    Nutzung der Software beeintr&auml;chtigen. Der Benutzer muss das Bewusstsein für die
    Informationssicherheit und den Schutz der Benutzerdaten erh&ouml;hen und darauf
    achten, den Passwortschutz zu verst&auml;rken, um Verluste und Bel&auml;stigungen zu
    vermeiden.</span></b><span lang=DE style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Wenn der
    Benutzer die Software verwendet oder Xiaomi auffordert, bestimmte Dienste zu
    erbringen, kann die Software ein System oder eine Software eines Drittanbieters
    aufrufen, um die Nutzung oder den Zugriff des Benutzers zu unterstützen. Die
    Ergebnisse der Verwendung oder des Zugriffs werden von dem Drittanbieter zur
    Verfügung gestellt. Xiaomi übernimmt keine Garantie für die Sicherheit,
    Genauigkeit und Effektivit&auml;t der Ergebnisse, die durch die Unterstützung des
    genannten Systems oder der genannten Software erzielt werden, noch übernimmt
    Xiaomi andere ungewisse Risiken; falls ein Streit oder Schaden daraus entsteht,
    übernimmt Xiaomi keine Haftung.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi weist
    den Nutzer ausdrücklich darauf hin, dass Xiaomi zum Schutz der
    Gesch&auml;ftsentwicklung und der Berichtigungsautonomie des Unternehmens das Recht
    hat, die Dienste jederzeit ohne Vorankündigung an den Nutzer und ohne jegliche
    Haftung gegenüber dem Nutzer oder Dritten zu &auml;ndern oder einzustellen.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Sofern nicht
    ausdrücklich in Gesetzen und Vorschriften vorgesehen, werden wir unser
    M&ouml;glichstes tun, um sicherzustellen, dass die Software und die damit
    verbundenen Technologien und Informationen sicher, effektiv, genau und
    zuverl&auml;ssig sind, jedoch muss der Benutzer anerkennen, dass Xiaomi dies mit der
    aktuell verfügbaren Technologie nicht garantieren kann.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Der Nutzer
    haftet allein für Personensch&auml;den, Neben- oder Folgesch&auml;den, insbesondere für
    entgangenen Gewinn, Datenverlust, Betriebsunterbrechung oder sonstige
    wirtschaftliche Sch&auml;den, die aus oder im Zusammenhang mit der Nutzung der
    Website entstehen: (1) die Nutzung oder Nichtnutzung der lizenzierten Software;
    (2) nichtautorisierte Nutzung der Software oder &Auml;nderung der Daten des Nutzers
    durch einen Dritten; (3) Kosten und Verluste, die dem Nutzer w&auml;hrend der
    Nutzung der Software entstehen; (4) Missverst&auml;ndnisse des Nutzers der Software;
    (5) sonstige Verluste im Zusammenhang mit der Software aus Gründen, die Xiaomi
    nicht zurechenbar sind.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. Im Falle von
    Personensch&auml;den, wirtschaftlichen Sch&auml;den oder Verlusten, die durch die Art der
    Nutzung einer beliebigen Software durch den Benutzer oder sonstige
    Softwarebenutzer oder durch eine Irreführung oder T&auml;uschung des Benutzers
    entstanden sind oder entstehen k&ouml;nnten, haftet die schuldige Partei für alle
    Verpflichtungen, die daraus entstehen.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>7. Erkl&auml;rung zu den Rechten des
    geistigen Eigentums</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi ist
    der Inhaber des Rechts am geistigen Eigentum an der Software. Alle Rechte an
    geistigem Eigentum wie Urheberrecht, Warenzeichen, Patent, Gesch&auml;ftsgeheimnis
    usw. in Bezug auf die Software und alle Daten, die auf die Software Bezug
    nehmen (einschlie&szlig;lich, aber nicht beschr&auml;nkt auf Text, Bilder, Audio, Video,
    Grafiken, Interface-Design, Layout, Daten oder elektronische Dokumente usw.),
    sind durch lokal geltende Gesetze und Vorschriften und entsprechende
    internationale Vertr&auml;ge geschützt. Xiaomi hat die vorgenannten geistigen
    Eigentumsrechte.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Ohne
    vorherige schriftliche Zustimmung von Xiaomi darf der Benutzer keine der oben
    genannten geistigen Eigentumsrechte für kommerzielle oder nichtkommerzielle
    Zwecke nutzen oder übertragen oder Dritten gestatten, dies zu tun. Xiaomi
    beh&auml;lt sich das Recht vor, seine rechtlichen Ansprüche bezüglich solcher Handlungen
    geltend zu machen.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>8. &Auml;nderung</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi beh&auml;lt
    sich das Recht vor, die Bedingungen dieser Vereinbarung von Zeit zu Zeit nach
    eigenem Ermessen zu &auml;ndern, und solche ge&auml;nderten Bedingungen werden
    rechtzeitig auf den entsprechenden Webseiten ver&ouml;ffentlicht. Wenn Sie mit einer
    &Auml;nderung nicht einverstanden sind, müssen Sie die Initiative ergreifen, um die
    Dienste zu kündigen. Wenn Sie die Dienste weiterhin verwenden, gilt dies als
    Zustimmung zur ge&auml;nderten Vereinbarung. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi oder
    der Partner beh&auml;lt sich das Recht vor, von Zeit zu Zeit und nach eigenem
    Ermessen die angebotenen kostenpflichtigen Dienste, die Abrechnungskriterien,
    den Abrechnungsmodus, die Servicegebühren oder die Servicebedingungen zu
    &auml;ndern. Zur Bereitstellung der Dienste beginnt Xiaomi m&ouml;glicherweise, von
    bestimmten Benutzern jetzt oder in Zukunft Gebühren zu erheben. Verweigert der
    Benutzer die Zahlung dieser Gebühren, kann er die entsprechenden Dienste nach
    Beginn der Gebührenpflichtigkeit nicht mehr verwenden. </span></b><span
    lang=DE style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi und
    der Partner werden alles tun, um den Benutzer über alle Erg&auml;nzungen oder
    &Auml;nderungen per E-Mail oder auf andere Weise zu informieren. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>9. Anwendbares Recht und
    Streitbeilegung</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. Die
    Gültigkeit und Auslegung dieser Vereinbarung unterliegt den Gesetzen des Festlandes
    der Volksrepublik China. In Ermangelung einschl&auml;giger Rechtsvorschriften
    k&ouml;nnten internationale Gesch&auml;ftspraktiken und/oder Gesch&auml;ftspraktiken
    herangezogen werden.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Diese
    Vereinbarung wurde im Bezirk Haidian, Peking, unterzeichnet.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Der Benutzer
    und Xiaomi sind sich darüber einig, dass alle Streitigkeiten, die sich aus den
    Diensten ergeben, zun&auml;chst durch Gespr&auml;che der Parteien beigelegt werden. Kann
    durch solche Konsultationen keine Einigung erzielt werden, kann jede
    Vertragspartei die Streitigkeit dem zust&auml;ndigen Gericht des Ortes vorlegen, an
    dem diese Vereinbarung unterzeichnet wurde.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DE style='font-family:
    "Times New Roman",serif;'>10. Verschiedenes</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Es ist
    m&ouml;glich, dass für einen bestimmten Dienst der Software eine getrennte
    Vereinbarung und entsprechende Gesch&auml;ftsregelungen und etc. vereinbart werden
    (nachfolgend umfassend als &#8222;separate Vereinbarung“ bezeichnet). Wir m&ouml;chten Sie
    daher bitten, die entsprechende separate Vereinbarung zu lesen und den
    Bedingungen der separaten Vereinbarung zuzustimmen, bevor Sie diesen spezifischen
    Dienst nutzen.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Diese
    Vereinbarung tritt am 1. Dezember 2023 in Kraft.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Die
    &Uuml;berschriften der einzelnen Bedingungen dieser Vereinbarung dienen nur der
    besseren Orientierung und sind für die Auslegung der Vereinbarung nicht von
    Bedeutung.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Falls eine
    Bestimmung dieser Vereinbarung, gleich aus welchem Grund, unwirksam oder nicht
    durchsetzbar ist oder wird, bleiben die restlichen Bedingungen dieser
    Vereinbarung vollumf&auml;nglich wirksam und für beide Parteien bindend.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=DE
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
