<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Ohjelmiston
    k&auml;ytt&ouml;oikeus- ja palvelusopimus</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[T&auml;rke&auml; huomautus]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (t&auml;st&auml;
    l&auml;htien &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    muistuttaa t&auml;ten k&auml;ytt&auml;j&auml;&auml; lukemaan ohjelmiston k&auml;ytt&ouml;oikeus- ja
    palvelusopimuksen (t&auml;m&auml; &quot;sopimus&quot;) huolella ja ymm&auml;rt&auml;m&auml;&auml;n sen
    t&auml;ysin. <b>K&auml;ytt&auml;j&auml;n on luettava ja ymm&auml;rrett&auml;v&auml; t&auml;ysin t&auml;m&auml;n sopimuksen ehdot,
    erityisesti ne, jotka koskevat poikkeuksia Xiaomin korvausvelvollisuudessa tai
    rajoittamista, kiistojen ratkaisemista ja soveltuvia lakeja.</b> <b>Pyyd&auml;mme
    kiinnitt&auml;m&auml;&auml;n huomiota korvausvelvollisuuden poikkeuksia tai sen rajoittamista
    koskeviin ehtoihin, jotka on kirjoitettu paksulla tekstill&auml;. Lue t&auml;m&auml; sopimus
    huolella ja joko hyv&auml;ksy tai hylk&auml;&auml; se (alaik&auml;isen on luettava t&auml;m&auml; sopimus
    laillisen huoltajansa seurassa). Lataamalla, asentamalla ja k&auml;ytt&auml;m&auml;ll&auml;
    ohjelmistoa sek&auml; hakemalla tilin ja kirjautumalla siihen sis&auml;&auml;n hyv&auml;ksyt
    sopimuksen ehdot ja sen, ett&auml; ne velvoittavat sinua t&auml;ysin.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi varaa
    oikeuden tehd&auml; muutoksia t&auml;h&auml;n sopimukseen. T&auml;m&auml;n sopimuksen p&auml;ivitetyt ehdot
    julkaistaan virallisella sivustolla tai ohjelmistossa, ja ne astuvat voimaan
    julkaisup&auml;iv&auml;n&auml;.</span></b><span lang=FI style='font-size:12.0pt;font-family:
    "Times New Roman",serif'> K&auml;ytt&auml;j&auml; voi ladata ja asentaa ohjelmiston uudelleen
    ja lukea t&auml;m&auml;n sopimuksen ehtojen tuoreimman version sivustolla. <b>Jos et
    hyv&auml;ksy muutettuja ehtoja sen j&auml;lkeen, kun Xiaomi on tehnyt muutoksia t&auml;m&auml;n
    Sopimuksen ehtoihin, lopeta v&auml;litt&ouml;m&auml;sti &quot;Xiaomi <span class="name"></span>
    -reitittimen&quot; ohjelmiston ja Xiaomin tarjoamien palveluiden k&auml;ytt&ouml;. Jos
    k&auml;ytt&auml;j&auml; jatkaa &quot;Xiaomi <span class="name"></span> -reitittimen&quot; ohjelmiston ja Xiaomin
    tarjoamien palveluiden k&auml;ytt&ouml;&auml;, h&auml;nen katsotaan hyv&auml;ksyneen t&auml;m&auml;n Sopimuksen
    muutetut ehdot.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>1. Yleiset ehdot</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. T&auml;m&auml; Sopimus
    solmitaan sinun (j&auml;ljemp&auml;n&auml; &quot;k&auml;ytt&auml;j&auml;&quot;) ja Xiaomin sek&auml; sen
    toimintakumppanin (j&auml;ljemp&auml;n&auml; &quot;kumppani&quot;) v&auml;lill&auml;, ja se koskee
    k&auml;ytt&auml;j&auml;n suorittamaa &quot;<b>Xiaomi <span class="name"></span> -reitittimen</b>&quot;
    ohjelmiston (j&auml;ljemp&auml;n&auml; &quot;ohjelmisto&quot;) asennusta ja k&auml;ytt&ouml;&auml; sek&auml;
    siihen liittyvien Xiaomin palveluiden k&auml;ytt&ouml;&auml;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Xiaomi
    tarjoaa ohjelmiston ja palvelut asennettavaksi muun muassa
    &auml;lymobiilip&auml;&auml;telaitteisiin, jotta mainitun &auml;lyp&auml;&auml;tteen k&auml;ytt&auml;j&auml;lle voidaan
    tarjota Xiaomin palveluita.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Xiaomi
    omistaa ohjelmiston ja palvelut sek&auml; niiden k&auml;ytt&ouml;oikeuden.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>2. Ohjelmiston k&auml;ytt&ouml;oikeuden laajuus</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi
    my&ouml;nt&auml;&auml; k&auml;ytt&auml;j&auml;lle henkil&ouml;kohtaisen, ei-siirrett&auml;v&auml;n ja ei-eksklusiivisen
    oikeuden k&auml;ytt&auml;&auml; ohjelmistoa ilman alilisensointioikeutta.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. K&auml;ytt&auml;j&auml; saa
    asentaa ohjelmiston, k&auml;ytt&auml;&auml; sit&auml;, esitt&auml;&auml; sen ja suorittaa sit&auml; yhdess&auml;
    mobiilip&auml;&auml;telaitteessa muissa kuin kaupallisissa tarkoituksissa. K&auml;ytt&auml;j&auml; ei
    kuitenkaan saa asentaa, k&auml;ytt&auml;&auml; tai suorittaa ohjelmistoa kaupallisissa
    tarkoituksissa. K&auml;ytt&auml;j&auml; ei saa kopioida, muuttaa tai muokata mit&auml;&auml;n
    ohjelmiston tietoja tai mit&auml;&auml;n ohjelmiston suorittamisen aikana p&auml;&auml;tteen
    muistiin julkaistuja tietoja tai interaktiivisia tietoja, jotka tuotetaan
    asiakaslaitteen ja palvelimen v&auml;lill&auml; ohjelmiston suorittamisen aikana, eik&auml;
    h&auml;n saa suorittaa ohjelmistoa laajennusten kanssa tai luoda mit&auml;&auml;n
    johdannaist&ouml;it&auml; miss&auml;&auml;n muodossa, mukaan lukien mm. laajennuksia, tai k&auml;ytt&auml;&auml;
    ohjelmistoa ja siihen liittyvi&auml; j&auml;rjestelmi&auml; luvattomien kolmannen osapuolen
    ty&ouml;kalujen/palveluiden kautta. Jos sinun on myyt&auml;v&auml; tai kopioitava ohjelmisto
    tai jaeltava sit&auml; kaupallisesti, kuten esiasentamalla ohjelmiston tai
    sis&auml;llytt&auml;m&auml;ll&auml; sen ohjelmistopakettiin, sinun on saatava siihen kirjallinen
    lupa ja lisenssi Xiaomilta. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. K&auml;ytt&auml;j&auml; ei
    saa ilman Xiaomin lupaa asentaa ohjelmistoa muihin p&auml;&auml;telaitteisiin, joita
    Xiaomi ei nimenomaisesti salli, mukaan lukien mm. digitaalisen television
    p&auml;&auml;telaitteet, pelikonsolit, televisiot, DVD-soittimet jne. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. K&auml;ytt&auml;j&auml; saa
    kopioida ohjelmiston k&auml;ytt&auml;&auml;kseen ohjelmistoa ja palveluita, mutta kopiota saa
    k&auml;ytt&auml;&auml; ainoastaan varmuuskopiona. Varmuuskopion on sis&auml;llett&auml;v&auml; kaikki
    alkuper&auml;isohjelmiston sis&auml;lt&auml;m&auml;t tekij&auml;noikeustiedot.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Xiaomi ei
    my&ouml;nn&auml; k&auml;ytt&auml;j&auml;lle muita oikeuksia kuin mit&auml; t&auml;ss&auml; sopimuksessa nimenomaisesti
    my&ouml;nnet&auml;&auml;n. Jos k&auml;ytt&auml;j&auml; aikoo k&auml;ytt&auml;&auml; mit&auml;&auml;n muuta oikeutta, h&auml;nen on saatava
    siihen etuk&auml;teen kirjallinen suostumus Xiaomilta. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>3. Ohjelmiston hankkiminen,
    asentaminen ja p&auml;ivitt&auml;minen</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. K&auml;ytt&auml;j&auml;
    lataa ja asentaa ohjelmiston sivustolta tai Xiaomin ohjeistamalla tavalla. &Auml;l&auml;
    lataa ohjelmistoa muualta kuin ohjeistetuilta sivustoilta, jotta
    mobiililaitteisiin ei p&auml;&auml;se haittaohjelmia, jotka saattavat tuhota k&auml;ytt&auml;j&auml;n
    tietoja ja hankkia k&auml;ytt&auml;j&auml;n yksityisi&auml; tietoja. Jos hankit ohjelmiston tai
    asennusohjelman, jolla on sama nimi kuin ohjelmistolla, kolmannelta
    osapuolelta, jota Xiaomi ei ole valtuuttanut, Xiaomi ei voi taata, ett&auml; se
    toimii normaaliin tapaan, eik&auml; Xiaomi ole korvausvelvollinen t&auml;st&auml; sinulle
    mahdollisesti koituvista menetyksist&auml;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. K&auml;ytt&auml;j&auml;n on
    valittava asennettua p&auml;&auml;telaitetta vastaava ohjelmistoversio. Muussa
    tapauksessa k&auml;ytt&auml;j&auml; ottaa vastuulleen kaikki ohjelmisto-ongelmat,
    laiteongelmat ja vauriot, jotka johtuvat ohjelmistoversion ja laitemallin
    v&auml;lisest&auml; yhteensopimattomuudesta.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3.
    K&auml;ytt&ouml;kokemusta parannellakseen ja palvelun sis&auml;ll&ouml;n optimoidakseen Xiaomi
    varaa oikeuden tarjota ohjelmistosta korvaavan, muutetun tai p&auml;ivitetyn version
    sek&auml; oikeuden veloittaa t&auml;llaisista korvaamisista, muutoksista ja
    p&auml;ivityksist&auml;, mutta t&auml;llaisiin veloituksiin pyydet&auml;&auml;n ennakkosuostumuksesi.
    Ohjelmisto ottaa p&auml;ivityskehoteominaisuuden k&auml;ytt&ouml;&ouml;n oletuksena. K&auml;ytt&auml;j&auml;n
    k&auml;ytt&auml;m&auml;st&auml; ohjelmistoversiosta riippuen Xiaomi saattaa tarjota k&auml;ytt&auml;j&auml;lle
    mahdollisuuden p&auml;&auml;tt&auml;&auml;, haluaako h&auml;n ottaa mainitun ominaisuuden k&auml;ytt&ouml;&ouml;n. Kun
    ohjelmistosta julkaistaan uusi versio, Xiaomi ei takaa, ett&auml; ohjelmiston
    vanhempi versio olisi en&auml;&auml; k&auml;ytett&auml;viss&auml;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>4. K&auml;ytt&ouml;tiedot</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. K&auml;ytt&auml;j&auml; saa
    k&auml;ytt&auml;&auml; ohjelmistoa ja palveluja t&auml;m&auml;n sopimuksen ja lakien mukaisesti.
    K&auml;ytt&auml;j&auml; ei saa tehd&auml; seuraavia:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Poistaa
    mit&auml;&auml;n tekij&auml;noikeustietoja ohjelmistosta ja muista kopioista tai muuttaa,
    poistaa tai ohittaa ohjelmiston teknisi&auml; toimintoja, jotka suojaavat
    immateriaaliomaisuusoikeuksia; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2.
    Takaisinmallintaa ohjelmistoa esimerkiksi purkamalla tai muutoin pyrkim&auml;ll&auml;
    selvitt&auml;m&auml;&auml;n ohjelmiston l&auml;hdekoodin;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Lis&auml;t&auml;,
    poistaa tai muuttaa ohjelmiston ominaisuuksia tai toimintaa muokkaamalla tai
    v&auml;&auml;rent&auml;m&auml;ll&auml; ohjeita ja tietoja ohjelmiston toiminnan aikana tai muutoin
    k&auml;ytt&auml;&auml; tai mainostaa julkisesti ohjelmistoa tai keinoja, joita k&auml;ytet&auml;&auml;n yll&auml;
    kuvattuihin tarkoituksiin, oli kyse kaupallisista tarkoituksista tai ei;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. K&auml;ytt&auml;&auml;
    ohjelmistoa mink&auml;&auml;n verkon turvallisuudelle haitallisten toimintojen
    suorittamiseen mukaan lukien, mutta ei rajoittuen: luvattomien tietojen tai
    luvattomien palvelinten/tilien k&auml;ytt&ouml;, luvaton julkisten verkkojen tai toisten
    k&auml;ytt&ouml;j&auml;rjestelmien k&auml;ytt&ouml; ja mink&auml;&auml;n tallennettujen tietojen poistaminen,
    muokkaaminen tai lis&auml;&auml;minen, luvattomat yritykset tunnistaa, skannata tai
    testata ohjelmistoj&auml;rjestelm&auml;n tai verkon heikkouksia tai tehd&auml; muita asioita,
    jotka ovat tuhoisia verkon turvallisuudelle, yritt&auml;&auml; peukaloida tai tuhota
    ohjelmistoj&auml;rjestelm&auml;n tai sivuston normaalia toimintaa, levitt&auml;&auml; tahallisesti
    haittaohjelmia tai viruksia tai ryhty&auml; muihin toimiin, jotka tuhoavat normaalit
    verkon tietopalvelut tai haittaavat niit&auml;, tai v&auml;&auml;rent&auml;&auml; TCP/IP-datapakettien
    nimi&auml; t&auml;ysin tai osittain;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Kirjautua
    ohjelmistoon ja palveluihin tai k&auml;ytt&auml;&auml; niit&auml; sellaisen kolmannen osapuolen
    yhteensopivan ohjelmiston tai j&auml;rjestelm&auml;n kautta, jota Xiaomi ei ole
    kehitt&auml;nyt, valtuuttanut tai hyv&auml;ksynyt, tai valmistaa, julkaista tai levitt&auml;&auml;
    yll&auml; mainittuja ty&ouml;kaluja;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Tehd&auml;
    mit&auml;&auml;n ohjelmistolla tai sen sis&auml;lt&auml;mill&auml; tiedoilla ilman Xiaomin kirjallista
    suostumusta, mukaan lukien mm. ohjelmiston k&auml;ytt&ouml;, vuokraaminen, lainaaminen,
    kopiointi, muuntelu, linkitt&auml;minen, j&auml;lleentuotanto, kokoaminen, lanseeraus,
    julkaisu, peilikuvasivuston laatiminen ja ohjelmiston luvaton k&auml;ytt&ouml; siihen
    liittyvien johdannaistuotteiden, t&ouml;iden, palveluiden, laajennusten,
    yhteensopivuuksien tai kytkent&ouml;jen kehitt&auml;miseen;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. K&auml;ytt&auml;&auml;
    ohjelmistoa mink&auml;&auml;n sellaisen sis&auml;ll&ouml;n julkaisemiseen, siirt&auml;miseen,
    levitt&auml;miseen tai s&auml;ilytt&auml;miseen, joka rikkoo paikallisia lakeja ja s&auml;&auml;d&ouml;ksi&auml;; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. K&auml;ytt&auml;&auml;
    ohjelmistoa mink&auml;&auml;n sellaisen sis&auml;ll&ouml;n julkaisemiseen, siirt&auml;miseen,
    levitt&auml;miseen tai s&auml;ilytt&auml;miseen, joka loukkaa muiden laillisia oikeuksia,
    kuten immateriaaliomaisuusoikeuksia ja liikesalaisuuksia; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. K&auml;ytt&auml;&auml;
    ohjelmistoa mainostietojen tai roskapostin julkaisemiseen, l&auml;hett&auml;miseen tai
    levitt&auml;miseen; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. K&auml;ytt&auml;&auml;
    Xiaomin tarjoamaa ohjelmistoa ja muita palveluita mill&auml;&auml;n laittomalla tavalla,
    mihink&auml;&auml;n laittomaan tarkoitukseen tai mill&auml;&auml;n tavalla, joka ei ole t&auml;m&auml;n
    sopimuksen kattaman lisensoidun k&auml;yt&ouml;n mukaista.</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=FI style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Tietojen julkaisutiedot</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Voit k&auml;ytt&auml;&auml; ohjelmistoa julkaistaksesi tietoja, kuten n&auml;kymi&auml;, dataa, teksti&auml;,
    tietoja, k&auml;ytt&auml;j&auml;tunnuksia, kuvia, valokuvia, henkil&ouml;tietoja, audio- ja
    videotiedostoja ja linkkej&auml;, jotka olet luonut itse tai joihin sinulla on
    julkaisuoikeus. Sinun on taattava, ett&auml; sinulla on immateriaaliomaisuusoikeudet
    tai ett&auml; olet saanut laillisen valtuutuksen l&auml;hett&auml;m&auml;&auml;si tietoon ja ett&auml; se,
    miten k&auml;yt&auml;t ohjelmistoa ja palveluita, ei loukkaa mink&auml;&auml;n kolmannen osapuolen
    laillisia oikeuksia tai intressej&auml;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Kun k&auml;yt&auml;t ohjelmistoa, sinun on noudatettava paikallisia lakeja ja s&auml;&auml;nn&ouml;ksi&auml;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Et saa k&auml;ytt&auml;&auml; ohjelmistoa muun muassa seuraavien toimintojen suorittamiseen</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Tuottaa, kopioida, julkaista, levitt&auml;&auml; tai s&auml;ilytt&auml;&auml; mit&auml;&auml;n seuraavista
    sis&auml;ll&ouml;ist&auml;, jotka ovat paikallisten lakien ja s&auml;&auml;nn&ouml;sten vastaisia;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Julkaista, siirt&auml;&auml;, levitt&auml;&auml; tai s&auml;ilytt&auml;&auml; mit&auml;&auml;n sis&auml;lt&ouml;&auml;, joka loukkaa muiden
    laillisia oikeuksia, kuten maineoikeutta, muotokuvaoikeutta,
    immateriaaliomaisuusoikeuksia ja ammattisalaisuuksia;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Keksi&auml; tietoja tai salata totuuden johtaaksesi muita harhaan tai pett&auml;&auml;ksesi
    heit&auml;;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Julkaista, l&auml;hett&auml;&auml; tai levitt&auml;&auml; mainostietoja tai roskapostia;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Osallistua muihin toimiin, jotka rikkovat paikallisia lakeja ja s&auml;&auml;nn&ouml;ksi&auml; jne.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Et saa
    tehd&auml; ohjelmistolla mit&auml;&auml;n kaupallista ilman Xiaomin lupaa, kuten mainostaa tai
    myyd&auml; tuotteita.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Ymm&auml;rr&auml;t ja
    hyv&auml;ksyt seuraavat:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi
    m&auml;&auml;ritt&auml;&auml;, ep&auml;ill&auml;&auml;nk&ouml; k&auml;ytt&auml;j&auml;&auml; yll&auml; mainittujen k&auml;ytt&ouml;tietojen rikkomisesta,
    ja t&auml;llaisen m&auml;&auml;rityksen tuloksista riippuen se saattaa keskeytt&auml;&auml; tai
    irtisanoa sinulle my&ouml;nnetyn k&auml;ytt&ouml;oikeuden tai ryhty&auml; muihin t&auml;m&auml;n sopimuksen
    mukaisiin rajoittaviin toimenpiteisiin;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    poistaa suoraan kaikki k&auml;ytt&auml;j&auml;n lisensoidun ohjelmiston k&auml;yt&ouml;n aikana
    julkaisemat tiedot, joiden ep&auml;ill&auml;&auml;n olevan laittomia tai loukkaavan muiden
    laillisia oikeuksia tai t&auml;t&auml; sopimusta;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Jos rikot
    yll&auml; mainittuja k&auml;ytt&ouml;tietoja ja siten aiheutat vahinkoa kolmansille
    osapuolille, sinun on otettava korvausvelvollisuus itsen&auml;isesti omiin nimiisi
    ja pidett&auml;v&auml; Xiaomia syytt&ouml;m&auml;n&auml; kaikkiin t&auml;llaisesta aiheutuviin menetyksiin ja
    kustannuksiin;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. K&auml;ytt&auml;j&auml;
    vapauttaa Xiaomin vastuusta ja pit&auml;&auml; sit&auml; syytt&ouml;m&auml;n&auml; kaikkiin menetyksiin,
    kolmannen osapuolen vaateisiin, hallinnollisiin rangaistuksiin, vahinkoihin
    ja/tai kuluihin, mukaan lukien kohtuulliset asianajajan palkkiot sek&auml; tutkimus-
    ja todisteidenkeruukulut, jotka koituvat Xiaomille sen takia, ett&auml; k&auml;ytt&auml;j&auml; on
    rikkonut aiheeseen liittyvi&auml; lakeja tai t&auml;t&auml; sopimusta.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>5. Tietosuojak&auml;yt&auml;nt&ouml; ja
    henkil&ouml;tietojen suojeleminen</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1.
    Henkil&ouml;tietojesi suojeleminen on t&auml;rke&auml;&auml; Xiaomille. Voidakseen tarjota
    ohjelmiston ominaisuuksia ja parantaa k&auml;ytt&ouml;kokemusta Xiaomi ker&auml;&auml; tietyn
    tyyppisi&auml; tietoja, jotka kuvataan tietosuojak&auml;yt&auml;nn&ouml;ss&auml;. Ker&auml;&auml;mme, k&auml;yt&auml;mme ja
    suojelemme tietojasi tietosuojak&auml;yt&auml;nn&ouml;n mukaisesti. Tietosuojak&auml;yt&auml;nt&ouml; on
    luettavissa seuraavalla sivustolla [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>6. Palveluriski ja
    vastuuvapautuslausunto</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. K&auml;ytt&auml;j&auml;n on
    hankittava laite, joka tarvitaan, jotta mobiilip&auml;&auml;telaite voi muodostaa
    Internet-yhteyden ja k&auml;ytt&auml;&auml; teleliikenteen lis&auml;arvopalveluita, ja h&auml;nen on
    huolehdittava tiedonsiirtokustannuksista, informaatiokuluista ja muista
    henkil&ouml;kohtaisen mobiilip&auml;&auml;telaitteen Internet-yhteydest&auml; koituvista
    kustannuksista ja kolmansien osapuolten (mukaan lukien mm.
    teleliikennepalveluiden ja mobiilitiedonsiirtoyhteyden tarjoajat) veloittamista
    kustannuksista. Jos tarvitset teleliikenteen arvonlis&auml;palveluita, suosittelemme
    tarkistamaan hinnan teleliikenteen lis&auml;arvopalvelun tarjoajalta.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Xiaomi ja sen
    kumppani eiv&auml;t ole korvausvelvollisia mist&auml;&auml;n k&auml;ytt&auml;j&auml;n k&auml;rsim&auml;st&auml; menetyksest&auml;
    t&auml;m&auml;n johtuessa kolmansiin osapuoliin liittyvist&auml; syist&auml;, kuten
    tiedonsiirtoyhteyden katkeaminen, tekninen ongelma, verkko- tai
    mobiilip&auml;&auml;telaitteen vika, j&auml;rjestelm&auml;n ep&auml;vakaus tai muut erilaiset
    ylivoimaiset esteet.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Ohjelmisto,
    kuten useimmat muut Internet-ohjelmistot, saattaa olla alttiina mm. sellaisille
    tekij&ouml;ille kuin k&auml;ytt&auml;j&auml;n syyt, verkkopalvelun laatu, sosiaalisten ymp&auml;rist&ouml;jen
    eroavuudet jne., ja se saattaa my&ouml;s olla altis erilaisiin tietoturvaongelmiin
    liittyv&auml;lle kiusaamiselle, kuten k&auml;ytt&auml;j&auml;n tietojen k&auml;ytt&ouml; muiden toimesta,
    josta seuraa kiusaamista tosiel&auml;m&auml;ss&auml;; sek&auml; sille, ett&auml; k&auml;ytt&auml;j&auml;n muut lataamat
    ja asentamat ohjelmat tai muut k&auml;ytt&auml;j&auml;n k&auml;ytt&auml;m&auml;t sivustot saattavat sis&auml;lt&auml;&auml;
    &quot;troijalaisia&quot; ja muita viruksia, mik&auml; uhkaa k&auml;ytt&auml;j&auml;n p&auml;&auml;telaitteen
    informaation ja tietojen turvallisuutta ja n&auml;in saattaa vaikuttaa ohjelmiston
    normaaliin k&auml;ytt&ouml;&ouml;n. K&auml;ytt&auml;j&auml;n tulee kasvattaa tietoisuuttaan tietoturvasta ja
    k&auml;ytt&auml;j&auml;n tietojen suojelemisesta ja kiinnitt&auml;&auml; huomiota salasanasuojauksen
    vahvistamiseen v&auml;ltt&auml;&auml;kseen menetykset ja kiusaamisen.</span></b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Kun k&auml;ytt&auml;j&auml;
    k&auml;ytt&auml;&auml; ohjelmistoa tai pyyt&auml;&auml; Xiaomia toimittamaan tiettyj&auml; palveluita,
    ohjelmisto saattaa pyyt&auml;&auml; kolmannen osapuolen j&auml;rjestelm&auml;&auml; tai ohjelmistoa
    tukemaan k&auml;ytt&ouml;&auml; tai p&auml;&auml;sy&auml;. T&auml;ll&ouml;in kolmas osapuoli tarjoaa k&auml;yt&ouml;n tai p&auml;&auml;syn
    tulokset. Xiaomi ei takaa mainitun j&auml;rjestelm&auml;n tai ohjelmiston tuen kautta
    saatujen tulosten turvallisuutta, t&auml;sm&auml;llisyytt&auml; tai tehokkuutta, eik&auml; Xiaomi
    ota mit&auml;&auml;n muita ep&auml;varmoja riskej&auml;; jos t&auml;llaisesta aiheutuu mit&auml;&auml;n kiistoja
    tai vahinkoja, Xiaomi ei ole niist&auml; korvausvelvollinen.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi pyyt&auml;&auml;
    erityisesti k&auml;ytt&auml;j&auml;&auml; kiinnitt&auml;m&auml;&auml;n huomiota siihen, ett&auml; suojellakseen
    yrityksen liiketoiminnan kehityst&auml; ja s&auml;&auml;d&ouml;sten autonomisuutta Xiaomilla on
    oikeus muuttaa palveluita tai keskeytt&auml;&auml; ne milloin tahansa ilmoittamatta siit&auml;
    k&auml;ytt&auml;j&auml;lle siit&auml; koitumatta korvausvelvollisuutta k&auml;ytt&auml;j&auml;&auml; tai mit&auml;&auml;n
    kolmatta osapuolta kohtaan.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Paitsi kuten
    laeissa ja s&auml;&auml;d&ouml;ksiss&auml; nimenomaisesti s&auml;&auml;det&auml;&auml;n, teemme parhaamme taataksemme,
    ett&auml; ohjelmisto, teknologia ja niihin liittyv&auml;t tiedot ovat turvallisia,
    tehokkaita, t&auml;sm&auml;llisi&auml; ja luotettavia; kuitenkin olemassa olevasta
    teknologiasta johtuen k&auml;ytt&auml;j&auml; ymm&auml;rt&auml;&auml;, ett&auml; Xiaomi ei kykene takaamaan t&auml;t&auml;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. K&auml;ytt&auml;j&auml; on
    yksin vastuussa kaikista henkil&ouml;kohtaisista loukkaantumisista ja satunnaisista
    sek&auml; seuraamuksellisista vahingoista mukaan lukien mm. voiton menetys, tietojen
    menetys, liiketoiminnan keskeytyminen ja muut kaupalliset vahingot, jotka
    johtuvat seuraavista tai liittyv&auml;t niihin: (1) lisensoidun ohjelmiston k&auml;ytt&ouml;
    tai k&auml;yt&ouml;n ep&auml;onnistuminen; (2) ohjelmiston luvaton k&auml;ytt&ouml; tai k&auml;ytt&auml;j&auml;n
    tietojen muuntelu kolmannen osapuolen toimesta; (3) k&auml;ytt&auml;j&auml;lle ohjelmiston
    k&auml;yt&ouml;n aikana aiheutuneet kustannukset ja menetykset; (4) k&auml;ytt&auml;j&auml;n
    v&auml;&auml;rinymm&auml;rrykset ohjelmistosta; (5) muut ohjelmistoon liittyv&auml;t menetykset,
    jotka syntyv&auml;t muista kuin Xiaomista johtuvista syist&auml;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. Jos k&auml;ytt&auml;j&auml;n
    ja muiden ohjelmiston k&auml;ytt&auml;jien k&auml;yt&ouml;ksest&auml; miss&auml; tahansa ohjelmistossa tai
    k&auml;ytt&auml;j&auml;n harhaanjohtamisesta tai pett&auml;misest&auml; aiheutuu tai saattaa aiheutua
    henkil&ouml;kohtaista tai taloudellista vahinkoa tai menetyksi&auml;, syyllinen osapuoli
    vastaa kaikista niist&auml; aiheutuvista korvausvelvollisuuksista.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>7. Lausunto
    immateriaaliomaisuusoikeuksista</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi on
    ohjelmiston immateriaaliomaisuusoikeuden haltija. Kaikki ohjelmistoon liittyv&auml;t
    immateriaaliomaisuusoikeudet, kuten tekij&auml;noikeus, tavaramerkki, patentti,
    ammattisalaisuus jne., sek&auml; kaikki ohjelmistoon liittyv&auml;t tiedot (mukaan lukien
    mm. teksti, kuvat, &auml;&auml;net, videot, grafiikat, liittym&auml;n rakenne, asettelu, data
    ja s&auml;hk&ouml;iset asiakirjat jne.) ovat paikallisten lakien ja s&auml;&auml;d&ouml;sten ja asiaan
    kuuluvien kansainv&auml;listen sopimusten suojelemia. Xiaomilla on edelt&auml;v&auml;t
    immateriaalioikeudet.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. K&auml;ytt&auml;j&auml; ei
    saa itsen&auml;isesti k&auml;ytt&auml;&auml; tai siirt&auml;&auml; mit&auml;&auml;n yll&auml; mainittuja
    immateriaaliomaisuusoikeuksia miss&auml;&auml;n taloudellisessa tai muunlaisessa
    tarkoituksessa tai sallia mink&auml;&auml;n kolmannen osapuolen tehd&auml; niin saamatta
    siihen ensin kirjallista suostumusta Xiaomilta. Xiaomi pid&auml;tt&auml;&auml; oikeuden vaatia
    laillista vastuuta t&auml;llaisiin toimiin.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>8. Muutokset</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi varaa
    oikeuden ajoittain muuttaa t&auml;m&auml;n sopimuksen ehtoja yksinomaan omasta
    p&auml;&auml;t&ouml;ksest&auml;&auml;n, ja kaikki t&auml;llaiset muutetut ehdot julkaistaan oikea-aikaisesti
    asianmukaisilla sivustoilla. Jos et hyv&auml;ksy jotain muutosta, sinun on
    peruutettava palvelut omasta aloitteestasi. Jos jatkat palveluiden k&auml;ytt&auml;mist&auml;,
    sinun katsotaan hyv&auml;ksyneen muutettu sopimus. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi tai
    kumppani varaa oikeuden muokata tai muuttaa ajoittain ja yksinomaan omasta
    p&auml;&auml;t&ouml;ksest&auml;&auml;n tarjottuja maksullisia palveluita, veloituskriteereit&auml;,
    veloitustapaa, palvelumaksuja ja palvelun ehtoja. Palveluita tarjotessaan
    Xiaomi saattaa alkaa veloittaa joiltain k&auml;ytt&auml;jilt&auml; tiettyj&auml; maksuja nyt tai
    tulevaisuudessa. Jos k&auml;ytt&auml;j&auml; kielt&auml;ytyy maksamasta t&auml;llaisia maksuja, k&auml;ytt&auml;j&auml;
    ei kykene k&auml;ytt&auml;m&auml;&auml;n asianmukaisia palveluita veloituksen alettua. </span></b><span
    lang=FI style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi ja
    kumppani pyrkiv&auml;t parhaansa mukaan ilmoittamaan k&auml;ytt&auml;j&auml;lle kaikista
    muutoksista s&auml;hk&ouml;postitse tai muulla tavalla. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>9. Sovellettava laki ja kiistojen
    ratkaiseminen</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. T&auml;m&auml; sopimus
    ja sen tulkinta ovat Kiinan kansantasavallan manterella vallitsevien lakien
    alaisia. Jos tietty&auml; lainkohtaa ei ole olemassa, voidaan k&auml;ytt&auml;&auml; kansainv&auml;lisi&auml;
    liiketoimintak&auml;yt&auml;nt&ouml;j&auml; ja/tai muita liiketoimintak&auml;yt&auml;nt&ouml;j&auml;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. T&auml;m&auml; sopimus
    on allekirjoitettu Haidianin piirikunnassa Pekingiss&auml;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Sek&auml; k&auml;ytt&auml;j&auml;
    ett&auml; Xiaomi suostuvat siihen, ett&auml; kaikki palveluista johtuvat kiistat pyrit&auml;&auml;n
    ensin sovittelemaan osapuolten v&auml;lisell&auml; konsultaatiolla. Jos t&auml;llaiset
    konsultaatiot eiv&auml;t johda sovintoon, molemmilla osapuolilla on oikeus toimittaa
    kiista p&auml;tev&auml;n laink&auml;ytt&ouml;alueen oikeuteen, joka on vastuussa paikasta, jossa
    t&auml;m&auml; sopimus on allekirjoitettu.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=FI style='font-family:
    "Times New Roman",serif;'>10. Muuta</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Ohjelmiston
    tietyill&auml; palveluilla saattaa olla erillinen sopimus ja siihen liittyv&auml;t
    liiketoimintas&auml;&auml;nn&ouml;t tms. (t&auml;st&auml; l&auml;htien kollektiivisesti &quot;erillinen
    sopimus&quot;), joten luethan ja hyv&auml;ksyt asianmukaisen erillisen sopimuksen
    ennen t&auml;llaisen tietyn palvelun k&auml;ytt&ouml;&auml;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. T&auml;m&auml; sopimus
    astuu voimaan 1. joulukuuta 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. T&auml;m&auml;n
    sopimuksen kaikkien ehtojen otsikot on tarkoitettu vain lukemisen
    helpottamiseksi ja ne sivuutetaan t&auml;m&auml;n sopimuksen tulkinnassa.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Jos mik&auml;&auml;n
    t&auml;m&auml;n sopimuksen ehto on mist&auml; tahansa syyst&auml; mit&auml;t&ouml;n tai t&auml;yt&auml;nt&ouml;&ouml;npanokelvoton
    nyt tai tulevaisuudessa, muut sopimuksen ehdot pysyv&auml;t t&auml;ysin voimassa ja
    sitovat edelleen molempia osapuolia.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=FI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
