<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Contratto licenza
    software e contratto di assistenza</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Nota importante]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (in
    seguito denominato &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    con la presente ricorda all'utente di leggere attentamente e comprendere
    appieno il contratto licenza software e contratto di assistenza (il presente
    &quot;Contratto&quot;). <b>L'utente deve leggere attentamente e comprendere
    appieno i termini del presente Contratto, in particolare quelli relativi
    all'esenzione o alla limitazione della responsabilità di Xiaomi, della
    risoluzione delle controversie e delle leggi applicabili.</b> <b>Si richiede
    all'utente di prestare attenzione ai termini relativi all'esenzione o
    limitazione di responsabilità, che sono stati evidenziati in grassetto. Leggere
    attentamente e decidere se accettare o non accettare il presente contratto (i
    minori devono essere sempre assistiti da un tutore legale durante la lettura
    del contratto). Scaricando, installando e utilizzando il software, nonché
    registrandosi e accedendo al proprio account, l'utente accetta il presente
    Contratto e riconosce di essere pienamente vincolato dai suoi termini.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi si riserva
    il diritto di modificare il presente Contratto. I termini aggiornati del
    presente Contratto saranno pubblicati sul sito ufficiale o sul software e
    avranno effetto a partire dalla data di pubblicazione.</span></b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> L'utente può
    scaricare di nuovo e installare il software o visualizzare l'ultima versione
    dei termini del presente contratto sul sito web. <b>Dopo che Xiaomi avrà
    modificato i termini del presente Contratto, se non si accettano i termini
    modificati, interrompere immediatamente l'utilizzo del software e dei servizi
    &quot;Xiaomi Router <span class="name"></span></b>&quot; <b>forniti da Xiaomi. L'utilizzo
    continuato da parte dell'utente del software e dei servizi &quot;Xiaomi Router
    <span class="name"></span>&quot; forniti da Xiaomi sarà considerato come accettazione dei termini
    modificati del presente Contratto.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>1. Disposizioni generali</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Il presente
    Contratto sancisce l'accordo stipulato tra l'utente (in seguito
    &quot;Utente&quot;), Xiaomi e i relativi partner operativi (in seguito
    &quot;Partner&quot;) in relazione al download, all'installazione e all'uso da
    parte dell'Utente del software &quot;<b>Xiaomi Router <span class="name"></span></b>&quot; (in
    seguito &quot;Software&quot;) di Xiaomi e l'utilizzo dei servizi correlati
    forniti da Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Il Software e
    i servizi sono forniti da Xiaomi per l'installazione su (a titolo
    esemplificativo ma non esaustivo) dispositivi terminali mobili intelligenti,
    per fornire servizi Xiaomi per l'Utente che utilizza il suddetto terminale
    intelligente.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. La proprietà
    e il diritto di utilizzo del Software e i servizi sono di Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>2. Ambito della licenza del software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi
    concede all'Utente una licenza personale, non trasferibile e non esclusiva per
    l'utilizzo del Software, senza diritto di sublicenza.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. L'Utente può
    installare, utilizzare, visualizzare e fare funzionare il software su un
    singolo terminale mobile per scopi non commerciali. Resta inteso che l'utente
    non può installare, utilizzare o eseguire il Software per scopi commerciali.
    L'utente non deve copiare, alterare o modificare i dati del Software, i dati
    rilasciati nella memoria di qualsiasi terminale durante l'esecuzione del
    Software e i dati interattivi generati tra il client e il server durante il
    funzionamento del Software, né fare funzionare il Software con plug-in, né
    creare lavori derivati in qualsiasi forma, tra cui, a titolo esemplificativo ma
    non esaustivo, plug-in, accesso al Software e ai relativi sistemi tramite
    strumenti/servizi di terzi non autorizzati. Per la vendita, la copia o la
    distribuzione commerciale del Software, ad esempio pre-installazione e
    creazione di bundle del Software, l'Utente deve ottenere l'autorizzazione
    scritta e la licenza di Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Senza
    l'autorizzazione di Xiaomi, l'Utente non potrà installare il Software su altri
    dispositivi terminali non espressamente approvati da Xiaomi, tra cui, a titolo
    esemplificativo ma non esaustivo, set-top box, console di gioco, televisori,
    lettori DVD ecc. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. L'Utente può
    fare una copia del Software allo scopo di utilizzare il Software e i servizi,
    ma dovrà utilizzarla solo come backup. La copia di backup deve contenere tutte
    le informazioni sul copyright contenute nel software originale.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Ad eccezione
    di quanto espressamente autorizzato dal presente Contratto, Xiaomi non concede
    altri diritti all'Utente. Per usufruire di qualsiasi altro diritto, l'utente
    dovrà ottenere il consenso scritto di Xiaomi in anticipo. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>3. Acquisizione, installazione e
    aggiornamento del Software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. L'Utente
    dovrà scaricare e installare il Software dal sito Web o nella modalità indicata
    da Xiaomi. Occorre prestare attenzione a non scaricare il Software da siti web
    non specificati, in modo tale da evitare che i dispositivi mobili possano
    essere infettati da programmi dannosi che, a loro volta, possono distruggere i
    dati dell'Utente e acquisire informazioni sulla sua privacy. Se l'utente
    acquista il Software o il programma di installazione con lo stesso nome del
    Software da una terza parte non autorizzata da Xiaomi, quest'ultima non può garantirne
    il normale funzionamento e declina ogni responsabilità per eventuali perdite
    subite dall'utente.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. L'Utente deve
    selezionare la versione del Software corrispondente al terminale installato. In
    caso contrario, eventuali problemi del software, del dispositivo o danni
    risultanti da una mancata corrispondenza tra la versione del software e il
    modello del dispositivo saranno esclusivamente a carico dell'Utente.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Al fine di
    migliorare l'esperienza dell'Utente e ottimizzare i contenuti del servizio,
    Xiaomi si riserva il diritto di fornire la versione sostituita, modificata e
    aggiornata del Software e si riserva inoltre il diritto di addebitare un costo
    per tale sostituzione, modifica o aggiornamento, ma otterrà il consenso
    dell'Utente in anticipo in relazione a detti costi. Per impostazione
    predefinita, il software abiliterà la funzione di &quot;Richiesta di
    aggiornamento&quot; per l'utente. A seconda della versione del software
    utilizzata dall'utente, Xiaomi offre all'utente la facoltà di attivare o meno
    tale funzione. Dopo il rilascio della nuova versione del Software, Xiaomi non
    garantisce che le versioni precedenti del Software continueranno a essere
    utilizzabili.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>4. Specifiche di utilizzo</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. L'Utente può
    utilizzare il software e i servizi in conformità al presente Contratto e alle
    leggi. L'utente si impegna a non commettere i seguenti atti:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Eliminare
    le informazioni sul copyright del Software e altre copie oppure modificare,
    eliminare o eludere le misure tecniche impostate dal Software per la protezione
    dei diritti di proprietà intellettuale; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Eseguire
    ingegneria inversa del Software, come lo smontaggio, la decompilazione o altri
    tentativi di ottenere il codice sorgente del Software;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Aggiungere,
    rimuovere o modificare le caratteristiche o gli effetti in esecuzione del
    Software modificando o violando le istruzioni e i dati durante il funzionamento
    del Software, o altrimenti gestire o diffondere pubblicamente in altro modo il
    Software o i metodi utilizzati per gli scopi sopra descritti, commerciali o
    meno;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Fare uso
    del software per commettere atti che pregiudichino la sicurezza della rete,
    inclusi, a titolo esemplificativo ma non esaustivo: l'utilizzo di dati non
    autorizzati o l'accesso a server/account non autorizzati; l'accesso non
    autorizzato alle reti pubbliche o al sistema operativo di terzi e
    l'eliminazione, la modifica o l'aggiunta di qualsiasi informazione archiviata;
    tentativi non autorizzati di rilevare, scansionare o testare le debolezze del
    sistema software o della rete o di compiere altre azioni volte a infrangere la
    sicurezza della rete; tentare di interferire o ostacolare il normale
    funzionamento del sistema software o del sito Web, diffondere deliberatamente
    programmi o virus dannosi o compiere altre azioni mirate a distruggere o
    interferire con i normali servizi informatici di rete; falsificare il nome o i
    nomi parziali del pacchetto dati TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. L'Utente
    esegue l'accesso o utilizza il software e i servizi tramite software o sistemi
    compatibili con terze parti non sviluppati, autorizzati o approvati da Xiaomi,
    oppure realizza, pubblica o diffonde detti strumenti;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Senza il
    consenso scritto di Xiaomi, l'Utente effettua qualsiasi operazione sul Software
    o sulle informazioni in esso contenute, tra cui, a titolo esemplificativo ma
    non esaustivo, l'utilizzo, il leasing, il prestito, la copia, la modifica, la creazione
    di un link, la riproduzione, la compilazione, il rilascio, la pubblicazione, la
    creazione di un sito Web con immagine speculare o l'uso non autorizzato del
    Software per sviluppare prodotti, opere, servizi, plug-in, compatibilità o
    interconnessione derivati collegati;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Utilizzare
    il Software per pubblicare, trasmettere, diffondere o archiviare qualsiasi
    contenuto che violi le leggi e le regolamentazioni locali; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Utilizzare
    il Software per pubblicare, trasmettere, diffondere o archiviare qualsiasi
    contenuto che violi diritti legittimi, come i diritti di proprietà
    intellettuale e i segreti commerciali di terze parti; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Utilizzare
    il Software per pubblicare, trasmettere o diffondere in massa informazioni
    pubblicitarie o spam; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Utilizzare
    il Software e gli altri servizi forniti da Xiaomi, in qualsiasi modalità
    illecita, per qualsiasi scopo illegale o in qualsiasi modo incompatibile con
    l'utilizzo concesso in licenza ai sensi del presente Contratto;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=IT style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Specifiche tecniche sulla pubblicazione delle informazioni</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    L'utente può utilizzare il software per pubblicare informazioni quali
    visualizzazioni, dati, testi, informazioni, nomi utente, immagini, foto, dati
    personali, file audio o video, link, ecc. creati dall'utente o che l'utente ha
    il diritto di pubblicare. L'utente deve garantire di disporre dei diritti di
    proprietà intellettuale o di aver ottenuto l'autorizzazione legale delle
    informazioni caricate da lui stesso e che l'utilizzo del Software e dei servizi
    non violi alcun diritto o interesse legittimo di terze parti.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Durante l'utilizzo del software, l'utente è tenuto a rispettare le leggi e i
    regolamenti locali.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    L'Utente non può utilizzare il Software per commettere i seguenti atti,
    incluso, a titolo esemplificativo ma non esaustivo</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Produrre, riprodurre, pubblicare, diffondere o memorizzare qualsiasi dei
    seguenti contenuti che violano le leggi e le regolamentazioni locali;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    pubblicare, trasmettere, diffondere o conservare qualsiasi contenuto che violi
    diritti legittimi, come i diritti di reputazione, di rappresentazione, di
    proprietà intellettuale e i segreti commerciali di terzi;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Inventare o nascondere la verità per raggirare o ingannare gli altri;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Pubblicare, trasmettere o diffondere informazioni pubblicitarie o spam;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Impegnarsi in altri atti che violino le leggi e i regolamenti locali ecc.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Senza
    l'autorizzazione di Xiaomi, l'Utente non deve condurre alcuna condotta
    commerciale all'interno del Software, ad esempio pubblicità o vendita di merce.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. L'Utente
    comprende e accetta quanto segue:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi
    determinerà se l'Utente è sospettato di violare le suddette specifiche tecniche
    di utilizzo e, sulla base del risultato di tale determinazione, sospenderà o
    interromperà la licenza d'uso concessa all'Utente o adotterà altre misure
    restrittive previste dal presente Contratto;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    eliminerà direttamente tutte le informazioni pubblicate dall'Utente durante
    l'utilizzo del Software concesso in licenza sospettate di essere illegali o di
    violare i legittimi diritti altrui o di violare il presente Contratto;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Se l'Utente
    viola le specifiche tecniche di utilizzo sopra indicate e quindi causa danni a
    terzi, deve assumersi autonomamente la responsabilità a proprio nome e
    manlevare e tenere Xiaomi indenne da qualsiasi perdita o spesa derivante;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. L'Utente
    dovrà tenere indenne e manlevare Xiaomi da qualsiasi perdita, pretesa di terze
    parti, penalità amministrativa, danno e/o spesa, comprese le spese legali
    ragionevoli, i costi di indagine e di raccolta delle prove, sostenuti o subiti
    da Xiaomi a causa della violazione delle leggi pertinenti o della violazione
    del presente Contratto da parte dell'Utente.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>5. Informativa sulla privacy e protezione
    delle informazioni personali</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Per Xiaomi è
    importante proteggere i dati personali dell'Utente. Al fine di fornire le
    funzionalità del Software e migliorare l'esperienza dell'utente, Xiaomi
    raccoglierà determinati tipi di dati come riportato nella nostra Informativa
    sulla Privacy. Raccogliamo, utilizziamo e proteggiamo i dati dell'utente in
    conformità alla nostra Informativa sulla Privacy. L'Informativa sulla privacy è
    disponibile al seguente sito web [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>6. Rischio del servizio ed esclusione
    di responsabilità</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. L'Utente è
    tenuto ad acquistare il dispositivo necessario per l'accesso a internet e
    l'utilizzo dei servizi di telecomunicazione a valore aggiunto dal dispositivo
    terminale mobile e si farà carico delle spese di comunicazione e informazione,
    nonché dei costi correlati sostenuti per l'accesso a Internet del dispositivo
    terminale mobile personale o addebitati da terze parti (inclusi, a titolo
    esemplificativo ma non esaustivo, i fornitori di servizi di telecomunicazione e
    comunicazione mobile). Se sono necessari servizi di telecomunicazione a valore
    aggiunto, si consiglia di verificare i costi con il proprio fornitore di tali
    servizi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Né Xiaomi né
    il suo partner sono responsabili di eventuali perdite subite dall'Utente per
    cause imputabili a terze parti, come ad esempio guasti della linea di
    comunicazione, problemi tecnici, guasti alla rete o ai terminali mobili,
    instabilità del sistema e altri fattori di forza maggiore.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Il software,
    come la maggior parte degli altri software Internet, può essere influenzato da
    fattori quali, a titolo esemplificativo ma non esaustivo, ragioni legate
    all'Utente, alla qualità del servizio di rete, alle differenze dell'ambiente
    sociale, etc. Inoltre, può essere soggetto ad attacchi ripetuti connessi con
    problemi di sicurezza vari, come l'uso dei dati dell'Utente da parte di terze
    parti, con conseguenti molestie nella vita reale; altri software scaricati e
    installati dall'Utente o altri siti Web visitati dall'Utente che contengano
    &quot;Trojan horse&quot; e altri virus che minacciano la sicurezza delle
    informazioni e dei dati del terminale dell'Utente, influenzando il normale
    utilizzo del Software. L'utente deve migliorare la consapevolezza della
    sicurezza delle informazioni e della protezione dei dati e prestare attenzione
    al rafforzamento della protezione delle password per evitare perdite e
    molestie.</span></b><span lang=IT style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Quando
    l'Utente utilizza il Software o richiede a Xiaomi di fornire servizi specifici,
    il Software può chiamare un sistema o software di terze parti per supportare
    l'utilizzo o l'accesso dell'Utente. I risultati dell'utilizzo o dell'accesso
    saranno forniti da terzi. Xiaomi non garantisce la sicurezza, l'accuratezza e
    l'efficacia dei risultati ottenuti attraverso il supporto di tale sistema o
    software né si assume altri rischi incerti. In caso di controversie o danni,
    Xiaomi non si assume alcuna responsabilità.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi
    richiama in particolare l'attenzione dell'Utente sul fatto che, al fine di
    proteggere l'autonomia di sviluppo e di regolazione della società, Xiaomi ha il
    diritto di modificare o sospendere i servizi in qualsiasi momento senza
    preavviso all'Utente e senza alcuna responsabilità nei confronti dell'Utente o
    di terzi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Salvo quanto
    espressamente previsto dalle leggi e dai regolamenti, faremo del nostro meglio
    per garantire che il Software e la tecnologia e le informazioni in questione
    siano sicure, efficaci, accurate e affidabili; tuttavia, nel rispetto della
    tecnologia esistente, l'Utente è consapevole del fatto che Xiaomi non può garantirlo.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. L'Utente sarà
    l'unico responsabile per eventuali lesioni personali o danni accidentali o
    consequenziali, tra cui, a titolo esemplificativo ma non esaustivo, perdita di
    profitto, perdita di dati, interruzione dell'attività o altri danni commerciali
    derivanti da o relativi a: (1) l'uso o il mancato utilizzo del Software
    concesso in licenza; (2) l'uso non autorizzato del Software o la modifica dei
    dati dell'Utente da parte di terze parti; (3) i costi e le perdite subite
    dall'Utente durante l'uso del Software; (4) incomprensioni da parte dell'Utente
    del Software; (5) altre perdite in relazione al Software per motivi non
    imputabili a Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. In caso di
    danni personali o economici o perdite che siano state o possano essere causate
    dalla condotta dell'Utente e di altri utenti del Software attraverso qualsiasi
    software, o dovuti a un inganno o frode ai danni dell'Utente, la parte
    inadempiente si assume tutte le responsabilità che ne derivano.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>7. Dichiarazione sui diritti di
    proprietà intellettuale</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi
    detiene i diritti di proprietà intellettuale del Software. Tutti i diritti di
    proprietà intellettuale come copyright, marchi commerciali, brevetti segreti
    commerciali, ecc. relativi al Software, e tutte le informazioni relative al
    Software (inclusi, a titolo esemplificativo ma non esaustivo, testi, immagini,
    audio, video, grafica, progettazione di interfacce, layout, dati o documenti
    elettronici, etc.) sono protetti da leggi e regolamenti locali e dai
    corrispondenti trattati internazionali. Xiaomi detiene i suddetti diritti di
    proprietà intellettuale.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Senza il
    previo consenso scritto di Xiaomi, l'Utente non potrà utilizzare o trasferire
    in modo indipendente alcun diritto di proprietà intellettuale di cui sopra per
    scopi commerciali o non commerciali, né permettere a terzi di farlo. Xiaomi si
    riserva il diritto di perseguire la responsabilità legale per tali atti.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>8. Modifica</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi si
    riserva il diritto di modificare di volta in volta i termini del presente
    Contratto a sua esclusiva discrezione, e tali termini modificati saranno
    pubblicati tempestivamente sulle relative pagine Web. Se non accetta una
    qualsiasi modifica, l'utente dovrà annullare i servizi. L'utilizzo continuato
    dei servizi da parte dell'utente costituisce l'accettazione del contratto
    modificato. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi o il
    Partner si riservano il diritto, di volta in volta e a propria esclusiva
    discrezione, di modificare i servizi forniti a pagamento, i criteri di
    addebito, la modalità di addebito, i costi di servizio o le condizioni di
    servizio. Nel fornire i servizi, Xiaomi può iniziare ad addebitare determinati
    costi ad alcuni utenti ora o in futuro. Qualora l'utente si rifiutasse di
    pagare tali costi, non potrà continuare a utilizzare i servizi in questione dopo
    l'applicazione dell'addebito. </span></b><span lang=IT style='font-size:12.0pt;
    font-family:"Times New Roman",serif'>Xiaomi e il partner faranno tutto il
    possibile per informare l'utente di eventuali modifiche o cambiamenti tramite
    e-mail o in altro modo. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>9. Legge applicabile e risoluzione
    delle controversie</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. La validità e
    l'interpretazione del presente Contratto sono disciplinate dalle leggi della
    Repubblica Popolare Continentale Cinese. In assenza di disposizioni legali
    pertinenti, è possibile fare riferimento a pratiche commerciali internazionali
    e/o a pratiche commerciali.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Il presente
    Contratto è stipulato presso il distretto di Haidian, Pechino.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. L'Utente e
    Xiaomi convengono che qualsiasi controversia derivante dai servizi dovrà essere
    risolta preventivamente attraverso consultazioni tra le parti. Se non è
    possibile giungere a una soluzione attraverso tali consultazioni, ciascuna
    delle parti può sottoporre la controversia al tribunale della giurisdizione
    competente del luogo in cui è stato firmato il presente contratto.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=IT style='font-family:
    "Times New Roman",serif;'>10. Varie</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Per
    qualsiasi servizio specifico del Software, possono essere in vigore un
    contratto separato, regole commerciali correlate, etc. (di seguito
    collettivamente denominati &quot;contratto separato&quot;). Pertanto, si invita
    a leggere e accettare il relativo contratto separato prima di utilizzare un
    servizio specifico.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Il presente
    Accordo entrerà in vigore il 1° dicembre 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Le
    intestazioni di tutti i termini del presente Contratto sono riportate solo per
    comodità di riferimento e verranno ignorate nell'interpretazione del Contratto.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Qualora una
    qualsiasi disposizione del presente Contratto sia o diventi non valida o
    inapplicabile per qualsiasi motivo, le restanti disposizioni del presente
    Contratto rimarranno da qui in vigore, e riguardo questo punto efficaci e
    vincolanti per entrambe le parti.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=IT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
