<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Licen&ccedil;a de
    software e Contrato de Servi&ccedil;o</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Aviso Importante]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc.
    (doravante referida como &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    pelo presente, lembra o utilizador de que deverá ler atentamente e compreender
    por completo a Licen&ccedil;a de Software e Contrato de Servi&ccedil;o (o presente
    &quot;Contrato&quot;). <b>O Utilizador deverá ler atentamente e compreender na
    totalidade os termos do presente Contrato, em especial os termos relativos à
    isen&ccedil;&atilde;o ou limita&ccedil;&atilde;o de responsabilidade da Xiaomi, à resolu&ccedil;&atilde;o de conflitos e
    às leis aplicáveis.</b> <b>A sua aten&ccedil;&atilde;o deverá focar-se nos termos
    relacionados com a isen&ccedil;&atilde;o ou a limita&ccedil;&atilde;o da responsabilidade, os quais est&atilde;o marcados
    a negrito. Leia-os atentamente e escolha aceitar ou n&atilde;o aceitar o presente
    Contrato (um menor deverá estar acompanhado pelo seu responsável legal durante
    a leitura do presente Contrato). Ao descarregar, instalar e utilizar o
    software, criar uma conta ou ao iniciar sess&atilde;o na mesma, está a aceitar o
    presente Contrato, ficando totalmente vinculado aos seus termos.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>A Xiaomi
    reserva-se o direito de alterar o presente Contrato. Os termos atualizados do
    presente Contrato ser&atilde;o publicados no website ou Software oficiais e entrar&atilde;o
    em vigor na data da sua publica&ccedil;&atilde;o.</span></b><span lang=PT style='font-size:
    12.0pt;font-family:"Times New Roman",serif'> O Utilizador pode voltar a
    descarregar e instalar o software ou ver a vers&atilde;o mais recente dos termos do
    presente Contrato no website. <b>Após a Xiaomi ter alterado os termos deste
    Contrato, caso n&atilde;o aceite os mesmos, cesse imediatamente a utiliza&ccedil;&atilde;o do
    software e dos servi&ccedil;os do &quot;Router Xiaomi AX3000T</b>&quot; <b>fornecidos
    pela Xiaomi; o posterior uso contínuo do software e dos servi&ccedil;os do
    &quot;Router Xiaomi AX3000T&quot; disponibilizados pela Xiaomi por parte do Utilizador
    será assumido como uma aceita&ccedil;&atilde;o dos termos modificados do presente Contrato.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>1. Disposi&ccedil;&otilde;es Gerais</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. O presente
    Contrato é o acordo celebrado por e entre o Utilizador (doravante referido como
    o &quot;Utilizador&quot;) e a Xiaomi e o respetivo parceiro de opera&ccedil;&otilde;es
    (doravante referido como o &quot;Parceiro&quot;) no que diz respeito à
    transferência, instala&ccedil;&atilde;o e utiliza&ccedil;&atilde;o por parte do Utilizador do software do
    &quot;<b>Router Xiaomi AX3000T</b>&quot; (doravante referido como o
    &quot;Software&quot;) da Xiaomi e à utiliza&ccedil;&atilde;o dos servi&ccedil;os relevantes da
    Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. O Software e
    os servi&ccedil;os s&atilde;o fornecidos pela Xiaomi para instala&ccedil;&atilde;o (incluindo, sem
    limita&ccedil;&atilde;o) em terminais inteligentes móveis, para fornecer os servi&ccedil;os da
    Xiaomi ao Utilizador do dito terminal móvel.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. A propriedade
    e o direito de utiliza&ccedil;&atilde;o do Software e servi&ccedil;os s&atilde;o atribuídos à Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>2. &Acirc;mbito do Licenciamento do
    Software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. A Xiaomi
    concede ao Utilizador uma licen&ccedil;a pessoal, intransmissível e n&atilde;o exclusiva para
    usar o Software sem o direito de sublicenciar.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. O Utilizador
    poderá instalar, utilizar, apresentar e executar o Software num único
    dispositivo móvel para fins n&atilde;o comerciais. No entanto, o Utilizador n&atilde;o deverá
    instalar, usar ou executar o Software para fins de utiliza&ccedil;&atilde;o comercial. O
    Utilizador n&atilde;o deverá copiar, alterar ou modificar quaisquer dados do Software
    ou quaisquer dados transferidos para a memória de qualquer dispositivo terminal
    durante a execu&ccedil;&atilde;o do Software, bem como os dados interativos gerados entre o
    cliente e o servidor durante a execu&ccedil;&atilde;o do Software, ou ainda executar o
    Software com plug-ins ou criar qualquer trabalho derivado de qualquer forma,
    incluindo, entre outros, plug-ins, acesso ao Software e aos sistemas
    relacionados através de ferramentas/servi&ccedil;os de terceiros n&atilde;o autorizados. Caso
    necessite de vender, copiar ou distribuir comercialmente o Software, por
    exemplo, no &acirc;mbito da pré-instala&ccedil;&atilde;o de software ou da cria&ccedil;&atilde;o de pacotes de
    programas, o Utilizador deverá obter a autoriza&ccedil;&atilde;o por escrito e a licen&ccedil;a da
    Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Sem a
    autoriza&ccedil;&atilde;o da Xiaomi, o Utilizador n&atilde;o deverá instalar o Software noutros
    dispositivos terminais que n&atilde;o estejam expressamente autorizados pela Xiaomi,
    incluindo, sem limita&ccedil;&atilde;o, boxes de televis&otilde;es, consolas de jogos, televis&otilde;es,
    leitores de DVD e assim por diante. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. O Utilizador
    poderá fazer uma cópia do Software com o objetivo de utilizar o Software e os
    servi&ccedil;os, mas apenas como cópia de seguran&ccedil;a. A cópia de seguran&ccedil;a deverá
    incluir todas as informa&ccedil;&otilde;es de direitos de autor existentes no software
    original.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Exceto quando
    for expressamente autorizado pelo presente Contrato, a Xiaomi n&atilde;o concede
    outros direitos ao Utilizador. Se pretender usufruir de qualquer outro direito,
    o Utilizador deverá obter antecipadamente o consentimento por escrito da
    Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>3. Aquisi&ccedil;&atilde;o, instala&ccedil;&atilde;o e
    atualiza&ccedil;&atilde;o do software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. O Utilizador
    deverá descarregar e instalar o Software a partir do website ou da forma
    designada pela Xiaomi. Tenha o cuidado de n&atilde;o descarregar o Software a partir
    de websites n&atilde;o especificados, para evitar que os dispositivos móveis sejam
    infetados por programas mal-intencionados que possam destruir os dados do Utilizador
    e obter dados de privacidade do mesmo. Se adquirir o Software ou o programa de
    instala&ccedil;&atilde;o com o mesmo nome do Software a partir de terceiros que n&atilde;o tenham
    sido autorizados pela Xiaomi, a Xiaomi n&atilde;o poderá garantir que este seja
    utilizado da forma normal e a Xiaomi n&atilde;o aceitará a responsabilidade por
    qualquer dano provocado ao Utilizador.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. O Utilizador
    deverá selecionar a vers&atilde;o de Software que corresponde ao dispositivo terminal
    instalado. Caso contrário, todos os problemas de software, problemas do
    dispositivo ou danos resultantes da incompatibilidade entre a vers&atilde;o do
    Software e o modelo do dispositivo dever&atilde;o ser assumidos exclusivamente pelo
    Utilizador.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. De forma a
    melhorar a experiência do Utilizador e otimizar o conteúdo do servi&ccedil;o, a Xiaomi
    reserva-se o direito de oferecer uma vers&atilde;o substituída, modificada e
    atualizada do Software, bem como o direito de cobrar por tal substitui&ccedil;&atilde;o,
    modifica&ccedil;&atilde;o ou atualiza&ccedil;&atilde;o, obtendo, contudo, o seu consentimento prévio para
    incorrer em tais encargos. O Software ativará a funcionalidade &quot;mensagem
    de atualiza&ccedil;&atilde;o&quot; por predefini&ccedil;&atilde;o para o Utilizador. Dependendo da vers&atilde;o
    de Software usada pelo Utilizador, a Xiaomi irá oferecer ao Utilizador a
    possibilidade de ativar ou n&atilde;o essa funcionalidade. Após a disponibiliza&ccedil;&atilde;o da
    nova vers&atilde;o do Software, a Xiaomi n&atilde;o garante que as vers&otilde;es mais antigas
    continuem a ser utilizáveis.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>4. Especifica&ccedil;&otilde;es de Utiliza&ccedil;&atilde;o</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. O Utilizador
    poderá utilizar o Software e servi&ccedil;os segundo o presente Contrato e a
    legisla&ccedil;&atilde;o em vigor. O Utilizador n&atilde;o cometerá os seguintes atos:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Eliminar
    quaisquer informa&ccedil;&otilde;es de direitos de autor sobre o Software e outras cópias
    existentes, bem como modificar, eliminar ou contornar as medidas técnicas
    estabelecidas pelo Software para a prote&ccedil;&atilde;o dos direitos de propriedade
    intelectual; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Efetuar
    engenharia inversa do Software, como a desmontagem, descompila&ccedil;&atilde;o ou outras
    tentativas de obter o código-fonte do Software;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Adicionar,
    remover ou alterar as funcionalidades ou efeitos de execu&ccedil;&atilde;o do Software,
    modificando ou falsificando as instru&ccedil;&otilde;es e dados durante a execu&ccedil;&atilde;o do
    Software ou que de outra forma manipule ou divulgue ao público as aplica&ccedil;&otilde;es ou
    os métodos utilizados para os objetivos descritos acima, independentemente de
    ter ou n&atilde;o fins comerciais;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Utilizar o
    Software para cometer quaisquer atos prejudiciais à seguran&ccedil;a de rede,
    incluindo, mas n&atilde;o limitados: a utiliza&ccedil;&atilde;o de dados n&atilde;o autorizados ou o acesso
    a servidores/contas n&atilde;o autorizados; o acesso n&atilde;o autorizado a redes públicas
    ou ao sistema operativo de terceiros e eliminar, modificar ou adicionar
    qualquer informa&ccedil;&atilde;o armazenada; tentativas n&atilde;o autorizadas para detetar,
    analisar ou testar as vulnerabilidades do sistema do Software ou da rede ou até
    outros atos que prejudiquem a seguran&ccedil;a da rede; tentar interferir ou obstruir
    o funcionamento normal do sistema ou do website do Software, distribuir de
    forma deliberada programas concebidos com inten&ccedil;&atilde;o maliciosa ou vírus ou ainda
    concretizar outros atos que destruam ou interfiram com os servi&ccedil;os de
    informa&ccedil;&atilde;o normais de rede; ou falsificar o nome ou os nomes parciais dos
    pacotes de dados TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Iniciar a
    sess&atilde;o ou usar o Software e os servi&ccedil;os através de software ou sistemas de
    terceiros compatíveis, mas n&atilde;o desenvolvidos, autorizados ou aprovados pela
    Xiaomi ou reproduzir, publicar ou divulgar as ferramentas acima mencionadas;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Fazer algo
    no Software ou nas informa&ccedil;&otilde;es nele contidas, sem a autoriza&ccedil;&atilde;o por escrito da
    Xiaomi, incluindo, sem limita&ccedil;&atilde;o, usar, arrendar, emprestar, copiar, modificar,
    configurar um link, reproduzir, compilar, divulgar, publicar, estabelecer uma
    réplica do website de imagens ou efetuar uma utiliza&ccedil;&atilde;o n&atilde;o autorizada do
    Software para desenvolver produtos derivados, trabalhos, servi&ccedil;os, módulos,
    módulos de compatibilidade ou de interliga&ccedil;&atilde;o;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Utilizar o
    Software para publicar, transmitir, divulgar ou armazenar qualquer conteúdo que
    viole as leis e os regulamentos locais; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Utilizar o
    Software para publicar, transmitir, divulgar ou armazenar qualquer conteúdo que
    infrinja os direitos legítimos, como direitos de propriedade intelectual e
    segredos comerciais de terceiros; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Utilizar o
    Software para publicar, transmitir ou divulgar informa&ccedil;&otilde;es de publicidade ou
    conteúdos em massa n&atilde;o solicitados; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Usar o
    Software e outros servi&ccedil;os fornecidos pela Xiaomi, de qualquer forma ilegal,
    para qualquer objetivo ilegal ou de qualquer maneira inconsistente com o uso
    autorizado pelo presente Contrato;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=PT style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Especifica&ccedil;&otilde;es da publica&ccedil;&atilde;o de dados</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Poderá utilizar o Software para publicar informa&ccedil;&otilde;es, como visualiza&ccedil;&otilde;es,
    dados, textos, informa&ccedil;&otilde;es, nomes de utilizador, imagens, fotografias, dados
    pessoais, ficheiros de áudio ou vídeo, hiperliga&ccedil;&otilde;es, entre outras, que sejam
    criadas pelo Utilizador ou que este tenha direito a publicar. Deverá garantir
    que possui os direitos de propriedade intelectual ou que obteve a autoriza&ccedil;&atilde;o
    legal dos dados enviados por si e que a sua utiliza&ccedil;&atilde;o do Software e servi&ccedil;os
    n&atilde;o viola qualquer direito ou interesse legítimo de terceiros.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    A utiliza&ccedil;&atilde;o do Software pressup&otilde;e o cumprimento da legisla&ccedil;&atilde;o local e dos
    respetivos regulamentos.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    O Software n&atilde;o pode ser utilizado para as seguintes finalidades (entre outras)</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Produzir, reproduzir, publicar, divulgar ou armazenar qualquer um dos seguintes
    conteúdos que violem leis e regulamentos locais;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Usar o Software para publicar, transmitir, disseminar ou armazenar qualquer
    conteúdo que infrinja direitos legítimos, como o direito de reputa&ccedil;&atilde;o, o
    direito de retrata&ccedil;&atilde;o, os direitos de propriedade intelectual e segredos
    comerciais de terceiros;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Inventar factos ou esconder a verdade para induzir em erro ou enganar os
    outros;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Publicar, transmitir ou divulgar informa&ccedil;&atilde;o publicitária ou conteúdos n&atilde;o
    solicitados;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Envolver-se em outros atos que violem as leis ou regulamentos locais, entre
    outros.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Sem a
    autoriza&ccedil;&atilde;o da Xiaomi, é proibida a utiliza&ccedil;&atilde;o do Software para a&ccedil;&otilde;es
    comerciais, tais como a promo&ccedil;&atilde;o ou a venda de produtos.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Compreende e
    aceita que:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. A Xiaomi
    irá determinar se o Utilizador é suspeito de violar as normas de uso
    mencionadas acima e, com base no resultado de tal avalia&ccedil;&atilde;o, se suspende ou
    encerra a licen&ccedil;a de uso atribuída ao mesmo ou se toma outras medidas
    restritivas de acordo com o presente Contrato;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. A Xiaomi
    irá eliminar diretamente quaisquer dados suspeitos de serem ilegais ou
    infringirem os direitos legítimos de terceiros ou violarem o presente Contrato,
    o qual é publicado pelo Utilizador durante o uso do Software licenciado;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Se
    infringir as especifica&ccedil;&otilde;es de utiliza&ccedil;&atilde;o acima mencionadas e, deste modo,
    provocar danos a terceiros, o Utilizador deverá assumir a responsabilidade em
    nome próprio, de forma independente e isentando a Xiaomi de qualquer prejuízo
    ou despesa resultantes;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. O Utilizador
    deverá indemnizar e manter a Xiaomi ilesa de quaisquer perdas, reclama&ccedil;&otilde;es de
    terceiros, penaliza&ccedil;&otilde;es administrativas, danos e/ou despesas, incluindo as
    custas judiciais derivadas dos honorários de advogados, da investiga&ccedil;&atilde;o ou da
    recolha de provas, incorridas ou sofridas pela Xiaomi, resultantes da viola&ccedil;&atilde;o
    por parte do Utilizador das respetivas leis e da quebra do presente Contrato.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>5. Política de Privacidade e Prote&ccedil;&atilde;o
    de Dados Pessoais</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. A prote&ccedil;&atilde;o
    dos seus dados pessoais é importante para a Xiaomi. Com o intuito de
    disponibilizar as funcionalidades do Software e de melhorar a experiência do
    Utilizador, a Xiaomi irá recolher certos tipos de dados, conforme descrito na
    nossa Política de privacidade. Faremos a recolha, utiliza&ccedil;&atilde;o e prote&ccedil;&atilde;o dos
    seus dados de acordo com a nossa Política de privacidade. A Política de
    privacidade está disponível no seguinte site [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>6. Risco do Servi&ccedil;o e Isen&ccedil;&atilde;o de
    Responsabilidade</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. O Utilizador
    deverá adquirir o dispositivo necessário para o acesso à Internet e os servi&ccedil;os
    de valor acrescentado de telecomunica&ccedil;&otilde;es para a sua utiliza&ccedil;&atilde;o através do
    telemóvel e assumir as taxas de comunica&ccedil;&atilde;o, informa&ccedil;&atilde;o e afins incorridas pelo
    acesso à Internet através do telemóvel pessoal ou que sejam cobradas por
    terceiros (incluindo, mas n&atilde;o limitado, pelos fornecedores de servi&ccedil;os de
    telecomunica&ccedil;&otilde;es e de comunica&ccedil;&otilde;es móveis). Se forem necessários servi&ccedil;os de
    telecomunica&ccedil;&otilde;es de valor acrescentado, aconselha-se a confirma&ccedil;&atilde;o dos custos
    com o seu fornecedor de servi&ccedil;os de telecomunica&ccedil;&otilde;es de valor acrescentado.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Nem a Xiaomi
    nem o seu Parceiro s&atilde;o responsáveis por qualquer perda sofrida pelo Utilizador
    por raz&otilde;es imputáveis a terceiros, como uma falha na linha de comunica&ccedil;&otilde;es,
    problemas técnicos, falha da rede ou do terminal móvel, instabilidade do
    sistema ou outros fatores de for&ccedil;a maior.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. O Software,
    como acontece com a maioria dos restantes software na Internet, poderá ser
    afetado por fatores, incluindo, mas n&atilde;o limitados a, motivos intrínsecos ao
    Utilizador, a qualidade do servi&ccedil;o de rede, diferen&ccedil;as no ambiente social,
    etc., podendo também estar sujeito a algum tipo de abuso relacionado com
    problemas de seguran&ccedil;a, como a utiliza&ccedil;&atilde;o dos dados do Utilizador por
    terceiros, dando origem a assédio na vida real. Além disso, os outros softwares
    obtidos e instalados pelo Utilizador ou os outros websites visitados pelo
    Utilizador podem conter &quot;Cavalos de Troia&quot; e outros vírus, amea&ccedil;ando
    desta forma a seguran&ccedil;a da informa&ccedil;&atilde;o e dos dados do dispositivo terminal do
    Utilizador, bem como afetando a utiliza&ccedil;&atilde;o normal do Software. O Utilizador
    deverá adquirir alguma consciência sobre a seguran&ccedil;a da informa&ccedil;&atilde;o e a prote&ccedil;&atilde;o
    de dados dos Utilizadores, bem como prestar aten&ccedil;&atilde;o ao refor&ccedil;o da prote&ccedil;&atilde;o por
    palavra-passe, para evitar qualquer perda ou abuso.</span></b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Quando o
    Utilizador usar o Software ou pedir determinados servi&ccedil;os à Xiaomi, o Software
    poderá comunicar com um sistema ou software externo para prestar assistência à
    utiliza&ccedil;&atilde;o ou ao acesso do Utilizador. Os resultados do uso ou acesso ser&atilde;o
    fornecidos pela entidade externa. A Xiaomi n&atilde;o garante a seguran&ccedil;a, exatid&atilde;o e
    eficácia dos resultados obtidos através da assistência desse sistema ou
    software, nem assume quaisquer outros riscos incertos; se tal der origem a
    qualquer litígio ou dano, a Xiaomi n&atilde;o assumirá qualquer responsabilidade.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. A Xiaomi
    chama de forma específica a aten&ccedil;&atilde;o do Utilizador para o facto de, com o
    objetivo de proteger o desenvolvimento do negócio e a autonomia de ajustes da
    empresa, a Xiaomi ter o direito de modificar ou suspender os servi&ccedil;os em
    qualquer altura, sem aviso prévio para o Utilizador e sem qualquer
    responsabilidade perante o Utilizador ou terceiros.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Exceto quando
    expressamente previsto por lei e pelos regulamentos aplicáveis, envidaremos
    todos os esfor&ccedil;os para garantir que o Software e a tecnologia e as informa&ccedil;&otilde;es
    subjacentes s&atilde;o seguros, eficazes, precisos e fidedignos. Contudo, devido à
    tecnologia existente, o Utilizador deverá compreender que a Xiaomi n&atilde;o poderá
    garantir isso.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. O Utilizador
    deverá ser o único responsável por quaisquer danos pessoais, acidentais ou
    consequentes, incluindo, mas n&atilde;o só, a perda de lucros, a perda de dados, a
    interrup&ccedil;&atilde;o do negócio ou quaisquer outros danos comerciais que resultem ou que
    estejam associados ao: (1) uso ou incapacidade de uso do Software licenciado;
    (2) uso n&atilde;o autorizado do Software ou modifica&ccedil;&atilde;o dos dados do Utilizador por
    terceiros; (3) custos e perdas provocados pelo Utilizador durante o uso do
    Software; (4) incompreens&atilde;o do Software por parte do Utilizador; (5) outras
    perdas na liga&ccedil;&atilde;o ao Software por raz&otilde;es que n&atilde;o possam ser imputadas à Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. No caso de
    qualquer perda ou dano pessoal ou económico que tenha sido, ou possa ter sido,
    provocado pela conduta do Utilizador e de outros utilizadores de qualquer outro
    software, ou pela indu&ccedil;&atilde;o em erro ou burla ao Utilizador, a entidade culpada
    deverá assumir todas as responsabilidades resultantes do mesmo.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>7. Declara&ccedil;&atilde;o sobre os Direitos de
    Propriedade Intelectual</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. A Xiaomi é a
    titular dos direitos de propriedade intelectual do Software. Todos os direitos
    de propriedade intelectual, como os direitos de autor, marcas registadas,
    patentes, segredos comerciais, etc. relacionados com o Software e todas as
    informa&ccedil;&otilde;es relacionadas com o Software (incluindo, sem limita&ccedil;&otilde;es, textos,
    imagens, conteúdos de áudio e vídeo, conteúdos gráficos, design da interface,
    formatos, dados ou documentos eletrónicos, etc.), est&atilde;o protegidos pelas leis e
    pelos regulamentos locais, bem como pelos tratados internacionais relevantes. A
    Xiaomi usufrui dos direitos de propriedade intelectual acima mencionados.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Sem a
    autoriza&ccedil;&atilde;o prévia por escrito da Xiaomi, o Utilizador n&atilde;o poderá usar ou
    transferir de forma independente qualquer um dos direitos de propriedade
    intelectual acima referidos para qualquer fim comercial ou n&atilde;o, ou permitir que
    outra entidade o fa&ccedil;a. A Xiaomi reserva-se o direito de aferir a
    responsabilidade legal por tais atos.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>8. Altera&ccedil;&otilde;es</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. A Xiaomi
    reserva-se o direito de alterar os termos do presente Contrato a qualquer
    momento, por iniciativa própria, sendo esses termos alterados publicados
    oportunamente nas páginas Web relevantes. Se n&atilde;o concordar com qualquer uma das
    altera&ccedil;&otilde;es, deverá tomar a iniciativa de cancelar os servi&ccedil;os. Se continuar a
    utilizar os servi&ccedil;os, tal irá constituir a sua aceita&ccedil;&atilde;o do Contrato alterado. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. A Xiaomi ou o
    Parceiro reservam-se o direito de, a qualquer momento e por iniciativa própria,
    modificar ou alterar os servi&ccedil;os pagos fornecidos, os critérios de cobran&ccedil;a, o
    modo de cobran&ccedil;a, as taxas de servi&ccedil;o ou os termos do servi&ccedil;o. Ao fornecer os
    servi&ccedil;os, a Xiaomi pode come&ccedil;ar a cobrar certas taxas a alguns utilizadores
    agora ou no futuro. Se o Utilizador se recusar a pagar essas taxas, o
    Utilizador n&atilde;o poderá continuar a usar os respetivos servi&ccedil;os, após o início da
    cobran&ccedil;a. </span></b><span lang=PT style='font-size:12.0pt;font-family:"Times New Roman",serif'>A
    Xiaomi e o Parceiro far&atilde;o o possível para notificar o Utilizador sobre
    quaisquer altera&ccedil;&otilde;es ou modifica&ccedil;&otilde;es por e-mail ou de outra forma. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>9. Lei Aplicável e Resolu&ccedil;&atilde;o de
    Conflitos</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. A validade e
    a interpreta&ccedil;&atilde;o do presente Contrato s&atilde;o regidas pelas leis da Regi&atilde;o
    Continental da República Popular da China. Na ausência de disposi&ccedil;&otilde;es legais
    relevantes, poderá ser feita uma referência a práticas comerciais
    internacionais e/ou práticas decorrentes da indústria.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Este Contrato
    é assinado no Distrito de Haidian, Pequim.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Tanto o
    Utilizador como a Xiaomi concordam que qualquer litígio decorrente dos servi&ccedil;os
    será resolvido, em primeiro lugar, através de consulta a ambas as Partes. Se
    n&atilde;o for possível chegar a acordo através desta consulta, qualquer uma das
    Partes poderá apresentar o litígio ao tribunal da jurisdi&ccedil;&atilde;o competente do
    local onde o presente Contrato é assinado.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PT style='font-family:
    "Times New Roman",serif;'>10. Disposi&ccedil;&otilde;es Diversas</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Para
    qualquer servi&ccedil;o específico do Software, poderá existir um contrato em separado
    e regras comerciais relacionadas, etc. (doravante designado coletivamente como
    &quot;contrato em separado&quot;). Por esse motivo, leia e concorde com o respetivo
    contrato em separado antes de utilizar qualquer servi&ccedil;o específico.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. O presente
    Contrato entra em vigor no dia 1 de Dezembro de 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Os
    cabe&ccedil;alhos de todos os termos do presente Contrato servem apenas para facilitar
    a sua consulta e dever&atilde;o ser ignorados na interpreta&ccedil;&atilde;o do presente Contrato.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Se qualquer
    disposi&ccedil;&atilde;o do presente Contrato for ou se tornar inválida ou inexequível por
    qualquer motivo, as restantes disposi&ccedil;&otilde;es do mesmo permanecer&atilde;o em pleno vigor
    e efeito como vinculativos para ambas as Partes.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=PT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
