<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Programvarulicens
    och tj&auml;nsteavtal</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Viktigt
    meddelande]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (nedan
    kallad &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    p&aring;minner h&auml;rmed anv&auml;ndaren om att noggrant l&auml;sa och helt f&ouml;rst&aring; Programlicens-
    och tj&auml;nsteavtalet (detta &quot;Avtal&quot;). <b>Anv&auml;ndaren ska noga l&auml;sa och
    f&ouml;rst&aring; villkoren i detta Avtal, s&auml;rskilt de som g&auml;ller undantag eller
    begr&auml;nsning av Xiaomis ansvar, tvistl&ouml;sning och till&auml;mpliga lagar.</b> <b>Din
    uppm&auml;rksamhet riktas mot villkoren f&ouml;r undantag fr&aring;n eller begr&auml;nsning av
    ansvar, som har markerats med fet stil. L&auml;s noggrant och v&auml;lj att godk&auml;nna
    eller inte godk&auml;nna detta Avtal (en minder&aring;rig ska &aring;tf&ouml;ljas av sin v&aring;rdnadshavare
    vid l&auml;sning av detta Avtal). Genom att ladda ner, installera och anv&auml;nda
    programvaran, och genom att skaffa och logga in p&aring; ditt konto, samtycker du
    till att godk&auml;nna detta Avtal och vara fullst&auml;ndigt bunden av dess villkor.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi f&ouml;rbeh&aring;ller
    sig r&auml;tten att &auml;ndra detta Avtal. Uppdaterade villkor f&ouml;r detta Avtal kommer
    att publiceras p&aring; den officiella webbplatsen eller programvaran och tr&auml;der i
    kraft p&aring; dagen f&ouml;r publiceringen.</span></b><span lang=SV style='font-size:
    12.0pt;font-family:"Times New Roman",serif'> Anv&auml;ndaren kan p&aring; nytt h&auml;mta och
    installera programvaran eller se den senaste versionen av villkoren i detta
    Avtal p&aring; webbplatsen. <b>N&auml;r Xiaomi&nbsp;har &auml;ndrat villkoren i detta avtal
    skall du, om du inte godk&auml;nner de &auml;ndrade villkoren, omedelbart sluta anv&auml;nda
    programvara och tj&auml;nster f&ouml;r &quot;Xiaomi-router <span class="name"></span></b>&quot; <b>som
    tillhandah&aring;lls av Xiaomi; anv&auml;ndarens fortsatta anv&auml;ndning av programvara och
    tj&auml;nster f&ouml;r &quot;Xiaomi-router <span class="name"></span>&quot; som tillhandah&aring;lls av Xiaomi
    kommer att anses utg&ouml;ra ett godk&auml;nnande av de &auml;ndrade villkoren i detta Avtal.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>1. Allm&auml;nna best&auml;mmelser</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Detta &auml;r det
    avtal som ing&aring;tts av och mellan dig (nedan kallad &quot;Anv&auml;ndaren&quot;) och
    Xiaomi och dess operat&ouml;rspartner (nedan kallad &quot;Partnern&quot;) som g&auml;ller
    Anv&auml;ndarens nedladdning, installation och anv&auml;ndning av programvaran f&ouml;r &quot;<b>
    Xiaomi-router <span class="name"></span></b>&quot; (nedan kallad &quot;Programvaran&quot;) fr&aring;n
    Xiaomi samt anv&auml;ndningen av relevanta tj&auml;nster fr&aring;n Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Programvaran
    och tj&auml;nsterna tillhandah&aring;lls av Xiaomi f&ouml;r installation p&aring; (inklusive men inte
    begr&auml;nsat till) mobila smarta terminalenheter, f&ouml;r att tillhandah&aring;lla
    Xiaomi-tj&auml;nster till anv&auml;ndaren som anv&auml;nder n&auml;mnda smarta terminal.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. &Auml;gander&auml;tten
    och den operativa r&auml;tten till Programvaran och tj&auml;nsterna ska tillh&ouml;ra Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>2. Omfattning av programvarulicens</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi ger
    Anv&auml;ndaren en personlig, icke-&ouml;verl&aring;tbar och icke-exklusiv licens att anv&auml;nda
    Programvaran utan r&auml;tt till underlicensiering.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Anv&auml;ndaren
    kan installera, anv&auml;nda, visa och k&ouml;ra programvaran p&aring; en enda mobil
    terminalenhet f&ouml;r icke-kommersiella &auml;ndam&aring;l. Anv&auml;ndaren f&aring;r emellertid inte
    installera, anv&auml;nda eller k&ouml;ra Programvaran f&ouml;r kommersiellt bruk. Anv&auml;ndaren
    f&aring;r inte kopiera, &auml;ndra eller modifiera data fr&aring;n Programvaran eller data som
    sparats i minnet p&aring; n&aring;gon terminalenhet medan Programvaran k&ouml;rts och de
    interaktiva data som genereras mellan klienten och servern under k&ouml;rning av
    Programvaran, eller k&ouml;ra Programvaran med plugin-program eller skapa n&aring;got
    h&auml;rlett arbete i n&aring;gon form, inklusive men inte begr&auml;nsat till plugin-program,
    &aring;tkomst till Programvaran och relaterade system genom obeh&ouml;riga
    verktyg/tj&auml;nster fr&aring;n tredje part. Om du beh&ouml;ver s&auml;lja, kopiera eller
    distribuera Programvaran kommersiellt, t.ex. f&ouml;rinstallation och buntning av
    programvara, m&aring;ste du erh&aring;lla skriftlig till&aring;telse och licens fr&aring;n Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Utan
    tillst&aring;nd fr&aring;n Xiaomi f&aring;r Anv&auml;ndaren inte installera Programvaran p&aring; andra
    terminalenheter som inte uttryckligen &auml;r till&aring;tna av Xiaomi, inklusive men inte
    begr&auml;nsat till digitalboxar, spelkonsoler, TV-apparater, DVD-spelare och s&aring;
    vidare. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Anv&auml;ndaren
    f&aring;r g&ouml;ra en kopia av Programvaran i syfte att anv&auml;nda Programvaran och
    tj&auml;nsterna, men den f&aring;r endast anv&auml;ndas som s&auml;kerhetskopia. S&auml;kerhetskopian
    m&aring;ste inneh&aring;lla all upphovsr&auml;ttsinformation som finns i den ursprungliga
    programvaran.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Med undantag
    f&ouml;r vad som uttryckligen godk&auml;nts av detta Avtal ger Xiaomi inte n&aring;gra andra
    r&auml;ttigheter till Anv&auml;ndaren. Om Anv&auml;ndaren avser att anv&auml;nda n&aring;gon annan
    r&auml;ttighet ska skriftligt samtycke fr&aring;n Xiaomi inh&auml;mtas i f&ouml;rv&auml;g. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>3. K&ouml;p, installation och uppgradering
    av programvaran</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Anv&auml;ndaren
    ska h&auml;mta och installera Programvaran fr&aring;n webbplatsen eller p&aring; det s&auml;tt som anges
    av Xiaomi. Var uppm&auml;rksam p&aring; att inte ladda ner Programvaran fr&aring;n
    ospecificerade webbplatser f&ouml;r att f&ouml;rhindra att mobila enheter infekteras av
    skadliga program som riskerar att f&ouml;rst&ouml;ra anv&auml;ndardata och till&auml;gna sig
    anv&auml;ndarens personuppgifter. Om du k&ouml;per Programvaran eller
    installationsprogrammet med samma namn som Programvaran fr&aring;n en tredje part som
    inte har godk&auml;nts av Xiaomi kan Xiaomi inte garantera att den kommer att kunna
    anv&auml;ndas normalt och Xiaomi tar inget ansvar f&ouml;r eventuella f&ouml;rluster som
    orsakas dig till f&ouml;ljd av detta.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Anv&auml;ndaren
    m&aring;ste v&auml;lja den programvaruversion som matchar den installerade enheten. I
    annat fall skall eventuella programvaruproblem, enhetsproblem eller skador som
    uppst&aring;r p&aring; grund av felmatchning mellan programvaruversionen och enhetsmodellen
    helt b&auml;ras av anv&auml;ndaren.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. F&ouml;r att
    f&ouml;rb&auml;ttra Anv&auml;ndarens upplevelse och optimera tj&auml;nsteinneh&aring;llet f&ouml;rbeh&aring;ller sig
    Xiaomi r&auml;tten att tillhandah&aring;lla en ersatt, &auml;ndrad och uppgraderad version av
    Programvaran och f&ouml;rbeh&aring;ller sig ocks&aring; r&auml;tten att debitera f&ouml;r s&aring;dan
    ers&auml;ttning, &auml;ndring eller uppgradering, men kommer att inh&auml;mta ditt samtycke i
    f&ouml;rv&auml;g f&ouml;r s&aring;dana avgifter. Programvaran kommer som standard att aktivera en
    funktion med &quot;fr&aring;ga om uppgradering&quot; f&ouml;r anv&auml;ndaren. Beroende p&aring;
    vilken version av Programvaran som Anv&auml;ndaren anv&auml;nder, ger Xiaomi Anv&auml;ndaren
    m&ouml;jlighet att v&auml;lja om ovann&auml;mnda funktion ska aktiveras eller inte. N&auml;r den
    nya versionen av Programvaran har sl&auml;ppts garanterar Xiaomi inte att &auml;ldre
    versioner av Programvaran kan forts&auml;tta att anv&auml;ndas.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>4. Specifikationer f&ouml;r anv&auml;ndning</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Anv&auml;ndaren
    kan anv&auml;nda Programvaran och tj&auml;nsterna i enlighet med detta Avtal och g&auml;llande
    lagar. Anv&auml;ndaren f&aring;r inte utf&ouml;ra f&ouml;ljande handlingar:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Radera
    upphovsr&auml;ttsinformation i Programvaran och andra kopior eller &auml;ndra, radera
    eller kringg&aring; de tekniska &aring;tg&auml;rder som Programvaran har angett f&ouml;r att skydda
    immateriella r&auml;ttigheter; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Utf&ouml;ra
    bak&aring;tkompilering av Programvaran i form av t.ex. demontering, dekompilering
    eller p&aring; andra s&auml;tt f&ouml;rs&ouml;ka erh&aring;lla Programvarans k&auml;llkod;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. L&auml;gga till,
    ta bort eller &auml;ndra Programvarans funktioner eller l&ouml;pande effekter genom att
    &auml;ndra eller l&auml;gga till instruktioner och data under Programvarans drift, eller
    p&aring; annat s&auml;tt driva eller sprida Programvaran eller metoderna som anv&auml;nds f&ouml;r
    de syften som beskrivs ovan, oavsett om de &auml;r f&ouml;r kommersiella &auml;ndam&aring;l eller
    ej;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Anv&auml;nda
    Programvaran f&ouml;r att beg&aring; handlingar som &auml;r skadliga f&ouml;r n&auml;tverkss&auml;kerhet,
    inklusive men inte begr&auml;nsade till: anv&auml;ndandet av obeh&ouml;riga data eller &aring;tkomst
    till obeh&ouml;riga servrar/konton; obeh&ouml;rig &aring;tkomst till offentliga n&auml;tverk eller
    andras operativsystem samt borttagning, &auml;ndring eller till&auml;gg av lagrad
    information; obeh&ouml;riga f&ouml;rs&ouml;k att uppt&auml;cka, skanna eller testa Programvarans
    system eller n&auml;tverkssvagheter eller utf&ouml;ra andra &aring;tg&auml;rder som f&ouml;rst&ouml;r
    n&auml;tverkss&auml;kerhet; f&ouml;rs&ouml;ka st&ouml;ra eller f&ouml;rst&ouml;ra den normala driften av
    Programvarans system eller webbplatsen, medvetet sprida skadliga program eller
    virus eller genomf&ouml;ra andra handlingar som f&ouml;rst&ouml;r eller st&ouml;r normala
    n&auml;tverkstj&auml;nster; helt eller delvis f&ouml;rfalska namnen p&aring; TCP/IP-datapaket;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Logga in p&aring;
    eller anv&auml;nda Programvaran och tj&auml;nsterna via kompatibel programvara fr&aring;n
    tredje part eller system som inte har utvecklats, auktoriserats eller godk&auml;nts
    av Xiaomi, eller tillverka, publicera eller sprida ovanst&aring;ende verktyg;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Utan
    skriftligt samtycke fr&aring;n Xiaomi g&ouml;ra n&aring;got p&aring; Programvaran eller information
    som finns d&auml;ri, inklusive men inte begr&auml;nsat till anv&auml;ndning, leasing,
    utl&aring;ning, kopiering, modifiering, uppr&auml;ttande av l&auml;nk, reproduktion,
    kompilering, frisl&auml;ppande, publicering, uppr&auml;ttande av speglad webbplats eller
    obeh&ouml;rig anv&auml;ndning av Programvaran f&ouml;r att utveckla relaterade h&auml;rledda
    produkter, verk, tj&auml;nster, plugin-program, kompatibilitet eller sammankoppling;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Anv&auml;nda
    Programvaran f&ouml;r att publicera, &ouml;verf&ouml;ra, sprida eller lagra n&aring;got inneh&aring;ll som
    strider mot lokala lagar och f&ouml;rordningar; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Anv&auml;nda
    Programvaran f&ouml;r att publicera, &ouml;verf&ouml;ra, sprida eller lagra n&aring;got inneh&aring;ll som
    kr&auml;nker lagstadgade r&auml;ttigheter s&aring;som andras immateriella r&auml;ttigheter och
    aff&auml;rshemligheter; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Anv&auml;nda
    Programvaran f&ouml;r att publicera, &ouml;verf&ouml;ra eller sprida reklaminformation eller
    skr&auml;ppost i bulk; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Anv&auml;nda
    Programvaran och andra tj&auml;nster som Xiaomi tillhandah&aring;ller p&aring; ett olagligt
    s&auml;tt, i ett olagligt syfte eller p&aring; n&aring;got s&auml;tt som inte &ouml;verensst&auml;mmer med den
    licensierade anv&auml;ndningen enligt detta Avtal.</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=SV style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Specifikationer f&ouml;r publicering av information</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Du f&aring;r anv&auml;nda Programvaran f&ouml;r att publicera information s&aring;som visningar,
    data, text, information, anv&auml;ndarnamn, bilder, foton, personuppgifter, ljud-
    eller videofiler, l&auml;nkar och s&aring; vidare som skapats av dig eller som du har r&auml;tt
    att publicera. Du m&aring;ste garantera att du har de immateriella r&auml;ttigheterna
    eller att du har erh&aring;llit det juridiska tillst&aring;ndet f&ouml;r informationen som
    laddats upp av dig och att din anv&auml;ndning av programvaran och tj&auml;nsterna inte
    &ouml;vertr&auml;der n&aring;gon tredje parts legitima r&auml;ttigheter eller intressen.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    N&auml;r du anv&auml;nder Programvaran m&aring;ste du f&ouml;lja lokala lagar och f&ouml;rordningar.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Du f&aring;r inte anv&auml;nda Programvaran f&ouml;r att beg&aring; f&ouml;ljande handlingar, inklusive
    men inte begr&auml;nsat till att:</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Producera, reproducera, publicera, sprida eller lagra n&aring;got av f&ouml;ljande
    inneh&aring;ll som strider mot lokala lagar och f&ouml;rordningar;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Publicera, &ouml;verf&ouml;ra, sprida eller lagra n&aring;got inneh&aring;ll som kr&auml;nker andras
    lagstiftade r&auml;ttigheter, s&aring;som rykte, portr&auml;ttr&auml;ttigheter, immateriella
    r&auml;ttigheter och aff&auml;rshemligheter;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Fabricera fakta eller d&ouml;lja sanningen f&ouml;r att vilseleda eller lura andra;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Publicera, &ouml;verf&ouml;ra eller sprida reklaminformation eller skr&auml;ppost;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Delta i andra handlingar som strider mot lokala lagar och f&ouml;rordningar och s&aring;
    vidare.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Utan
    Xiaomis tillst&aring;nd f&aring;r du inte utf&ouml;ra n&aring;gon kommersiell &aring;tg&auml;rd i Programvaran,
    s&aring;som att g&ouml;ra reklam eller s&auml;lja varor.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Du f&ouml;rst&aring;r
    och samtycker till f&ouml;ljande:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi
    kommer att avg&ouml;ra om Anv&auml;ndaren misst&auml;nks f&ouml;r att bryta mot ovann&auml;mnda
    anv&auml;ndningsspecifikationer och, p&aring; grundval av resultatet av en s&aring;dan
    bed&ouml;mning, upph&auml;va eller s&auml;ga upp anv&auml;ndarlicensen eller tillgripa andra
    restriktiva &aring;tg&auml;rder som kan vidtas i enlighet med detta Avtal;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    kommer direkt att radera all information som misst&auml;nks vara olaglig eller
    kr&auml;nker andras legitima r&auml;ttigheter eller bryter mot detta avtal, som
    publiceras av anv&auml;ndaren under anv&auml;ndning av den licensierade programvaran;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Om du
    bryter mot ovann&auml;mnda anv&auml;ndningsspecifikationer och d&auml;rmed orsakar skador p&aring;
    tredje parter m&aring;ste du sj&auml;lvst&auml;ndigt ta p&aring; dig ansvaret i eget namn och h&aring;lla
    Xiaomi skadesl&ouml;st fr&aring;n och mot eventuella f&ouml;rluster eller kostnader som uppst&aring;r
    till f&ouml;ljd av ditt handlande;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Anv&auml;ndaren
    ska ers&auml;tta och h&aring;lla Xiaomi skadesl&ouml;st fr&aring;n och mot alla f&ouml;rluster, fordringar
    fr&aring;n tredje part, administrativa p&aring;f&ouml;ljder, skadest&aring;nd och/eller utgifter,
    inklusive rimliga advokatavgifter, kostnader f&ouml;r utredningar och insamling av
    bevis som har &aring;dragits eller drabbat Xiaomi till f&ouml;ljd av Anv&auml;ndarens
    &ouml;vertr&auml;delse av relevanta lagar eller brott mot detta Avtal.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>5. Integritetspolicy och skydd av
    personuppgifter</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Det &auml;r
    viktigt f&ouml;r Xiaomi att skydda dina personuppgifter. F&ouml;r att tillhandah&aring;lla
    Programvarans funktioner och f&ouml;rb&auml;ttra anv&auml;ndarupplevelsen kommer Xiaomi att
    samla in vissa typer av data enligt vad som anges i v&aring;r Integritetspolicy. Vi
    samlar in, anv&auml;nder och skyddar dina data i enlighet med v&aring;r Integritetspolicy.
    Integritetspolicyn finns tillg&auml;nglig p&aring; f&ouml;ljande webbplats [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>6. Risker och ansvarsfriskrivning
    g&auml;llande tj&auml;nster</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Anv&auml;ndaren
    m&aring;ste anskaffa den enhet som kr&auml;vs f&ouml;r internet&aring;tkomst och f&ouml;r anv&auml;ndning av
    merv&auml;rdestj&auml;nster inom telekom av den mobila terminalenheten samt b&auml;ra kommunikations-
    och informationsavgifterna och relaterade kostnader som uppst&aring;r genom
    internet&aring;tkomst med en personlig mobil terminalenhet eller som debiteras av
    tredje parter (inklusive men inte begr&auml;nsat till leverant&ouml;rer av
    telekommunikation och mobilkommunikation). Om merv&auml;rdestj&auml;nster beh&ouml;vs inom
    telekom, rekommenderas du att bekr&auml;fta kostnaderna med din leverant&ouml;r av
    merv&auml;rdestj&auml;nster inom telekom.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Varken Xiaomi
    eller dess partner &auml;r ansvariga f&ouml;r f&ouml;rlust som anv&auml;ndaren lidit p&aring; grund av
    sk&auml;l som kan h&auml;nf&ouml;ras till tredje part, s&aring;som kommunikationslinjefel, tekniskt
    problem, n&auml;tverks- eller mobilterminalenhetsfel, systeminstabilitet och andra
    olika force majeure-faktorer.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Programvaran
    kan, i likhet med de flesta andra programvaror som utvecklats f&ouml;r anv&auml;ndning
    &ouml;ver internet, p&aring;verkas av anv&auml;ndare, n&auml;tverkstj&auml;nsters kvalitet, skillnader i
    sociala milj&ouml;er m.m. och kan &auml;ven uts&auml;ttas f&ouml;r olika s&auml;kerhetsproblem som tex.
    andras utnyttjande av Anv&auml;ndarens data vilket kan leda till trakasserier. Andra
    programvaror som laddas ned och installeras av Anv&auml;ndaren eller webbplatser som
    bes&ouml;ks av Anv&auml;ndaren kan inneh&aring;lla en &quot;trojansk h&auml;st&quot; och andra virus
    som hotar s&auml;kerheten f&ouml;r information och data p&aring; Anv&auml;ndarens terminalenhet och
    som i sin tur p&aring;verkar den normala anv&auml;ndningen av Programvaran. Anv&auml;ndaren ska
    &ouml;ka medvetenheten om informationss&auml;kerhet och skydd av anv&auml;ndardata och vara
    uppm&auml;rksam p&aring; att st&auml;rka l&ouml;senordsskyddet f&ouml;r att undvika f&ouml;rlust och
    trakasserier.</span></b><span lang=SV style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. N&auml;r
    Anv&auml;ndaren anv&auml;nder Programvaran eller beg&auml;r att Xiaomi tillhandah&aring;ller
    specifika tj&auml;nster kan Programvaran anropa ett tredje parts system eller
    -programvara f&ouml;r att st&ouml;dja Anv&auml;ndarens anv&auml;ndning eller &aring;tkomst. Resultatet av
    anv&auml;ndning eller &aring;tkomst kommer att tillhandah&aring;llas av tredje part. Xiaomi
    garanterar inte s&auml;kerheten, noggrannheten och effektiviteten av de uppn&aring;dda
    resultaten genom st&ouml;det av n&auml;mnda system eller programvara, inte heller p&aring;tar
    sig Xiaomi n&aring;gra andra obest&auml;mda risker. Om n&aring;gon tvist eller skada skulle
    uppst&aring; p&aring;tar sig Xiaomi inget ansvar.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi
    uppm&auml;rksammar s&auml;rskilt Anv&auml;ndaren p&aring; att Xiaomi har r&auml;tt att &auml;ndra eller
    avbryta tj&auml;nsterna n&auml;r som helst utan f&ouml;reg&aring;ende meddelande till Anv&auml;ndaren och
    utan ansvar gentemot Anv&auml;ndaren eller n&aring;gon tredje part i syfte att skydda
    f&ouml;retagets sj&auml;lvbest&auml;mmande avseende aff&auml;rsutveckling och anpassning.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Med undantag
    f&ouml;r vad som uttryckligen anges i lagar och f&ouml;rordningar kommer vi att g&ouml;ra v&aring;rt
    yttersta f&ouml;r att s&auml;kerst&auml;lla att Programvaran och den tillh&ouml;rande tekniken och
    informationen &auml;r s&auml;kra, effektiva, korrekta och p&aring;litliga. Beroende p&aring; den
    befintliga tekniken f&ouml;rst&aring;r Anv&auml;ndaren dock att Xiaomi inte kan garantera
    ovanst&aring;ende.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Anv&auml;ndaren &auml;r
    ensam ansvarig f&ouml;r eventuella personskador, tillf&auml;lliga skador eller f&ouml;ljdskador,
    inklusive men inte begr&auml;nsat till f&ouml;rlust av vinst, f&ouml;rlust av data,
    aff&auml;rsavbrott eller andra kommersiella skador som uppst&aring;r p&aring; grund av eller i
    samband med: (1) anv&auml;ndning av eller underl&aring;tenhet att anv&auml;nda den licensierade
    Programvaran; (2) obeh&ouml;rig anv&auml;ndning av Programvaran eller modifiering av
    anv&auml;ndarens data av en tredje part; (3) kostnader och f&ouml;rluster som anv&auml;ndaren
    &aring;samkats vid anv&auml;ndning av Programvaran; (4) missf&ouml;rst&aring;nd av anv&auml;ndaren av
    Programvaran; (5) andra f&ouml;rluster i samband med Programvaran av sk&auml;l som inte
    kan h&auml;nf&ouml;ras till Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. I h&auml;ndelse av
    personliga eller ekonomiska skador eller f&ouml;rluster som har eller kan ha
    orsakats till f&ouml;ljd av Anv&auml;ndarens och andra programvaruanv&auml;ndares agerande
    genom n&aring;gon Programvara eller p&aring; grund av att Anv&auml;ndaren vilseleds eller luras,
    ska den felande parten b&auml;ra allt ansvar som uppst&aring;r som konsekvens.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>7. Uttalande om immateriella
    r&auml;ttigheter</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi &auml;r
    innehavare av de immateriella r&auml;ttigheterna till Programvaran. Alla
    immateriella r&auml;ttigheter som upphovsr&auml;tt, varum&auml;rke, patent, handelshemlighet
    m.m. som r&ouml;r Programvaran och all information som relaterar till Programvaran
    (inklusive men inte begr&auml;nsat till text, bilder, ljud, video, grafik,
    gr&auml;nssnittsdesign, layout, data eller elektroniska dokument osv.) &auml;r skyddade
    av lokala lagar och f&ouml;rordningar och motsvarande internationella f&ouml;rdrag.
    Xiaomi innehar ovanst&aring;ende immateriella r&auml;ttigheter.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Utan
    f&ouml;reg&aring;ende skriftligt samtycke fr&aring;n Xiaomi skall Anv&auml;ndaren inte sj&auml;lvst&auml;ndigt anv&auml;nda
    eller &ouml;verf&ouml;ra n&aring;gon av ovanst&aring;ende immateriella r&auml;ttigheter i kommersiella
    eller icke-kommersiella syften eller till&aring;ta n&aring;gon tredje part att g&ouml;ra det.
    Xiaomi f&ouml;rbeh&aring;ller sig r&auml;tten att utkr&auml;va juridiskt ansvar f&ouml;r s&aring;dana
    handlingar.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>8. &Auml;ndring</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi
    f&ouml;rbeh&aring;ller sig r&auml;tten att emellan&aring;t &auml;ndra villkoren i detta Avtal efter eget
    gottfinnande. Alla s&aring;dana &auml;ndrade villkor kommer att publiceras p&aring; relevanta
    webbsidor vid l&auml;mplig tidpunkt. Om du inte samtycker till n&aring;gon &auml;ndring, ska du
    ta initiativet att avbryta tj&auml;nsterna. Om du forts&auml;tter att anv&auml;nda tj&auml;nsterna
    ska det anses utg&ouml;ra ditt godk&auml;nnande av det &auml;ndrade Avtalet. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi eller
    Partnern f&ouml;rbeh&aring;ller sig r&auml;tten att emellan&aring;t och efter eget gottfinnande
    modifiera eller &auml;ndra de tillhandah&aring;llna betaltj&auml;nsterna,
    debiteringskriterierna, debiteringsmetoden, tj&auml;nsteavgifterna eller
    tj&auml;nstevillkoren. Vid tillhandah&aring;llandet av tj&auml;nsterna kan Xiaomi b&ouml;rja
    debitera vissa anv&auml;ndare olika typer av avgifter omg&aring;ende eller i framtiden. Om
    Anv&auml;ndaren v&auml;grar att betala s&aring;dana avgifter kommer Anv&auml;ndaren inte att kunna
    forts&auml;tta anv&auml;nda relevanta tj&auml;nster efter att debiteringen har inletts. </span></b><span
    lang=SV style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi och
    Partnern kommer att g&ouml;ra sitt yttersta f&ouml;r att meddela anv&auml;ndaren om eventuella
    r&auml;ttelser eller &auml;ndringar via e-post eller p&aring; annat s&auml;tt. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>9. Till&auml;mplig lag och tvistl&ouml;sning</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. Giltigheten
    och tolkningen av detta Avtal ska regleras av lagarna i Folkrepubliken Kina. I
    avsaknad av relevanta lagbest&auml;mmelser kan h&auml;nvisning komma att g&ouml;ras till
    internationell aff&auml;rspraxis och/eller aff&auml;rspraxis.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Detta avtal
    undertecknas i Haidian-distriktet, Peking.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. B&aring;de
    Anv&auml;ndaren och Xiaomi &auml;r &ouml;verens om att eventuella tvister som h&auml;rr&ouml;r fr&aring;n
    tj&auml;nsterna f&ouml;rst ska l&ouml;sas genom samr&aring;d mellan Parterna. Om ingen uppg&ouml;relse
    kan n&aring;s genom s&aring;dana samr&aring;d kan n&aring;gon av Parterna &ouml;verl&auml;mna tvisten till
    domstolen med beh&ouml;rig jurisdiktion &ouml;ver den plats d&auml;r detta Avtal undertecknas.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SV style='font-family:
    "Times New Roman",serif;'>10. Diverse</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. F&ouml;r
    Programvarans specifika tj&auml;nster kan det finnas ett separat avtal och
    tillh&ouml;rande aff&auml;rsregler osv. (nedan kollektivt kallat &quot;separat
    avtal&quot;). Vi ber dig d&auml;rf&ouml;r att l&auml;sa och godk&auml;nna det relevanta separata
    avtalet innan du utnyttjar en s&aring;dan specifik tj&auml;nst.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Detta Avtal
    tr&auml;der i kraft den 1 december 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Rubrikerna
    till alla villkor i detta Avtal &auml;r endast v&auml;gledande och ska ignoreras vid
    tolkningen av detta Avtal.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Om n&aring;gon
    best&auml;mmelse i detta Avtal &auml;r eller blir ogiltig eller ogenomf&ouml;rbar, oavsett
    orsak, ska de &aring;terst&aring;ende best&auml;mmelserna i detta Avtal forts&auml;tta att g&auml;lla
    fullt ut och vara bindande f&ouml;r b&aring;da Parter.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=SV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
