<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Pogodba o
    licenciranju programske opreme in storitvah</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Pomembno
    obvestilo]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Dru&#382;ba Xiaomi Inc.
    (v nadaljevanju &raquo;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&laquo;)
    uporabnika poziva, da pazljivo prebere in v celoti razume pogodbo o
    licenciranju programske opreme in storitvi (ta &raquo;pogodba&laquo;). <b>Uporabnik mora
    temeljito prebrati pogoje te pogodbe in jih v celoti razumeti, &#353;e posebej
    tiste, ki se nana&#353;ajo na oprostitev ali omejitev odgovornosti dru&#382;be Xiaomi,
    re&#353;evanje sporov in veljavno zakonodajo.</b> <b>&#352;e posebej bodite pozorni na
    pogoje v zvezi z oprostitvijo ali omejitvijo odgovornosti, ki so zapisani s
    krepko pisavo. Pozorno jih preberite in se odlo&#269;ite, ali sogla&#353;ate ali ne
    sogla&#353;ate s to pogodbo (mladoletne osebe morajo med branjem pogodbe ob sebi
    imeti svojega zakonitega skrbnika). &#268;e programsko opremo prenesete, namestite
    in uporabljate ter ustvarite uporabni&#353;ki ra&#269;un in se vanj prijavite, pomeni, da
    ste sprejeli po pogodbo in ste v celoti vezani na pogoje v njej.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Dru&#382;ba Xiaomi si
    pridr&#382;uje pravico, da to pogodbo spremeni. Spremenjeni pogoji pogodbe bodo
    objavljeni na uradnem spletnem mestu ali v programski opremi in bodo v veljavi
    od datuma objave.</span></b><span lang=SL style='font-size:12.0pt;font-family:
    "Times New Roman",serif'> Uporabnik lahko znova prenese in namesti programsko
    opremo ali pa si najnovej&#353;o razli&#269;ico pogojev te pogodbe ogleda na spletnem
    mestu. <b>&#268;e potem, ko dru&#382;ba Xiaomi spremeni pogoje te pogodbe, ne sprejmete
    spremenjenih pogojev, nemudoma prekinite uporabo programske opreme in storitev
    &raquo;Xiaomi usmerjevalnika <span class="name"></span></b>&laquo;, <b>ki jih zagotavlja dru&#382;ba Xiaomi; &#269;e
    uporabnik &#353;e naprej uporablja programsko opremo in storitve &raquo;Xiaomi
    usmerjevalnika <span class="name"></span>&laquo;, ki jih zagotavlja dru&#382;ba Xiaomi, se &#353;teje, da je
    sprejel spremenjene pogoje te pogodbe.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>1. Splo&#353;ne dolo&#269;be</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Ta pogodba je
    sklenjena med vami (v nadaljevanju &raquo;uporabnik&laquo;) in dru&#382;bo Xiaomi ter njenim
    poslovnim partnerjem (v nadaljevanju &raquo;partner&laquo;) in se nana&#353;a na uporabnikov
    prenos, namestitev in uporabo programske opreme &raquo;<b>Xiaomi usmerjevalnik
    <span class="name"></span></b>&laquo; (v nadaljevanju &raquo;programska oprema&laquo;) dru&#382;be Xiaomi in uporabo
    povezanih storitev dru&#382;be Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Dru&#382;ba Xiaomi
    ponuja programsko opremo in storitve za namestitev v (vklju&#269;no s temi
    napravami, vendar ne omejeno nanje) prenosne pametne terminalske naprave in s
    tem uporabniku, ki uporablja ta pametni terminal, zagotavlja storitve Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Lastni&#353;tvo in
    pravica do upravljanja programske opreme in storitev sta dodeljena dru&#382;bi
    Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>2. Obseg licenciranja programske
    opreme</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Dru&#382;ba Xiaomi
    uporabniku dodeljuje osebno, neprenosljivo in neekskluzivno licenco za uporabo
    programske opreme brez pravice podlicenciranja.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Uporabnik
    lahko programsko opremo namesti, uporablja, prika&#382;e in izvaja v eni sami
    prenosni terminalski napravi za nekomercialne namene. Uporabnik ne sme
    namestiti, uporabljati ali izvajati programske opreme z namenom komercialne
    uporabe. Uporabnik ne sme kopirati ali spreminjati nobenih podatkov v
    programski opremi ali nobenih podatkov, ki se prenesejo v pomnilnik naprave s
    terminalom med izvajanjem programske opreme, niti interaktivnih podatkov, ki se
    med izvajanjem programske opreme generirajo med odjemalcem in stre&#382;nikom; prav
    tako ne sme zagnati programske opreme z dodatki ali ustvariti kakr&#353;nega koli
    izdelka, ki v kakr&#353;ni koli obliki izhaja iz programske opreme in vklju&#269;uje
    dodatke, dostop do programske opreme in z njo povezanih sistemov prek nepoobla&#353;&#269;enih
    orodij/storitev drugih izvajalcev, vendar ni omejeno nanje. &#268;e &#382;elite
    programsko opremo prodajati, kopirati ali distribuirati v komercialne namene,
    npr. v obliki predhodne namestitve in paketne prodaje, morate od dru&#382;be Xiaomi
    pridobiti pisno pooblastilo in licenco. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Brez
    dovoljenja dru&#382;be Xiaomi uporabnik ne sme namestiti programske opreme v druge
    terminalske naprave, ki jih ni dru&#382;ba Xiaomi izrecno dovolila, kar vklju&#269;uje
    komunikatorje, igralne konzole, televizorje, predvajalnike DVD-jev in tako
    dalje, vendar ni omejeno nanje. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Uporabnik
    lahko ustvari kopijo programske opreme z namenom uporabe programske opreme in
    storitev, vendar jo lahko uporablja le kot varnostno kopijo. Varnostna kopija
    mora vsebovati vse informacije o avtorskih pravicah, ki jih vsebuje izvirna
    programska oprema.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Dru&#382;ba Xiaomi
    uporabniku ne dodeljuje drugih pravic razen tistih, ki so izrecno navedene v
    tej pogodbi. &#268;e &#382;eli uporabnik uveljaviti katero koli drugo pravico, mora
    vnaprej pridobiti pisno soglasje dru&#382;be Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>3. Pridobitev, namestitev in
    nadgradnja programske opreme</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Uporabnik
    mora programsko opremo prenesti in namestiti s spletnega mesta ali na na&#269;in, ki
    ga dolo&#269;i dru&#382;ba Xiaomi. Pazite, da programske opreme ne prenesete z neznanih
    spletnih mest; tako prepre&#269;ite oku&#382;bo prenosnih naprav z zlonamernimi programi,
    ki lahko uni&#269;ijo podatke uporabnikov in pridobijo zasebne informacije o
    uporabnikih. &#268;e programsko opremo ali namestitveni program z enakim imenom, kot
    ga ima programska oprema, pridobite od zunanjega ponudnika, ki ga ni
    pooblastila dru&#382;ba Xiaomi, dru&#382;ba Xiaomi ne jam&#269;i za njegovo normalno uporabo
    in ne sprejema nobene odgovornosti za izgubo, ki jo posledi&#269;no utrpite.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Uporabnik
    mora izbrati razli&#269;ico programske opreme, ki se ujema z name&#353;&#269;eno terminalsko
    napravo. Sicer bo za vse te&#382;ave s programsko opremo, te&#382;ave z napravo in &#353;kodo,
    ki nastane zaradi neujemanja med razli&#269;ico programske opreme in modelom
    naprave, odgovoren uporabnik.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Ker &#382;eli
    dru&#382;ba Xiaomi izbolj&#353;ati uporabni&#353;ko izku&#353;njo in vsebino storitev, si pridr&#382;uje
    pravico, da ponudi zamenjano, spremenjeno in nadgrajeno razli&#269;ico programske
    opreme, pridr&#382;uje pa si tudi pravico, da za tak&#353;no zamenjavo, spremembo ali
    nadgradnjo zahteva pla&#269;ilo, vendar bo pred zara&#269;unavanjem tak&#353;nega pla&#269;ila
    pridobila va&#353;e soglasje. V programski opremi je funkcija &raquo;poziv za nadgradnjo&laquo;
    za uporabnika privzeto omogo&#269;ena. Odvisno od razli&#269;ice programske opreme, ki jo
    uporablja uporabnik, dru&#382;ba Xiaomi daje uporabniku mo&#382;nost, da to funkcijo omogo&#269;i
    ali ne. Ko je izdana nova razli&#269;ica programske opreme, dru&#382;ba Xiaomi ne jam&#269;i,
    da bodo starej&#353;e razli&#269;ice programske opreme &#353;e vedno delovale.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>4. Specifikacije o uporabi</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Uporabnik
    lahko programsko opremo in storitve uporablja skladno s tem sporazumom in
    zakonodajo. Uporabnik ne sme izvajati naslednjih dejanj:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. brisanje
    katerih koli informacij o avtorskih pravicah v programski opremi in drugih
    izvodih ali spreminjanje, brisanje ali zaobidenje tehni&#269;nih ukrepov, ki so
    nastavljeni v programski opremi z namenom varovanja pravic intelektualne
    lastnine; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Izvajanje
    obratnega in&#382;eniringa programske opreme, kot so razstavljanje, dekompilacija
    ali drugi poskusi pridobivanja izvorne kode programske opreme;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Dodajanje,
    odstranjevanje ali spreminjanje funkcij ali u&#269;inkov izvajanja programske opreme
    s spreminjanjem ali ponarejanjem navodil in podatkov med izvajanjem programske
    opreme ali kakr&#353;na koli druga&#269;na javna uporaba ali &#353;irjenje programske opreme
    ali na&#269;inov v zgoraj opisane namene, ne glede na to, ali gre za komercialne
    namene ali ne;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Uporaba
    programske opreme z namenom izvajanja dejanj, ki ogro&#382;ajo varnost v omre&#382;ju,
    vklju&#269;no s temi, vendar ne omejeno nanje: uporaba nepoobla&#353;&#269;enih podatkov ali
    dostop do nepoobla&#353;&#269;enih stre&#382;nikov/ra&#269;unov; nepoobla&#353;&#269;en dostop do javnih
    omre&#382;ij ali do operacijskega sistema drugih ter brisanje, spreminjanje ali
    dodajanje kakr&#353;nih koli shranjenih informacij; nepoobla&#353;&#269;eni poskusi
    zaznavanja, pregledovanja ali presku&#353;anja &#353;ibkih to&#269;k sistema ali omre&#382;ja
    programske opreme ali izvajanje drugih dejanj, ki uni&#269;ijo varnost omre&#382;ja;
    poskus motenja ali prekinitve normalnega delovanja sistema ali spletnega mesta
    programske opreme; namerno &#353;irjenje zlonamernih programov ali virusov; ali
    izvajanje drugih dejanj, ki uni&#269;ijo ali motijo normalne omre&#382;ne informacijske
    storitve; ponaredijo imena ali delna imena podatkovnega paketa TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Uporabnik
    se prijavi v programsko opremo ali uporablja programsko opremo in storitve prek
    zdru&#382;ljive programske opreme ali sistemov drugega izdelovalca, ki jih ni
    razvila, pooblastila ali odobrila dru&#382;ba Xiaomi, ali izdela, objavi ali &#353;iri
    zgornja orodja;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Uporabnik
    brez pisnega soglasja dru&#382;be Xiaomi izvaja kakr&#353;na koli dejanja v programski
    opremi ali v zvezi z informacijami, ki jih vsebuje programska oprema, vklju&#269;no
    s temi dejanji, vendar ne omejeno nanje: uporaba, oddajanje, posojilo,
    kopiranje, spreminjanje, ustvarjanje povezave, razmno&#382;evanje, prevajanje,
    izdajanje, objavljanje, ustvarjanje zrcalnega spletnega mesta ali nepoobla&#353;&#269;ena
    uporaba programske opreme z namenom razvoja z njo povezanih izdelkov, del,
    storitev, dodatkov, zdru&#382;ljivosti ali medsebojne povezave;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Uporaba
    programske opreme za objavljanje, oddajanje, &#353;irjenje ali shranjevanje vsebine,
    ki kr&#353;i lokalno zakonodajo in predpise; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Uporaba
    programske opreme za objavljanje, oddajanje, &#353;irjenje ali shranjevanje vsebine,
    ki kr&#353;i zakonske pravice, kot so pravice intelektualne lastnine in poslovne
    skrivnosti drugih; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Uporaba
    programske opreme za objavljanje, oddajanje ali &#353;irjenje oglasnih sporo&#269;il ali
    ve&#269;je koli&#269;ine ne&#382;elene reklamne po&#353;te; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. uporaba
    programske opreme in drugih storitev, ki jih ponuja dru&#382;ba Xiaomi, na kakr&#353;en
    koli nezakonit na&#269;in, s katerim koli nezakonitim namenom ali na kakr&#353;en koli
    na&#269;in, ki ni skladen z licencirano uporabo, navedeno v tej pogodbi.</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=SL style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Specifikacije objave informacij</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Programsko opremo lahko uporabite za objavo informacij, kot so ogledi, podatki,
    besedilo, informacije, uporabni&#353;ka imena, slike, fotografije, osebne
    informacije, zvo&#269;ne ali video datoteke, povezave in podobno, ki ste jih
    ustvarili vi ali za katere imate pravico do objave. Jam&#269;iti morate, da imate
    pravice za intelektualno lastnino ali da ste pridobili pravno pooblastilo za
    informacije, ki jih objavite, in da z uporabo programske opreme in storitev ne
    kr&#353;ite nobenih zakonskih pravic ali interesov nobene tretje osebe.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Pri uporabi programske opreme morate upo&#353;tevati lokalno zakonodajo in predpise.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Programske opreme ne smete uporabljati za izvajanje naslednjih dejanj, vklju&#269;no
    s temi, vendar ne omejeno nanje</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    ustvarjanje, razmno&#382;evanje, objavljanje, &#353;irjenje ali shranjevanje katere koli
    od naslednjih vsebin, ki kr&#353;ijo lokalno zakonodajo in predpise;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Objavljanje, prenos, &#353;irjenje ali shranjevanje kakr&#353;ne koli vsebine, ki kr&#353;i
    zakonske pravice, kot so pravica do ugleda, pravica do prikaza, pravice
    intelektualne lastnine in poslovne skrivnosti drugih;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Izmi&#353;ljevanje dejstev ali prikrivanje resnice z namenom zavajanja ali prevare
    drugih;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Objavljanje, prenos ali &#353;irjenje oglasnih sporo&#269;il ali ne&#382;elene vsebine;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Izvajanje drugih dejanj, ki kr&#353;ijo lokalno zakonodajo in predpise itd.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Brez
    soglasja dru&#382;be Xiaomi v programski opremi ne smete izvajati tr&#382;nih dejanj, kot
    je ogla&#353;evanje in prodaja izdelkov.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Potrjujete in
    sogla&#353;ate, da:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Dru&#382;ba
    Xiaomi odlo&#269;i, ali je uporabnik osumljen kr&#353;itve zgoraj navedenih specifikacij
    uporabe, in da skladno z rezultatom tak&#353;ne odlo&#269;itve za&#269;asno ali trajno prekine
    licenco o uporabi, ki vam je bila dodeljena, ali izvede druge omejitvene
    ukrepe, ki so lahko izvedeni skladno s to pogodbo;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Bo dru&#382;ba
    Xiaomi neposredno izbrisala kakr&#353;ne koli informacije, za katere sumi, da so nezakonite
    ali da kr&#353;ijo zakonske pravice drugih ali da kr&#353;ijo to pogodbo, in jih
    uporabnik objavi med uporabo licencirane programske opreme;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. &#268;e kr&#353;ite
    zgoraj navedene specifikacije o uporabi in s tem povzro&#269;ite &#353;kodo tretjim
    osebam, morate v svojem imenu neodvisno prevzeti odgovornost in dru&#382;bo Xiaomi
    oprostiti vsake izgube ali stro&#353;kov, ki posledi&#269;no nastanejo;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Uporabnik
    dru&#382;bi Xiaomi povrne in jo oprosti kakr&#353;ne koli in vsake izgube, zahtevkov
    tretjih oseb, administrativnih kazni, od&#353;kodnine in/ali stro&#353;kov, vklju&#269;no z
    razumnimi odvetni&#353;kimi stro&#353;ki, stro&#353;ki, povezanimi z raziskavo in zbiranjem
    dokazov, ki jih utrpi dru&#382;ba Xiaomi zaradi uporabnikove kr&#353;itve povezane
    zakonodaje ali kr&#353;itve te pogodbe.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>5. Pravilnik o zasebnosti in
    varovanje osebnih podatkov</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Za dru&#382;bo
    Xiaomi je pomembno, da varuje va&#353;e osebne podatke. Z namenom zagotavljanja
    funkcij programske opreme in izbolj&#353;anja uporabni&#353;ke izku&#353;nje pri dru&#382;bi Xiaomi
    zbiramo dolo&#269;ene vrste podatkov, ki so navedeni v pravilniku o zasebnosti. Va&#353;e
    podatke zbiramo, uporabljamo in varujemo v skladu z na&#353;im pravilnikom o
    zasebnosti. Pravilnik o zasebnosti je na voljo na tem spletnem mestu
    [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>6. Tveganje, povezano s storitvami,
    in zavrnitev odgovornosti</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Uporabnik
    mora pridobiti napravo, ki jo potrebuje za dostop do interneta, in poskrbeti za
    uporabo telekomunikacijskih storitev z dodano vrednostjo prek prenosne
    terminalske naprave ter prevzeti stro&#353;ke komunikacije, stro&#353;ke za informacije
    in vse povezane stro&#353;ke, ki nastanejo pri dostopanju do interneta prek osebne
    prenosne terminalske naprave ali ki jih zara&#269;unajo tretje osebe (vklju&#269;no s
    ponudniki telekomunikacij in mobilnih komunikacij vendar ne omejeno nanje). &#268;e
    potrebujete telekomunikacijske storitve z dodano vrednostjo, se o stro&#353;kih
    pozanimajte pri ponudniku telekomunikacijskih storitev z dodano vrednostjo.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Niti dru&#382;ba
    Xiaomi niti njen partner ne odgovarjata za nikakr&#353;no izgubo, ki jo utrpi
    uporabnik zaradi vzrokov, ki so nastali pri tretji osebi, kot so napaka v komunikacijski
    liniji, tehni&#269;ne te&#382;ave, napaka v omre&#382;ju ali prenosni terminalski napravi,
    nestabilnost sistema in razni drugi dejavniki vi&#353;je sile.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Na programsko
    opremo tako kot na ve&#269;ino ostale internetne programske opreme lahko vplivajo
    dejavniki, vklju&#269;no s temi, vendar ne omejeno nanje: uporabni&#353;ki vzroki,
    kakovost omre&#382;nih storitev, dru&#382;bene okoljske razlike itd.; prav tako lahko
    pride do nadlegovanja, povezanega z razli&#269;nimi varnostnimi te&#382;avami, na primer
    drugi uporabijo uporabnikove podatke, kar vodi do nadlegovanja v realnem
    &#382;ivljenju; druga programska oprema, ki jo uporabnik prenese in namesti, ali
    druga spletna mesta, ki jih uporabnik obi&#353;&#269;e, vsebujejo &raquo;trojanskega konja&laquo; in
    druge viruse, ki ogrozijo varnost informacij in podatkov v uporabnikovi
    terminalski napravi in vplivajo na normalno uporabo programske opreme.
    Uporabnik naj v izogib izgubi in nadlegovanju vedno poskrbi za varnost
    informacij in varovanje uporabni&#353;kih podatkov ter za mo&#269;no za&#353;&#269;ito z geslom.</span></b><span
    lang=SL style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Ko uporabnik
    uporablja programsko opremo ali dru&#382;bo Xiaomi prosi za dolo&#269;ene storitve, lahko
    programska oprema pokli&#269;e sistem ali programsko opremo tretje osebe, ki
    uporabniku omogo&#269;i uporabo ali dostop. Rezultate uporabe ali dostopa zagotavlja
    tretja oseba. Dru&#382;ba Xiaomi ne odgovarja za varnost, to&#269;nost in u&#269;inkovitost
    rezultatov, ki so dose&#382;eni prek podpore zgoraj navedenega sistema ali
    programske opreme, niti dru&#382;ba Xiaomi ne prevzame nobenega drugega negotovega
    tveganja; &#269;e posledi&#269;no pride do spora ali &#353;kode, dru&#382;ba Xiaomi ne prevzame
    nobene odgovornosti.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Dru&#382;ba Xiaomi
    &#382;eli za&#353;&#269;ititi poslovni razvoj dru&#382;be in avtonomijo pri prilagajanju, zato &#382;eli
    uporabnika posebej opozoriti, da ima dru&#382;ba Xiaomi pravico, da kadar koli
    spremeni ali prekine storitve brez predhodnega obvestila uporabniku in brez
    kakr&#353;ne koli odgovornosti do uporabnika ali katere koli tretje osebe.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Razen v
    primerih, ki so izrecno navedeni v zakonodaji in predpisih, se bomo po svojih
    najbolj&#353;ih mo&#269;eh prizadevali zagotoviti, da so programska oprema ter z njo
    povezana tehnologija in informacije varne, u&#269;inkovite, to&#269;ne in zanesljive,
    toda zaradi narave obstoje&#269;e tehnologije se mora uporabnik zavedati, da dru&#382;ba
    Xiaomi tega ne more jam&#269;iti.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Uporabnik sam
    odgovarja za kakr&#353;ne koli osebne po&#353;kodbe ali nepredvideno ali posledi&#269;no
    &#353;kodo, vklju&#269;no z naslednjimi, vendar ne omejeno nanje: izgubo dobi&#269;ka, izgubo
    podatkov, prekinitvijo poslovanja ali drugo trgovinsko &#353;kodo, ki izhaja iz ali
    je povezana z: (1) uporabo ali neuporabo licencirane programske opreme; (2)
    nepoobla&#353;&#269;eno uporabo programske opreme ali spremembo uporabnikovih podatkov s
    strani tretje osebe; (3) stro&#353;ki in izgubami, ki jih povzro&#269;i uporabnik med
    uporabo programske opreme; (4) uporabnikovim nerazumevanjem programske opreme;
    (5) drugimi izgubami v zvezi s programsko opremo iz razlogov, za katere ni
    odgovorna dru&#382;ba Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. V primeru
    kakr&#353;ne koli osebne ali ekonomske &#353;kode, ki je ali bi lahko bila posledica
    uporabnikovega vedenja in vedenja drugih uporabnikov katere koli druge programske
    opreme, ali posledica tega, da je bil uporabnik &#382;rtev la&#382;nih trditev ali
    goljufij, bo vso posledi&#269;no odgovornost prevzela oseba, ki je povzro&#269;ila te
    nepravilnosti.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>7. Izjava o pravicah intelektualne
    lastnine</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Dru&#382;ba Xiaomi
    je lastnik pravic intelektualne lastnine za programsko opremo. Vse pravice
    intelektualne lastnine, kot so avtorske pravice, blagovna znamka, patent,
    trgovska skrivnost itd., povezane s programsko opremo, in vse informacije,
    povezane s programsko opremo (vklju&#269;no z besedilom, slikami, zvokom, videi,
    grafiko, obliko vmesnika, postavitvijo, podatki ali elektronskimi dokumenti
    itd. vendar ne omejeno nanje), so za&#353;&#269;itene z lokalno zakonodajo in pravili ter
    ustreznimi mednarodnimi sporazumi. Dru&#382;ba Xiaomi je imetnik zgoraj navedenih
    pravic intelektualne lastnine.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Uporabnik
    brez predhodnega pisnega soglasja dru&#382;be Xiaomi ne sme neodvisno uporabljati
    ali prenesti nobene od zgornjih pravic intelektualne lastnine za noben
    komercialni ali nekomercialni namen ali tega dovoliti tretji osebi. Dru&#382;ba
    Xiaomi si pridr&#382;uje pravico ugotavljanja zakonske odgovornosti za tak&#353;na
    dejanja.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>8. Spremembe</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Dru&#382;ba Xiaomi
    si pridr&#382;uje pravico, da po lastni presoji ob&#269;asno spremeni pogoje v tej
    pogodbi. Spremenjeni pogoji bodo pravo&#269;asno objavljeni na ustreznih spletnih
    straneh. &#268;e se s katerim od popravkov ne strinjate, morate sami poskrbeti za
    to, da prekli&#269;ete storitve. &#268;e nadaljujete z uporabo storitev, se smatra, da
    sprejmete spremenjeno pogodbo. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Dru&#382;ba Xiaomi
    ali njen partner si pridru&#382;uje pravico, da ob&#269;asno in po lastni presoji
    spremeni ali zamenja ponujene pla&#269;ane storitve, kriterije za obra&#269;unavanje,
    na&#269;in obra&#269;unavanja, obra&#269;unavanje storitev ali pogoje storitev. Za ponujanje
    storitev lahko dru&#382;ba Xiaomi zdaj ali v prihodnje nekaterim uporabnikom za&#269;ne
    zara&#269;unavati. &#268;e uporabnik ne &#382;eli pla&#269;ati, po za&#269;etku obra&#269;unavanja ne bo
    mogel ve&#269; uporabljati pla&#269;ljivih storitev. </span></b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Dru&#382;ba Xiaomi in
    njen partner si bosta po svojih najbolj&#353;ih mo&#269;eh prizadevala, da uporabnika o
    popravkih ali spremembah obvestita prek e-po&#353;te ali kako druga&#269;e. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>9. Veljavna zakonodaja in re&#353;evanje
    sporov</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. Za veljavnost
    in interpretacijo te pogodbe velja zakonodaja celinskega dela Ljudske republike
    Kitajske. V primeru, da ne obstajajo veljavna zakonska dolo&#269;ila, se lahko
    uporabijo mednarodne poslovne prakse in/ali poslovne prakse.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Ta pogodba je
    podpisana v okro&#382;ju Haidian v Pekingu.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Uporabnik in
    dru&#382;ba Xiaomi se strinjata, da bo kateri koli spor, ki izhaja iz storitev,
    najprej poravnan prek posvetov med strankama. &#268;e v teh posvetih ne pride do
    soglasja, lahko katera koli od strank spor predlo&#382;i pristojnemu sodi&#353;&#269;u za
    kraj, kjer je ta pogodba podpisana.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=SL style='font-family:
    "Times New Roman",serif;'>10. Razno</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Za vsako
    posebno storitev programske opreme lahko obstajajo lo&#269;ena pogodba in povezana
    poslovna pravila ipd. (v nadaljevanju &raquo;lo&#269;ena pogodba&laquo;), zato pred uporabo
    tak&#353;ne posebne storitve preberite in sprejmite tudi lo&#269;eno pogodbo.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Ta pogodba
    za&#269;ne veljati 1. decembra 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Naslovi vseh
    pogojev v tej pogodbi so namenjeni le la&#382;jemu sklicevanju in pri interpretaciji
    te pogodbe ne bodo upo&#353;tevani.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. &#268;e katero
    koli dolo&#269;ilo te pogodbe iz kakr&#353;nih koli razlogov postane neveljavno ali
    neizvr&#353;ljivo, bodo preostala dolo&#269;ila v njej ostala v celoti izvr&#353;ljiva in
    veljavna ter obvezujo&#269;a za obe stranki.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=SL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
