<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ZH-TW
    style='font-size:16.0pt;font-family:宋体'>軟體許可及服務協議</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>重要通知</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ZH-TW
    style='font-size:12.0pt;font-family:宋体'>小米科技有限責任公司（以下簡稱「<a name="OLE_LINK10"></a><a
    name="OLE_LINK9">小米</a>」）特此提醒使用者仔細閱讀並充分理解軟體授權及服務協議（本「協議」）。<b>使用者應仔細閱讀並充分理解本協議條款，尤其是關於小米責任豁免或限制、糾紛解決方式以及適用法律的條款。請務必留意有關責任豁免或限制的相關條款，這些內容已經以粗體標示。請仔細閱讀並選擇是否接受本協議（未成年使用者應於法定監護人陪同下詳讀本協議）。下載、安裝、使用軟體及取得和登入帳號，即代表您同意接受本協議，並完全受協議條款之約束。</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ZH-TW
    style='font-size:12.0pt;font-family:宋体'>小米保留修改本協議之權利。本協議更新條款將發佈於官方網站或軟體上，自發佈日起生效。</span></b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者可重新下載並安裝軟體，或在網站上檢視本協議條款的最新版本。<b>小米修訂本協議條款後，若您不接受修訂後的條款，請立即停止使用小米所供應之「</b></span><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>路由器</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    <span class="name"></span></span></b><span lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>」<b>軟體與服務；使用者若繼續使用小米所供應之「小米路由器</b></span><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    <span class="name"></span></span></b><b><span lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>」軟體與服務，即視為接受本協議之修訂條款。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>1.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>一般條款</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本協議是您（以下稱「使用者」）與小米及其營運合作夥伴（以下稱「合作夥伴」）之間，針對使用者下載、安裝及使用小米「</span><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>路由器</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    <span class="name"></span></span></b><span lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>」軟體（以下稱「軟體」）及小米相關服務所共同締結的協議。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本軟體與服務係由小米提供安裝於（包括但不限於）行動智慧終端裝置，以便為使用上述智慧終端裝置的使用者提供小米服務。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本軟體與服務的所有權及經營權應歸小米所有。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>2.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>軟體授權範圍</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米授予使用者個人使用、不可轉讓及非獨佔性的軟體授權，但此項授權不得轉讓。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者可出於非商業目的，於單一行動終端裝置上安裝、使用、顯示及執行本軟體。但使用者不得出於商業目的安裝、使用或執行本軟體。使用者不得複製、變更或修改本軟體的任何資料，或執行本軟體時於任何終端裝置記憶體中產生的資料，以及執行本軟體時用戶端與伺服器間產生的互動資料；或使用外掛程式執行本軟體，或以任何形式創作任何衍生作品，包括但不限於外掛程式、透過非授權第三方工具</span><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>/</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>服務取得的軟體及相關系統之存取權。倘若您需要基於商業目的銷售、複製或發布軟體（例如軟體預先安裝與搭售），則必須獲得小米的書面授權和許可。</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者若未取得小米准許，不得將本軟體安裝在其他未經小米明確許可的終端裝置上，包括但不限於數位機上盒、遊戲機、電視、</span><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>DVD </span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>播放器等裝置。</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者可基於使用軟體與服務之目的複製本軟體，但此複製軟體僅能作為備份使用。備份軟體必須含有與正本軟體所含相同的所有著作權資訊。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米未授予使用者本協議明確授權之外的其他權利。使用者欲使用任何其他權利，應事先取得小米的書面同意。</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>3.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>軟體取得、安裝和升級</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者應自網站或以小米指定方式下載及安裝本軟體。請注意，請勿在不明網站下載本軟體，以避免行動裝置遭惡意程式感染，導致使用者資料受損，並讓惡意程式取得使用者隱私資訊。倘若您從未經小米授權之第三方取得本軟體，或安裝與本軟體同名之程式，則小米無法保證該軟體可正常使用，且小米對於因此造成的任何損失概不負責。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者必須選擇適合所安裝之終端裝置的軟體版本。否則，任何軟體版本與裝置機型不適合所引起的軟體問題、裝置問題或損壞，應完全由使用者自行負責。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>為增進使用者體驗並優化服務內容，小米保留提供本軟體之更換、修改、升級版本之權利，且亦保留就此類更換、修改、升級版收費之權利，惟收費前會事先取得您的同意。本軟體將為使用者預設啟用「升級提醒」功能。小米依據使用者所使用的軟體版本，讓使用者自行斟酌是否啟用上述功能。新版軟體發佈後，小米不保證舊版軟體將持續可用。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>4.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>使用規範</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者需依照本協議及法律規定來使用本軟體與服務。使用者不應採取以下行為：</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>刪除本軟體和其他備份的任何著作權資訊，或修改、刪除或規避本軟體為保護智慧財產權所採取的技術措施；</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>對本軟體執行逆向工程，例如反組譯、反編譯或其他試圖取得本軟體原始碼的行為；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>於執行本軟體時修改或偽造指令和資料，以新增、移除或變更本軟體之功能或執行效果，或以其他方式操作本軟體、對大眾散播本軟體或採用可達到上述目的之手段，無論此類行為是否基於商業目的；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用本軟體進行任何危害網路安全的行為，包括但不限於：使用未經授權的資料或存取未經授權的伺服器</span><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>/</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>帳號；未經授權存取公用網路或他人的作業系統，並刪除、修改或增加任何儲存的資訊；未經授權企圖偵測、掃描或測試本軟體系統或網路弱點，或進行其他破壞網路安全的行動；企圖干擾或破壞本軟體系統或網站的正常運作、故意散播惡意程式或病毒，或透過其他行為破壞或干擾正常網路資訊服務；偽造</span><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'> TCP/IP
    </span><span lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>資料封包名稱或部分名稱；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者透過第三方相容軟體或非經小米開發、授權或核准之系統登入或使用本軟體與服務，或者製作、發佈或散播上述工具；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者未經小米書面同意即對本軟體或其中所含資訊施行任何舉措，包括但不限於使用、出租、出借、複製、修改、設定連結、重製、編譯、發佈、發表、建立鏡像網站，或未經授權使用本軟體開發相關衍生產品、作品、服務、外掛程式、相容性或互連功能；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用本軟體發佈、傳輸、散播或儲存任何違反當地法律法規的內容；</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用本軟體發佈、傳輸、散播或儲存任何侵害合法權利之內容，如智慧財產權與他人的商業秘密；</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用本軟體發佈、傳輸或散播廣告資訊或大量垃圾郵件；</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>以任何非法方式、出於任何非法目的，或者以任何違反本協議授權使用規定之方式，使用本軟體或小米提供的其他服務；</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>資訊發佈規範</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>您得使用本軟體來發佈意見、資料、文字、資訊、使用者名稱、影像、照片、個人資訊、影音檔案、連結等由您建立或您有權發佈之資訊。您必須保證所上傳資訊之智慧財產權為您所有，或者您已取得該資訊的合法授權，且保證您使用本軟體與服務不會侵害任何第三方的合法權利或利益。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>在使用本軟體時，您必須遵守當地法律法規。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>您不得使用本軟體進行以下行為，包括但不限於</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>製造、重製、發佈、散播或儲存以下違反當地法律與法規的任何內容；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>發佈、傳輸、散播或儲存任何侵害合法權利的內容，如名譽權、肖像權、智慧財產權和他人的商業秘密；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>捏造事實或隱瞞真相以誤導或矇騙他人；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>發佈、傳輸或散播廣告資訊或垃圾郵件；</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体;'>參與違反當地法律法規的其他行為。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>未經小米許可，您不得在軟體中進行任何商業行為，例如廣告推銷、銷售商品。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>您瞭解並同意以下約束：</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米將判斷使用者是否涉嫌違反上述使用規範，且根據判斷之結果暫停或終止授予您的軟體使用授權，或採取其他依據本協議而實施之限制性措施；</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米將直接刪除使用者使用授權軟體期間所發佈之任何疑有不合法、侵害他人合法權利或違反本協議的資訊；</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>若您違反上述使用規範，且因此造成第三方損害，您必須全權負責，免於小米承擔當中引起的任何損失或費用。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>對於使用者因違反相關法律或本協議所造成之所有損失、第三方索賠、行政罰鍰、損害和</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>/</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>或費用（包括小米產生或承擔之合理律師費、調查及蒐證費用）應由使用者賠償，並使小米免受其損害。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>5.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>隱私權政策和個人資料保護</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米十分重視您個人資料的安全。為提供軟體功能並增進使用者體驗，小米會收集隱私權政策中所述之特定類型資料。我們會根據隱私權政策收集、使用及保護您的資料。隱私權政策提供於以下網站</span><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ]</span><span lang=ZH-TW style='font-size:12.0pt;font-family:
    宋体'>。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>6.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>服務風險與免責聲明</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>若要存取網際網路以及透過行動終端裝置使用電信加值服務，使用者必須購買所需的裝置，並自行負擔使用個人行動終端裝置存取網際網路時所產生的或由第三方（包括但不限於電信和行動通訊業者）收取的通訊費、資訊費和其他相關費用。若需要使用任何電信加值服務，建議您先向所屬的電信加值服務供應商確認費用。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米及其合作夥伴均不負擔任何使用者出於可歸屬第三方之理由所遭受的任何損失責任，諸如：通訊線路故障、技術問題、網路或行動終端裝置故障、系統不穩定和其他各種不可抗力之因素問題。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本軟體如同多數其他網際網路軟體，可能會受各種因素影響，包括但不限於：使用者因素、網路服務品質、社會環境差異等，且可能受各種安全性問題相關侵擾，例如使用者資料遭他人利用，造成現實生活之侵擾；使用者下載並安裝的其他軟體，或使用者造訪的其他網站含「特洛伊木馬程式」和其他病毒，威脅使用者終端裝置資訊和資料的安全，進而影響本軟體的正常使用。使用者應加強認識資訊安全和使用者資料保護，並注意密碼保護的強度，以避免損失和侵擾。</span></b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者使用本軟體或請求小米提供特定服務時，本軟體得調用第三方系統或軟體以支援使用者使用或存取。使用或存取之結果將由第三方提供。小米不保證透過上述系統或軟體支援所達到之結果的安全性、正確性和有效性，亦不承擔任何其他不確定風險；若當中導致任何紛爭或損害，小米概不承擔任何責任。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米特別要求使用者注意，為保障公司的業務發展及調整自主權，小米有權在不通知使用者的情況下，隨時修改或暫停服務，且無須對使用者或任何第三方負責。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>除法律和法規明確規範外，我們將盡最大努力確保本軟體及所涉技術與資訊安全、有效、準確且可靠；但使用者瞭解，受現有技術之影響，小米亦無法保證達到上述條件。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者完全自行負責任何人身傷害或附帶性、衍生性損害，包括但不限於利潤損失、資料遺失、業務中斷或其他出於或與下列相關的商業性損害：</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>(1) </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用或無法使用授權的軟體；</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>(2) </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>第三方未經授權使用本軟體或修改使用者資料；</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>(3) </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者在使用本軟體期間所產生的費用與損失；</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>(4) </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>軟體使用者的誤解；</span></b><b><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>(5) </span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>與本軟體相關，但不可歸因於小米的其他損失。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>若因為使用者和其他軟體使用者透過任何軟體所做行為，或因為使用者遭誤導或欺騙，已造成或可能造成任何個人或經濟性損害或損失，則當中引起的所有責任應由過失之一方承擔。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>7.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>智慧財產權聲明</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米為本軟體之智慧財產權持有者。著作權、商標、專利、商業祕密等與本軟體有關之所有智慧財產權，以及本軟體相關所有資訊（包括但不限於文字、圖片、音訊、視訊、圖像、介面設計、版面設計、資料或電子文件等）均受當地法律和法規以及相應國際條約所保護。小米享有上述智慧財產權。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. </span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>未經小米事先書面同意，使用者不得出於任何商業或非商業目的，獨立或允許任何第三方擅自使用或轉讓任何上述知識產權。小米保留對此類行為追究法律責任之權利。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>8.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>條款修訂</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米保留不時酌情修改本協議條款之權利，並且會及時於相關網頁公布任何此類條款之修訂。若您不同意任何修訂內容，可主動取消本服務。若您繼續使用本服務，即視為您接受本協議之修訂。</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米或合作夥伴對於所提供之付費服務、收費標準、收費模式、服務費用或服務條款，保留不時酌情修改或變更的權利。小米在提供服務時，得即時或於未來開始向部分使用者收取某些費用。若使用者拒絕付費，使用者將無法於收費開始後持續使用相關服務。</span></b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>小米與合作夥伴將盡最大努力以電子郵件或其他方式，通知使用者任何協議的修訂或變更。</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>9.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>適用法律及爭議解決方式</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本協議之效力由中華人民共和國內地法律管轄並從其解釋。若無相關法律條款，得參照國際貿易慣例和</span><span
    lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman",serif'>/</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>或商業慣例。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本協議於北京海澱區簽署。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3.</span></b><b><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>使用者和小米均同意，任何因本服務引起之紛爭，應先透過雙方當事人協商調解。若無法透過此類協商解決，協議任一方當事人可以將爭議呈交至本協議簽署地的管轄法院。</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=EN-US style='font-family:
    "Times New Roman",serif;'>10.</span></b><b><span lang=ZH-TW
    style='font-family:宋体;'>其他</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本軟體的任何特定服務，可能有個別協議及相關業務規定等規範（以下統稱「個別協議」），因此在使用此類特定服務前，請先詳讀並同意相關的個別協議。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本協議於</span><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> 2023 </span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>年</span><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> 12 </span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>月</span><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> 1 </span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>日起生效。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>本協議中的所有條款標題，僅供參照方便之用，解釋本協議時應忽略此類標題。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4.</span><span
    lang=ZH-TW style='font-size:12.0pt;font-family:宋体'>無論出於任何原因，若本協議中有任何條款出現無效或無法執行的情況，本協議其餘條款仍維持約束雙方當事人的完整效力。</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=ZH-TW
    style='font-size:12.0pt;font-family:宋体'>小米</span></p>
    
</div>
