<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Tarkvara
    litsentsi- ja teenuseleping</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Oluline m&auml;rkus]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc.
    (edaspidi &#8222;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>“) soovitab
    kasutajal selle tarkvara litsentsi- ja teenuselepingu (&#8222;leping“)
    t&auml;helepanelikult l&auml;bi lugeda ja sellest aru saada. <b>Kasutaja peab lugema
    t&auml;helepanelikult ja m&otilde;ttega l&auml;bi lepingu tingimused, eriti need, mis k&auml;sitlevad
    ettev&otilde;tte Xiaomi vastutust puudutavaid erandeid v&otilde;i piiranguid, vaidluste
    lahendamist ja kohaldatavaid seadusi.</b> <b>Juhime t&auml;helepanu vastutust
    puudutavatele eranditele v&otilde;i piirangutele, mis on v&auml;lja toodud paksus kirjas.
    Lugege see leping t&auml;helepanelikult l&auml;bi ja n&otilde;ustuge sellega v&otilde;i keelduge
    (alaealine peab lugema lepingu l&auml;bi oma seadusliku eestkostja juuresolekul).
    Tarkvara allalaadimise, installimise ja kasutamisega ning oma konto loomisega
    ja sellesse sisselogimisega n&otilde;ustute selle lepinguga ja k&otilde;ikide selle
    tingimustega.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi j&auml;tab
    endale &otilde;iguse seda lepingut muuta. Selle lepingu uuendatud tingimused
    avaldatakse ametlikul veebisaidil v&otilde;i tarkvaras ja need j&otilde;ustuvad avaldamise
    kuup&auml;eval.</span></b><span lang=ET style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    Kasutaja saab veebisaidilt tarkvara uuesti alla laadida ja installida v&otilde;i
    vaadata veebisaidil selle lepingu uusimaid tingimusi. <b>Kui Xiaomi on muutnud
    selle lepingu tingimusi ja te ei n&otilde;ustu muudetud tingimustega, l&otilde;petage kohe
    tootele &#8222;Xiaomi ruuter <span class="name"></span>“</b> <b>ettev&otilde;tte Xiaomi pakutava tarkvara ja
    teenuste kasutamine. Kui kasutaja j&auml;tkab toote &#8222;Xiaomi ruuter <span class="name"></span>“ tarkvara
    ja Xiaomi teenuste kasutamist, loetakse seda selle lepingu tingimustega
    n&otilde;ustumisena.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>1. &Uuml;lds&auml;tted</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. See leping on
    teie (edaspidi &#8222;kasutaja“) ja ettev&otilde;tte Xiaomi ja tema koost&ouml;&ouml;partneri
    (edaspidi &#8222;partner“) vahel s&otilde;lmitud leping, mis k&auml;sitleb tootele &#8222;<b> Xiaomi
    ruuter <span class="name"></span></b>“ ettev&otilde;tte Xiaomi pakutava tarkvara (edaspidi &#8222;tarkvara“)
    allalaadimist, installimist ja kasutamist ning asjaomaste Xiaomi teenuste
    kasutamist kasutaja poolt.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Ettev&otilde;te
    Xiaomi pakub tarkvara ja teenuseid installimiseks (k.a, kuid mitte ainult)
    mobiilsetesse nutiterminali seadmetesse, et pakkuda Xiaomi teenuseid selle
    nutiterminali kasutajale.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Tarkvara ja
    teenuste omandi&otilde;igus ja teenuse pakkumise &otilde;igus kuulub ettev&otilde;ttele Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>2. Tarkvaralitsentsi kohaldamisala</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi annab
    kasutajale isikliku, mitteülekantava lihtlitsentsi tarkvara kasutamiseks ilma
    selle all-litsentsimise &otilde;iguseta.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Kasutaja saab
    installida, kasutada, kuvada ja k&auml;itada tarkvara ühes mobiilses terminalseadmes
    mittekaubanduslikul eesm&auml;rgil. Kasutaja ei tohi installida, kasutada ega
    k&auml;itada tarkvara kaubanduslikel eesm&auml;rkidel. Kasutajal on keelatud kopeerida,
    muuta v&otilde;i modifitseerida tarkvara andmeid v&otilde;i tarkvara k&auml;itamise ajal
    terminalseadme m&auml;lusse salvestatud andmeid ning tarkvara k&auml;itamise ajal kliendi
    ja serveri interaktsioonide k&auml;igus genereeritud andmeid, v&otilde;i k&auml;itada tarkvara
    koos pistikprogrammidega, v&otilde;i luua mistahes kujul tuletatud teoseid, k.a, kuid
    mitte ainult pistikprogramme, juurdep&auml;&auml;su tarkvarale ja seotud süsteemidele
    volitamata kolmandate osapoolte t&ouml;&ouml;riistade/teenuste abil. Tarkvara
    kaubanduslikuks müümiseks, kopeerimiseks v&otilde;i levitamiseks, nt eelinstallimine
    ja kombineerimine, on teil vaja saada ettev&otilde;tte Xiaomi kirjalik luba ja
    litsents. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Ilma
    ettev&otilde;tte Xiaomi loata on kasutajal keelatud installida tarkvara muudesse
    terminalseadmetesse, mille jaoks Xiaomi pole andnud selges&otilde;naliselt luba, k.a,
    kuid mitte ainult, digiboksid, m&auml;ngukonsoolid, televiisorid, DVD-m&auml;ngijad jne. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Kasutajal on
    lubatud teha tarkvara ja teenuste kasutamiseks tarkvarast koopia, mida tohib
    kasutada ainult varukoopiana. Varukoopia peab sisaldama kogu originaaltarkvaras
    sisalduvat autori&otilde;igust puudutavat teavet.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Xiaomi ei
    anna kasutajale muid &otilde;igusi peale k&auml;esolevas lepingus selges&otilde;naliselt antud
    &otilde;iguste. Kui kasutaja tahab kasutada muud &otilde;igust, tuleb eelnevalt saada Xiaomi
    kirjalik luba. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>3. Tarkvara omandamine, installimine
    ja v&auml;rskendamine</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Kasutaja
    laadib alla ja installib tarkvara Xiaomi m&auml;&auml;ratud veebisaidilt v&otilde;i viisil. Olge
    ettevaatlik tarkvara allalaadimisel m&auml;&auml;ramata veebisaitidelt, et ennetada
    mobiilsideseadmete nakatumist pahatahtlike programmidega, mis v&otilde;ivad h&auml;vitada
    kasutaja andmed v&otilde;i anda juurdep&auml;&auml;su kasutaja isikuandmetele. Kui hangite sama
    nimega tarkvara v&otilde;i installimisprogrammi kolmandalt osapoolelt, mida pole
    volitanud ettev&otilde;te Xiaomi, ei saa Xiaomi tagada tarkvara t&ouml;&ouml;tamist etten&auml;htud
    viisil ja Xiaomi ei vastuta selle t&otilde;ttu teile tekitatud kahju eest.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Kasutaja peab
    valima tarkvara versiooni, mis vastab paigaldatud terminalseadmele. Vastasel
    juhul vastutab kasutaja isiklikult tarkvara versiooni ja seadme mudeli
    erinevusest tingitud tarkvara- v&otilde;i seadmeprobleemide v&otilde;i kahjude eest.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Kasutatavuse
    parandamiseks ja teenuse sisu optimeerimiseks j&auml;tab Xiaomi endale &otilde;iguse
    pakkuda tarkvara asendatud, muudetud ja v&auml;rskendatud versiooni; samuti j&auml;tab
    ettev&otilde;te endale &otilde;iguse v&otilde;tta asendamise, muutmise v&otilde;i v&auml;rskendamise eest tasu,
    aga küsib eelnevalt sellise tasu v&otilde;tmiseks teilt n&otilde;usoleku. Vaikimisi on
    tarkvaras lubatud kasutajale v&auml;rskendamise kohta viiba kuvamise funktsioon.
    Olenevalt kasutaja tarkvaraversioonist v&otilde;imaldab Xiaomi kasutajale selle
    funktsiooni lubamist v&otilde;i keelamist. Kui uus tarkvaraversioon on v&auml;lja lastud,
    ei garanteeri Xiaomi, et tarkvara vanemad versioonid j&auml;&auml;vad kasutatavaks.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>4. Kasutustingimused</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Kasutaja
    tohib kasutada tarkvara ja teenuseid koosk&otilde;las k&auml;esoleva lepingu ja seadustega.
    Kasutajal on keelatud teha j&auml;rgmist:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Kustutada
    mistahes autori&otilde;igust puudutavat teavet tarkvarast ja muudest koopiatest v&otilde;i
    muuta, kustutada v&otilde;i alistada tarkvaras autori&otilde;iguste kaitsmiseks m&auml;&auml;ratud
    tehnilisi meetmeid; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Tarkvara
    p&ouml;&ouml;rdprojekteerida, nt p&ouml;&ouml;rdtransleerimine, dekompileerimine v&otilde;i muul viisil
    tarkvara l&auml;htekoodile ligip&auml;&auml;su saamine;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Lisada,
    eemaldada v&otilde;i muuta tarkvara funktsioone v&otilde;i t&ouml;&ouml;omadusi, muutes v&otilde;i v&otilde;ltsides
    selleks korraldusi ja andmeid tarkvara t&ouml;&ouml; ajal, v&otilde;i muul viisil k&auml;itada v&otilde;i
    levitada avalikkusele ligip&auml;&auml;setavalt tarkvara v&otilde;i ülal kirjeldatud eesm&auml;rgil
    kasutatavaid meetodeid kaubanduslikul v&otilde;i muul eesm&auml;rgil;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Kasutada
    tarkvara eesm&auml;rkidel, mis ohustavad v&otilde;rgu turvet, k.a, kuid mitte ainult:
    volitamata andmete kasutamine v&otilde;i volitamata serverite/kontode juurdep&auml;&auml;su
    kasutamine; volitamata juurdep&auml;&auml;s avalikele v&otilde;rkudele v&otilde;i teiste kasutajate
    operatsioonisüsteemile ja salvestatud andmete kustutamine, muutmine v&otilde;i
    lisamine; volitamata katsed tuvastada, skannida v&otilde;i testida tarkvarasüsteemi
    v&otilde;i v&otilde;rgu n&otilde;rkust v&otilde;i teha muid toiminguid, mis ohustavad v&otilde;rgu turvet; üritada
    segada v&otilde;i ohustada tarkvarasüsteemi v&otilde;i veebisaidi normaalset t&ouml;&ouml;d; levitada
    tahtlikult pahatahtlikke programme v&otilde;i viiruseid v&otilde;i teha muid toiminguid, mis
    ohustavad v&otilde;i segavad normaalseid v&otilde;rgu teabeteenuseid; v&otilde;ltsida
    TCP/IP-andmepakettide nimesid v&otilde;i osalisi nimesid;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Logida
    sisse v&otilde;i kasutada tarkvara ja teenuseid kolmanda osapoole ühilduva tarkvara
    v&otilde;i süsteemi kaudu, mida pole arendanud, volitanud v&otilde;i heaks kiitnud Xiaomi,
    v&otilde;i ülal nimetatud t&ouml;&ouml;riistu luua, avaldada v&otilde;i levitada;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Teha ilma
    ettev&otilde;tte Xiaomi kirjaliku loata midagi tarkvara v&otilde;i selles oleva teabega, k.a,
    kuid mitte ainult, kasutamine, liisimine, laenamine, kopeerimine, muutmine,
    linkimine, reprodutseerimine, kompileerimine, avaldamine, avalikustamine,
    peegelsaidi loomine v&otilde;i tarkvara kasutamine volitamata seotud tuletuslike
    toodete, t&ouml;&ouml;de, teenuste, pistikprogrammide, ühilduvuse v&otilde;i vastastikuse
    seotuse arendamiseks;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Kasutada
    tarkvara kohalikke seadusi ja eeskirju rikkuva sisu avaldamiseks, edastamiseks,
    levitamiseks v&otilde;i salvestamiseks; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Kasutada
    tarkvara teiste seaduslikke &otilde;igusi, nagu intellektuaalomandi &otilde;igusi v&otilde;i &auml;risaladusi
    rikkuva sisu avaldamiseks, edastamiseks, levitamiseks v&otilde;i salvestamiseks; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Kasutada
    tarkvara reklaamteabe v&otilde;i r&auml;mpsposti avaldamiseks, edastamiseks v&otilde;i
    levitamiseks; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Kasutada
    ettev&otilde;tte Xiaomi tarkvara ja muid teenuseid mistahes ebaseaduslikul viisil v&otilde;i
    eesm&auml;rgil v&otilde;i mistahes viisil, mis ei ole koosk&otilde;las k&auml;esolevas lepingus
    s&auml;testatud litsentseeritud kasutusega.</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=ET style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Teabe avaldamise tingimused</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Teil on lubatud kasutada tarkvara, et avaldada teavet, nagu kuvad, andmed,
    tekst, teave, kasutajanimed, pildid, fotod, isikuandmed, audio- v&otilde;i
    videofailid, lingid jms, mis on teie loodud v&otilde;i mille avaldamiseks on teil
    &otilde;igus. Peate garanteerima, et teil on intellektuaalomandi &otilde;igused v&otilde;i et olete
    saanud teie poolt üles laaditud teabe jaoks seadusliku volituse ja et teie
    poolne tarkvara ja teenuste kasutamine ei riku ühegi kolmanda osapoole
    seaduslikke &otilde;igusi v&otilde;i huvisid.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Tarkvara kasutamisel olete kohustatud j&auml;rgima kohalikke seadusi ja eeskirju.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Teil on muu hulgas keelatud kasutada tarkvara j&auml;rgmistel eesm&auml;rkidel</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Sellise sisu tootmine, reprodutseerimine, avaldamine, levitamine v&otilde;i
    salvestamine, mis rikub kohalikke seadusi v&otilde;i m&auml;&auml;rusi;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Tarkvara kasutamine teiste seaduslikke &otilde;igusi, nagu mainet, isiku&otilde;igusi,
    intellektuaalomandi &otilde;igusi v&otilde;i &auml;risaladusi rikkuva sisu avaldamiseks,
    edastamiseks, levitamiseks v&otilde;i salvestamiseks;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Faktide fabritseerimine v&otilde;i t&otilde;e varjamine teiste eksitamise v&otilde;i petmise
    eesm&auml;rgil;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Reklaamteabe v&otilde;i r&auml;mpsposti avaldamine, edastamine v&otilde;i levitamine;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Muud teod, mis rikuvad kohalikke seadusi ja m&auml;&auml;rusi jne.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Ilma
    ettev&otilde;tte Xiaomi loata on teil keelatud kasutada tarkvara kaubanduslikel
    eesm&auml;rkidel, nagu reklaamimine, kauba müümine.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Olete aru
    saanud j&auml;rgmistest tingimustest ja n&otilde;ustute nendega.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi teeb
    kindlaks, kas kasutajat kahtlustatakse ülal nimetatud kasutustingimuste
    rikkumises, ja vastavalt tehtud j&auml;reldustele peatatakse v&otilde;i l&otilde;petatakse teile
    antud kasutuslitsents v&otilde;i v&otilde;etakse muud piiravad meetmed, mida v&otilde;idakse v&otilde;tta
    k&auml;esoleva lepingu p&otilde;hjal;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    kustutab kasutaja poolt litsentsitud tarkvara kasutamise k&auml;igus avaldatud mis
    tahes teabe, mille puhul on kahtlus, et see on ebaseaduslik v&otilde;i rikub teiste
    seaduslikke &otilde;igusi v&otilde;i k&auml;esolevat lepingut;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Kui te
    rikute ülal nimetatud kasutustingimusi ja tekitate seel&auml;bi kahju kolmandatele
    osapooltele, vastutate te selle eest isiklikult ja vabastate ettev&otilde;tte Xiaomi
    igasugusest vastutusest sellest tuleneva kahju v&otilde;i kulu eest;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Kasutaja
    kompenseerib ja vabastab vastutusest ettev&otilde;tte Xiaomi igasuguse kahju,
    kolmandate osapoolte n&otilde;uete, halduskaristuste, kahju ja/v&otilde;i kulude eest, sh
    m&otilde;istlikus ulatuses advokaadikulud, juurdluse ja t&otilde;endusmaterjali kogumise
    kulud, mida Xiaomi kandis v&otilde;i kannatas seoses kehtivate seaduste v&otilde;i k&auml;esoleva
    lepingu tingimuste kasutajapoolse rikkumisega.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>5. Privaatsuspoliitika ja
    isikuandmete kaitsmine</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Teie
    isikuandmete kaitsmine on ettev&otilde;ttele Xiaomi v&auml;ga oluline. Tarkvara
    funktsioonide pakkumiseks ja kasutajakogemuse parandamiseks kogub ettev&otilde;te
    Xiaomi teatud liiki andmeid, nagu on m&auml;&auml;ratletud meie privaatsuspoliitikas. Me
    kogume, kasutame ja kaitseme teie andmeid meie privaatsuspoliitika kohaselt.
    Privaatsuspoliitika on saadaval j&auml;rgmisel veebisaidil [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>6. Teenuse risk ja lahtiütlus</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Kasutaja peab
    hankima seadme, mida terminalseade vajab Interneti-juurdep&auml;&auml;suks ja
    lisandv&auml;&auml;rtust andvate telekommunikatsiooniteenuste kasutamiseks ning kandma
    sidekulud, teabekulud ja muud Interneti-juurdep&auml;&auml;suga seotud kulud, mis on
    seotud isikliku mobiilse terminalseadmega v&otilde;i mida koguvad kolmandad osapooled
    (k.a, kuid mitte ainult telekommunikatsiooni- ja mobiilsideteenuse pakkujad).
    Kui on vaja kasutada lisandv&auml;&auml;rtust andvaid telekommunikatsiooniteenuseid,
    uurige nende hinda oma lisandv&auml;&auml;rtust andva telekommunikatsiooniteenuse
    pakkujalt.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Xiaomi ega
    tema partner ei vastuta kasutajale tekitatud kahju eest, mille p&otilde;hjustajaks on
    m&otilde;ni kolmas osapool, nagu sideliinide t&otilde;rge, tehniline probleem, v&otilde;rgu v&otilde;i
    mobiilse terminalseadme rike, süsteemi ebastabiilsus ja muud eri v&auml;&auml;ramatu j&otilde;u
    tegurid.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Seda
    tarkvara, nagu enamikku muud internetti kasutavat tarkvara, v&otilde;ivad m&otilde;jutada muu
    hulgas sellised tegurid nagu kasutaja p&otilde;hjustatu, v&otilde;rguteenuse kvaliteet,
    sotsiaalse keskkonna erinevused jne. Samuti v&otilde;ib see s&otilde;ltuda eri
    turbeprobleemide kuritarvitamisest, nagu kasutaja andmete kasutamine teiste
    poolt, mis toob kaasa ahistamise p&auml;riselus; muu kasutaja poolt alla laaditud ja
    installitud tarkvara v&otilde;i muud kasutaja külastatud veebisaidid, mis sisaldavad
    nn &#8222;Trooja hobuseid“ ja muid viirusi, mis ohustavad kasutaja terminalseadme
    andmeturvet ja andmeid ning seel&auml;bi ka tarkvara normaalset kasutamist. Kasutaja
    peab olema teadlik teabeturbest ja kasutaja andmete kaitsmisest ning p&ouml;&ouml;rama
    t&auml;helepanu paroolide tugevdamisele, et v&auml;ltida kaotusi ja ahistamist.</span></b><span
    lang=ET style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Kui kasutaja
    kasutab tarkvara v&otilde;i tellib ettev&otilde;ttelt Xiaomi teatud kindlaid teenuseid, v&otilde;ib
    tarkvara v&otilde;tta ühendust kolmanda osapoole süsteemi v&otilde;i tarkvaraga, et toetada
    kasutaja kasutustoimingut v&otilde;i juurdep&auml;&auml;su. Kasutustoimingu v&otilde;i juurdep&auml;&auml;su
    tulemust pakub kolmas osapool. Xiaomi ei garanteeri nimetatud süsteemi v&otilde;i
    tarkvara toel saadud tulemuste ohutust, t&auml;psust ega t&otilde;husust, samuti ei v&otilde;ta
    Xiaomi muid ebakindlaid riske; kui seoses sellega tekib vaidlusi v&otilde;i kahjusid,
    ei v&otilde;ta Xiaomi vastutust.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi juhib
    kasutaja t&auml;helepanu asjaolule, et ettev&otilde;tte &auml;ritegevuse arendamise ja
    kohandamise autonoomia kaitsmiseks on ettev&otilde;ttel Xiaomi &otilde;igus muuta teenust v&otilde;i
    peatada teenus iga aeg ilma kasutajat sellest teavitamata ja ilma kasutaja v&otilde;i
    kolmanda osapoole ees vastutamata.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Teeme k&otilde;ik
    endast s&otilde;ltuva, v&auml;lja arvatud seadustega ja m&auml;&auml;rustega selges&otilde;naliselt
    s&auml;testatud juhtudel, et tagada tarkvara, tehnoloogia ja teabe ohutus, t&otilde;husus,
    t&auml;psus ja usaldusv&auml;&auml;rsus; kasutaja peab aga arvesse v&otilde;tma, et olemasolevast
    tehnoloogiast tulenevalt ei saa Xiaomi seda garanteerida.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Kasutaja
    vastutab isiklikult igasuguse isikliku kahju v&otilde;i juhusliku v&otilde;i tagaj&auml;rjelise
    kahju eest, muu hulgas kaotus, andmekadu, &auml;ritegevuse katkestus v&otilde;i muu
    kaubanduslik kahju, mis tuleneb v&otilde;i on seotud: 1) litsentsitud tarkvara
    kasutamisega v&otilde;i v&otilde;imetusega tarkvara kasutada; 2) tarkvara volitamata
    kasutamise v&otilde;i kasutaja andmete muutmisega kolmanda osapoole poolt; 3) kulude
    ja kahjuga, mida kasutaja kandis tarkvara kasutamise k&auml;igus; 4) kasutaja
    v&auml;&auml;rarusaamisega tarkvarast; 5) muude tarkvaraga seotud kaotustega, mis pole
    Xiaomi p&otilde;hjustatud.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. Igasuguse
    isikliku v&otilde;i majandusliku kahju v&otilde;i kaotuse korral, mille p&otilde;hjuseks v&otilde;ib, kuid
    ei pruugi olla kasutaja ja teiste tarkvara kasutajate k&auml;itumine muu tarkvara
    kaudu v&otilde;i kasutaja eksitamine v&otilde;i petmine, kannab k&otilde;ik sellega seotud vastutuse
    süüdiolev osapool.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>7. Intellektuaalomandi &otilde;iguste
    avaldus</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Tarkvara
    intellektuaalomandi &otilde;igus kuulub ettev&otilde;ttele Xiaomi. K&otilde;ik Tarkvaraga seotud
    intellektuaalomandi &otilde;igused, nagu autori&otilde;igus, kaubam&auml;rgid, patendid,
    &auml;risaladused jms ning k&otilde;ik tarkvaraga seotud teave (k.a, kuid mitte ainult
    tekst, pildid, audio, video, graafika, kasutajaliidese kujundus, paigutus,
    andmed v&otilde;i elektroonilised dokumendid jne) on kaitstud kohalike seadustega ja
    m&auml;&auml;rustega ning vastavate rahvusvaheliste kokkulepetega. &Uuml;lalnimetatud
    intellektuaalomandi&otilde;igused kuuluvad ettev&otilde;ttele Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Ilma
    ettev&otilde;tte Xiaomi eelneva kirjaliku n&otilde;usolekuta on Kasutajal keelatud
    iseseisvalt kasutada v&otilde;i kanda üle ülalnimetatud intellektuaalomandi &otilde;igusi
    kaubanduslikul v&otilde;i mittekaubanduslikul eesm&auml;rgil v&otilde;i lubada mistahes kolmandal osapoolel
    seda teha. Ettev&otilde;ttel Xiaomi on &otilde;igus n&otilde;uda selliste tegude eest &otilde;iguslikku
    vastutusele v&otilde;tmist.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>8. Muutmine</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi j&auml;tab
    endale &otilde;iguse muuta oma &auml;ran&auml;gemise j&auml;rgi aeg-ajalt k&auml;esoleva lepingu tingimusi
    ja k&otilde;ik sellised muudatused avaldatakse aegsasti vastavatel veebilehtedel. Kui
    te ei ole muudatustega n&otilde;us, on teil &otilde;igus teenuse kasutamine l&otilde;petada. Kui te
    j&auml;tkate teenuse kasutamist, loetakse seda muudetud lepinguga n&otilde;ustumiseks. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi v&otilde;i
    tema partner j&auml;tavad endale &otilde;iguse kohandada v&otilde;i muuta oma &auml;ran&auml;gemise j&auml;rgi
    aeg-ajalt pakutavaid tasulisi teenuseid, tasustamise tingimusi, tasustamise
    viisi, teenuste hindasid v&otilde;i teenuste tingimusi. Xiaomi v&otilde;ib hakata arvestama
    teenuse pakkumise eest m&otilde;nedelt kasutajatelt nüüd v&otilde;i edaspidi teatud tasusid.
    Kui kasutaja keeldub nende tasude maksmisest, ei saa kasutaja j&auml;tkata asjaomase
    teenuse kasutamist p&auml;rast tasu arvestamise algust. </span></b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi ja tema
    partner teevad k&otilde;ik v&otilde;imaliku, et teavitada kasutajat k&otilde;ikidest muudatustest
    e-posti teel v&otilde;i muul viisil. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>9. Kohaldatav &otilde;igus ja vaidluste
    lahendamine</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. K&auml;esoleva
    lepingu kehtivus ja t&otilde;lgendamine l&auml;htub Hiina Rahvavabariigi Mandri-Hiina
    seadustest. Asjaomaste seaduses&auml;tete puudumise korral l&auml;htutakse
    rahvusvahelisest &auml;ritavast ja/v&otilde;i &auml;ritavast.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. See leping on
    allkirjastatud Haidiani linnarajoonis Pekingis.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Kasutaja ja
    Xiaomi lepivad kokku, et k&otilde;ik teenusest tulenevad vaidlused lahendatakse
    k&otilde;igepealt osapoolte vaheliste l&auml;bir&auml;&auml;kimiste teel. Kui l&auml;bir&auml;&auml;kimiste
    tulemusel ei j&otilde;uta kokkuleppele, v&otilde;ib kumbki Osapool esitada vaidluse Lepingu
    allkirjastamise koha j&auml;rgsele p&auml;devale kohtule.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ET style='font-family:
    "Times New Roman",serif;'>10. Muu</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Tarkvara iga
    spetsiifilise teenuse jaoks v&otilde;idakse s&otilde;lmida eraldi leping ja kehtestada seotud
    &auml;rireeglid jne (edaspidi &#8222;eraldiseisev leping“), seega palun lugege enne
    sellise spetsiifilise teenuse kasutamist asjaomane eraldiseisev leping l&auml;bi ja
    n&otilde;ustuge sellega.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. K&auml;esolev
    leping j&otilde;ustub 1. detsember 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. K&otilde;ik
    k&auml;esoleva lepingu tingimuste pealkirjad on ette n&auml;htud ainult lihtsamaks
    viitamiseks ja neid ei v&otilde;eta arvesse lepingu t&otilde;lgendamisel.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Kui m&otilde;ni
    selle lepingu s&auml;te on kehtetu v&otilde;i muutub mistahes p&otilde;hjusel kehtetuks v&otilde;i
    mittej&otilde;ustatavaks, j&auml;&auml;vad ülej&auml;&auml;nud siin nimetatud s&auml;tted kehtima t&auml;ies
    ulatuses ja j&otilde;us ning on siduvad m&otilde;lemale lepingu osapoolele.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=ET
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
