<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Szoftverlicenc- és
    szolgáltatási szerz&#337;dés</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Fontos k&ouml;zlemény]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (a
    továbbiakban &#8222;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>”) arra
    kéri &Ouml;nt mint felhasználót, hogy figyelmesen olvassa el és értse meg a jelen
    Szoftverlicenc- és szolgáltatási szerz&#337;dést (a továbbiakban a &#8222;Szerz&#337;dés”). <b>A
    felhasználónak figyelmesen el kell olvasnia és meg kell értenie a jelen
    Szerz&#337;dést, kül&ouml;n&ouml;sen a Xiaomi felel&#337;sségének kizárásáról és korlátozásáról, a
    vitarendezésr&#337;l és a vonatkozó jogszabályokról szóló feltételeket.</b> <b>A
    felel&#337;sség kizárásáról és korlátozásáról szóló fontos feltételeket félk&ouml;vérrel
    is kiemeltük. Kérjük, figyelmesen olvassa végig a jelen Szerz&#337;dést, majd
    jelezze, hogy elfogadja-e annak feltételeit (kiskorúak csak t&ouml;rvényes
    képvisel&#337;jük k&ouml;zrem&#369;k&ouml;désével és jelenlétében tehetik meg ezt). A szoftver
    let&ouml;ltésével, telepítésével vagy használatával, illetve a fiókregisztrálással
    és a bejelentkezéssel &Ouml;n elfogadja a jelen Szerz&#337;dést, és annak feltételeit
    k&ouml;telez&#337; érvény&#369;nek ismeri el magára nézve.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>A Xiaomi
    fenntartja a jogot a Szerz&#337;dés módosítására. A Szerz&#337;dés esetleges módosításait
    hivatalos webhelyünk&ouml;n vagy a szoftverben tesszük k&ouml;zzé, és a módosult
    feltételek a k&ouml;zzététel napján lépnek hatályba.</span></b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> A felhasználónak
    lehet&#337;sége van újra let&ouml;lteni és újratelepíteni a szoftvert, illetve
    megtekinteni a Szerz&#337;dés legújabb változatát a webhelyen. <b>Amennyiben &Ouml;n nem
    fogadja el a Szerz&#337;dés Xiaomi által módosított feltételeit, kérjük, azonnal
    függessze fel a &#8222;Xiaomi <span class="name"></span> útválasztó</b>” <b>Xiaomi által biztosított
    szoftverének és szolgáltatásainak használatát; a &#8222;Xiaomi <span class="name"></span> útválasztó”
    Xiaomi által biztosított szoftverének és szolgáltatásainak a felhasználó általi
    folytatólagos használata a jelen Szerz&#337;dés módosított feltételei automatikus
    elfogadásának min&#337;sül.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>1. &Aacute;ltalános rendelkezések</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. A jelen
    Szerz&#337;dés &Ouml;n (a továbbiakban: a &#8222;Felhasználó”) és a Xiaomi, valamint annak
    üzemeltetési partnere (a továbbiakban: &#8222;Partner”) k&ouml;z&ouml;tt j&ouml;n létre a &#8222;<b>Xiaomi
    <span class="name"></span> útválasztó</b>” szoftverének (a továbbiakban: a &#8222;Szoftver”) let&ouml;ltése,
    telepítése és használata, valamint a Xiaomi kapcsolódó szolgáltatásainak
    igénybevétele tárgyában.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. A Xiaomi a
    Szoftvert és a szolgáltatásokat t&ouml;bbek k&ouml;z&ouml;tt mobil okosterminálokon való
    telepítés céljából nyújtja, ezáltal lehet&#337;vé téve a Xiaomi szolgáltatásainak
    igénybevételét az említett okosterminált használó Felhasználó számára.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. A Szoftver és
    a szolgáltatások tulajdonjoga és üzemeltetési joga a Xiaomi birtokában marad.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>2. A Szoftver licencbe adásának
    hatálya</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. A Xiaomi
    személyhez k&ouml;t&ouml;tt, nem átruházható, allicencbe nem adható, nem kizárólagos
    jogot biztosít a Felhasználónak a Szoftver használatára.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. A Felhasználó
    egyetlen mobil termináleszk&ouml;z&ouml;n telepítheti, használhatja, jelenítheti meg és
    futtathatja a Szoftvert, kizárólag nem kereskedelmi célból. A Szoftver
    kereskedelmi célú telepítése, használata vagy futtatása tilos. A Felhasználó
    nem másolhatja le, nem módosíthatja és nem változtathatja meg a Szoftver
    semmilyen adatát, a Szoftver futása során a terminál memóriájába kiadott
    semmilyen adatot, és az ügyfél és a kiszolgáló k&ouml;z&ouml;tt a Szoftver futása során
    keletkezett semmilyen interaktív adatot sem. A Felhasználó nem használhatja a
    Szoftvert b&#337;vítményekkel, nem készíthet származékos munkákat semmilyen más
    formában (korlátozás nélkül ideértve a b&#337;vítményeket), illetve nem kísérelheti
    meg elérni a Szoftvert és a kapcsolódó rendszereket jogosulatlan, harmadik
    félt&#337;l származó eszk&ouml;z&ouml;k&ouml;n vagy szolgáltatásokon keresztül. Ha &Ouml;n kereskedelmi
    forgalomban szeretné a Szoftvert értékesíteni, forgalmazni vagy másolni
    (például el&#337;re telepítés vagy csomagolt értékesítés céljából), ehhez a Xiaomi
    írásos engedélyére és kül&ouml;n licencére van szüksége. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. A Xiaomi
    engedélye nélkül a Felhasználó a Xiaomi által kifejezetten jóváhagyott
    eszk&ouml;z&ouml;k&ouml;n kívül nem telepítheti a Szoftvert más eszk&ouml;z&ouml;kre, korlátozás nélkül
    ideértve például a set-top boxokat, játékkonzolokat, tévéket, DVD-lejátszókat,
    stb. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. A Felhasználó
    egyetlen másolatot készíthet a Szoftverr&#337;l a Szoftver és a szolgáltatások
    használata céljából, de azt kizárólag biztonsági másolatként használhatja fel.
    A biztonsági másolatnak tartalmaznia kell az eredeti Szoftverben szerepl&#337;
    minden szerz&#337;i jogi k&ouml;zleményt.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. A jelen
    Szerz&#337;désben kifejezetten megadott engedélyeken kívül a Xiaomi nem biztosít más
    jogokat a Felhasználónak. A Felhasználó csak a Xiaomi el&#337;zetes írásos
    engedélyével élhet más jogokkal. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>3. A Szoftver beszerzése, telepítése
    és frissítése</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. A Felhasználó
    a webhelyr&#337;l vagy a Xiaomi által kijel&ouml;lt más módon t&ouml;ltheti le és telepítheti
    a Szoftvert. Kerülje a Szoftver nem engedélyezett webhelyekr&#337;l való let&ouml;ltését,
    hogy megel&#337;zze mobileszk&ouml;ze kártev&#337; programokkal való megfert&#337;z&#337;dését, valamint
    az ebb&#337;l származó esetleges adatvesztést vagy adatlopást. Ha nem a Xiaomi által
    feljogosított harmadik félt&#337;l szerzi be a Szoftvert vagy a Szoftverrel azonos
    nev&#369; program telepít&#337;jét, a Xiaomi nem tudja garantálni a Szoftver megfelel&#337;
    m&#369;k&ouml;dését, és a Xiaomi nem vállal semmilyen felel&#337;sséget az &Ouml;n által esetleg
    elszenvedett károkért.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. A
    Felhasználónak a telepített termináleszk&ouml;z rendszerének megfelel&#337;en kell
    kiválasztania a Szoftver verzióját. Máskül&ouml;nben bármely, a Szoftver verziója és
    az eszk&ouml;ztípus k&ouml;z&ouml;tti kompatibilitási problémából ered&#337; szoftverhiba,
    eszk&ouml;zhiba vagy kár kizárólag a Felhasználó felel&#337;sségi k&ouml;rébe tartozik.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. A
    felhasználói élmény fokozása és a szolgáltatások optimalizálása érdekében a
    Xiaomi fenntartja a jogot arra, hogy a Szoftver helyettesít&#337;, módosító vagy
    frissített verzióit kiadja, és az ilyen helyettesít&#337;, módosító vagy frissített
    verzióért díjat számítson fel, de csak abban az esetben, ha el&#337;tte &Ouml;n ehhez
    hozzájárul. A Szoftver alapértelmezés szerint felajánlja a frissítést a
    Felhasználónak. A Szoftver Felhasználó által futtatott verziójától függ&#337;en, a
    Xiaomi lehet&#337;vé teszi a Felhasználó számára ezen funkció engedélyezését vagy
    letiltását. A Szoftver új verziójának kiadása után a Xiaomi nem garantálja a
    Szoftver korábbi verzióinak használhatóságát.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>4. A használatra vonatkozó szabályok</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. A Felhasználó
    a jelen Szerz&#337;dés és a hatályos t&ouml;rvények betartásával használhatja a Szoftvert
    és a szolgáltatásokat. A Felhasználó számára tiltottak az alábbi tevékenységek:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. A szerz&#337;i
    jogi értesítések bármelyikének eltávolítása a Szoftverb&#337;l és a Szoftverr&#337;l
    készített másolatokból, illetve a szellemi tulajdon védelme érdekében a
    Szoftverben alkalmazott technológiák megkerülése, módosítása vagy eltávolítása;
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. A Szoftver
    visszafejtése, például alkotóelemeire bontása, visszafordítása vagy a forráskód
    megszerzésének egyéb módokon t&ouml;rtén&#337; megkísérlése;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. A Szoftver
    funkcióinak vagy futtatási m&#369;k&ouml;désének kiegészítése, eltávolítása vagy
    módosítása a Szoftver futása k&ouml;zben generált adatok vagy utasítások
    megváltoztatásával vagy meghamisításával, illetve a Szoftver vagy így feltárt
    m&#369;k&ouml;désmódjainak egyéb felhasználása vagy nyilvánosságra hozatala akár
    kereskedelmi, akár más célból;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. A Szoftver
    használata a hálózatok biztonságát veszélyeztet&#337; módon, t&ouml;bbek k&ouml;z&ouml;tt, de nem
    kizárólag ideértve a k&ouml;vetkez&#337;ket: Jogosulatlan adatok felhasználása, illetve
    kiszolgálók vagy fiókok jogosulatlan elérése; nyilvános hálózatok vagy más
    eszk&ouml;z&ouml;k operációs rendszereinek jogosulatlan elérése a tárolt adatok
    módosítása, t&ouml;rlése vagy kiegészítése céljából; a Szoftver vagy a hálózat
    sebezhet&#337;ségeinek engedély nélküli észlelése, kutatása vagy tesztelése, továbbá
    a hálózatbiztonság egyéb módú gyengítése; a Szoftver vagy a webhely normál
    m&#369;k&ouml;désének akadályozására vagy meghiúsítására tett kísérletek; kártékony
    programok vagy vírusok szándékos terjesztése, illetve a hálózat biztonságát
    vagy normál m&#369;k&ouml;dését megsért&#337; más tevékenységek; a TCP/IP-adatcsomag teljes
    vagy részleges meghamisítása;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. A
    Szoftverbe vagy a szolgáltatásokba való bejelentkezés, illetve ezek használata
    olyan harmadik félt&#337;l származó szoftverek vagy rendszerek segítségével, amelyek
    nem a Xiaomi által fejlesztettek, engedélyezettek vagy jóváhagyottak, valamint
    ilyen szoftverek vagy rendszerek fejlesztése, k&ouml;zzététele vagy terjesztése;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. A Xiaomi
    írásos engedélye nélkül a Szoftver vagy az abban foglalt adatok felhasználása
    például jogosulatlan használat, lízingbe adás, bérbeadás, másolás, módosítás,
    hivatkozás elhelyezése, reprodukálás, &ouml;sszeállítás, kiadás, k&ouml;zzététel vagy
    tükr&ouml;z&ouml;tt webhely létrehozása útján, illetve a Szoftver engedély nélküli
    használata származékos munkák, termékek, szolgáltatások, b&#337;vítmények, kompatibilitás
    vagy &ouml;sszekapcsolás megvalósítása céljából;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. A Szoftver
    használata a helyi t&ouml;rvényeket vagy jogszabályokat sért&#337; bármilyen tartalom
    k&ouml;zzététele, továbbítása, terjesztése vagy tárolása céljából; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. A Szoftver
    használata mások jogait (például szellemi tulajdonhoz f&#369;z&#337;d&#337; jogot vagy
    kereskedelmi titkot) sért&#337; bármilyen tartalom k&ouml;zzététele, továbbítása,
    terjesztése vagy tárolása céljából; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. A Szoftver
    használata hirdetések vagy kéretlen tartalmak t&ouml;meges k&ouml;zzététele, továbbítása
    vagy terjesztése céljából; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. A Szoftver
    vagy a Xiaomi által biztosított szolgáltatások bármilyen t&ouml;rvénybe ütk&ouml;z&#337; célú
    vagy módú, illetve a jelen Szerz&#337;dés feltételeit megsért&#337; használata.</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=HU style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Az információk k&ouml;zzétételére vonatkozó szabályok</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    A Szoftver használatával &Ouml;n k&ouml;zzétehet saját maga által készített (vagy egyéb
    módon a k&ouml;zzétételükre jogosult) információkat, például nézeteket, adatokat,
    sz&ouml;veget, információt, felhasználóneveket, képeket, fényképeket, személyes
    adatokat, hangfájlokat, videófájlokat, hivatkozásokat stb. &Ouml;n felel&#337;s azért,
    hogy minden felt&ouml;lt&ouml;tt információ szellemi tulajdonjogával vagy ennek megfelel&#337;
    jogi felhatalmazással rendelkezzen, valamint hogy a Szoftver és a
    szolgáltatások &Ouml;n általi használata ne sértse semmilyen harmadik fél jogát vagy
    jogos érdekét.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    A Szoftver használata során be kell tartania a helyi t&ouml;rvényeket és
    jogszabályokat.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    A Szoftvert tilos t&ouml;bbek k&ouml;z&ouml;tt a k&ouml;vetkez&#337;kre használni</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    A helyi t&ouml;rvényeket vagy jogszabályokat sért&#337; bármilyen tartalom létrehozása,
    reprodukálása, k&ouml;zzététele, terjesztése vagy tárolása;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Mások jogait (például jó hírnévhez, képmáshoz vagy szellemi tulajdonhoz f&#369;z&#337;d&#337;
    jogot, illetve kereskedelmi titkot) sért&#337; bármilyen tartalom k&ouml;zzététele,
    továbbítása, terjesztése vagy tárolása;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Tények meghamisítása vagy az igazság elfedése mások félrevezetése vagy
    megtévesztése céljából;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Hirdetések vagy kéretlen tartalmak k&ouml;zzététele, továbbítása vagy terjesztése;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Más olyan tevékenységek folytatása, amelyek sértik például a helyi t&ouml;rvényeket
    vagy jogszabályokat.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. A Xiaomi
    engedélye nélkül &Ouml;n nem használhatja a Szoftvert kereskedelmi célokra, például
    hirdetésre vagy termékértékesítésre.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. &Ouml;n tudomásul
    veszi és elfogadja az alábbiakat:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. A Xiaomi
    saját maga d&ouml;nthet arról, hogy a Felhasználó gyaníthatóan megsértette-e a fenti
    használatra vonatkozó szabályokat, és d&ouml;ntése alapján felfüggesztheti vagy
    visszavonhatja a Felhasználónak biztosított licenc érvényességét, illetve a
    jelen Szerz&#337;dés szerinti egyéb korlátozó intézkedéseket tehet;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. A Xiaomi
    azonnal t&ouml;r&ouml;l a Felhasználó által a licencelt Szoftver használata során
    k&ouml;zzétett minden olyan információt, amely gyaníthatóan t&ouml;rvénybe ütk&ouml;z&#337;, sérti
    mások jogos érdekeit vagy megsérti a jelen Szerz&#337;dést;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Ha &Ouml;n
    megsérti a használatra vonatkozó szabályokat, és ezzel harmadik félnek kárt
    okoz, ezért teljes k&ouml;r&#369; felel&#337;sséget kell vállalnia, és mentesítenie kell a
    Xiaomi vállalatot bármilyen kapcsolódó k&ouml;ltség vagy veszteség viselése alól;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. A
    Felhasználó vállalja, hogy mentesíti és megóvja a Xiaomi vállalatot minden
    olyan veszteséggel, harmadik fél általi k&ouml;veteléssel, hatósági büntetéssel,
    kárral és/vagy kiadással szemben (az észszer&#369; ügyvédi díjakat, valamint a
    vizsgálati és bizonyítékgy&#369;jtési k&ouml;ltségeket is beleértve), amelyet a Xiaomi
    elszenvedhetne a hatályos t&ouml;rvények vagy a jelen Szerz&#337;dés Felhasználó általi
    megsértése miatt.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>5. Adatvédelmi szabályzat és a
    személyes adatok védelme</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. A Xiaomi
    számára fontos az &Ouml;n személyes adatainak védelme. A Szoftver m&#369;k&ouml;dtetése és a
    felhasználói élmény javítása érdekében a Xiaomi gy&#369;jti a felhasználók bizonyos
    adatait az Adatvédelmi szabályzatunkban leírtak szerint. A személyes adatok
    gy&#369;jtését, felhasználását és megóvását Adatvédelmi szabályzatunk szerint
    végezzük. Az Adatvédelmi szabályzat a k&ouml;vetkez&#337; weboldalon érhet&#337; el
    [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>6. A szolgáltatásokkal kapcsolatos
    kockázatok és a felel&#337;sség kizárása</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. A Felhasználó
    felel&#337;ssége az internet-hozzáféréshez szükséges eszk&ouml;z és mobil termináleszk&ouml;z
    távk&ouml;zlési értékn&ouml;velt szolgáltatásainak beszerzése, valamint a távk&ouml;zlési és
    adatkommunikációs díjak és egyéb kapcsolódó k&ouml;ltségek megfizetése, amelyek a
    mobil termináleszk&ouml;z internethasználata miatt felmerülnek vagy harmadik fél
    által egyébként felszámítódnak (t&ouml;bbek k&ouml;z&ouml;tt, de nem kizárólag ideértve a
    telekommunikációs és mobilkommunikációs szolgáltatók díjait is). Ha ehhez az
    alap-el&#337;fizetésén kívüli szolgáltatások igénybevétele szükséges, érdekl&#337;dj&ouml;n
    szolgáltatójánál a felmerül&#337; további k&ouml;ltségekr&#337;l.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Sem a Xiaomi,
    sem a Partner nem felel&#337;s semmilyen olyan veszteségért, amelyet a Felhasználó
    harmadik félnek betudható okokból szenved el, például kommunikációs
    szolgáltatások fennakadásai, m&#369;szaki problémák, a hálózat vagy a mobil termináleszk&ouml;z
    hibája, a rendszer instabilitása vagy vis&nbsp;maior miatt.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. A Szoftver
    m&#369;k&ouml;dését más internetes szoftverekéhez hasonlóan számos tényez&#337;
    befolyásolhatja, például a felhasználó viselkedése, a hálózati kapcsolat
    min&#337;sége, a társadalmi k&ouml;rnyezet kül&ouml;nb&ouml;z&#337;ségei stb., továbbá biztonsági
    problémák is érinthetik, például a Felhasználó adatainak mások általi
    megszerzése (ami akár való életbeli zaklatáshoz is vezethet), illetve a
    Felhasználó által let&ouml;lt&ouml;tt más szoftverek vagy meglátogatott más webhelyek
    vírusokkal vagy trójai programokkal való fert&#337;z&ouml;ttsége, ami a Felhasználó
    termináljának és az azon tárolt adatoknak a biztonságát, illetve a Szoftver
    rendeltetésszer&#369; használatát is veszélyeztetheti. A veszteségek és visszaélések
    elkerülése érdekében a Felhasználónak fokozottan kell figyelnie a biztonságra
    és az adatvédelemre, így t&ouml;bbek k&ouml;z&ouml;tt az er&#337;s jelszó beállítására és titokban
    tartására is.</span></b><span lang=HU style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. A Szoftver
    használata vagy a Xiaomi valamely szolgáltatásának igénylése során a Szoftver
    harmadik fél rendszerét vagy szoftverét is segítségül hívhatja a Felhasználó
    általi használat vagy hozzáférés lehet&#337;vé tételéhez. Ebben az esetben a
    használat vagy a hozzáférés eredményét is a szóban forgó harmadik fél
    biztosítja. A Xiaomi nem garantálja az ilyen rendszer vagy szoftver bevonásával
    kapott eredmények biztonságosságát, pontosságát és hatékonyságát, továbbá a
    Xiaomi nem vállal felel&#337;sséget a kapcsolódó, el&#337;re nem látható kockázatokért
    sem. Ha bármilyen vita vagy kár merülne fel ilyen esetekben, azokért a Xiaomi
    semmilyen felel&#337;sséget nem vállal.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. A Xiaomi
    kifejezetten felhívja a Felhasználó figyelmét arra, hogy üzletvitele és &ouml;nálló
    d&ouml;ntéshozatala védelme érdekében a Xiaomi bármikor módosíthatja vagy
    felfüggesztheti a szolgáltatásokat a Felhasználó értesítése nélkül, és ilyen
    esetben semmilyen felel&#337;sséggel nem tartozik sem a Felhasználó, sem harmadik
    fél felé.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. A Xiaomi
    minden észszer&#369; er&#337;feszítést megtesz azért, hogy a Szoftver és minden
    kapcsolódó információ és technológia biztonságos, pontos, hatékony és
    megbízható legyen, ugyanakkor a Felhasználó k&ouml;teles elfogadni, hogy a
    technológia jelen állása szerint a Xiaomi nem tudja ezt szavatolni, kivéve, ha
    a hatályos t&ouml;rvények és jogszabályok err&#337;l másképp nem rendelkeznek.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Kizárólag a
    Felhasználó felel&#337;s minden személyi sérülés, véletlenszer&#369; vagy
    k&ouml;vetkezményként keletkez&#337; kár miatt, ami t&ouml;bbek k&ouml;z&ouml;tt profitveszteség,
    adatvesztés, üzleti fennakadás vagy egyéb üzleti kár, amely a k&ouml;vetkez&#337;k miatt
    áll el&#337;: (1) a licencelt Szoftver használata vagy használhatatlansága; (2) a
    Szoftver jogosulatlan használata vagy a Felhasználó adatainak harmadik fél
    általi módosítása; (3) a Felhasználónál a Szoftver használata során felmerült
    veszteségek vagy k&ouml;ltségek; (4) a Szoftver m&#369;k&ouml;désének Felhasználó általi
    félreértése; (5) a Szoftverrel &ouml;sszefüggésben elszenvedett egyéb veszteségek a
    Xiaomi vállalatnak nem tulajdonítható okok miatt.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. Ha bármilyen
    személyi vagy gazdasági kár vagy veszteség k&ouml;vetkezne be a Felhasználó
    cselekedetei és más felhasználók bármilyen más szoftverrel végzett m&#369;veletei
    miatt, illetve a Felhasználó megtévesztése vagy félrevezetése miatt, a vétkes
    félnek kell a teljes felel&#337;sséget vállalnia minden ilyen kárért és
    veszteségért.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>7. Nyilatkozat a szellemi
    tulajdonjogokról</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. A Szoftver
    szellemi tulajdonjoga a Xiaomi vállalaté. A Szoftverhez f&#369;z&#337;d&#337; minden szellemi
    tulajdonjog (például szerz&#337;i jog, védjegy, szabadalom, kereskedelmi titok
    stb.), valamint a Szoftverrel kapcsolatos minden információ (t&ouml;bbek k&ouml;z&ouml;tt
    sz&ouml;veg, kép, hang, videó, grafika, kezel&#337;felület, elrendezés, adatok,
    elektronikus dokumentumok stb.) a helyi t&ouml;rvények és jogszabályok, valamint a
    megfelel&#337; nemzetk&ouml;zi egyezmények védelme alatt áll. A fent felsorolt &ouml;sszes
    szellemi tulajdonjog a Xiaomi vállalaté.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. A Xiaomi
    el&#337;zetes írásos hozzájárulása nélkül a Felhasználó a fent említett szellemi
    tulajdonjogok egyikét sem használhatja fel vagy adhatja tovább &ouml;nállóan sem
    kereskedelmi, sem egyéb célból, továbbá ezt harmadik fél számára sem engedheti
    meg. A Xiaomi fenntartja a jogát arra, hogy ilyen esetben jogi úton keressen
    jogorvoslatot.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>8. Módosítások</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. A Xiaomi
    fenntartja a jogot arra, hogy id&#337;r&#337;l id&#337;re saját kizárólagos belátása szerint
    módosítsa a jelen Szerz&#337;dést. Az ilyen módosításokat id&#337;ben k&ouml;zzé fogja tenni a
    megfelel&#337; weboldalakon. Ha &Ouml;n valamelyik módosítással nem ért egyet, arra
    kérjük, hagyjon fel a szolgáltatások igénybevételével. Ha &Ouml;n tovább folytatja a
    szolgáltatások használatát, azzal elfogadja a Szerz&#337;dés módosított feltételeit.
    </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. A Xiaomi és a
    Partner fenntartja a jogot arra, hogy id&#337;r&#337;l id&#337;re saját kizárólagos belátása
    szerint módosítsa a fizet&#337;s szolgáltatásokat, a díjfizetési feltételeket és
    módokat, a szolgáltatások díjait, illetve a szolgáltatások feltételeit. A
    Xiaomi a szolgáltatásaiért bármikor elkezdhet díjat felszámítani bizonyos
    felhasználóinak. Ha a Felhasználó nem vállalja a díjfizetést, nem fogja tudni
    tovább használni az érintett szolgáltatásokat azok díjk&ouml;telessé válása után. </span></b><span
    lang=HU style='font-size:12.0pt;font-family:"Times New Roman",serif'>A Xiaomi
    és a Partner minden t&#337;le telhet&#337;t megtesz azért, hogy az ilyen módosításokról
    vagy változásokról e-mailben vagy egyéb módon értesítse a Felhasználót. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>9. Hatályos jog és vitarendezés</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. A jelen
    Szerz&#337;dés értelmezésében és alkalmazásában a Kínai Népk&ouml;ztársaság kontinentális
    területeinek jogszabályai az irányadók. Vonatkozó jogszabály hiányában a
    (nemzetk&ouml;zi) üzleti gyakorlat az irányadó.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Ezt a
    megállapodást Peking városában, Haidian kerületben írták alá.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. A Felhasználó
    és a Xiaomi egyaránt elfogadja, hogy a k&ouml;ztük a szolgáltatásokkal kapcsolatban
    felmerül&#337; bármilyen vitát els&#337;ként a felek k&ouml;z&ouml;tti egyeztetéssel próbálnak meg
    rendezni. Ha az egyeztetések megegyezés nélkül zárulnának, bármelyik fél
    keresetet indíthat a Szerz&#337;dés aláírásának nevezett helyszíne szerint illetékes
    bíróságnál.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=HU style='font-family:
    "Times New Roman",serif;'>10. Vegyes rendelkezések</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. A Szoftver
    kül&ouml;nb&ouml;z&#337; szolgáltatásainak mindegyikére vonatkozhatnak kül&ouml;n Szerz&#337;dések és
    kacsolódó üzleti szabályok (együtt a továbbiakban &#8222;Kül&ouml;n Szerz&#337;dés”), ezért
    minden szolgáltatás használata el&#337;tt ellen&#337;rizze az arra vonatkozó Kül&ouml;n
    Szerz&#337;dés meglétét, majd olvassa el és fogadja el azt.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. A jelen
    Szerz&#337;dés 2023. december 1-én lép hatályba.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. A
    Szerz&#337;désben alkalmazott szakaszcímek csak az olvashatóságot segítik, és a
    Szerz&#337;dés értelmezése tekintetében nem irányadók.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Ha a jelen
    Szerz&#337;dés bármely rendelkezése bármilyen okból érvénytelennek vagy
    végrehajthatatlannak min&#337;sülne, az &ouml;sszes t&ouml;bbi rendelkezés változatlanul
    teljes mértékben érvényben és hatályban marad, mindegyik szerz&#337;d&#337; félre nézve
    k&ouml;telez&#337; jelleggel.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=HU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
