<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Acuerdo de
    servicio y licencia de software</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Notificación
    importante]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (se
    referirá en lo sucesivo como &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    recuerda al Usuario que lea atentamente y comprenda completamente el Acuerdo de
    Licencia de Software y de Servicio (este &quot;Acuerdo&quot;). <b>El Usuario
    debe leer atentamente y entender completamente los términos de este Acuerdo, en
    particular los relacionados con la exención o limitación de la responsabilidad
    de Xiaomi, la resolución de disputas y las leyes aplicables.</b> <b>Se pondrá
    énfasis en los términos relacionados con la exención o limitación de
    responsabilidad, marcados en negrita. Lea atentamente y elija aceptar o no este
    Acuerdo (un menor de edad debe estar acompa&ntilde;ado por su tutor legal al leer este
    Acuerdo). Al descargar, instalar y usar el software, como también al obtener e
    iniciar sesión en su cuenta, usted acepta este Acuerdo y accede a quedar
    obligado(a) por él.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi se reserva
    el derecho de modificar este Acuerdo. Los términos actualizados de este Acuerdo
    se publicarán en el sitio web oficial o el software y entrarán en vigencia a
    partir de la fecha de publicación.</span></b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> El usuario(a)
    puede volver a descargar e instalar el software o ver la última versión de los
    términos de este Acuerdo en el sitio web. <b>Si no acepta los términos después
    de que Xiaomi los modifica, deje inmediatamente de utilizar el software y los
    servicios del &quot;Router Xiaomi <span class="name"></span></b>&quot; <b>proporcionados por
    Xiaomi. Si el usuario sigue utilizando el software y los servicios del
    &quot;Router Xiaomi <span class="name"></span>&quot; proporcionados por Xiaomi, se considerará que
    aceptó los términos modificados de este Convenio.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>1. Disposiciones generales</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. El presente
    es el Convenio celebrado entre usted (en adelante, el &quot;Usuario&quot;),
    Xiaomi y su socio de operaciones (en adelante, el &quot;Socio&quot;) con
    respecto a la descarga, la instalación y el uso del <b>Router Xiaomi <span class="name"></span></b>
    (en adelante, el &quot;Software&quot;) de Xiaomi por parte del Usuario, así
    como al uso de los servicios correspondientes de Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. El Software y
    los servicios son proporcionados por Xiaomi para su instalación en (incluyendo,
    pero no restringido a) dispositivos móviles de terminales inteligentes, para
    proporcionar servicios Xiaomi para el Usuario que utiliza dicho terminal
    inteligente.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. La propiedad
    y el derecho de explotación del Software y los servicios se confieren a Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>2. Alcance de las licencias de
    Software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi otorga
    al Usuario una licencia personal, intransferible y no exclusiva para utilizar
    el Software sin derecho a conceder una sublicencia.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. El Usuario
    puede instalar, utilizar, mostrar y ejecutar el Software para fines no
    comerciales en un solo dispositivo terminal móvil. Sin embargo, el Usuario(a)
    no tiene permitido instalar, utilizar o ejecutar el Software con fines de
    operación comercial. El Usuario no copiará, alterará o modificará ningún dato
    del Software, tampoco datos liberados en la memoria de algún dispositivo
    terminal durante la ejecución del Software, ni los datos interactivos generados
    entre el/la cliente y el servidor durante la ejecución del Software, ni
    ejecutará el Software con plug-ins, ni creará trabajo derivado de forma alguna,
    incluidos entre otros plug-ins, acceso al Software y a sistemas relacionados a
    través de herramientas o servicios de terceros no autorizados. Si necesita
    vender, copiar o distribuir el Software de manera comercial, por ejemplo: la
    preinstalación y armado de paquetes, deberá obtener la autorización por escrito
    y la licencia de Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Sin la
    autorización de Xiaomi, el Usuario no deberá instalar el Software en otros
    dispositivos terminales que no estén expresamente autorizados por Xiaomi,
    incluidos sin carácter limitativo decodificadores, consolas de videojuegos,
    televisores, reproductores de DVD, entre otros. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. El Usuario
    puede hacer una copia del Software con el propósito de utilizar el Software y
    los servicios, pero solo para usarlo como una copia de seguridad. La copia de
    seguridad debe contener toda la información de derechos de autor incluida en el
    software original.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. A excepción de
    lo expresamente autorizado por este Acuerdo, Xiaomi no otorga otros derechos al
    Usuario. Si el Usuario pretende hacer uso de cualquier otro derecho, deberá
    obtener previamente el consentimiento por escrito de Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>3. Adquisición, instalación y actualización
    del Software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. El Usuario
    deberá descargar e instalar el Software desde el sitio web o de la manera
    designada por Xiaomi. No descargue el Software en sitios web no especificados
    para evitar que los dispositivos móviles se infecten de programas maliciosos
    que pueden destruir los datos del Usuario y obtener información sobre la
    privacidad del Usuario. Si adquiere el Software o el programa de instalación
    con el mismo nombre que el Software de un tercero que no haya sido autorizado
    por Xiaomi, Xiaomi no puede garantizar que se utilizará con normalidad y Xiaomi
    no acepta ninguna responsabilidad por cualquier pérdida que le ocasione por
    este motivo.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. El Usuario
    debe seleccionar la versión del software que coincida con el dispositivo
    terminal instalado. De lo contrario, cualquier problema del Software, del
    dispositivo o da&ntilde;os causados por la falta de coincidencia entre la versión del
    software y el modelo del dispositivo serán asumidos exclusivamente por el
    Usuario.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Con el fin de
    mejorar la experiencia del Usuario y optimizar el contenido del servicio,
    Xiaomi se reserva el derecho de proporcionar una versión sustituida, modificada
    y actualizada del Software, y también se reserva el derecho de cobrar por dicha
    sustitución, modificación o actualización, pero obtendrá su consentimiento por
    adelantado para dichos cargos. El Software habilitará la característica de
    &quot;solicitud de actualización&quot; de forma predeterminada para el Usuario.
    En función de la versión del Software usada por el Usuario, Xiaomi brindará la
    discreción para habilitar o no dicha característica. Después del lanzamiento de
    la nueva versión del Software, Xiaomi no garantiza que las versiones anteriores
    del Software seguirán siendo utilizables.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>4. Especificaciones de uso</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. El Usuario
    puede utilizar el Software y los servicios en conformidad con este Acuerdo y
    las leyes. El Usuario no deberá realizar los siguientes actos:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Eliminar
    cualquier información de copyright del Software y otras copias, o modificar,
    eliminar o ignorar las medidas técnicas establecidas por el Software para la
    protección de los derechos de propiedad intelectual; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Realizar
    ingeniería inversa del Software, como desmontaje, descompilación u otros
    intentos para obtener el código fuente del Software;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Agregar,
    eliminar o cambiar funciones o efectos de ejecución del Software mediante la
    modificación o falsificación de las instrucciones y los datos durante la
    ejecución del Software, o, por el contrario, operar o difundir al público el
    Software o los métodos utilizados para los fines descritos anteriormente, ya
    sea para fines comerciales o no comerciales;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Utilizar el
    Software para cometer actos perjudiciales para la seguridad de la red, incluso,
    entre otros, los siguientes: el uso de datos no autorizados o el acceso a
    servidores/cuentas no autorizados; acceso no autorizado a redes públicas o al
    sistema operativo de otros y eliminar, modificar o agregar cualquier
    información almacenada; intentos no autorizados de detectar, escanear o probar
    las debilidades del sistema o la red del Software o hacer otras cosas que
    destruyan la seguridad de la red; intentar interferir con o destruir el
    funcionamiento normal del sistema o sitio web del Software, propagar
    deliberadamente programas o virus maliciosos, o llevar a cabo otros actos que
    destruyan o interfieran con los servicios de información de la red normal;
    falsificar el nombre o nombres parciales del paquete de datos TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. El Usuario
    inicie sesión o utilice el Software y los servicios mediante software o
    sistemas compatibles de terceros no desarrollados, autorizados o aprobados por
    Xiaomi, o que fabrique, publique o difunda las herramientas anteriores;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Sin el
    consentimiento escrito de Xiaomi, el Usuario no puede realizar ningún tipo de
    manipulación al Software o la información contenida en el mismo, incluido sin
    carácter limitativo usar, arrendar, prestar, copiar, modificar, establecer un
    enlace, reproducir, compilar, liberar, publicar, establecer un sitio web de
    imagen espejo, o hacer uso no autorizado del Software para desarrollar
    productos derivados relacionados, trabajos, servicios, complementos,
    compatibilidad o interconexión;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Utilizar el
    Software para publicar, transmitir, difundir o almacenar cualquier contenido
    que viole las leyes y regulaciones locales; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Utilizar el
    Software para publicar, transmitir, difundir o almacenar cualquier contenido
    que infrinja los derechos legítimos, tales como los derechos de propiedad
    intelectual y los secretos comerciales de terceros; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Utilizar el
    Software para publicar, transmitir o difundir información publicitaria o correo
    basura masivo; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Utilizar
    el Software y otros servicios brindados por Xiaomi, de cualquier manera ilegal,
    para cualquier propósito ilegal o de cualquier manera inconsistente con el uso
    autorizado bajo este Acuerdo;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=es-419 style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Especificaciones de publicación de información</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Puede utilizar el Software para publicar información como vistas, datos,
    textos, información, nombres de usuarios, imágenes, fotografías, información
    personal, archivos de audio o video, enlaces, etc. que sean creados por usted o
    que tenga derecho a publicar. Debe garantizar que tiene los derechos de
    propiedad intelectual o debe haber obtenido la autorización legal de la información
    que cargue, y que su uso del Software y los servicios no infringe ningún
    derecho o interés legítimo de terceros.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Al utilizar el Software, debe cumplir con las leyes y regulaciones locales.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    No debe utilizar el Software para cometer las siguientes acciones, incluso,
    entre otras</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Producir, reproducir, publicar, difundir o almacenar cualquiera de los
    siguientes contenidos que violan las leyes y regulaciones locales;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Publicar, transmitir, difundir o almacenar cualquier contenido que infrinja los
    derechos legítimos, como el derecho de reputación, el derecho de imagen, los
    derechos de propiedad intelectual y los secretos comerciales de terceros;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Inventar un hecho u ocultar la verdad para enga&ntilde;ar a otros;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Publicar, transmitir o difundir información publicitaria o correo basura;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Participar en otros actos que violen las leyes y regulaciones locales, entre
    otros.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Sin la
    autorización de Xiaomi, usted no llevará a cabo ninguna conducta comercial en el
    Software, como la publicidad o la venta de mercancías.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Usted
    comprende y acepta que:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi
    determinará si se sospecha que el Usuario ha violado las especificaciones de
    uso antes mencionadas y, en función del resultado de tal determinación, podrá
    suspender o interrumpir la licencia de uso que se le ha concedido o tomar otras
    medidas restrictivas de conformidad con el presente Acuerdo;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    eliminará directamente toda información publicada por el Usuario durante el uso
    del Software licenciado que se sospeche sea ilegal o de infringir los derechos
    legítimos de terceros o de violar este Acuerdo;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. En caso de
    que usted violara las especificaciones de uso antes mencionadas y por ello
    causara da&ntilde;os a terceros, deberá asumir la responsabilidad en su propio nombre
    de manera independiente y eximir a Xiaomi de toda responsabilidad por cualquier
    pérdida o gasto que se derive de ello;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. El Usuario
    indemnizará y mantendrá a Xiaomi libre de toda responsabilidad por pérdidas,
    reclamos de terceros, sanciones administrativas, da&ntilde;os y/o gastos, incluidos
    los honorarios razonables de abogados, gastos de investigación y recopilación
    de pruebas, en los que haya incurrido Xiaomi o que haya padecido como resultado
    de la violación de las leyes pertinentes o del incumplimiento de este Acuerdo
    por parte del Usuario.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>5. Política de privacidad y
    Protección de datos personales</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Es importante
    para Xiaomi proteger sus datos personales. Con el fin de brindar las
    características del Software y mejorar la experiencia del Usuario, Xiaomi
    recopilará ciertos tipos de datos como se menciona en nuestra Política de
    privacidad. Nosotros recopilamos, usamos y protegemos sus datos de acuerdo con
    nuestra Política de privacidad. La Política de Privacidad está disponible en el
    siguiente sitio web [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>6. Riesgo de servicio y descargo de
    responsabilidad</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. El Usuario
    debe adquirir el dispositivo requerido para el acceso a internet y el uso de
    servicios de valor agregado de telecomunicaciones por el dispositivo terminal
    móvil, y debe pagar las tarifas de comunicación, de información y los costos
    relacionados con el acceso a internet de un terminal personal móvil o cobrado
    por terceros (incluidos, entre otros, los proveedores de telecomunicaciones y
    comunicaciones móviles). Si se requieren servicios de valor agregado de
    telecomunicaciones, se recomienda confirmar los costos con su proveedor de
    servicios de valor agregado de telecomunicaciones.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Ni Xiaomi ni
    su socio son responsables de las pérdidas sufridas por el Usuario por motivos
    imputables a terceros, tales como fallos en las líneas de comunicación,
    problemas técnicos, fallos en la red o en los terminales móviles, inestabilidad
    del sistema y otros factores de fuerza mayor.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. El Software,
    como la mayoría de los otros software de internet, se puede ver afectado por
    factores que incluyen, entre otros, los causados por el usuario, la calidad del
    servicio de red, las diferencias en el entorno social, etc., y también se puede
    ver afectado por el asedio cibernético relacionado con problemas de seguridad,
    tales como el uso de los datos del Usuario por parte de terceros, lo que
    resulta en acoso en la vida real; otro software descargado e instalado por el
    Usuario; otros sitios web que visite el Usuario que pudieran contener el virus
    &quot;troyano&quot; y otros virus, que amenazan la seguridad de la información
    y los datos del dispositivo terminal del Usuario, y luego afectan el uso normal
    del Software. El Usuario debe tener amplios conocimientos sobre la seguridad de
    su información y la protección de sus datos, y prestar especial atención a la
    protección de su contrase&ntilde;a, para evitar pérdidas y acosos.</span></b><span
    lang=es-419 style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Cuando el
    Usuario usa el Software o solicita que Xiaomi le brinde servicios específicos,
    el Software puede llamar a un sistema o a un software de terceros para
    facilitar el uso o acceso del Usuario. Los resultados del uso o acceso serán
    proporcionados por el tercero. Xiaomi no garantiza la seguridad, exactitud y
    eficacia de los resultados obtenidos gracias al funcionamiento de dicho sistema
    o software, ni asume Xiaomi ningún otro riesgo incierto; en caso de que se
    produzca algún conflicto o da&ntilde;o, Xiaomi no asumirá ninguna responsabilidad.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi indica
    específicamente al Usuario que, para proteger el desarrollo comercial y la
    autonomía de ajuste de la empresa, Xiaomi tiene el derecho de modificar o
    suspender los servicios al Usuario en cualquier momento y sin previo aviso, y
    sin ninguna responsabilidad con el Usuario o cualquier tercero.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Con excepción
    de lo expresamente dispuesto en las leyes y reglamentos, haremos todo lo que
    esté a nuestro alcance para garantizar que el Software y la tecnología y la
    información que se utilizan son seguros, eficaces, precisos y fiables; no
    obstante, y de acuerdo con la tecnología existente, el Usuario entiende que
    Xiaomi no puede garantizarlo.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. El Usuario
    será el único responsable de los da&ntilde;os personales o de los da&ntilde;os incidentales o
    consecuentes, incluidos, entre otros, el lucro cesante, la pérdida de datos, la
    interrupción de las actividades comerciales, u otros da&ntilde;os comerciales que
    deriven o estén relacionados con: (1) el uso o no uso del Software con
    licencia; (2) el uso no autorizado del Software o la modificación de los datos
    del Usuario por parte de un tercero; (3) los costes y las pérdidas sufridas por
    el Usuario durante el uso del Software; (4) la incorrecta interpretación del
    Software por parte del Usuario; (5) y otras pérdidas en relación con el
    Software por razones que no son atribuibles a Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. En caso de
    que se produzca algún da&ntilde;o o pérdida personal o económica causada por la
    conducta del Usuario y otros usuarios del Software a través de cualquier
    software, o debido a que el Usuario fue enga&ntilde;ado o mal informado, la parte
    culpable asumirá toda la responsabilidad resultante del mismo.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>7. Declaración sobre los derechos de
    propiedad intelectual</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi es el
    titular de los derechos de propiedad intelectual del Software. Todos los
    derechos de propiedad intelectual, tales como derechos de autor, marcas
    registradas, patentes, secretos comerciales, etc. relacionados con el Software,
    y toda la información relacionada con el Software (incluso, entre otros,
    textos, imágenes, audio, video, gráficos, dise&ntilde;o de interfaz, dise&ntilde;o, datos o
    documentos electrónicos, etc.) están protegidos por las leyes y regulaciones
    locales y los tratados internacionales correspondientes. Xiaomi ejerce los
    derechos de propiedad intelectual antes mencionados.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Sin el
    consentimiento previo por escrito de Xiaomi, el Usuario(a) no podrá utilizar ni
    transferir de forma independiente ninguno de los derechos de propiedad
    intelectual antes mencionados para fines comerciales o no comerciales, ni
    permitir a terceros que lo hagan. Xiaomi se reserva el derecho de exigir la
    responsabilidad legal por tales actos.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>8. Modificación</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi se
    reserva el derecho de enmendar de vez en cuando los términos de este Acuerdo a
    su sola discreción, y cualquier término enmendado será publicado oportunamente
    en las páginas web correspondientes. Si no está de acuerdo con alguna
    modificación, deberá cancelar los servicios. Si continúa usando los servicios,
    se considerará que acepta el Acuerdo modificado. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi o el
    Socio(a) se reservan el derecho de modificar o cambiar de vez en cuando y a su
    sola discreción, los servicios de pago prestados, los criterios de cobro, el
    modo de cobro, los cargos por servicio o las condiciones de servicio. Al
    brindar los servicios, es posible que Xiaomi comience a cobrar a algunos
    usuarios(as) ciertas tarifas ahora o en el futuro. Si el Usuario se niega a
    pagar dichas tarifas, no podrá seguir utilizando los servicios pertinentes una
    vez que se inicie el cobro. </span></b><span lang=es-419 style='font-size:12.0pt;
    font-family:"Times New Roman",serif'>Xiaomi y el Socio harán todo lo que esté a
    su alcance para notificar al Usuario de cualquier enmienda o cambio por correo
    electrónico o de otro modo. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>9. Ley aplicable y resolución de
    disputas</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. La validez e
    interpretación del presente Acuerdo se regirá por las leyes del territorio de
    la República Popular China. A falta de disposiciones legales relevantes, se puede
    hacer referencia a prácticas comerciales internacionales y/o prácticas
    comerciales.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Este Acuerdo
    se firma en el distrito de Haidian, Beijing.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Ambos, el
    Usuario y Xiaomi están de acuerdo en que cualquier discrepancia que surja en
    relación con los servicios se dirimirá en primer lugar mediante consultas entre
    las Partes. Si no se puede llegar a un acuerdo mediante dichas consultas,
    cualquier Parte puede someter la controversia al tribunal de jurisdicción
    competente del lugar donde se firma este Acuerdo.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=es-419 style='font-family:
    "Times New Roman",serif;'>10. Varios</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Para
    cualquier servicio específico del Software, puede existir un Acuerdo por
    separado y sus reglas comerciales relacionadas (en adelante, el &quot;Acuerdo
    por separado&quot;); por lo tanto, lea y acepte el Acuerdo por separado pertinente
    antes de utilizar dicho servicio específico.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. El presente
    Acuerdo entrará en vigencia el 1 de diciembre del 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Los
    encabezados de todos los términos de este Acuerdo son solo para facilitar la
    lectura y se ignorarán al interpretar este Acuerdo.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Si alguna
    disposición de este Acuerdo es o se vuelve inválida o inaplicable por cualquier
    motivo, las disposiciones restantes del presente permanecerán en pleno vigor y
    efecto y serán vinculantes para ambas Partes.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=es-419
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
