<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Softwarelicentie
    en serviceovereenkomst</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Belangrijke
    kennisgeving]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc.
    (hierna aangeduid als &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    wijst de gebruiker er hierbij op dat de Softwarelicentie en Serviceovereenkomst
    (deze &quot;Overeenkomst&quot;) aandachtig gelezen en volledig begrepen dienen
    te worden. <b>De gebruiker dient de voorwaarden van deze Overeenkomst
    aandachtig te lezen en volledig te begrijpen, met name de voorwaarden met
    betrekking tot de vrijstelling of beperking van de aansprakelijkheid van
    Xiaomi, geschillenbeslechting en toepasselijke wetgeving.</b> <b>Uw aandacht
    wordt gevestigd op de voorwaarden met betrekking tot de vrijstelling of beperking
    van aansprakelijkheid, die vet gedrukt zijn. Lees deze overeenkomst aandachtig
    en besluit deze al dan niet te aanvaarden (een minderjarige moet bij het lezen
    van deze Overeenkomst worden begeleid door zijn/haar wettelijk voogd). Door de
    software te downloaden, te installeren of te gebruiken, als ook uw account te
    verkrijgen of erop in te loggen, stemt u ermee in deze Overeenkomst te
    aanvaarden en volledig aan de voorwaarden ervan te zijn gebonden.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi behoudt
    zich het recht voor om deze Overeenkomst te wijzigen. De bijgewerkte
    voorwaarden van deze Overeenkomst worden op de offici&euml;le website of in de
    software gepubliceerd en zijn vanaf de publicatiedatum van kracht.</span></b><span
    lang=NL style='font-size:12.0pt;font-family:"Times New Roman",serif'> De
    Gebruiker kan de software opnieuw downloaden en installeren of de meest recente
    versie van de voorwaarden van deze Overeenkomst op de website bekijken. <b>Nadat
    Xiaomi de voorwaarden van deze Overeenkomst heeft bijgewerkt en indien u de
    bijgewerkte voorwaarden niet aanvaardt, staak dan onmiddellijk het gebruik van
    de door Xiaomi geleverde software en diensten voor de &quot;Xiaomi Router
    <span class="name"></span></b>&quot;<b>; het voortgezet gebruik door de gebruiker van de door
    Xiaomi geleverde software en diensten voor de &quot;Xiaomi Router <span class="name"></span>&quot;
    wordt beschouwd als aanvaarding van de bijgewerkte voorwaarden van deze Overeenkomst.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>1. Algemene bepalingen</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Deze
    Overeenkomst is de overeenkomst tussen u (hierna de &quot;Gebruiker&quot;) en
    Xiaomi en haar bedrijfspartner (hierna de &quot;Partner&quot;) over het
    downloaden, installeren en gebruiken van de Xiaomi-software voor de &quot;<b>Xiaomi
    Router <span class="name"></span></b>&quot; (hierna de &quot;Software&quot;) en het gebruiken van
    de relevante diensten van Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. De Software
    en diensten worden door Xiaomi verstrekt voor installatie op (met inbegrip van
    maar niet beperkt tot) mobiele smarteindapparaten, om Xiaomi-diensten te
    verlenen aan de Gebruiker die gebruikmaakt van het genoemde smarteindapparaat.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Het eigendom
    en exploitatierecht van de Software en diensten berusten bij Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>2. Reikwijdte van de Softwarelicentie</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi
    verleent de Gebruiker een persoonlijke, niet-overdraagbare en niet-exclusieve
    licentie voor het gebruik van de Software zonder het recht tot sublicenti&euml;ren.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. De Gebruiker
    mag de Software installeren, gebruiken, weergeven en uitvoeren op een enkel
    mobiel eindapparaat voor niet-commerci&euml;le doeleinden. De Gebruiker kan de
    Software echter niet installeren, gebruiken of uitvoeren voor commerci&euml;le
    exploitatie doeleinden. De Gebruiker mag geen enkele gegevens van de Software,
    of enige gegevens opgeslagen in het geheugen van enig eindapparaat tijdens het
    uitvoeren van de software en de interactieve gegevens gegenereerd tussen de
    cli&euml;nt en de server tijdens het uitvoeren van de Software, kopi&euml;ren, wijzigen
    of aan passen, noch de Software uit te voeren met plug-ins, of enig afgeleid
    werk in enige vorm te cre&euml;ren, waaronder, maar niet beperkt tot plug-ins,
    toegang tot de Software en verwante systemen via onbevoegde hulpmiddelen/diensten
    van derden. Indien u de Software commercieel moet verkopen, kopi&euml;ren of
    distribueren, bijv. pre-installatie of bundeling van software, moet u de
    schriftelijke machtiging en licentie van Xiaomi verkrijgen. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Zonder de
    toestemming van Xiaomi mag de Gebruiker de Software niet installeren op andere
    eindproducten dan die welke uitdrukkelijk door Xiaomi zijn toegestaan,
    waaronder, maar niet uitsluitend, settopboxen, gameconsoles, televisies,
    dvd-spelers enz. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. De Gebruiker
    mag een kopie van de Software maken met als doel de Software en diensten te
    gebruiken, maar deze kopie mag alleen als back-up worden gebruikt. De
    back-upkopie dient alle auteursrechtengegevens te bevatten die in de originele
    software zijn opgenomen.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Tenzij uitdrukkelijk
    anders is vermeld in deze Overeenkomst, verleent Xiaomi geen andere rechten aan
    de Gebruiker. Indien de Gebruiker voornemens is enig ander recht te gebruiken,
    moet hiervoor voorafgaand de schriftelijke toestemming van Xiaomi worden
    verkregen. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>3. Aanschaf, installatie en upgraden
    van software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. De Gebruiker
    downloadt en installeert de Software van de website of op de door Xiaomi
    aangewezen wijze. Let erop dat de Software niet van ongespecificeerde websites
    wordt gedownload, zodat mobiele apparaten niet worden besmet door kwaadaardige
    programma's die gebruikersgegevens kunnen vernietigen en privégegevens van de
    Gebruiker kunnen verkrijgen. Indien u de Software of het installatieprogramma
    met dezelfde naam als de Software aanschaft bij een derde die niet door Xiaomi
    is gemachtigd, kan Xiaomi het normale gebruik van de Software niet garanderen
    en Xiaomi aanvaardt geen aansprakelijkheid voor enig verlies dat u hierbij
    lijdt.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. De Gebruiker
    dient de Softwareversie te selecteren die overeenkomt met het ge&iuml;nstalleerde
    eindapparaat. Anders neemt enkel de Gebruiker eventuele softwareproblemen,
    apparaatproblemen of schade voortkomend uit de verkeerde combinatie van de
    softwareversie en het apparaatmodel op zich.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Voor het
    verbeteren van de Gebruikerservaring en het optimaliseren van de
    dienstverlening behoudt Xiaomi zich het recht voor een vervangende, gewijzigde
    en geüpgradede versie van de Software te leveren en behoudt zij zich ook het
    recht voor kosten in rekening te brengen voor een dergelijke vervanging,
    wijziging of upgrade, maar Xiaomi zal van tevoren uw toestemming vragen om
    dergelijke kosten in rekening te brengen. De Software schakelt standaard de
    functie 'prompt upgraden' in voor de Gebruiker. Afhankelijk van de door de
    Gebruiker gebruikte Softwareversie biedt Xiaomi de Gebruiker de keuzevrijheid
    om de genoemde functie al dan niet in te schakelen. Nadat er een nieuwe versie
    van de Software is uitgegeven, garandeert Xiaomi niet dat oudere versies van de
    Software bruikbaar blijven.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>4. Gebruiksspecificaties</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. De Gebruiker
    kan de Software en diensten gebruiken overeenkomstig deze Overeenkomst en de
    wet. De Gebruiker mag de volgende handelingen niet verrichten:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Het
    verwijderen van enige auteursrechtelijke gegevens op de Software en andere
    kopie&euml;n of het aanpassen, verwijderen of omzeilen van de door de Software
    ingestelde technische maatregelen ter bescherming van intellectuele
    eigendomsrechten; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Het
    uitvoeren van reverse engineering van de Software, zoals demontage, decompilatie
    of andere pogingen tot het verkrijgen van de broncode van de Software;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Het
    toevoegen, verwijderen of veranderen van de functies of uitgevoerde effecten
    van de Software door de instructies en gegevens tijdens het uitvoeren van de
    Software te wijzigen of te vervalsen, of het anderszins uitvoeren of in het
    openbaar verspreiden van de Software of van methoden gebruikt voor de hierboven
    beschreven doeleinden, al dan niet voor commerci&euml;le doeleinden;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. De Software
    gebruiken om handelingen te verrichten die schadelijk zijn voor de
    netwerkveiligheid, met inbegrip van, maar niet beperkt tot: het gebruik van
    onbevoegde gegevens of toegang tot onbevoegde servers/accounts; onbevoegde
    toegang tot openbare netwerken of het besturingssysteem van anderen en het
    verwijderen, wijzigen of toevoegen van opgeslagen informatie; onbevoegde
    pogingen om het softwaresysteem of netwerkzwakheden op te sporen, te scannen of
    te testen of andere handelingen te verrichten die destructief zijn voor de
    netwerkbeveiliging; pogingen ondernemen om de normale werking van het
    softwaresysteem of de website te verstoren of te vernietigen; opzettelijk
    kwaadaardige programma's of virussen verspreiden of andere handelingen
    verrichten die destructief zijn voor de normale netwerkinformatiediensten of
    deze verstoren; de naam of gedeeltelijke namen van TCP-/IP-datapakketten
    vervalsen;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Het
    inloggen bij of gebruiken van de Software en diensten via compatibele software
    of systemen van een derde die niet door Xiaomi zijn ontwikkeld, gemachtigd of
    goedgekeurd, of het maken, publiceren of verspreiden van de bovengenoemde
    tools;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Zonder de
    schriftelijke toestemming van Xiaomi iets met de Software of de daarin besloten
    informatie doen, met inbegrip van, maar niet beperkt tot, het gebruiken,
    leasen, uitlenen, kopi&euml;ren, aanpassen, een koppeling maken, reproduceren,
    compileren, uitgeven, publiceren, een mirrorwebsite opzetten of onbevoegd
    gebruik van de Software voor het ontwikkelen van verwante afgeleide producten,
    werken, diensten, plug-ins, compatibiliteit of interconnectie;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. De Software
    gebruiken om inhoud te publiceren, overdragen, verspreiden of op te slaan die
    in strijd is met de lokale wet- en regelgeving; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. De Software
    gebruiken om inhoud te publiceren, overdragen, verspreiden of op te slaan die
    inbreuk maakt op de legitieme rechten van anderen, zoals intellectuele
    eigendomsrechten en handelsgeheimen; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. De Software
    gebruiken voor het publiceren, overdragen of verspreiden van reclame of
    massaspam; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Het
    gebruiken van de Software en andere diensten die door Xiaomi worden geleverd op
    een onwettige manier, voor onwettige doeleinden of op een manier die in strijd
    is met het gebruik onder licentie onder deze Overeenkomst;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=NL style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Specificaties informatiepublicatie</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    U mag de Software gebruiken om informatie te publiceren, zoals weergaven,
    gegevens, tekst, informatie, gebruikersnamen, afbeeldingen, foto's,
    persoonsgegevens, audio- of videobestanden, links, enz., die door u zijn
    gemaakt of die u gerechtigd bent te publiceren. U moet garanderen dat u over de
    intellectuele eigendomsrechten beschikt of de wettelijke toestemming hebt
    verkregen voor de door u geüploade informatie, en dat uw gebruik van de
    Software en diensten geen inbreuk maakt op de legitieme rechten of belangen van
    derden.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Tijdens het gebruik van de Software ben u verplicht zich te houden aan de
    lokale wet- en regelgeving.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    U mag de Software niet gebruiken voor het verrichten van de volgende
    handelingen, met inbegrip van, maar niet beperkt tot</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Het produceren, reproduceren, publiceren, verspreiden of opslaan van enige
    hierop volgende inhoud die in strijd is met lokale wet- en regelgeving;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Het publiceren, verzenden, verspreiden of opslaan van inhoud die inbreuk maakt
    op legitieme rechten van anderen, zoals het reputatierecht, portretrecht,
    intellectuele eigendomsrechten en handelsgeheimen;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Het verzinnen van een feit of het verhullen van de waarheid om anderen te
    misleiden of bedriegen;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Het publiceren, overdragen of verspreiden van reclame-informatie of spam;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Het verrichten van handelingen die in strijd zijn met de lokale wet- en
    regelgeving, enz.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Zonder de
    toestemming van Xiaomi mag u geen commerci&euml;le handelingen uitvoeren met de
    Software, zoals het maken van reclame, het verkopen van handelswaar.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. U begrijpt en
    gaat ermee akkoord dat:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi
    bepaalt of de Gebruiker wordt verdacht van het schenden van de hierboven
    vermelde gebruiksspecificaties en, op basis van het resultaat van een
    dergelijke vaststelling, de aan u verleende gebruikslicentie opschort of
    be&euml;indigt of andere beperkende maatregelen neemt die overeenkomstig deze
    Overeenkomst kunnen worden genomen;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    onverwijld alle informatie die door de Gebruiker is gepubliceerd tijdens het
    gebruik van de gelicentieerde Software zal verwijderen waarvan wordt vermoed
    dat deze onwettig is of de legitieme rechten van anderen of deze Overeenkomst
    schendt;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Indien u de
    hierboven vermelde gebruiksspecificaties schendt en hierdoor schade aan derden
    toebrengt, u de aansprakelijkheid zelfstandig en in uw eigen naam op u dient te
    nemen en Xiaomi vrijwaart van en tegen enig hieruit voortkomende verliezen of
    hieruit voortkomende kosten;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. De Gebruiker
    Xiaomi schadeloos stelt en vrijwaart van en tegen alle verliezen, aanspraken
    van derden, administratieve sancties, schade en/of uitgaven, waaronder
    redelijke advocaatkosten, onderzoeks- en bewijsverzamelingskosten die door
    Xiaomi zijn gemaakt of geleden, voortkomend uit de schending van de
    toepasselijke wetgeving of de inbreuk op deze Overeenkomst door de Gebruiker.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>5. Privacybeleid en bescherming van
    persoonlijke gegevens</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Het
    beschermen van uw persoonsgegevens is belangrijk voor Xiaomi. Voor het leveren
    van de Softwarefuncties en het verbeteren van de gebruikerservaring verzamelt
    Xiaomi bepaalde categorie&euml;n van gegevens zoals beschreven in ons Privacybeleid.
    Wij verzamelen, gebruiken en beschermen uw gegevens overeenkomstig ons
    Privacybeleid. Het Privacybeleid is beschikbaar op de volgende website
    [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>6. Servicerisico en vrijwaring</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. De Gebruiker
    moet de apparatuur aanschaffen die benodigd is voor internettoegang en het
    gebruik van telecomdiensten met toegevoegde waarde voor het mobiele eindapparaat,
    en de kosten dragen voor de communicatie, informatie en andere kosten die
    voortvloeien uit de internettoegang van het persoonlijke mobiele eindapparaat
    of die in rekening worden gebracht door derden (met inbegrip van, maar niet
    beperkt tot aanbieders van telecommunicatie en mobiele communicatie). Indien
    enige telecomdiensten met toegevoegde waarde nodig zijn, wordt u aangeraden
    navraag te doen naar de kosten bij uw provider van telecomdiensten met
    toegevoegde waarde.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Noch Xiaomi,
    noch haar Partner is aansprakelijk voor enig verlies geleden door de Gebruiker
    om redenen die te wijten zijn aan derden, zoals storing van de
    communicatielijn, een technisch probleem, storing van het netwerk of van het
    mobiel eindapparaat, systeeminstabiliteit en verscheidene andere
    overmachtsfactoren.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. De Software
    kan, net als de meeste andere internetsoftware, worden be&iuml;nvloed door factoren,
    met inbegrip van, maar niet beperkt tot, gebruikersredenen,
    netwerkservicekwaliteit, verschillen in de sociale omgeving, enz. Ook kan de
    Software worden blootgesteld aan intimidatie in verband met diverse
    veiligheidsproblemen, zoals het gebruik van gebruikersgegevens door anderen,
    wat leidt tot intimidatie in het werkelijke leven; andere software die door de
    Gebruiker wordt gedownload en ge&iuml;nstalleerd, of andere websites die door de
    Gebruiker worden bezocht, bevatten &quot;Trojaanse paarden&quot; en andere
    virussen, die een bedreiging vormen voor de veiligheid van de informatie en
    gegevens van het eindapparaat van de Gebruiker, en die vervolgens het normale
    gebruik van de Software aantasten. De Gebruiker verhoogt het bewustzijn over
    informatiebeveiliging en gebruikersgegevensbescherming en schenkt aandacht aan
    het verbeteren van wachtwoordbescherming om verlies of intimidatie te voorkomen.</span></b><span
    lang=NL style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Wanneer de
    Gebruiker de Software gebruikt of Xiaomi verzoekt om specifieke diensten te
    leveren, kan de Software een beroep doen op het systeem of de software van een
    derde ter ondersteuning van het gebruik of de toegang van de Gebruiker. De resultaten
    van het gebruik of de toegang worden door de derde geleverd. Xiaomi garandeert
    niet de veiligheid, nauwkeurigheid of doelmatigheid van de bereikte resultaten
    via de ondersteuning van het genoemde systeem of de genoemde software; evenmin
    is Xiaomi aansprakelijk voor enig ander onzeker risico. Indien hierdoor enig
    geschil of enige schade wordt veroorzaakt, aanvaardt Xiaomi geen enkele
    aansprakelijkheid.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi wijst
    de Gebruiker er specifiek op dat, om de bedrijfsontwikkeling en het aanpassingsvermogen
    van de onderneming te beschermen, Xiaomi gerechtigd is de diensten op ieder
    moment zonder kennisgeving aan de Gebruiker aan te passen of op te schorten en
    zonder enige aansprakelijkheid jegens de Gebruiker of enige derde.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Behoudens
    nadrukkelijke bepalingen in wet- en regelgeving doen wij al het mogelijke om
    ervoor te zorgen dat de Software en de betrokken technologie en informatie
    veilig, doelmatig, nauwkeurig en betrouwbaar zijn; de Gebruiker begrijpt echter
    dat Xiaomi dit niet kan garanderen vanwege de bestaande technologie.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. De gebruiker
    is als enige aansprakelijk voor persoonlijk letsel of incidentele schade of
    gevolgschade, met inbegrip van, maar niet beperkt tot winstderving, verlies van
    gegevens, bedrijfsonderbreking of andere commerci&euml;le schade die voortvloeit uit
    of verband houdt met: (1) het gebruik van de gelicentieerde Software of het
    onvermogen deze te gebruiken; (2) onbevoegd gebruik van de Software of
    aanpassing van de gegevens van de Gebruiker door derden; (3) kosten en
    verliezen gemaakt door de Gebruiker tijdens het gebruik van de Software; (4)
    het verkeerd begrijpen van de Software door de Gebruiker; (5) andere verliezen
    in verband met de Software om redenen die niet aan Xiaomi zijn te wijten.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. In het geval
    van persoonlijke of economische schade of verliezen die zijn of kunnen zijn
    veroorzaakt door het gedrag van de Gebruiker en andere softwaregebruikers via
    enige software, of doordat de Gebruiker is misleid of bedrogen, zal de
    schuldige partij alle daaruit voortvloeiende aansprakelijkheden op zich nemen.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>7. Verklaring omtrent intellectueel
    eigendomsrechten</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi is de
    houder van het intellectuele eigendomsrecht van de Software. Alle intellectuele
    eigendomsrechten zoals auteursrecht, handelsmerk, octrooi, bedrijfsgeheim enz.
    met betrekking tot de Software, en alle informatie met betrekking tot de
    Software (waaronder, maar niet uitsluitend, tekst, afbeeldingen, audio, video,
    graphics, interface-ontwerp, opmaak, gegevens of elektronische documenten enz.)
    zijn door lokale wet- en regelgeving en desbetreffende internationale verdragen
    beschermd. Xiaomi is de houder van de hierboven beschreven intellectuele
    eigendomsrechten.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Zonder de
    voorafgaande schriftelijke toestemming van Xiaomi zal de Gebruiker de
    bovengenoemde intellectuele eigendomsrechten niet zelfstandig gebruiken of
    overdragen voor commerci&euml;le of niet-commerci&euml;le doeleinden, of derden toestaan
    dit te doen. Xiaomi behoudt zich het recht voor te zoeken naar wettelijke
    aansprakelijkheid voor dergelijke handelingen.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>8. Wijziging</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi
    behoudt zich het recht voor de voorwaarden van deze Overeenkomst van tijd tot
    tijd en naar eigen inzicht te wijzigen; dergelijke gewijzigde voorwaarden
    worden tijdig gepubliceerd op relevante webpagina's. Indien u niet akkoord gaat
    met enige wijziging, neemt u het initiatief om de diensten te annuleren. Indien
    u het gebruik van de diensten voortzet, wordt dit beschouwd als uw aanvaarding
    van de gewijzigde Overeenkomst. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi of de
    Partner behoudt zich het recht voor de geleverde betaalde diensten, de
    factureringsvereisten, factureringswijze, de servicekosten of
    servicevoorwaarden van tijd tot tijd en naar eigen inzicht aan te passen of te
    veranderen. Xiaomi kan voor het leveren van de diensten beginnen bepaalde
    kosten in rekening te brengen voor sommige Gebruikers, nu of in de toekomst.
    Indien de Gebruiker dergelijke kosten weigert te betalen, kan de Gebruiker geen
    gebruik blijven maken van de betreffende diensten nadat er is begonnen met het
    in rekening brengen van kosten. </span></b><span lang=NL style='font-size:12.0pt;
    font-family:"Times New Roman",serif'>Xiaomi en de Partner doen al het mogelijke
    om de Gebruiker per e-mail of anderszins in kennis te stellen van eventuele
    wijzigingen of veranderingen. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>9. Toepasselijk recht en
    geschillenbeslechting</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. De geldigheid
    en interpretatie van deze Overeenkomst worden beheerst door de wetten van het
    vasteland van de Volksrepubliek China. Bij de afwezigheid van relevante
    wettelijke bepalingen kan worden verwezen naar internationale
    bedrijfspraktijken en/of zakelijke praktijken.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Deze
    Overeenkomst is ondertekend in het Haidian-district, Beijing.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Zowel de
    Gebruiker als Xiaomi gaan ermee akkoord dat enig geschil voortkomend uit de
    diensten eerst in overleg tussen de Partijen wordt beslecht. Indien er geen
    beslechting kan worden bereikt via dergelijk overleg, kan één van de Partijen
    het geschil aanhangig maken bij de bevoegde rechterlijke instantie van de
    plaats waar deze Overeenkomst is ondertekend.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=NL style='font-family:
    "Times New Roman",serif;'>10. Overige bepalingen</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Voor elke
    specifieke dienst van de Software kunnen er een aparte overeenkomst en
    gerelateerde bedrijfsregels, enz. zijn (hierna gezamenlijk aangeduid als de
    'afzonderlijke overeenkomst'). Het is dus belangrijk dat u deze afzonderlijke
    overeenkomst leest en ermee akkoord gaat voordat u gebruikmaakt van die
    specifieke dienst.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Deze
    Overeenkomst wordt van kracht op 1 december 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. De titels
    van alle bepalingen van deze Overeenkomst dienen uitsluitend ter
    verduidelijking en worden bij de interpretatie van deze Overeenkomst buiten
    beschouwing gelaten.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Indien een
    bepaling van deze Overeenkomst om welke reden dan ook ongeldig of
    niet-afdwingbaar is of wordt, blijven de overige bepalingen ervan onverminderd
    van kracht en bindend voor beide partijen bij deze Overeenkomst.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=NL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
