<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Gi&#7845;y phép ph&#7847;n m&#7873;m
    và Th&#7887;a thu&#7853;n d&#7883;ch v&#7909;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Th&ocirc;ng báo Quan tr&#7885;ng]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (sau
    &#273;&acirc;y &#273;&#432;&#7907;c g&#7885;i là &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    qua &#273;&acirc;y yêu c&#7847;u ng&#432;&#7901;i dùng &#273;&#7885;c k&#7929; c&#361;ng nh&#432; hi&#7875;u r&otilde; v&#7873; Gi&#7845;y phép ph&#7847;n m&#7873;m và Th&#7887;a
    thu&#7853;n d&#7883;ch v&#7909; (&quot;Th&#7887;a thu&#7853;n&quot; này). <b>Ng&#432;&#7901;i dùng ph&#7843;i &#273;&#7885;c k&#7929; và hi&#7875;u
    r&otilde; các &#273;i&#7873;u kho&#7843;n c&#7911;a Th&#7887;a thu&#7853;n này, nh&#7845;t là các &#273;i&#7873;u kho&#7843;n liên quan &#273;&#7871;n vi&#7879;c
    mi&#7877;n ho&#7863;c gi&#7899;i h&#7841;n trách nhi&#7879;m pháp l&yacute; c&#7911;a Xiaomi, gi&#7843;i quy&#7871;t tranh ch&#7845;p và lu&#7853;t
    hi&#7879;n hành.</b> <b>B&#7841;n c&#7847;n chú &yacute; &#273;&#7871;n các &#273;i&#7873;u kho&#7843;n liên quan &#273;&#7871;n vi&#7879;c mi&#7877;n ho&#7863;c
    gi&#7899;i h&#7841;n trách nhi&#7879;m pháp l&yacute; &#273;&#432;&#7907;c in &#273;&#7853;m. Vui lòng &#273;&#7885;c k&#7929; và ch&#7885;n ch&#7845;p nh&#7853;n ho&#7863;c
    kh&ocirc;ng ch&#7845;p nh&#7853;n Th&#7887;a thu&#7853;n này (tr&#7867; v&#7883; thành niên c&#7847;n &#273;&#7885;c Th&#7887;a thu&#7853;n này cùng
    ng&#432;&#7901;i giám h&#7897; h&#7907;p pháp c&#7911;a mình). B&#7857;ng vi&#7879;c t&#7843;i xu&#7889;ng, cài &#273;&#7863;t và s&#7917; d&#7909;ng ph&#7847;n
    m&#7873;m c&#361;ng nh&#432; ti&#7871;p nh&#7853;n và &#273;&#259;ng nh&#7853;p vào tài kho&#7843;n c&#7911;a mình, b&#7841;n &#273;&atilde; &#273;&#7891;ng &yacute; ch&#7845;p
    nh&#7853;n Th&#7887;a thu&#7853;n này và ch&#7883;u toàn b&#7897; ràng bu&#7897;c v&#7899;i các &#273;i&#7873;u kho&#7843;n &#273;i kèm.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi có quy&#7873;n s&#7917;a
    &#273;&#7893;i Th&#7887;a thu&#7853;n này. Các &#273;i&#7873;u kho&#7843;n c&#7853;p nh&#7853;t c&#7911;a Th&#7887;a thu&#7853;n này s&#7869; &#273;&#432;&#7907;c &#273;&#259;ng t&#7843;i
    trên trang web ho&#7863;c ph&#7847;n m&#7873;m chính th&#7913;c và có hi&#7879;u l&#7921;c k&#7875; t&#7915; ngày &#273;&#259;ng t&#7843;i.</span></b><span
    lang=VI style='font-size:12.0pt;font-family:"Times New Roman",serif'> Ng&#432;&#7901;i
    dùng có th&#7875; t&#7843;i xu&#7889;ng l&#7841;i và cài &#273;&#7863;t ph&#7847;n m&#7873;m ho&#7863;c xem phiên b&#7843;n m&#7899;i nh&#7845;t c&#7911;a
    các &#273;i&#7873;u kho&#7843;n trong Th&#7887;a thu&#7853;n này trên trang web. <b>Sau khi Xiaomi s&#7917;a &#273;&#7893;i
    các &#273;i&#7873;u kho&#7843;n c&#7911;a Th&#7887;a thu&#7853;n này, n&#7871;u b&#7841;n kh&ocirc;ng ch&#7845;p nh&#7853;n các &#273;i&#7873;u kho&#7843;n s&#7917;a &#273;&#7893;i,
    vui lòng ng&#7915;ng ngay vi&#7879;c s&#7917; d&#7909;ng các d&#7883;ch v&#7909; và ph&#7847;n m&#7873;m c&#7911;a &quot;B&#7897; &#273;&#7883;nh tuy&#7871;n
    Xiaomi <span class="name"></span></b>&quot; <b>và các d&#7883;ch v&#7909; do Xiaomi cung c&#7845;p; vi&#7879;c ng&#432;&#7901;i dùng
    ti&#7871;p t&#7909;c s&#7917; d&#7909;ng các d&#7883;ch v&#7909; và ph&#7847;n m&#7873;m c&#7911;a &quot;B&#7897; &#273;&#7883;nh tuy&#7871;n Xiaomi
    <span class="name"></span>&quot; do Xiaomi cung c&#7845;p s&#7869; &#273;&#432;&#7907;c coi là &#273;&atilde; ch&#7845;p nh&#7853;n các &#273;i&#7873;u kho&#7843;n s&#7917;a
    &#273;&#7893;i c&#7911;a Th&#7887;a thu&#7853;n này.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>1. Quy &#273;&#7883;nh chung</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Th&#7887;a thu&#7853;n này
    &#273;&#432;&#7907;c k&yacute; k&#7871;t gi&#7919;a b&#7841;n (sau &#273;&acirc;y g&#7885;i là &quot;Ng&#432;&#7901;i dùng&quot;) và Xiaomi cùng v&#7899;i
    các &#273;&#7889;i tác v&#7853;n hành (sau &#273;&acirc;y g&#7885;i là &quot;&#272;&#7889;i tác&quot;) liên quan &#273;&#7871;n vi&#7879;c
    Ng&#432;&#7901;i dùng t&#7843;i xu&#7889;ng, cài &#273;&#7863;t và s&#7917; d&#7909;ng ph&#7847;n m&#7873;m &quot;<b>B&#7897; &#273;&#7883;nh tuy&#7871;n Xiaomi
    <span class="name"></span></b>&quot; (sau &#273;&acirc;y g&#7885;i là &quot;Ph&#7847;n m&#7873;m&quot;) c&#7911;a Xiaomi c&#361;ng nh&#432; vi&#7879;c
    s&#7917; d&#7909;ng các d&#7883;ch v&#7909; liên quan c&#7911;a Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Xiaomi cung c&#7845;p
    Ph&#7847;n m&#7873;m và d&#7883;ch v&#7909; &#273;&#7875; cài &#273;&#7863;t trên (bao g&#7891;m nh&#432;ng kh&ocirc;ng gi&#7899;i h&#7841;n &#7903;) các thi&#7871;t
    b&#7883; &#273;&#7847;u cu&#7889;i th&ocirc;ng minh di &#273;&#7897;ng, nh&#7857;m cung c&#7845;p các d&#7883;ch v&#7909; c&#7911;a Xiaomi cho Ng&#432;&#7901;i
    dùng s&#7917; d&#7909;ng thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i th&ocirc;ng minh nêu trên.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Quy&#7873;n s&#7903; h&#7919;u
    và quy&#7873;n v&#7853;n hành Ph&#7847;n m&#7873;m c&#361;ng nh&#432; d&#7883;ch v&#7909; s&#7869; thu&#7897;c v&#7873; Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>2. Ph&#7841;m vi c&#7845;p phép ph&#7847;n m&#7873;m</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi c&#7845;p
    cho Ng&#432;&#7901;i dùng gi&#7845;y phép cá nh&acirc;n, kh&ocirc;ng &#273;&#7897;c quy&#7873;n, kh&ocirc;ng chuy&#7875;n nh&#432;&#7907;ng &#273;&#432;&#7907;c &#273;&#7875;
    s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m mà kh&ocirc;ng &#273;&#432;&#7907;c quy&#7873;n c&#7845;p phép b&#7893; sung.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Ng&#432;&#7901;i dùng có
    th&#7875; cài &#273;&#7863;t, s&#7917; d&#7909;ng, hi&#7875;n th&#7883; và ch&#7841;y Ph&#7847;n m&#7873;m trên m&#7897;t thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i di &#273;&#7897;ng
    cho các m&#7909;c &#273;ích phi th&#432;&#417;ng m&#7841;i. Tuy nhiên, Ng&#432;&#7901;i dùng kh&ocirc;ng &#273;&#432;&#7907;c cài &#273;&#7863;t, s&#7917; d&#7909;ng
    ho&#7863;c ch&#7841;y Ph&#7847;n m&#7873;m cho các m&#7909;c &#273;ích liên quan &#273;&#7871;n ho&#7841;t &#273;&#7897;ng th&#432;&#417;ng m&#7841;i. Ng&#432;&#7901;i
    dùng kh&ocirc;ng &#273;&#432;&#7907;c sao chép, thay &#273;&#7893;i ho&#7863;c ch&#7881;nh s&#7917;a b&#7845;t k&#7923; d&#7919; li&#7879;u nào c&#7911;a Ph&#7847;n m&#7873;m
    hay b&#7845;t k&#7923; d&#7919; li&#7879;u nào &#273;&#432;&#7907;c chuy&#7875;n vào b&#7897; nh&#7899; c&#7911;a b&#7845;t k&#7923; thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i nào
    trong quá trình ch&#7841;y Ph&#7847;n m&#7873;m, c&#361;ng nh&#432; d&#7919; li&#7879;u t&#432;&#417;ng tác &#273;&#432;&#7907;c t&#7841;o ra gi&#7919;a máy
    khách và máy ch&#7911; khi ch&#7841;y Ph&#7847;n m&#7873;m. Ng&#432;&#7901;i dùng c&#361;ng kh&ocirc;ng &#273;&#432;&#7907;c ch&#7841;y Ph&#7847;n m&#7873;m
    cùng v&#7899;i các plug-in ho&#7863;c t&#7841;o b&#7845;t k&#7923; s&#7843;n ph&#7849;m phát sinh nào &#7903; m&#7885;i hình th&#7913;c,
    bao g&#7891;m nh&#432;ng kh&ocirc;ng gi&#7899;i h&#7841;n &#7903; plug-in, quy&#7873;n truy c&#7853;p vào Ph&#7847;n m&#7873;m và các h&#7879;
    th&#7889;ng liên quan th&ocirc;ng qua c&ocirc;ng c&#7909;/d&#7883;ch v&#7909; trái phép c&#7911;a bên th&#7913; ba. N&#7871;u c&#7847;n
    bán, sao chép ho&#7863;c ph&acirc;n ph&#7889;i Ph&#7847;n m&#7873;m cho m&#7909;c &#273;ích th&#432;&#417;ng m&#7841;i, ch&#7859;ng h&#7841;n nh&#432;
    cài &#273;&#7863;t tr&#432;&#7899;c ph&#7847;n m&#7873;m và cung c&#7845;p gói &#273;i kèm, b&#7841;n ph&#7843;i có gi&#7845;y phép và v&#259;n b&#7843;n
    &#7911;y quy&#7873;n c&#7911;a Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Khi Xiaomi
    ch&#432;a cho phép, Ng&#432;&#7901;i dùng kh&ocirc;ng &#273;&#432;&#7907;c cài &#273;&#7863;t Ph&#7847;n m&#7873;m trên các thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i
    khác ch&#432;a &#273;&#432;&#7907;c Xiaomi cho phép m&#7897;t cách r&otilde; ràng, bao g&#7891;m nh&#432;ng kh&ocirc;ng gi&#7899;i h&#7841;n &#7903;
    &#273;&#7847;u thu k&#7929; thu&#7853;t s&#7889;, máy ch&#417;i game, tivi, &#273;&#7847;u DVD, v.v. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Ng&#432;&#7901;i dùng có
    th&#7875; sao chép Ph&#7847;n m&#7873;m ph&#7909;c v&#7909; m&#7909;c &#273;ích s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m và d&#7883;ch v&#7909;, nh&#432;ng ch&#7881;
    &#273;&#432;&#7907;c s&#7917; d&#7909;ng d&#432;&#7899;i d&#7841;ng b&#7843;n sao l&#432;u. B&#7843;n sao l&#432;u ph&#7843;i bao g&#7891;m t&#7845;t c&#7843; th&ocirc;ng tin b&#7843;n
    quy&#7873;n có trong ph&#7847;n m&#7873;m g&#7889;c.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Tr&#7915; khi &#273;&#432;&#7907;c
    cho phép r&otilde; ràng theo Th&#7887;a thu&#7853;n này, Xiaomi s&#7869; kh&ocirc;ng c&#7845;p các quy&#7873;n khác cho
    Ng&#432;&#7901;i dùng. N&#7871;u mu&#7889;n s&#7917; d&#7909;ng b&#7845;t k&#7923; quy&#7873;n nào khác, Ng&#432;&#7901;i dùng c&#7847;n có v&#259;n b&#7843;n &#273;&#7891;ng
    &yacute; tr&#432;&#7899;c c&#7911;a Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>3. Mua l&#7841;i, Cài &#273;&#7863;t và N&acirc;ng c&#7845;p ph&#7847;n
    m&#7873;m</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Ng&#432;&#7901;i dùng s&#7869;
    t&#7843;i xu&#7889;ng và cài &#273;&#7863;t Ph&#7847;n m&#7873;m t&#7915; trang web ho&#7863;c theo cách th&#7913;c do Xiaomi ch&#7881; &#273;&#7883;nh.
    L&#432;u &yacute; kh&ocirc;ng t&#7843;i Ph&#7847;n m&#7873;m xu&#7889;ng t&#7915; các trang web kh&ocirc;ng xác &#273;&#7883;nh &#273;&#7875; ng&#259;n ng&#7915;a vi&#7879;c
    các thi&#7871;t b&#7883; di &#273;&#7897;ng b&#7883; l&acirc;y nhi&#7877;m ch&#432;&#417;ng trình &#273;&#7897;c h&#7841;i có th&#7875; phá h&#7911;y d&#7919; li&#7879;u
    ng&#432;&#7901;i dùng và thu th&#7853;p th&ocirc;ng tin riêng t&#432; c&#7911;a ng&#432;&#7901;i dùng. N&#7871;u b&#7841;n t&#7843;i Ph&#7847;n m&#7873;m
    ho&#7863;c ch&#432;&#417;ng trình cài &#273;&#7863;t có cùng tên v&#7899;i Ph&#7847;n m&#7873;m c&#7911;a m&#7897;t bên th&#7913; ba kh&ocirc;ng &#273;&#432;&#7907;c
    Xiaomi cho phép thì Xiaomi s&#7869; kh&ocirc;ng &#273;&#7843;m b&#7843;o kh&#7843; n&#259;ng s&#7917; d&#7909;ng bình th&#432;&#7901;ng cho ph&#7847;n
    m&#7873;m &#273;ó, c&#361;ng nh&#432; kh&ocirc;ng có trách nhi&#7879;m pháp l&yacute; &#273;&#7889;i v&#7899;i b&#7845;t c&#7913; t&#7893;n th&#7845;t nào mà b&#7841;n
    g&#7863;p ph&#7843;i.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Ng&#432;&#7901;i dùng ph&#7843;i
    ch&#7885;n phiên b&#7843;n Ph&#7847;n m&#7873;m phù h&#7907;p v&#7899;i thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i cài &#273;&#7863;t ph&#7847;n m&#7873;m &#273;ó. N&#7871;u
    kh&ocirc;ng, Ng&#432;&#7901;i dùng s&#7869; t&#7921; ch&#7883;u trách nhi&#7879;m v&#7873; b&#7845;t k&#7923; s&#7921; c&#7889; ph&#7847;n m&#7873;m, thi&#7871;t b&#7883; hay
    h&#7887;ng hóc nào x&#7843;y ra do phiên b&#7843;n ph&#7847;n m&#7873;m kh&ocirc;ng t&#432;&#417;ng thích v&#7899;i model c&#7911;a thi&#7871;t
    b&#7883;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. &#272;&#7875; c&#7843;i thi&#7879;n
    tr&#7843;i nghi&#7879;m dành cho Ng&#432;&#7901;i dùng và t&#7889;i &#432;u hóa n&#7897;i dung d&#7883;ch v&#7909;, Xiaomi n&#7855;m gi&#7919;
    quy&#7873;n cung c&#7845;p phiên b&#7843;n Ph&#7847;n m&#7873;m thay th&#7871;, s&#7917;a &#273;&#7893;i và n&acirc;ng c&#7845;p, c&#361;ng nh&#432; quy&#7873;n
    tính phí cho nh&#7919;ng phiên b&#7843;n thay th&#7871;, s&#7917;a &#273;&#7893;i ho&#7863;c n&acirc;ng c&#7845;p &#273;ó sau khi b&#7841;n ch&#7845;p
    thu&#7853;n các kho&#7843;n phí này. Ph&#7847;n m&#7873;m s&#7869; b&#7853;t tính n&#259;ng &quot;nh&#7855;c n&acirc;ng c&#7845;p&quot;
    theo m&#7863;c &#273;&#7883;nh cho Ng&#432;&#7901;i dùng. Tùy thu&#7897;c vào phiên b&#7843;n Ph&#7847;n m&#7873;m mà Ng&#432;&#7901;i dùng s&#7917;
    d&#7909;ng, Xiaomi s&#7869; cho phép Ng&#432;&#7901;i dùng có toàn quy&#7873;n b&#7853;t ho&#7863;c t&#7855;t tính n&#259;ng nói
    trên. Sau khi phát hành phiên b&#7843;n Ph&#7847;n m&#7873;m m&#7899;i, Xiaomi s&#7869; kh&ocirc;ng &#273;&#7843;m b&#7843;o tính h&#7919;u
    d&#7909;ng c&#7911;a các phiên b&#7843;n Ph&#7847;n m&#7873;m c&#361; n&#7919;a.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>4. Quy &#273;&#7883;nh c&#7909; th&#7875; v&#7873; vi&#7879;c S&#7917; d&#7909;ng</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Ng&#432;&#7901;i dùng có
    th&#7875; s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m và d&#7883;ch v&#7909; theo lu&#7853;t pháp và Th&#7887;a thu&#7853;n này. Ng&#432;&#7901;i dùng
    kh&ocirc;ng &#273;&#432;&#7907;c th&#7921;c hi&#7879;n các hành vi sau &#273;&acirc;y:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Xóa b&#7845;t k&#7923;
    th&ocirc;ng tin b&#7843;n quy&#7873;n nào trên Ph&#7847;n m&#7873;m và các b&#7843;n sao khác hay s&#7917;a &#273;&#7893;i, xóa ho&#7863;c
    c&#7889; &yacute; kh&ocirc;ng s&#7917; d&#7909;ng các bi&#7879;n pháp k&#7929; thu&#7853;t &#273;&#7875; b&#7843;o v&#7879; quy&#7873;n s&#7903; h&#7919;u trí tu&#7879; trên
    Ph&#7847;n m&#7873;m; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Th&#7921;c hi&#7879;n k&#7929;
    thu&#7853;t &#273;&#7843;o ng&#432;&#7907;c &#273;&#7889;i v&#7899;i Ph&#7847;n m&#7873;m, ch&#7859;ng h&#7841;n nh&#432; tháo r&#7901;i, gi&#7843;i m&atilde; ho&#7863;c các ho&#7841;t
    &#273;&#7897;ng khác nh&#7857;m l&#7845;y &#273;&#432;&#7907;c m&atilde; ngu&#7891;n c&#7911;a Ph&#7847;n m&#7873;m;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Thêm, xóa
    ho&#7863;c thay &#273;&#7893;i các tính n&#259;ng hay hi&#7879;u &#7913;ng ho&#7841;t &#273;&#7897;ng c&#7911;a Ph&#7847;n m&#7873;m b&#7857;ng cách s&#7917;a &#273;&#7893;i
    ho&#7863;c gi&#7843; m&#7841;o h&#432;&#7899;ng d&#7851;n và d&#7919; li&#7879;u trong quá trình ch&#7841;y Ph&#7847;n m&#7873;m, hay v&#7853;n hành
    ho&#7863;c c&ocirc;ng b&#7889; Ph&#7847;n m&#7873;m ho&#7863;c các ph&#432;&#417;ng pháp &#273;&#432;&#7907;c s&#7917; d&#7909;ng cho nh&#7919;ng m&#7909;c &#273;ích m&ocirc; t&#7843;
    &#7903; trên, b&#7845;t k&#7875; có vì m&#7909;c &#273;ích th&#432;&#417;ng m&#7841;i hay kh&ocirc;ng;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. S&#7917; d&#7909;ng Ph&#7847;n
    m&#7873;m &#273;&#7875; th&#7921;c hi&#7879;n b&#7845;t k&#7923; hành vi nào g&acirc;y h&#7841;i &#273;&#7871;n an ninh m&#7841;ng, bao g&#7891;m nh&#432;ng
    kh&ocirc;ng gi&#7899;i h&#7841;n &#7903; nh&#7919;ng hành vi sau: s&#7917; d&#7909;ng d&#7919; li&#7879;u trái phép ho&#7863;c truy c&#7853;p vào
    tài kho&#7843;n/máy ch&#7911; trái phép; truy c&#7853;p trái phép vào m&#7841;ng c&ocirc;ng c&#7897;ng ho&#7863;c h&#7879; &#273;i&#7873;u
    hành c&#7911;a ng&#432;&#7901;i khác và xóa, s&#7917;a &#273;&#7893;i ho&#7863;c thêm b&#7845;t k&#7923; th&ocirc;ng tin l&#432;u tr&#7919; nào; th&#7921;c
    hi&#7879;n hành vi trái phép nh&#7857;m phát hi&#7879;n, quét ho&#7863;c ki&#7875;m tra h&#7879; th&#7889;ng Ph&#7847;n m&#7873;m ho&#7863;c
    l&#7895; h&#7893;ng an ninh m&#7841;ng hay th&#7921;c hi&#7879;n các ho&#7841;t &#273;&#7897;ng trái phép khác nh&#7857;m phá h&#7911;y an
    ninh m&#7841;ng; tìm cách can thi&#7879;p ho&#7863;c phá h&#7911;y ho&#7841;t &#273;&#7897;ng bình th&#432;&#7901;ng c&#7911;a trang web
    ho&#7863;c h&#7879; th&#7889;ng Ph&#7847;n m&#7873;m, c&#7889; tình phát tán vi-rút ho&#7863;c ch&#432;&#417;ng trình &#273;&#7897;c h&#7841;i hay
    th&#7921;c hi&#7879;n các hành vi khác nh&#7857;m phá h&#7911;y ho&#7863;c can thi&#7879;p vào d&#7883;ch v&#7909; th&ocirc;ng tin m&#7841;ng
    bình th&#432;&#7901;ng; gi&#7843; m&#7841;o tên ho&#7863;c m&#7897;t ph&#7847;n tên c&#7911;a gói d&#7919; li&#7879;u TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Ng&#432;&#7901;i dùng
    &#273;&#259;ng nh&#7853;p ho&#7863;c s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m và d&#7883;ch v&#7909; th&ocirc;ng qua các h&#7879; th&#7889;ng ho&#7863;c ph&#7847;n m&#7873;m
    t&#432;&#417;ng thích c&#7911;a bên th&#7913; ba kh&ocirc;ng &#273;&#432;&#7907;c Xiaomi phát tri&#7875;n, cho phép ho&#7863;c phê duy&#7879;t,
    hay ch&#7871; t&#7841;o, &#273;&#259;ng t&#7843;i ho&#7863;c c&ocirc;ng b&#7889; các c&ocirc;ng c&#7909; trên;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Khi ch&#432;a có
    v&#259;n b&#7843;n ch&#7845;p thu&#7853;n c&#7911;a Xiaomi, Ng&#432;&#7901;i dùng th&#7921;c hi&#7879;n b&#7845;t k&#7923; hành vi nào v&#7899;i Ph&#7847;n
    m&#7873;m ho&#7863;c th&ocirc;ng tin có trong Ph&#7847;n m&#7873;m, bao g&#7891;m nh&#432;ng kh&ocirc;ng gi&#7899;i h&#7841;n &#7903; vi&#7879;c s&#7917; d&#7909;ng,
    cho thuê, cho m&#432;&#7907;n, chép l&#7841;i, s&#7917;a &#273;&#7893;i, thi&#7871;t l&#7853;p liên k&#7871;t, sao chép, biên so&#7841;n,
    phát hành, &#273;&#259;ng t&#7843;i, thi&#7871;t l&#7853;p trang web có hình &#7843;nh sao chép ho&#7863;c s&#7917; d&#7909;ng trái
    phép Ph&#7847;n m&#7873;m &#273;&#7875; phát tri&#7875;n các s&#7843;n ph&#7849;m phái sinh, c&ocirc;ng trình, d&#7883;ch v&#7909;,
    plug-in, tính t&#432;&#417;ng thích ho&#7863;c kh&#7843; n&#259;ng k&#7871;t n&#7889;i có liên quan;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. S&#7917; d&#7909;ng Ph&#7847;n
    m&#7873;m &#273;&#7875; &#273;&#259;ng t&#7843;i, truy&#7873;n t&#7843;i, c&ocirc;ng b&#7889; ho&#7863;c l&#432;u tr&#7919; b&#7845;t k&#7923; n&#7897;i dung nào vi ph&#7841;m
    lu&#7853;t pháp và quy &#273;&#7883;nh &#273;&#7883;a ph&#432;&#417;ng; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. S&#7917; d&#7909;ng Ph&#7847;n
    m&#7873;m &#273;&#7875; &#273;&#259;ng t&#7843;i, truy&#7873;n t&#7843;i, c&ocirc;ng b&#7889; ho&#7863;c l&#432;u tr&#7919; b&#7845;t k&#7923; n&#7897;i dung nào vi ph&#7841;m
    các quy&#7873;n h&#7907;p pháp nh&#432; quy&#7873;n s&#7903; h&#7919;u trí tu&#7879; và bí m&#7853;t th&#432;&#417;ng m&#7841;i c&#7911;a ng&#432;&#7901;i
    khác; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. S&#7917; d&#7909;ng Ph&#7847;n
    m&#7873;m &#273;&#7875; &#273;&#259;ng t&#7843;i, truy&#7873;n t&#7843;i ho&#7863;c c&ocirc;ng b&#7889; th&ocirc;ng tin qu&#7843;ng cáo ho&#7863;c spam hàng lo&#7841;t;
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. S&#7917; d&#7909;ng
    trái phép Ph&#7847;n m&#7873;m và các d&#7883;ch v&#7909; khác do Xiaomi cung c&#7845;p cho b&#7845;t k&#7923; m&#7909;c &#273;ích b&#7845;t
    h&#7907;p pháp nào ho&#7863;c theo b&#7845;t k&#7923; cách th&#7913;c nào kh&ocirc;ng nh&#7845;t quán v&#7899;i ho&#7841;t &#273;&#7897;ng s&#7917; d&#7909;ng
    &#273;&#432;&#7907;c c&#7845;p phép theo Th&#7887;a thu&#7853;n này;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=VI style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Quy &#273;&#7883;nh v&#7873; vi&#7879;c &#273;&#259;ng t&#7843;i th&ocirc;ng tin</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    B&#7841;n có th&#7875; s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m &#273;&#7875; &#273;&#259;ng t&#7843;i th&ocirc;ng tin, ch&#7859;ng h&#7841;n nh&#432; l&#432;&#7907;t xem, d&#7919;
    li&#7879;u, v&#259;n b&#7843;n, th&ocirc;ng tin, tên ng&#432;&#7901;i dùng, hình &#7843;nh, &#7843;nh ch&#7909;p, th&ocirc;ng tin cá
    nh&acirc;n, t&#7879;p &acirc;m thanh ho&#7863;c video, liên k&#7871;t, v.v. do b&#7841;n t&#7841;o ho&#7863;c có quy&#7873;n &#273;&#259;ng t&#7843;i.
    B&#7841;n ph&#7843;i &#273;&#7843;m b&#7843;o mình có quy&#7873;n s&#7903; h&#7919;u trí tu&#7879; ho&#7863;c &#273;&#432;&#7907;c phép s&#7917; d&#7909;ng h&#7907;p pháp
    th&ocirc;ng tin do b&#7841;n t&#7843;i lên, và r&#7857;ng vi&#7879;c b&#7841;n s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m và d&#7883;ch v&#7909; kh&ocirc;ng vi
    ph&#7841;m b&#7845;t k&#7923; quy&#7873;n ho&#7863;c l&#7907;i ích h&#7907;p pháp c&#7911;a bên th&#7913; ba nào.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    B&#7841;n ph&#7843;i tu&acirc;n th&#7911; lu&#7853;t pháp và quy &#273;&#7883;nh c&#7911;a &#273;&#7883;a ph&#432;&#417;ng khi s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    B&#7841;n kh&ocirc;ng &#273;&#432;&#7907;c s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m &#273;&#7875; th&#7921;c hi&#7879;n các hành vi sau, bao g&#7891;m nh&#432;ng
    kh&ocirc;ng gi&#7899;i h&#7841;n</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    T&#7841;o, sao chép, &#273;&#259;ng t&#7843;i, c&ocirc;ng b&#7889; ho&#7863;c l&#432;u tr&#7919; b&#7845;t k&#7923; n&#7897;i dung nào sau &#273;&acirc;y vi ph&#7841;m
    lu&#7853;t pháp và quy &#273;&#7883;nh c&#7911;a &#273;&#7883;a ph&#432;&#417;ng;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    &#272;&#259;ng t&#7843;i, truy&#7873;n t&#7843;i, c&ocirc;ng b&#7889; ho&#7863;c l&#432;u tr&#7919; b&#7845;t k&#7923; n&#7897;i dung nào vi ph&#7841;m các quy&#7873;n
    h&#7907;p pháp nh&#432; quy&#7873;n b&#7843;o v&#7879; danh ti&#7871;ng, quy&#7873;n b&#7843;o v&#7879; hình &#7843;nh, quy&#7873;n s&#7903; h&#7919;u trí
    tu&#7879; và bí m&#7853;t th&#432;&#417;ng m&#7841;i c&#7911;a ng&#432;&#7901;i khác;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Dàn d&#7921;ng th&ocirc;ng tin ho&#7863;c che gi&#7845;u s&#7921; th&#7853;t nh&#7857;m g&acirc;y hi&#7875;u nh&#7847;m ho&#7863;c l&#7915;a g&#7841;t ng&#432;&#7901;i
    khác;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    &#272;&#259;ng t&#7843;i, truy&#7873;n t&#7843;i ho&#7863;c c&ocirc;ng b&#7889; th&ocirc;ng tin qu&#7843;ng cáo ho&#7863;c spam;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Tham gia vào các hành vi khác vi ph&#7841;m lu&#7853;t pháp và quy &#273;&#7883;nh c&#7911;a &#273;&#7883;a ph&#432;&#417;ng, v.v.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Khi ch&#432;a có
    s&#7921; cho phép c&#7911;a Xiaomi, b&#7841;n kh&ocirc;ng &#273;&#432;&#7907;c th&#7921;c hi&#7879;n b&#7845;t k&#7923; ho&#7841;t &#273;&#7897;ng th&#432;&#417;ng m&#7841;i
    nào v&#7899;i Ph&#7847;n m&#7873;m, ch&#7859;ng h&#7841;n nh&#432; qu&#7843;ng cáo, bán s&#7843;n ph&#7849;m.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. B&#7841;n hi&#7875;u và &#273;&#7891;ng
    &yacute; r&#7857;ng:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi s&#7869;
    xác &#273;&#7883;nh xem Ng&#432;&#7901;i dùng có b&#7883; nghi ng&#7901; vi ph&#7841;m các quy &#273;&#7883;nh c&#7909; th&#7875; v&#7873; vi&#7879;c s&#7917; d&#7909;ng
    nêu trên hay kh&ocirc;ng và c&#259;n c&#7913; vào k&#7871;t qu&#7843; c&#7911;a quy&#7871;t &#273;&#7883;nh &#273;ó, s&#7869; &#273;ình ch&#7881; ho&#7863;c ch&#7845;m
    d&#7913;t gi&#7845;y phép s&#7917; d&#7909;ng &#273;&atilde; c&#7845;p cho b&#7841;n ho&#7863;c th&#7921;c hi&#7879;n các bi&#7879;n pháp h&#7841;n ch&#7871; khác
    theo Th&#7887;a thu&#7853;n này;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi s&#7869;
    tr&#7921;c ti&#7871;p xóa m&#7885;i th&ocirc;ng tin b&#7883; nghi ng&#7901; là trái phép ho&#7863;c vi ph&#7841;m quy&#7873;n h&#7907;p
    pháp c&#7911;a nh&#7919;ng ng&#432;&#7901;i khác ho&#7863;c vi ph&#7841;m Th&#7887;a thu&#7853;n này mà Ng&#432;&#7901;i dùng &#273;&atilde; &#273;&#259;ng t&#7843;i
    khi s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m &#273;&#432;&#7907;c c&#7845;p phép;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. N&#7871;u b&#7841;n vi
    ph&#7841;m các quy &#273;&#7883;nh c&#7909; th&#7875; v&#7873; vi&#7879;c s&#7917; d&#7909;ng nêu trên và g&acirc;y thi&#7879;t h&#7841;i cho bên th&#7913;
    ba, b&#7841;n ph&#7843;i t&#7921; ch&#7883;u m&#7885;i trách nhi&#7879;m pháp l&yacute; và kh&ocirc;ng &#273;&#432;&#7907;c yêu c&#7847;u Xiaomi ch&#7883;u
    trách nhi&#7879;m tr&#432;&#7899;c b&#7845;t k&#7923; t&#7893;n th&#7845;t c&#361;ng nh&#432; chi phí phát sinh liên quan nào;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Ng&#432;&#7901;i dùng
    ph&#7843;i b&#7891;i th&#432;&#7901;ng và kh&ocirc;ng &#273;&#432;&#7907;c yêu c&#7847;u Xiaomi ch&#7883;u trách nhi&#7879;m tr&#432;&#7899;c m&#7885;i t&#7893;n th&#7845;t,
    khi&#7871;u n&#7841;i c&#7911;a bên th&#7913; ba, phí ph&#7841;t hành chính, thi&#7879;t h&#7841;i và/ho&#7863;c chi phí, bao g&#7891;m
    c&#7843; phí lu&#7853;t s&#432; phù h&#7907;p, chi phí &#273;i&#7873;u tra và thu th&#7853;p ch&#7913;ng c&#7913; mà Xiaomi làm
    phát sinh ho&#7863;c ph&#7843;i gánh ch&#7883;u do vi&#7879;c Ng&#432;&#7901;i dùng vi ph&#7841;m lu&#7853;t pháp liên quan
    hay vi ph&#7841;m Th&#7887;a thu&#7853;n này.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>5. Chính sách Quy&#7873;n riêng t&#432; và B&#7843;o v&#7879;
    D&#7919; li&#7879;u Cá nh&acirc;n</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. &#272;i&#7873;u quan tr&#7885;ng
    là Xiaomi ph&#7843;i b&#7843;o v&#7879; d&#7919; li&#7879;u cá nh&acirc;n c&#7911;a b&#7841;n. &#272;&#7875; cung c&#7845;p các tính n&#259;ng c&#7911;a Ph&#7847;n
    m&#7873;m c&#361;ng nh&#432; c&#7843;i thi&#7879;n tr&#7843;i nghi&#7879;m Ng&#432;&#7901;i dùng, Xiaomi s&#7869; thu th&#7853;p các lo&#7841;i d&#7919; li&#7879;u
    nh&#7845;t &#273;&#7883;nh nh&#432; &#273;&atilde; nêu trong Chính sách Quy&#7873;n riêng t&#432; c&#7911;a chúng t&ocirc;i. Chúng t&ocirc;i s&#7869;
    thu th&#7853;p, s&#7917; d&#7909;ng và b&#7843;o v&#7879; d&#7919; li&#7879;u c&#7911;a b&#7841;n theo Chính sách Quy&#7873;n riêng t&#432; c&#7911;a
    mình. B&#7841;n có th&#7875; xem Chính sách Quy&#7873;n riêng t&#432; trên trang web sau [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; 
    ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>6. R&#7911;i ro khi s&#7917; d&#7909;ng d&#7883;ch v&#7909; và
    tuyên b&#7889; mi&#7877;n tr&#7915; trách nhi&#7879;m</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Ng&#432;&#7901;i dùng ph&#7843;i
    mua thi&#7871;t b&#7883; c&#7847;n thi&#7871;t &#273;&#7875; truy c&#7853;p Internet và s&#7917; d&#7909;ng các d&#7883;ch v&#7909; vi&#7877;n th&ocirc;ng
    có giá tr&#7883; gia t&#259;ng trên thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i di &#273;&#7897;ng. &#272;&#7891;ng th&#7901;i, Ng&#432;&#7901;i dùng ph&#7843;i
    thanh toán các kho&#7843;n phí truy&#7873;n th&ocirc;ng, phí th&ocirc;ng tin và chi phí có liên quan
    phát sinh do ho&#7841;t &#273;&#7897;ng truy c&#7853;p Internet c&#7911;a thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i di &#273;&#7897;ng cá nh&acirc;n
    ho&#7863;c do các bên th&#7913; ba (bao g&#7891;m nh&#432;ng kh&ocirc;ng gi&#7899;i h&#7841;n &#7903; nhà cung c&#7845;p d&#7883;ch v&#7909; vi&#7877;n
    th&ocirc;ng và th&ocirc;ng tin di &#273;&#7897;ng) tính phí. N&#7871;u c&#7847;n s&#7917; d&#7909;ng b&#7845;t k&#7923; d&#7883;ch v&#7909; giá tr&#7883;
    gia t&#259;ng vi&#7877;n th&ocirc;ng nào, b&#7841;n nên xác nh&#7853;n chi phí v&#7899;i nhà cung c&#7845;p d&#7883;ch v&#7909; giá
    tr&#7883; gia t&#259;ng vi&#7877;n th&ocirc;ng c&#7911;a mình.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. C&#7843; Xiaomi và
    &#272;&#7889;i tác s&#7869; kh&ocirc;ng ph&#7843;i ch&#7883;u trách nhi&#7879;m pháp l&yacute; cho b&#7845;t k&#7923; t&#7893;n th&#7845;t nào mà Ng&#432;&#7901;i
    dùng ph&#7843;i gánh ch&#7883;u xu&#7845;t phát t&#7915; các l&yacute; do t&#7915; bên th&#7913; ba nh&#432; l&#7895;i &#273;&#432;&#7901;ng truy&#7873;n,
    s&#7921; c&#7889; k&#7929; thu&#7853;t, l&#7895;i m&#7841;ng ho&#7863;c l&#7895;i thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i di &#273;&#7897;ng, h&#7879; th&#7889;ng kh&ocirc;ng &#7893;n
    &#273;&#7883;nh và các y&#7871;u t&#7889; b&#7845;t kh&#7843; kháng khác.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Gi&#7889;ng nh&#432; h&#7847;u
    h&#7871;t các ph&#7847;n m&#7873;m khác trên Internet, Ph&#7847;n m&#7873;m có th&#7875; ch&#7883;u &#7843;nh h&#432;&#7903;ng c&#7911;a các y&#7871;u
    t&#7889;, bao g&#7891;m nh&#432;ng kh&ocirc;ng gi&#7899;i h&#7841;n &#7903; nguyên nh&acirc;n t&#7915; phía ng&#432;&#7901;i dùng, ch&#7845;t l&#432;&#7907;ng d&#7883;ch
    v&#7909; m&#7841;ng, &#273;i&#7875;m khác bi&#7879;t v&#7873; m&ocirc;i tr&#432;&#7901;ng x&atilde; h&#7897;i, v.v. và c&#361;ng có th&#7875; g&#7863;p ph&#7843;i s&#7921;
    phi&#7873;n toái liên quan &#273;&#7871;n các s&#7921; c&#7889; b&#7843;o m&#7853;t khác nhau, ch&#7859;ng h&#7841;n nh&#432; vi&#7879;c ng&#432;&#7901;i
    khác s&#7917; d&#7909;ng d&#7919; li&#7879;u c&#7911;a Ng&#432;&#7901;i dùng, d&#7851;n &#273;&#7871;n hành vi qu&#7845;y r&#7889;i trong th&#7921;c t&#7871;; ph&#7847;n
    m&#7873;m khác do Ng&#432;&#7901;i dùng t&#7843;i xu&#7889;ng và cài &#273;&#7863;t hay các trang web khác mà Ng&#432;&#7901;i
    dùng truy c&#7853;p ch&#7913;a &quot;m&atilde; &#273;&#7897;c Trojan&quot; và các lo&#7841;i vi-rút khác &#273;e d&#7885;a &#273;&#7871;n
    tính b&#7843;o m&#7853;t d&#7919; li&#7879;u và th&ocirc;ng tin trên thi&#7871;t b&#7883; &#273;&#7847;u cu&#7889;i c&#7911;a Ng&#432;&#7901;i dùng, sau &#273;ó
    &#7843;nh h&#432;&#7903;ng &#273;&#7871;n vi&#7879;c s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m m&#7897;t cách bình th&#432;&#7901;ng. Ng&#432;&#7901;i dùng ph&#7843;i n&acirc;ng
    cao nh&#7853;n th&#7913;c v&#7873; b&#7843;o m&#7853;t th&ocirc;ng tin và b&#7843;o v&#7879; d&#7919; li&#7879;u ng&#432;&#7901;i dùng, c&#361;ng nh&#432; chú &yacute;
    t&#259;ng c&#432;&#7901;ng kh&#7843; n&#259;ng b&#7843;o v&#7879; b&#7857;ng m&#7853;t kh&#7849;u &#273;&#7875; tránh ph&#7843;i ch&#7883;u t&#7893;n th&#7845;t và tránh b&#7883;
    qu&#7845;y r&#7889;i.</span></b><span lang=VI style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Khi Ng&#432;&#7901;i
    dùng s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m ho&#7863;c yêu c&#7847;u Xiaomi cung c&#7845;p các d&#7883;ch v&#7909; c&#7909; th&#7875;, Ph&#7847;n m&#7873;m
    có th&#7875; nh&#7901; ph&#7847;n m&#7873;m ho&#7863;c h&#7879; th&#7889;ng bên th&#7913; ba h&#7895; tr&#7907; Ng&#432;&#7901;i dùng s&#7917; d&#7909;ng ho&#7863;c
    truy c&#7853;p. K&#7871;t qu&#7843; c&#7911;a vi&#7879;c s&#7917; d&#7909;ng ho&#7863;c truy c&#7853;p s&#7869; do bên th&#7913; ba cung c&#7845;p.
    Xiaomi kh&ocirc;ng &#273;&#7843;m b&#7843;o s&#7921; an toàn, tính chính xác và hi&#7879;u qu&#7843; c&#7911;a các k&#7871;t qu&#7843; &#273;&#7841;t
    &#273;&#432;&#7907;c nh&#7901; s&#7921; h&#7895; tr&#7907; c&#7911;a h&#7879; th&#7889;ng ho&#7863;c ph&#7847;n m&#7873;m nói trên, &#273;&#7891;ng th&#7901;i, Xiaomi kh&ocirc;ng
    ch&#7883;u trách nhi&#7879;m &#273;&#7889;i v&#7899;i b&#7845;t k&#7923; r&#7911;i ro kh&ocirc;ng xác &#273;&#7883;nh nào khác; khi có b&#7845;t k&#7923;
    tranh ch&#7845;p ho&#7863;c thi&#7879;t h&#7841;i nào phát sinh t&#7915; nh&#7919;ng r&#7911;i ro &#273;ó, Xiaomi s&#7869; kh&ocirc;ng ch&#7883;u
    b&#7845;t k&#7923; ngh&#297;a v&#7909; pháp l&yacute; nào.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Ng&#432;&#7901;i dùng c&#7911;a
    Xiaomi c&#7847;n &#273;&#7863;c bi&#7879;t l&#432;u &yacute; r&#7857;ng, &#273;&#7875; b&#7843;o v&#7879; toàn quy&#7873;n &#273;i&#7873;u ch&#7881;nh và phát tri&#7875;n
    kinh doanh c&#7911;a c&ocirc;ng ty, Xiaomi có quy&#7873;n s&#7917;a &#273;&#7893;i ho&#7863;c t&#7841;m ng&#7915;ng các d&#7883;ch v&#7909; b&#7845;t
    c&#7913; lúc nào mà kh&ocirc;ng c&#7847;n th&ocirc;ng báo cho Ng&#432;&#7901;i dùng c&#361;ng nh&#432; kh&ocirc;ng ch&#7883;u b&#7845;t k&#7923;
    trách nhi&#7879;m pháp l&yacute; nào v&#7899;i Ng&#432;&#7901;i dùng ho&#7863;c bên th&#7913; ba b&#7845;t k&#7923;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Tr&#7915; khi lu&#7853;t
    pháp và quy &#273;&#7883;nh trình bày r&otilde; ràng, chúng t&ocirc;i s&#7869; c&#7889; g&#7855;ng h&#7871;t s&#7913;c &#273;&#7875; &#273;&#7843;m b&#7843;o r&#7857;ng
    Ph&#7847;n m&#7873;m, c&ocirc;ng ngh&#7879; và th&ocirc;ng tin liên quan &#273;&#7873;u an toàn, hi&#7879;u qu&#7843;, chính xác và
    &#273;áng tin c&#7853;y; tuy nhiên, c&#259;n c&#7913; vào c&ocirc;ng ngh&#7879; hi&#7879;n có, Ng&#432;&#7901;i dùng hi&#7875;u r&#7857;ng
    Xiaomi kh&ocirc;ng th&#7875; &#273;&#7843;m b&#7843;o &#273;i&#7873;u &#273;ó.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Ng&#432;&#7901;i dùng ph&#7843;i
    ch&#7883;u toàn b&#7897; trách nhi&#7879;m &#273;&#7889;i v&#7899;i b&#7845;t k&#7923; th&#432;&#417;ng tích cá nh&acirc;n ho&#7863;c thi&#7879;t h&#7841;i ng&#7851;u
    nhiên ho&#7863;c do h&#7853;u qu&#7843; nào, bao g&#7891;m nh&#432;ng kh&ocirc;ng gi&#7899;i h&#7841;n &#7903; t&#7893;n th&#7845;t l&#7907;i nhu&#7853;n, m&#7845;t
    mát d&#7919; li&#7879;u, gián &#273;o&#7841;n kinh doanh ho&#7863;c các thi&#7879;t h&#7841;i v&#7873; th&#432;&#417;ng m&#7841;i khác phát
    sinh do ho&#7863;c liên quan &#273;&#7871;n: (1) vi&#7879;c s&#7917; d&#7909;ng ho&#7863;c kh&ocirc;ng s&#7917; d&#7909;ng Ph&#7847;n m&#7873;m &#273;&#432;&#7907;c c&#7845;p
    phép; (2) vi&#7879;c s&#7917; d&#7909;ng trái phép Ph&#7847;n m&#7873;m ho&#7863;c có bên th&#7913; ba s&#7917;a &#273;&#7893;i d&#7919; li&#7879;u c&#7911;a
    Ng&#432;&#7901;i dùng; (3) chi phí và t&#7893;n th&#7845;t phát sinh c&#7911;a Ng&#432;&#7901;i dùng trong quá trình s&#7917;
    d&#7909;ng Ph&#7847;n m&#7873;m; (4) ng&#432;&#7901;i dùng hi&#7875;u sai v&#7873; Ph&#7847;n m&#7873;m; (5) các t&#7893;n th&#7845;t khác liên
    quan &#273;&#7871;n Ph&#7847;n m&#7873;m vì các l&yacute; do kh&ocirc;ng thu&#7897;c v&#7873; Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. Trong tr&#432;&#7901;ng
    h&#7907;p &#273;&atilde; ho&#7863;c có th&#7875; phát sinh b&#7845;t k&#7923; t&#7893;n th&#7845;t ho&#7863;c thi&#7879;t h&#7841;i cá nh&acirc;n hay kinh t&#7871;
    nào do hành vi c&#7911;a Ng&#432;&#7901;i dùng và ng&#432;&#7901;i dùng ph&#7847;n m&#7873;m khác g&acirc;y ra th&ocirc;ng qua b&#7845;t
    k&#7923; ph&#7847;n m&#7873;m nào hay do Ng&#432;&#7901;i dùng b&#7883; l&#7915;a d&#7889;i ho&#7863;c l&#7915;a &#273;&#7843;o thì bên g&acirc;y ra l&#7895;i ph&#7843;i
    ch&#7883;u toàn b&#7897; trách nhi&#7879;m pháp l&yacute; phát sinh t&#7915; nh&#7919;ng tr&#432;&#7901;ng h&#7907;p &#273;ó.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>7. Tuyên b&#7889; v&#7873; Quy&#7873;n s&#7903; h&#7919;u trí tu&#7879;</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi là bên
    n&#7855;m gi&#7919; quy&#7873;n s&#7903; h&#7919;u trí tu&#7879; c&#7911;a Ph&#7847;n m&#7873;m. T&#7845;t c&#7843; các quy&#7873;n s&#7903; h&#7919;u trí tu&#7879; ch&#7859;ng
    h&#7841;n nh&#432; b&#7843;n quy&#7873;n, nh&atilde;n hi&#7879;u, b&#7857;ng sáng ch&#7871;, bí m&#7853;t th&#432;&#417;ng m&#7841;i, v.v. và m&#7885;i
    th&ocirc;ng tin liên quan &#273;&#7871;n Ph&#7847;n m&#7873;m (bao g&#7891;m nh&#432;ng kh&ocirc;ng gi&#7899;i h&#7841;n &#7903; v&#259;n b&#7843;n, hình &#7843;nh,
    &acirc;m thanh, th&ocirc;ng tin &#273;&#7891; h&#7885;a, thi&#7871;t k&#7871; giao di&#7879;n, b&#7889; c&#7909;c, d&#7919; li&#7879;u ho&#7863;c tài li&#7879;u
    &#273;i&#7879;n t&#7917;, v.v.) &#273;&#432;&#7907;c lu&#7853;t pháp và quy &#273;&#7883;nh &#273;&#7883;a ph&#432;&#417;ng c&#361;ng nh&#432; các hi&#7879;p &#432;&#7899;c qu&#7889;c
    t&#7871; t&#432;&#417;ng &#7913;ng b&#7843;o v&#7879;. Xiaomi n&#7855;m gi&#7919; các quy&#7873;n s&#7903; h&#7919;u trí tu&#7879; &#7903; trên.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Khi ch&#432;a có
    v&#259;n b&#7843;n ch&#7845;p thu&#7853;n c&#7911;a Xiaomi, Ng&#432;&#7901;i dùng kh&ocirc;ng &#273;&#432;&#7907;c t&#7921; &yacute; s&#7917; d&#7909;ng ho&#7863;c chuy&#7875;n
    giao b&#7845;t k&#7923; quy&#7873;n s&#7903; h&#7919;u trí tu&#7879; nào nói trên cho b&#7845;t k&#7923; m&#7909;c &#273;ích th&#432;&#417;ng m&#7841;i ho&#7863;c
    phi th&#432;&#417;ng m&#7841;i nào hay cho phép b&#7845;t k&#7923; bên th&#7913; ba nào làm nh&#432; v&#7853;y. Xiaomi có
    quy&#7873;n truy c&#7913;u trách nhi&#7879;m pháp l&yacute; &#273;&#7889;i v&#7899;i các hành vi &#273;ó.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>8. S&#7917;a &#273;&#7893;i</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi có quy&#7873;n
    &#273;&#417;n ph&#432;&#417;ng s&#7917;a &#273;&#7893;i các &#273;i&#7873;u kho&#7843;n c&#7911;a Th&#7887;a thu&#7853;n này vào b&#7845;t c&#7913; lúc nào và m&#7885;i
    &#273;i&#7873;u kho&#7843;n &#273;&#432;&#7907;c s&#7917;a &#273;&#7893;i nh&#432; v&#7853;y s&#7869; &#273;&#432;&#7907;c c&ocirc;ng b&#7889; k&#7883;p th&#7901;i trên các trang web có
    liên quan. N&#7871;u kh&ocirc;ng &#273;&#7891;ng &yacute; v&#7899;i b&#7845;t k&#7923; th&ocirc;ng tin s&#7917;a &#273;&#7893;i nào, b&#7841;n ph&#7843;i ch&#7911; &#273;&#7897;ng
    h&#7911;y b&#7887; các d&#7883;ch v&#7909; &#273;ó. N&#7871;u b&#7841;n ti&#7871;p t&#7909;c s&#7917; d&#7909;ng d&#7883;ch v&#7909; t&#7913;c là b&#7841;n ch&#7845;p nh&#7853;n Th&#7887;a
    thu&#7853;n s&#7917;a &#273;&#7893;i. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi ho&#7863;c &#272;&#7889;i
    tác có quy&#7873;n &#273;&#417;n ph&#432;&#417;ng s&#7917;a &#273;&#7893;i ho&#7863;c thay &#273;&#7893;i các d&#7883;ch v&#7909; tr&#7843; phí &#273;&#432;&#7907;c cung c&#7845;p,
    tiêu chí tính phí, ch&#7871; &#273;&#7897; tính phí, phí d&#7883;ch v&#7909; ho&#7863;c &#273;i&#7873;u kho&#7843;n d&#7883;ch v&#7909; vào b&#7845;t
    c&#7913; lúc nào. Khi cung c&#7845;p các d&#7883;ch v&#7909; này, Xiaomi có th&#7875; b&#7855;t &#273;&#7847;u tính các kho&#7843;n
    phí nh&#7845;t &#273;&#7883;nh trong hi&#7879;n t&#7841;i ho&#7863;c t&#432;&#417;ng lai cho m&#7897;t s&#7889; ng&#432;&#7901;i dùng. N&#7871;u Ng&#432;&#7901;i
    dùng t&#7915; ch&#7889;i thanh toán các kho&#7843;n phí &#273;ó, thì Ng&#432;&#7901;i dùng s&#7869; kh&ocirc;ng th&#7875; ti&#7871;p t&#7909;c
    s&#7917; d&#7909;ng các d&#7883;ch v&#7909; có liên quan sau khi quá trình tính phí b&#7855;t &#273;&#7847;u. </span></b><span
    lang=VI style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi và
    &#272;&#7889;i tác s&#7869; n&#7895; l&#7921;c h&#7871;t s&#7913;c &#273;&#7875; th&ocirc;ng báo cho Ng&#432;&#7901;i dùng v&#7873; b&#7845;t k&#7923; n&#7897;i dung s&#7917;a &#273;&#7893;i
    ho&#7863;c thay &#273;&#7893;i nào qua email ho&#7863;c các hình th&#7913;c khác. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>9. Lu&#7853;t áp d&#7909;ng và gi&#7843;i quy&#7871;t tranh
    ch&#7845;p</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. Tính hi&#7879;u l&#7921;c
    và cách di&#7877;n gi&#7843;i c&#7911;a Th&#7887;a thu&#7853;n này s&#7869; ch&#7883;u s&#7921; &#273;i&#7873;u ch&#7881;nh theo lu&#7853;t pháp t&#7841;i &#272;&#7841;i
    l&#7909;c c&#7911;a N&#432;&#7899;c C&#7897;ng hòa Nh&acirc;n d&acirc;n Trung Hoa. Trong tr&#432;&#7901;ng h&#7907;p kh&ocirc;ng có quy &#273;&#7883;nh
    pháp lu&#7853;t liên quan, có th&#7875; tham kh&#7843;o th&#7921;c ti&#7877;n ho&#7841;t &#273;&#7897;ng kinh doanh qu&#7889;c t&#7871;
    và/ho&#7863;c th&#7921;c ti&#7877;n kinh doanh.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Th&#7887;a thu&#7853;n
    này &#273;&#432;&#7907;c k&yacute; k&#7871;t t&#7841;i qu&#7853;n H&#7843;i &#272;i&#7871;n, B&#7855;c Kinh.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. C&#7843; Ng&#432;&#7901;i dùng
    và Xiaomi &#273;&#7873;u &#273;&#7891;ng &yacute; r&#7857;ng m&#7885;i tranh ch&#7845;p phát sinh t&#7915; các d&#7883;ch v&#7909; &#273;&#7873;u &#273;&#432;&#7907;c gi&#7843;i
    quy&#7871;t tr&#432;&#7899;c tiên th&ocirc;ng qua quá trình tham v&#7845;n các Bên. N&#7871;u kh&ocirc;ng gi&#7843;i quy&#7871;t &#273;&#432;&#7907;c
    b&#7857;ng cách tham v&#7845;n, m&#7897;t trong hai Bên có th&#7875; &#273;&#7879; trình tranh ch&#7845;p lên tòa án có
    th&#7849;m quy&#7873;n xét x&#7917; t&#7841;i n&#417;i k&yacute; k&#7871;t Th&#7887;a thu&#7853;n này.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=VI style='font-family:
    "Times New Roman",serif;'>10. &#272;i&#7873;u kho&#7843;n khác</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. &#272;&#7889;i v&#7899;i b&#7845;t
    k&#7923; d&#7883;ch v&#7909; c&#7909; th&#7875; nào c&#7911;a Ph&#7847;n m&#7873;m, có th&#7875; có m&#7897;t th&#7887;a thu&#7853;n riêng và quy t&#7855;c
    kinh doanh có liên quan, v.v. (sau &#273;&acirc;y g&#7885;i chung là &quot;th&#7887;a thu&#7853;n
    riêng&quot;). Vì v&#7853;y, vui lòng &#273;&#7885;c và &#273;&#7891;ng &yacute; v&#7899;i th&#7887;a thu&#7853;n riêng có liên quan
    tr&#432;&#7899;c khi s&#7917; d&#7909;ng d&#7883;ch v&#7909; c&#7909; th&#7875; &#273;ó.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Th&#7887;a thu&#7853;n
    này s&#7869; có hi&#7879;u l&#7921;c t&#7915; ngày 1 tháng 12 n&#259;m 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Tiêu &#273;&#7873; c&#7911;a
    t&#7845;t c&#7843; các &#273;i&#7873;u kho&#7843;n trong Th&#7887;a thu&#7853;n này ch&#7881; &#273;&#7875; ti&#7879;n tham kh&#7843;o và s&#7869; b&#7883; b&#7887;
    qua khi di&#7877;n gi&#7843;i Th&#7887;a thu&#7853;n này.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. N&#7871;u b&#7845;t k&#7923;
    &#273;i&#7873;u kho&#7843;n nào c&#7911;a Th&#7887;a thu&#7853;n này kh&ocirc;ng h&#7907;p l&#7879; ho&#7863;c kh&ocirc;ng th&#7875; thi hành vì b&#7845;t k&#7923;
    l&yacute; do gì, các &#273;i&#7873;u kho&#7843;n còn l&#7841;i c&#7911;a Th&#7887;a thu&#7853;n s&#7869; v&#7851;n có hi&#7879;u l&#7921;c và ràng bu&#7897;c
    c&#7843; hai Bên k&yacute; k&#7871;t Th&#7887;a thu&#7853;n.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=VI
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
