<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Softwarelicens- og
    serviceaftale</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Vigtig
    information]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc.
    (herefter kaldet &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    vil hermed gerne minde brugeren om grundigt at l&aelig;se og forst&aring; softwarelicens-
    og serviceaftalen (herefter kaldet &quot;Aftalen&quot;). <b>Brugeren b&oslash;r
    grundigt l&aelig;se og forst&aring; betingelserne i denne Aftale, is&aelig;r dem, der er
    relateret til undtagelse eller begr&aelig;nsning af Xiaomis ansvar, afg&oslash;relse af
    tvister og g&aelig;ldende lovgivning.</b> <b>L&aelig;g s&aelig;rligt m&aelig;rke til betingelserne
    vedr. undtagelse eller begr&aelig;nsning af ansvar, der er skrevet med fed. L&aelig;s
    omhyggeligt og v&aelig;lg, om du vil acceptere eller ikke acceptere denne Aftale (en
    mindre&aring;rig b&oslash;r f&aring; hj&aelig;lp fra sin v&aelig;rge under l&aelig;sningen af denne Aftale). Ved at
    downloade, installere og bruge softwaren og ved at oprette og logge ind p&aring; din
    konto accepterer du denne Aftale og giver dit samtykke til at v&aelig;re fuldt ud
    bundet af betingelserne i Aftalen.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi forbeholder
    sig retten til at &aelig;ndre denne Aftale. Opdaterede betingelser i denne Aftale vil
    blive offentliggjort p&aring; den officielle hjemmeside eller software og tr&aelig;der i
    kraft fra datoen for offentligg&oslash;relsen.</span></b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> Brugeren kan
    downloade og installere softwaren igen eller se den seneste version af denne
    Aftale p&aring; hjemmesiden. <b>Hvis du, efter at Xiaomi har &aelig;ndret betingelserne i
    denne Aftale, ikke &oslash;nsker at acceptere de &aelig;ndrede betingelser, bedes du straks
    oph&oslash;re med at bruge softwaren til &quot;Xiaomi Router <span class="name"></span>&quot;</b> <b>og
    tjenesterne udbudt af Xiaomi. Brugerens fortsatte brug af softwaren til
    &quot;Xiaomi Router <span class="name"></span>&quot; og tjenesterne udbudt af Xiaomi vil blive
    anset som v&aelig;rende ensbetydende med accept af de &aelig;ndrede betingelser i denne
    Aftale.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>1. Generelle betingelser</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Denne Aftale
    er den aftale, der indg&aring;s mellem dig (herefter kaldet &quot;Brugeren&quot;) og
    Xiaomi og dennes driftspartner (herefter kaldet &quot;Partneren&quot;) vedr.
    Brugerens download, installation og brug af softwaren til &quot;<b>Xiaomi
    Router <span class="name"></span></b>&quot; (herefter kaldet &quot;Softwaren&quot;) fra Xiaomi og
    brug af relevante tjenester fra Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Softwaren og
    tjenesterne udbydes af Xiaomi til installation p&aring; (herunder, men ikke begr&aelig;nset
    til) en mobil enhed, for at g&oslash;re tjenesterne fra Xiaomi tilg&aelig;ngelige for den
    bruger, der bruger den p&aring;g&aelig;ldende enhed.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Ejerskabet af
    og retten til at drive softwaren og tjenesterne forbliver Xiaomis.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>2. Softwarelicensens omfang</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi giver
    Brugeren en personlig, ikke-overf&oslash;rbar og ikke-eksklusiv licens til at bruge
    Softwaren uden ret til at udbyde underlicens.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Brugeren kan
    installere, bruge, fremvise og k&oslash;re Softwaren p&aring; en enkelt mobilenhed i
    forbindelse med ikke-kommercielle form&aring;l. Men Brugeren m&aring; ikke installere,
    bruge eller k&oslash;re Softwaren til kommercielle driftsform&aring;l. Brugeren m&aring; ikke
    kopiere, &aelig;ndre eller modificere nogen form for data i Softwaren eller data, der
    overf&oslash;res til den mobile enhedshukommelse, imens Softwaren k&oslash;res, og
    interaktive data, som skabes mellem kunden og serveren under k&oslash;rsel af
    Softwaren, eller k&oslash;re Softwaren med plug-ins, eller udarbejde nogen form for
    forbundne funktioner, herunder, men ikke begr&aelig;nset til, plug-ins, adgang til
    Softwaren og relaterede systemer gennem uautoriserede
    tredjepartsv&aelig;rkt&oslash;jer/-tjenester. Hvis du &oslash;nsker at s&aelig;lge, kopiere eller
    distribuere Softwaren kommercielt, f.eks. pr&aelig;installation og pakkesalg af
    software, skal du indhente skriftlig autorisation og licens fra Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Uden
    tilladelse fra Xiaomi m&aring; Brugeren ikke installere Softwaren p&aring; andre enheder,
    der ikke er udtrykkeligt godkendt af Xiaomi, herunder, men ikke begr&aelig;nset til,
    modtagerbokse, spillekonsoller, fjernsyn, DVD-afspillere osv. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Brugeren m&aring;
    lave en kopi af Softwaren med det form&aring;l at bruge Softwaren og tjenesterne, men
    den m&aring; kun bruges som backup. Backupkopien skal indeholde alle de
    copyright-oplysninger, der er indeholdt i den originale software.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Medmindre det
    er udtrykkeligt angivet i denne Aftale, giver Xiaomi ikke andre rettigheder til
    Brugeren. Hvis Brugeren har til hensigt at bruge en anden rettighed, skal der
    f&oslash;rst indhentes skriftligt samtykke fra Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>3. Anskaffelse, installation og
    opgradering af Softwaren</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Brugeren skal
    downloade og installere Softwaren fra hjemmesiden eller p&aring; den m&aring;de, der er
    angivet af Xiaomi. Man b&oslash;r ikke downloade Softwaren p&aring; uspecificerede
    hjemmesider, da man risikerer, at ens mobile enhed bliver inficeret med
    skadelige programmer, der kan &oslash;del&aelig;gge brugerdata og indhente personlige
    oplysninger. Hvis du anskaffer Softwaren eller installationsprogrammet med
    samme navn som Softwaren fra en tredjepart, der ikke er autoriseret af Xiaomi,
    kan Xiaomi ikke garantere, at den vil fungere normalt, og Xiaomi accepterer
    ikke ansvar for tab forbundet hermed.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Brugeren skal
    v&aelig;lge den version af Softwaren, der passer til den enhed, hvorp&aring; den installeres.
    Hvis det ikke er tilf&aelig;ldet, har Brugeren udelukkende ansvaret for
    softwareproblemer, enhedsproblemer eller skader, der er resultat af
    uoverensstemmelse mellem Softwareversion og enhedsmodel.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. For at
    forbedre Brugerens oplevelse og optimere tjenesteindholdet, forbeholder Xiaomi
    sig ret til at udbyde en erstattet, modificeret og opdateret version af
    Softwaren, og forbeholder sig ogs&aring; ret til at opkr&aelig;ve et gebyr for en s&aring;dan
    erstatning, modificering eller opdatering, dog ikke uden f&oslash;rst at have opn&aring;et
    tilladelse til s&aring;danne opkr&aelig;vninger. Softwaren vil som standard aktivere
    funktionen &quot;opgraderingsanmodning&quot; for Brugeren. Afh&aelig;ngigt af hvilken
    Softwareversion, der bruges af Brugeren, giver Xiaomi Brugeren mulighed for at
    v&aelig;lge, om den p&aring;g&aelig;ldende funktion skal aktiveres eller ej. N&aring;r en ny version af
    Softwaren er blevet frigivet, kan Xiaomi ikke garantere, at &aelig;ldre versioner af
    Softwaren fortsat vil v&aelig;re brugbare.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>4. Betingelser for anvendelse</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Brugeren m&aring;
    anvende Softwaren og tjenester i overensstemmelse med denne Aftale og
    lovgivningen. Brugeren m&aring; ikke udf&oslash;re f&oslash;lgende handlinger:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Slette
    copyright-oplysninger p&aring; softwaren og andre kopier, eller modificere, slette
    eller omg&aring; de tekniske foranstaltninger indstillet i softwaren til at beskytte
    immaterielle rettigheder; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Udf&oslash;re
    reverse engineering af softwaren, f.eks. demontering, dekompilering eller andre
    fors&oslash;g p&aring; at f&aring; adgang til softwarens kildekode;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Tilf&oslash;je,
    fjerne eller &aelig;ndre funktioner eller effekter til k&oslash;rsel af Softwaren ved at
    modificere eller forfalske instruktioner eller data under k&oslash;rsel af Softwaren,
    eller p&aring; anden m&aring;de drive Softwaren eller offentligg&oslash;re Softwaren eller metoder
    brugt til ovenst&aring;ende form&aring;l til offentligheden, uanset om det er til
    kommercielle form&aring;l;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Bruge
    softwaren til at beg&aring; handlinger, der er skadelige for netv&aelig;rkssikkerheden,
    herunder, men ikke begr&aelig;nset til: At bruge uautoriserede data eller adgang til
    uautoriserede servere/konti; uautoriseret adgang til offentlige netv&aelig;rk eller andres
    operativsystemer og slette, &aelig;ndre eller tilf&oslash;je lagrede oplysninger;
    uautoriserede fors&oslash;g p&aring; at opdage, scanne eller teste softwaresystemet eller
    netv&aelig;rkssvagheder eller g&oslash;re andre ting, der &oslash;del&aelig;gger netv&aelig;rkssikkerheden;
    fors&oslash;ge at forstyrre eller &oslash;del&aelig;gge softwaresystemets eller hjemmesidens
    normale drift, bevidst sprede skadelige programmer eller virus eller udf&oslash;re
    andre handlinger, der &oslash;del&aelig;gger eller forstyrrer normale
    netv&aelig;rksinformationstjenester; forfalske navnet eller delvise navne p&aring; TCP/IP-datapakker;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Brugeren
    logger p&aring; eller bruger Softwaren og tjenesterne via tredjepartskompatibel
    software eller systemer, der ikke er udviklet, autoriseret eller godkendt af
    Xiaomi, eller laver, offentligg&oslash;r eller udbreder ovenst&aring;ende v&aelig;rkt&oslash;jer;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Uden
    Xiaomis skriftlige samtykke g&oslash;r brugeren noget som helst ved softwaren eller de
    oplysninger, der er indeholdt heri, herunder, men ikke begr&aelig;nset til, brug,
    leasing, udl&aring;n, kopiering, &aelig;ndring, oprettelse af et link, reproduktion,
    kompilering, frigivelse, offentligg&oslash;relse, oprettelse af et spejlbilledewebsted
    eller uautoriseret brug af softwaren til at udvikle relaterede afledte
    produkter, v&aelig;rker, tjenester, plug-ins, kompatibilitet eller sammenkobling;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Bruge
    softwaren til at offentligg&oslash;re, overf&oslash;re, sprede eller gemme indhold, der
    overtr&aelig;der lokale love og regler; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Bruge
    softwaren til at offentligg&oslash;re, transmittere, sprede eller lagre indhold, der
    kr&aelig;nker andres legitime rettigheder, f.eks. intellektuelle ejendomsrettigheder
    og forretningshemmeligheder; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Bruge
    softwaren til at offentligg&oslash;re, transmittere eller sprede reklameinformation
    eller spam i massevis; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Bruge
    Softwaren og andre tjenester udbudt af Xiaomi p&aring; ulovlig vis eller med et
    ulovligt form&aring;l eller p&aring; nogen m&aring;de, der ikke stemmer overens med den godkendte
    brug, i henhold til denne Aftale.</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=DA style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Betingelser for offentligg&oslash;relse af information</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Du m&aring; bruge Softwaren til at offentligg&oslash;re information som visninger, data,
    tekst, oplysninger, brugernavne, billeder, fotos, personlige oplysninger, lyd-
    eller videofiler, links osv., der er fremstillet af dig, eller som du har ret
    til at offentligg&oslash;re. Du skal garantere, at du har de immaterielle rettigheder,
    eller at du har indhentet juridisk tilladelse til de oplysninger, der overf&oslash;res
    af dig, og at din brug af Softwaren og tjenesterne ikke kr&aelig;nker nogen
    tredjeparts lovm&aelig;ssige rettigheder eller interesser.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Ved brug af Softwaren er du forpligtet til at overholde lokal lovgivning og
    lokale forskrifter.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Du m&aring; ikke bruge softwaren til at beg&aring; f&oslash;lgende handlinger, herunder, men ikke
    begr&aelig;nset til</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Producere, reproducere, offentligg&oslash;re, udbrede eller gemme noget af det
    f&oslash;lgende indhold, der strider imod lokal lovgivning og lokale forskrifter;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Offentligg&oslash;re, overf&oslash;re, udbrede eller gemme indhold, der kr&aelig;nker lovm&aelig;ssige
    rettigheder, s&aring;som andres omd&oslash;mmerettigheder, portr&aelig;trettigheder, immaterielle
    rettigheder og forretningshemmeligheder;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Opfinde fakta eller skjule sandheden for at vildlede eller bedrage andre;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Offentligg&oslash;re, overf&oslash;re eller udbrede reklameoplysninger eller spam;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Foretage andre handlinger, der er i strid med lokale love, regler og lignende.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Du m&aring; ikke
    uden tilladelse fra Xiaomi udf&oslash;re kommercielle handlinger i Softwaren, s&aring;som
    reklame, salg af produkter.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Du forst&aring;r og
    accepterer, at:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi vil
    afg&oslash;re, om brugeren er mist&aelig;nkt for at overtr&aelig;de ovenn&aelig;vnte
    brugsspecifikationer, og p&aring; baggrund af resultatet af en s&aring;dan afg&oslash;relse suspendere
    eller opsige den brugslicens, der er tildelt dig, eller tr&aelig;ffe andre
    restriktive foranstaltninger, der kan tr&aelig;ffes i overensstemmelse med denne
    aftale;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi vil
    slette eventuel information direkte, der mist&aelig;nkes for at v&aelig;re ulovlig eller
    for at kr&aelig;nke andres lovm&aelig;ssige rettigheder eller for at v&aelig;re i strid med denne
    Aftale, og som offentligg&oslash;res af Brugeren under brug af den licenserede
    Software;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Hvis du
    overtr&aelig;der ovenst&aring;ende betingelser for anvendelse og dermed for&aring;rsager skade
    for tredjeparter, skal du acceptere ansvaret uafh&aelig;ngigt i eget navn og holde
    Xiaomi skadesl&oslash;s over for eventuelt tab eller udgifter, der opst&aring;r p&aring; grund af
    dette;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Brugeren
    skal holde Xiaomi skadesl&oslash;s over for eventuelle og alle tab, erstatningskrav
    fra tredjepart, administrative b&oslash;der, skader og/eller udgifter, herunder
    rimelige advokathonorarer, udgifter i forbindelse med efterforskning og
    indsamling af beviser, som Xiaomi har p&aring;draget sig p&aring; grund af Brugerens
    overtr&aelig;delse af relevant lovgivning eller brud p&aring; denne Aftale.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>5. Databeskyttelsespolitik og
    persondatabeskyttelse</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Det er
    vigtigt for Xiaomi at beskytte dine personlige data. For at kunne udbyde
    Softwarens funktioner og forbedre brugeroplevelsen, vil Xiaomi indsamle
    bestemte typer data, som angivet i vores Databeskyttelsespolitik. Vi indsamler,
    anvender og beskytter dine data i overensstemmelse med vores
    Databeskyttelsespolitik. Databeskyttelsespolitikken er tilg&aelig;ngelig p&aring; f&oslash;lgende
    hjemmeside [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>6. Tjenesterisiko og ansvarsfraskrivelse</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Brugeren skal
    tilvejebringe den p&aring;kr&aelig;vede enhed til internetadgang og brugen af
    till&aelig;gstjenester fra telefonselskab p&aring; den mobile enhed, og betale
    kommunikationsgebyrer, informationsgebyrer og relaterede udgifter p&aring;draget ved
    internetadgang p&aring; den personlige mobile enhed eller opkr&aelig;vet af tredjeparter
    (herunder, men ikke begr&aelig;nset til telekommunikationsudbydere og udbydere af
    mobilkommunikation). Hvis der er behov for till&aelig;gstjenester fra telefonselskab,
    b&oslash;r du tjekke udgifterne hos din udbyder af till&aelig;gstjenesterne.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Hverken
    Xiaomi eller dennes partner er ansvarlig for eventuelt tab, som Brugeren
    p&aring;drager sig af &aring;rsager, der kan tilskrives tredjeparter, s&aring;som
    kommunikationslinjefejl, tekniske problemer, netv&aelig;rksfejl eller fejl p&aring; den mobile
    enhed, systemustabilitet og andre faktorer relateret til force majeure.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Softwaren kan
    ligesom de fleste andre internetprogrammer p&aring;virkes af faktorer, herunder, men
    ikke begr&aelig;nset til, bruger&aring;rsager, netv&aelig;rkstjenestens kvalitet, forskelle i det
    sociale milj&oslash; osv., og kan ogs&aring; v&aelig;re udsat for chikane i forbindelse med
    forskellige sikkerhedsproblemer, s&aring;som andres brug af brugerens data, hvilket
    resulterer i chikane i det virkelige liv; anden software, der downloades og
    installeres af brugeren, eller andre websteder, som brugeren bes&oslash;ger,
    indeholder &quot;trojanske heste&quot; og andre vira, der truer sikkerheden for
    brugerens terminaludstyrs oplysninger og data og derefter p&aring;virker den normale
    brug af softwaren. Brugeren skal v&aelig;re s&aelig;rligt opm&aelig;rksom p&aring; informationssikkerhed
    og brugerdatabeskyttelse og skal v&aelig;re opm&aelig;rksom p&aring; at styrke
    adgangskodebeskyttelse, for at undg&aring; tab og chikane.</span></b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. N&aring;r Brugeren
    anvender Softwaren eller anmoder Xiaomi om at udbyde specifikke tjenester, vil
    Softwaren eventuelt bruge en tredjeparts system eller software til at
    underst&oslash;tte Brugerens anvendelse eller adgang. Resultaterne af anvendelsen
    eller adgangen vil blive udbudt af tredjeparten. Xiaomi kan ikke garantere
    sikkerheden, n&oslash;jagtigheden og effektiviteten af resultaterne opn&aring;et via
    anvendelse af det p&aring;g&aelig;ldende system eller den p&aring;g&aelig;ldende software, og Xiaomi
    p&aring;tager sig ikke andre uvisse risici. Hvis dette for&aring;rsager en tvist eller
    skader, p&aring;tager Xiaomi sig ikke ansvaret for dette.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi vil
    is&aelig;r gerne g&oslash;re Brugeren opm&aelig;rksom p&aring;, at for at beskytte virksomhedens
    forretningsudvikling og justeringsautonomi, har Xiaomi ret til at modificere
    eller annullere tjenester n&aring;r som helst uden varsel til Brugeren og uden
    erstatningsansvar over for Brugeren eller nogen tredjepart.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Med
    undtagelse af det, der udtrykkeligt er angivet i lovgivning og forskrifter, vil
    vi g&oslash;re vores bedste for at sikre, at Softwaren og involveret teknologi og
    information er sikker, effektiv, pr&aelig;cis og p&aring;lidelig. Men da dette er afh&aelig;ngigt
    af eksisterende teknologi, forst&aring;r Brugeren, at Xiaomi ikke kan garantere
    dette.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Brugeren er
    alene ansvarlig for enhver personskade eller tilf&aelig;ldige skader eller
    f&oslash;lgeskader, herunder men ikke begr&aelig;nset til tab af fortjeneste, tab af data,
    forretningsafbrydelser eller andre kommercielle skader, der opst&aring;r som f&oslash;lge af
    eller i forbindelse med: (1) Brug eller mangel p&aring; brug af den licenserede
    Software, (2) uautoriseret brug af Softwaren eller en tredjeparts modificering
    af Brugerens data, (3) omkostninger og tab, som Brugeren har p&aring;draget sig ved
    brug af Softwaren, (4) misforst&aring;else fra Brugeren af Softwaren, (5) andre tab i
    forbindelse med Softwaren af &aring;rsager, der ikke kan tilskrives Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. I tilf&aelig;lde af
    personlige eller &oslash;konomiske skader eller tab, der er blevet eller kan blive
    for&aring;rsaget som f&oslash;lge af brugerens og andre softwarebrugeres adf&aelig;rd gennem en
    software, eller som f&oslash;lge af at brugeren er blevet vildledt eller bedraget,
    p&aring;tager den skyldige part sig alt ansvar, der opst&aring;r som f&oslash;lge heraf.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>7. Erkl&aelig;ring om intellektuelle
    ejendomsrettigheder</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi er
    indehaveren af de immaterielle rettigheder til Softwaren. Alle immaterielle
    rettigheder, s&aring;som copyright, varem&aelig;rke, patent, forretningshemmelighed, etc.
    relateret til Softwaren, og alle informationer relateret til Softwaren
    (herunder, men ikke begr&aelig;nset til, tekst, billeder, lyd, video, grafik,
    gr&aelig;nsefladedesign, layout, data eller elektroniske dokumenter, etc.) er
    beskyttet af lokal lovgivning og lokale forskrifter og tilsvarende internationale
    traktater. Xiaomi er indehaver af ovenst&aring;ende immaterielle rettigheder.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Uden
    forudg&aring;ende skriftligt samtykke fra Xiaomi m&aring; Brugeren ikke uafh&aelig;ngigt bruge
    eller overf&oslash;re nogen af de ovenst&aring;ende immaterielle rettigheder til
    kommercielle eller ikke-kommercielle form&aring;l, eller tillade, at en tredjepart
    g&oslash;r dette. Xiaomi forbeholder sig ret til at frems&aelig;tte erstatningskrav for
    s&aring;danne handlinger.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>8. &AElig;ndring</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi
    forbeholder sig retten til at &aelig;ndre betingelserne i denne Aftale til enhver tid
    efter eget sk&oslash;n, og s&aring;danne &aelig;ndrede betingelser vil rettidigt blive
    offentliggjort p&aring; relevante hjemmesider. Hvis du ikke accepterer en s&aring;dan
    &aelig;ndring, skal du tage initiativet til at annullere tjenesterne. Hvis du
    forts&aelig;tter med at bruge tjenesterne, vil det blive anset som v&aelig;rende accept af
    den &aelig;ndrede Aftale. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi eller
    Partneren forbeholder sig til enhver tid retten til efter eget sk&oslash;n at
    modificere eller &aelig;ndre de betalte tjenester, der ydes, opkr&aelig;vningskriterier,
    opkr&aelig;vningsmetode, servicegebyrer eller servicebetingelser. Ved udbud af
    tjenesterne kan Xiaomi begynde at opkr&aelig;ve bestemte gebyrer fra nogle brugere nu
    eller i fremtiden. Hvis Brugeren n&aelig;gter at betale s&aring;danne gebyrer, vil Brugeren
    ikke kunne forts&aelig;tte med at bruge relevante tjenester efter start p&aring;
    opkr&aelig;vningen. </span></b><span lang=DA style='font-size:12.0pt;font-family:
    "Times New Roman",serif'>Xiaomi og Partneren vil g&oslash;re deres bedste for at
    informere Brugeren om eventuelle modificeringer eller &aelig;ndringer pr. e-mail
    eller p&aring; anden m&aring;de. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>9. Relevant lovgivning og afg&oslash;relse
    af tvister</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. Denne Aftales
    gyldighed og fortolkning skal reguleres af kinesisk lovgivning. Hvis der ikke
    forefindes relevante lovbestemmelser, kan der henvises til international
    forretningspraksis og/eller forretningspraksis.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Denne Aftale
    underskrives i Haidian-Distriktet, Beijing.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. B&aring;de Brugeren
    og Xiaomi accepterer, at en eventuel tvist, der m&aring;tte opst&aring; i forbindelse med
    tjenesterne, f&oslash;rst skal fors&oslash;ges afgjort ved forhandling mellem Parterne. Hvis
    der ikke kan opn&aring;s en aftale ved hj&aelig;lp af s&aring;danne forhandlinger, kan hvilken
    som helst af Parterne indgive tvisten til den relevante domstol p&aring; det sted,
    hvor Aftalen underskrives.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=DA style='font-family:
    "Times New Roman",serif;'>10. Diverse</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. For enhver
    specifik tjeneste i Softwaren kan der v&aelig;re en separat aftale og relaterede
    forretningsregler osv. (herefter samlet ben&aelig;vnt &quot;separat aftale&quot;), s&aring;
    l&aelig;s og godkend venligst den relevante separate aftale, f&oslash;r du bruger en s&aring;dan
    specifik tjeneste.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Denne aftale
    tr&aelig;der i kraft den 1. december 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3.
    Overskrifterne for betingelserne i denne Aftale er kun beregnet til nem
    henvisning og skal ignoreres ved fortolkning af denne Aftale.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Hvis en
    bestemmelse i denne Aftale er eller bliver ugyldig eller uden retskraft, uanset
    &aring;rsag, skal de resterende bestemmelser i Aftalen forblive fuldt ud retsgyldige
    og bindende for begge Parter.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=DA
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
