<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Acuerdo de
    Licencia de Software y de Servicio</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Notificación
    importante]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (en
    adelante, &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    insta al usuario a que lea detenidamente el presente Acuerdo de Licencia de
    Software y de Servicio (este &quot;Acuerdo&quot;) y se asegure de que entiende
    todas las disposiciones. <b>El usuario debe leer atentamente y comprender
    plenamente los términos del presente Acuerdo, en particular los relacionados
    con la exención o limitación de responsabilidad de Xiaomi, la resolución de
    conflictos y la legislación vigente.</b> <b>Ponga especial atención sobre los
    términos relativos a la exención o limitación de la responsabilidad, que se han
    resaltado en negrita. Lea detenidamente y decida si desea aceptar o rechazar el
    presente Acuerdo (los menores de edad deben leer este Acuerdo con su tutor
    legal). La descarga, instalación y uso del software, así como la obtención de
    una cuenta y el inicio de sesión en ella, implican la aceptación de este
    Acuerdo y la plena sujeción a sus términos.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi se reserva
    el derecho de modificar el presente Acuerdo. Los términos actualizados de este
    Acuerdo se publicarán en el software o el sitio web oficiales y entrarán en
    vigencia a partir de la fecha de publicación.</span></b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> El Usuario puede
    volver a descargar e instalar el software o ver la última versión de los
    términos de este Acuerdo en el sitio web. <b>Si no acepta las modificaciones
    que Xiaomi ha realizado en las condiciones del presente Acuerdo, deje de usar
    de inmediato el software y los servicios de &quot;Xiaomi Router
    <span class="name"></span>&quot;que proporciona Xiaomi. En caso de que el usuario siga utilizando
    el software y los servicios de &quot;Xiaomi Router <span class="name"></span>&quot; que proporciona
    Xiaomi, se entenderá que acepta las condiciones modificadas del presente
    Acuerdo.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>1. Disposiciones generales</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Este Acuerdo
    se celebra entre usted (en lo sucesivo denominado el &quot;Usuario&quot;) y
    Xiaomi y su socio de operaciones (en lo sucesivo denominado el
    &quot;Socio&quot;) en relación con la descarga, la instalación y el uso por
    parte del Usuario del software de &quot;<b>Xiaomi Router <span class="name"></span></b>&quot; (en
    lo sucesivo denominado el &quot;Software&quot;) de Xiaomi y el uso de los
    servicios correspondientes de Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Xiaomi proporciona
    el Software y los servicios para su instalación (de forma no exclusiva) en
    dispositivos móviles inteligentes con el fin de proporcionar los servicios de
    Xiaomi a los Usuarios de dichos dispositivos inteligentes.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. La propiedad
    y el derecho de uso del Software y los servicios se conferirán a Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>2. Alcance de la Licencia de Software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi
    concede al Usuario una licencia personal, intransferible y no exclusiva para
    utilizar el Software sin derecho a sublicenciar.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. El Usuario
    puede instalar, usar, mostrar y ejecutar el Software en un solo terminal móvil
    para fines no comerciales. No obstante, el Usuario no debe instalar, usar ni
    ejecutar el Software con fines de operaciones comerciales. El Usuario(a) no
    debe copiar, transformar ni modificar los datos del Software, tampoco los datos
    distribuidos en la memoria de un dispositivo terminal durante la ejecución del
    Software, ni los datos interactivos generados entre el cliente y el servidor
    durante la ejecución del Software; tampoco debe ejecutar el Software con
    complementos ni crear un producto derivado de ninguna forma, incluidos, entre
    otros, los complementos, el acceso al Software y los sistemas relacionados a
    través de herramientas o servicios de terceros no autorizados. Si necesita
    vender, copiar o distribuir el Software comercialmente (por ejemplo, vender un
    producto con el software preinstalado), debe solicitar a Xiaomi una
    autorización por escrito y una licencia. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. El Usuario no
    puede instalar el Software en otro dispositivo, como decodificadores,
    videoconsolas, televisores, reproductores de DVD y otros equipos, sin la previa
    autorización expresa de Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. El Usuario
    puede hacer una copia del Software con el fin de utilizar este y los servicios,
    pero solo se utilizará como copia de seguridad. La copia de seguridad debe
    contener toda la información de derechos de autor incluida en el software
    original.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Salvo lo
    expresamente autorizado por este Acuerdo, Xiaomi no concede otros derechos al
    Usuario. Si el Usuario tiene la intención de utilizar cualquier otro derecho,
    el consentimiento por escrito de Xiaomi se deberá obtener por adelantado. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>3. Adquisición, instalación y
    actualización del Software</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. El Usuario
    deberá descargar e instalar el Software desde el sitio web o de la manera
    designada por Xiaomi. Hay que tener en cuenta que no se debe descargar el
    Software en sitios web no especificados, a fin de evitar que los dispositivos
    móviles se infecten con programas maliciosos que puedan destruir los datos del
    usuario y adquirir información de privacidad del usuario. Si adquiere el
    Software o el programa de instalación con el mismo nombre del Software de un
    tercero que no ha sido autorizado por Xiaomi, éste no puede garantizar que se
    utilizará normalmente y Xiaomi no acepta ninguna responsabilidad por cualquier
    pérdida que le haya causado.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. El Usuario
    debe seleccionar la versión de Software que coincida con el dispositivo
    terminal instalado. De lo contrario, cualquier problema del software, del dispositivo
    o da&ntilde;os causados por la falta de coincidencia entre la versión del software y
    el modelo del dispositivo serán asumidos exclusivamente por el Usuario.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Con el fin de
    mejorar la experiencia del Usuario y optimizar el contenido del servicio, Xiaomi
    se reserva el derecho de proporcionar una versión reemplazada, modificada y
    actualizada del Software, y también se reserva el derecho de cobrar por dicho
    reemplazo, modificación o actualización, pero obtendrá su consentimiento por
    adelantado para tales cargos. El Software activará la característica de
    &quot;solicitud de actualización&quot; de forma predeterminada para el
    Usuario(a). Dependiendo de la versión del Software utilizada por el Usuario,
    Xiaomi proporciona al Usuario la discreción de habilitar o no dicha función.
    Después de lanzada la nueva versión del Software, Xiaomi no garantiza que las
    versiones anteriores del Software seguirán siendo utilizables.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>4. Especificaciones de uso</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. El Usuario(a)
    puede utilizar el Software y los servicios de conformidad con este Acuerdo y
    las leyes. El Usuario(a) no deberá realizar los siguientes actos:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Eliminar
    cualquier información de copyright del Software y otras copias, ni modificar,
    eliminar o ignorar las medidas técnicas establecidas por el Software para la
    protección de los derechos de propiedad intelectual; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Aplicar
    técnicas de ingeniería inversa al Software, como el desmontaje, la
    descompilación u otras acciones destinadas a obtener el código fuente del
    Software;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. A&ntilde;adir,
    quitar o cambiar las características o efectos en ejecución del Software
    mediante la modificación o falsificación de las instrucciones y datos durante
    la ejecución del Software, o utilizar de otra forma o difundir al público el
    software o los métodos usados para los fines anteriormente descritos, ya sean
    comerciales o no;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Utilizar el
    Software para cometer actos perjudiciales para la seguridad de la red,
    incluidos, entre otros, los siguientes: el uso no autorizado de datos o el
    acceso no autorizado a servidores/cuentas; el acceso no autorizado a redes
    públicas o a sistemas operativos de otras personas y la eliminación,
    modificación o incorporación de cualquier información almacenada; los intentos
    no autorizados de detectar, escanear o probar el sistema del Software o las
    deficiencias de la red o realizar otros actos que disminuyan la seguridad de la
    red; los intentos de interferir o destruir el funcionamiento normal del sistema
    o del sitio web del Software, propagar deliberadamente programas maliciosos o
    virus o realizar otros actos que destruyan o interfieran con los servicios
    normales de información de red o la falsificación del nombre o nombres
    parciales del paquete de datos TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. El Usuario
    no deberá iniciar sesión o utilizar el Software y los servicios a través de un
    software o sistemas compatibles de terceros no desarrollados, autorizados o
    aprobados por Xiaomi, o hacer, publicar o difundir las herramientas anteriores;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Sin el
    consentimiento por escrito de Xiaomi, el Usuario no deberá realizar acciones
    con el Software o la información contenida en él, incluidos, entre otros, el
    uso, arrendamiento, préstamo, copiado, modificación, configuración de un
    enlace, reproducción, compilación, liberación, publicación, establecimiento de
    un sitio web espejo, o el uso no autorizado del Software para desarrollar
    productos, obras, servicios, complementos, compatibilidad o interconexión
    derivados relacionados;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Utilizar el
    Software para publicar, transmitir, difundir o almacenar cualquier contenido
    que infrinja las leyes y reglamentos locales; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Utilizar el
    Software para publicar, transmitir, difundir o almacenar cualquier contenido
    que infrinja los derechos legítimos, como los derechos de propiedad intelectual
    y los secretos comerciales de terceros; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Usar el
    Software para publicar, transmitir o divulgar contenido publicitario o correo
    no deseado en masa; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Utilizar
    el Software y otros servicios provistos por Xiaomi, de cualquier manera ilegal,
    para cualquier fin ilegal o de cualquier manera que sea inconsistente con el
    uso bajo licencia según este Acuerdo;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=ES style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Especificaciones sobre la publicación de información</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Puede utilizar el Software para publicar los siguientes tipos de información:
    vistas, datos, texto, información, nombres de usuario, imágenes, fotografías,
    información personal, archivos de audio o vídeo, enlaces, etc. que usted haya
    creado o que tenga derecho a publicar. Debe garantizar que tiene los derechos
    de propiedad intelectual o debe haber obtenido la autorización legal de la
    información que cargue, y que su uso del Software y los servicios no infringe
    ningún derecho o interés legítimo de terceros.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Al utilizar el Software, debe cumplir con las leyes y reglamentos locales.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    No debe usar el Software para realizar los siguientes actos, incluidos, entre
    otros</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Producir, reproducir, publicar, divulgar o almacenar alguno de los contenidos
    siguientes que infrinja las normativas y leyes locales;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Publicar, transmitir, difundir o almacenar cualquier contenido que infrinja los
    derechos legítimos, como el derecho al honor, el derecho de imagen, los
    derechos de propiedad intelectual y los secretos comerciales de terceros;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Inventar un hecho u ocultar la verdad para enga&ntilde;ar a terceros;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Publicar, transmitir o difundir información publicitaria o correo basura;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Participar en otros actos que infrinjan las leyes y los reglamentos locales,
    etc.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Sin el
    permiso de Xiaomi, no deberá llevar a cabo ninguna conducta comercial en el
    Software, como publicidad, venta de mercancías.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Entiende y
    acepta que:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi
    determinará si el Usuario es sospechoso de haber infringido las
    especificaciones de uso mencionadas en los puntos anteriores y, según su
    resolución, suspenderá o cancelará la licencia de uso que le ha concedido o
    tomará otras medidas restrictivas de conformidad con el presente Acuerdo;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    eliminará directamente cualquier información publicada por el Usuario durante
    el uso del Software con licencia que sospeche que es ilícita o infringe los
    derechos legítimos de terceros o las disposiciones del presente Acuerdo;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Si infringe
    algunas de las especificaciones de uso anteriores y, al hacerlo, causa da&ntilde;os a
    terceros, debe asumir toda la responsabilidad y exonerar a Xiaomi de cualquier
    pérdida o gasto derivados;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. El Usuario
    debe indemnizar a Xiaomi y exonerarlo en caso de cualquier pérdida, reclamación
    de terceros, penalización administrativa, da&ntilde;o o gasto, incluidos los
    honorarios legales razonables y los costes de investigación y recogida de
    pruebas, en el que Xiaomi haya incurrido o que le haya afectado a raíz de la
    infracción de las leyes aplicables o del presente Acuerdo por parte del
    Usuario.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>5. Política de Privacidad y Protección
    de Datos Personales</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Proteger sus
    datos personales es muy importante para Xiaomi. Con el objetivo de proporcionar
    las funciones del Software y mejorar la experiencia del Usuario, Xiaomi
    recopilará determinados tipos de datos según lo establecido en nuestra Política
    de Privacidad. Recopilamos, utilizamos y protegernos sus datos de conformidad
    con nuestra Política de Privacidad. La Política de privacidad se encuentra
    disponible en el siguiente sitio web [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>6. Riesgo de Servicio y Descargo de Responsabilidad</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. El Usuario
    debe adquirir el dispositivo necesario para acceder a Internet y usar los
    servicios de valor agregado de telecomunicaciones del dispositivo terminal
    móvil, y debe pagar los cargos por comunicación, información y los costes relacionados
    incurridos por el acceso a Internet del dispositivo móvil personal o cobrados
    por terceros (incluidos, entre otros, los proveedores de telecomunicaciones y
    comunicación móvil). Si se necesitan servicios de telecomunicaciones de valor
    a&ntilde;adido, se recomienda confirmar los precios con el proveedor de servicios de
    telecomunicaciones de valor a&ntilde;adido.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Xiaomi y su
    Socio no se hacen responsables de las pérdidas que sufra el Usuario por motivos
    atribuibles a terceros, como un fallo en la línea de comunicación, un problema
    técnico, un fallo de la red o del dispositivo móvil, la inestabilidad del
    sistema u otras causas de fuerza mayor.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. El Software,
    como la mayoría de los demás programas de Internet, puede verse afectado por
    factores como, entre otros, motivos del usuario, la calidad del servicio de la
    red, las diferencias en el entorno social, etc., y también puede estar sujeto
    al acoso relacionado con diversos problemas de seguridad, como el uso de datos
    del usuario por otros, lo que da lugar a un acoso en la vida real; otros
    programas descargados e instalados por el usuario u otros sitios web visitados
    por el usuario contienen &quot;troyanos&quot; y otros virus, que amenazan la
    seguridad de la información y los datos del dispositivo terminal del usuario, y
    que luego afectan al uso normal del Software. El Usuario(a) deberá mejorar su
    conocimiento acerca de la seguridad de la información y la protección de los
    datos del usuario(a), y prestar atención al fortalecimiento de la protección
    con contrase&ntilde;a, a fin de evitar pérdidas y acoso.</span></b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Cuando el
    Usuario utiliza el Software o solicita a Xiaomi que provea servicios
    específicos, el Software puede llamar a un sistema o software de terceros para
    respaldar el uso o acceso del Usuario. Los resultados del uso o el acceso serán
    proporcionados por el tercero. Xiaomi no garantiza la seguridad, precisión y
    eficacia de los resultados obtenidos con la ayuda de dicho sistema o software,
    ni asume ningún otro riesgo indeterminado. En caso de da&ntilde;os o litigios, Xiaomi
    no asume ninguna responsabilidad.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi quiere
    dirigir la atención del Usuario a este punto específico, para así proteger la
    autonomía, adaptación y desarrollo empresarial de la compa&ntilde;ía. Xiaomi tiene
    derecho a modificar o suspender los servicios en cualquier momento sin
    notificar al Usuario y sin que ello conlleve ninguna responsabilidad ante el
    Usuario o cualquier tercero.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Salvo lo
    dispuesto de forma expresa en las leyes o normativas, haremos todo lo posible
    por asegurarnos de que el Software y la tecnología e información relacionadas
    son seguros, eficientes, precisos y fiables; no obstante, dada la tecnología
    actual, el Usuario entiende que Xiaomi no puede garantizarlo.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. El Usuario
    será el único responsable de las lesiones personales o los da&ntilde;os directos o
    indirectos, incluidos, entre otros, la pérdida de beneficios, la pérdida de
    datos, la interrupción de la actividad empresarial u otros da&ntilde;os comerciales
    derivados o relacionados con: 1) el uso o no uso del Software con licencia; 2)
    el uso del Software o la modificación de los datos del Usuario por parte de un
    tercero no autorizado; 3) los costes y las pérdidas causados por el Usuario
    durante el uso del Software; 4) la malinterpretación del Software por parte del
    usuario; 5) otras pérdidas relacionadas con el Software por motivos no
    atribuibles a Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. En caso de
    que se produzcan da&ntilde;os o pérdidas personales o económicas que se hayan
    producido o puedan haberse producido por la conducta del Usuario y de otros
    usuarios del Software a través de cualquier software, o debido a que el Usuario
    haya sido enga&ntilde;ado o defraudado, la parte culpable asumirá todas las
    responsabilidades que se deriven de ello.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>7. Declaración sobre los Derechos de
    Propiedad Intelectual</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi es el
    titular de los derechos de propiedad intelectual del Software. Todos los
    derechos de propiedad intelectual tales como copyright, marca registrada,
    patente, secreto comercial, etcétera. relacionados con el Software y toda la
    información relacionada con el Software (incluidos, entre otros, texto,
    imágenes, audio, vídeo, gráficos, dise&ntilde;o de interfaz, dise&ntilde;o, documentos de
    datos o electrónicos, etc.) están protegidos por las leyes y regulaciones
    locales y los tratados internacionales correspondientes. Xiaomi posee los derechos
    de propiedad intelectual mencionados anteriormente.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Sin el previo
    consentimiento por escrito de Xiaomi, el Usuario no puede usar ni transferir de
    manera independiente ninguno de los derechos de propiedad intelectual
    mencionados, ya sea con fines comerciales o no, ni permitir a terceros que lo
    hagan. Xiaomi se reserva el derecho de reclamar responsabilidad jurídica por
    tales actos.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>8. Modificaciones</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi se
    reserva el derecho de modificar los términos de este Acuerdo oportunamente a su
    exclusivo criterio, y cualquier término modificado se publicará oportunamente
    en páginas web relevantes. Si no está de acuerdo con alguna modificación,
    deberá cancelar los servicios. Si continúa usando los servicios, se considerará
    que acepta el Acuerdo modificado. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi o el
    Socio se reservan el derecho para, de vez en cuando y a su exclusivo criterio,
    modificar o cambiar los servicios pagados provistos, los criterios de cobro, el
    modo de carga, los cargos por servicio o los términos del servicio. Al proveer
    los servicios, Xiaomi puede comenzar a cobrar a algunos usuarios por ciertos
    cargos ahora o en el futuro. Si el Usuario se niega a pagar dichos cargos, el
    Usuario no podrá continuar utilizando los servicios relevantes después de que
    comience el cobro. </span></b><span lang=ES style='font-size:12.0pt;font-family:
    "Times New Roman",serif'>Xiaomi y el Socio harán cuanto esté a su alcance para
    informar al Usuario de posibles modificaciones o cambios, por correo
    electrónico o de otra manera. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>9. Ley Aplicable y Resolución de
    Conflictos</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. La validez e
    interpretación de este Acuerdo se regirán por las leyes de la República Popular
    de China continental. En ausencia de las disposiciones legales relevantes, se
    puede hacer referencia a las prácticas empresariales nacionales o
    internacionales.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Este Acuerdo
    se firma en el distrito de Haidian, Pekín.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Tanto el
    Usuario como Xiaomi acuerdan que cualquier disputa que surja de los servicios
    se resolverá primero a través de consultas entre las Partes. Si no se puede
    llegar a un acuerdo a través de dichas consultas, cualquiera de las Partes
    puede someter la disputa al tribunal de jurisdicción competente sobre el lugar
    donde se firma este Acuerdo.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=ES style='font-family:
    "Times New Roman",serif;'>10. Otras disposiciones</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Para
    cualquier servicio específico del Software, puede existir un acuerdo por
    separado y reglas comerciales relacionadas, etc. (en adelante, el &quot;acuerdo
    por separado&quot;); por lo tanto, lea y acepte el acuerdo por separado
    pertinente antes de utilizar dicho servicio específico.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. El presente
    Acuerdo entrará en vigor el 1 de diciembre del 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Los encabezados
    de todos los términos de este Acuerdo son solo para facilitar su referencia y
    se ignorarán al interpretar este Acuerdo.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Si alguna
    disposición de este Acuerdo es o se vuelve inválida o inaplicable por
    cualesquiera motivos, las disposiciones restantes del mismo permanecerán en
    pleno vigor y efecto y serán vinculantes para ambas Partes aquí presentes.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=ES
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
