<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Programin&#279;s
    &#303;rangos licencijos ir paslaug&#371; sutartis</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Svarbus
    prane&#353;imas]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc.
    (toliau – &#8222;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>“) primena
    naudotojui atid&#382;iai perskaityti ir visi&#353;kai suprasti Programin&#279;s &#303;rangos
    licencijos ir paslaug&#371; sutart&#303; (&#353;i&#261; &#8222;Sutart&#303;“). <b>Naudotojas turi atid&#382;iai
    perskaityti ir visi&#353;kai suprasti &#353;ios Sutarties s&#261;lygas, ypa&#269; susijusias su
    &#8222;Xiaomi“ atsakomyb&#279;s i&#353;imtimis arba apribojimais, gin&#269;&#371; sprendimu ir taikomais
    &#303;statymais.</b> <b>Atkreipkite d&#279;mes&#303; &#303; pary&#353;kintas s&#261;lygas, susijusias su
    atsakomyb&#279;s i&#353;imtimis arba apribojimais. Atid&#382;iai perskaitykite ir nuspr&#281;skite,
    ar sutinkate su &#353;ia Sutartimi (nepilname&#269;iui skaitant &#353;i&#261; Sutart&#303; jam turi
    pad&#279;ti teis&#279;tas glob&#279;jas). Atsisi&#371;sdami, &#303;diegdami ir naudodami &#353;i&#261; programin&#281;
    &#303;rang&#261;, taip pat susikurdami paskyr&#261; ir prisijungdami prie jos, sutinkate su
    &#353;ia Sutartimi ir visi&#353;kai laikytis jos s&#261;lyg&#371;.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&#8222;Xiaomi“ pasilieka
    teis&#281; i&#353; dalies pakeisti &#353;i&#261; Sutart&#303;. Atnaujintos &#353;ios Sutarties s&#261;lygos bus
    paskelbtos oficialioje interneto svetain&#279;je arba programin&#279;je &#303;rangoje ir
    &#303;sigalios nuo paskelbimo datos.</span></b><span lang=LT style='font-size:12.0pt;
    font-family:"Times New Roman",serif'> Naudotojas gali pakartotinai atsisi&#371;sti
    ir &#303;diegti programin&#281; &#303;rang&#261; arba per&#382;iūr&#279;ti naujausi&#261; &#353;ios Sutarties s&#261;lyg&#371;
    versij&#261; interneto svetain&#279;je. <b>&#8222;Xiaomi“ i&#353; dalies pakeitus &#353;ios Sutarties
    s&#261;lygas, jei nesutinkate su pakeistomis s&#261;lygomis, nedelsdami nutraukite
    naudojim&#261;si &#8222;Xiaomi</b>“ <b>mar&#353;ruto parinktuvo <span class="name"></span> programine &#303;ranga ir
    &#8222;Xiaomi“ teikiamomis paslaugomis. Tolimesnis naudotojo naudojimasis &#8222;Xiaomi“
    mar&#353;ruto parinktuvo programine &#303;ranga ir &#8222;Xiaomi“ teikiamomis paslaugomis bus
    laikomas sutikimu su pakeistomis &#353;ios Sutarties s&#261;lygomis.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>1. Bendrosios nuostatos</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. &#352;i Sutartis
    yra sutartis, sudaroma tarp jūs&#371; (toliau – Naudotojas) ir &#8222;Xiaomi“ bei jos
    veiklos partnerio (toliau – Partneris) d&#279;l Naudotojo atliekamo <b>&#8222;Xiaomi“
    mar&#353;ruto parinktuvo <span class="name"></span> </b>programin&#279;s &#303;rangos atsisiuntimo, diegimo ir
    naudojimosi ja (toliau – Programin&#279; &#303;ranga) bei naudojimosi susijusiomis
    &#8222;Xiaomi“ paslaugomis.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. &#8222;Xiaomi“
    teikiama Programin&#279; &#303;ranga ir paslaugos yra skirtos &#303;diegti &#303; mobili&#371;j&#371;
    i&#353;mani&#371;j&#371; terminal&#371; &#303;renginius (&#303;skaitant, bet neapsiribojant jais), kad
    &#8222;Xiaomi“ gal&#279;t&#371; teikti paslaugas Naudotojui, naudojan&#269;iam min&#279;t&#261; i&#353;man&#371;j&#303;
    terminal&#261;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Programin&#279;s
    &#303;rangos ir paslaug&#371; nuosavyb&#279;s teis&#279; ir teis&#279; teikti jas priklauso &#8222;Xiaomi“.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>2. Programin&#279;s &#303;rangos licencijavimo
    apr&#279;ptis</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. &#8222;Xiaomi“
    suteikia Naudotojui asmenin&#281;, neperduodam&#261; ir nei&#353;skirtin&#281; licencij&#261; naudotis
    Programine &#303;ranga, be teis&#279;s sublicencijuoti.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Naudotojas
    gali &#303;diegti, naudoti, demonstruoti ir naudoti Programin&#281; &#303;rang&#261; viename
    mobiliojo terminalo &#303;renginyje nekomerciniais tikslais. Ta&#269;iau Naudotojui
    draud&#382;iama diegti arba naudoti Programin&#281; &#303;rang&#261; komerciniais tikslais.
    Naudotojui draud&#382;iama kopijuoti, keisti arba modifikuoti bet kokius Programin&#279;s
    &#303;rangos duomenis arba bet kokius duomenis, &#303;ra&#353;ytus &#303; bet kokio terminalo
    &#303;renginio atmint&#303; naudojant Programin&#281; &#303;rang&#261; ir interaktyvius duomenis,
    sukurtus tarp kliento ir serverio, veikiant Programinei &#303;rangai, taip pat
    naudoti Programin&#281; &#303;rang&#261; su papildiniais, kurti bet kokius i&#353;vestinius
    kūrinius, &#303;skaitant papildinius, ta&#269;iau jais neapsiribojant, pasiekti
    Programin&#281; &#303;rang&#261; ir susijusias sistemas naudojant ne&#303;galiotus tre&#269;i&#371;j&#371; &#353;ali&#371;
    &#303;rankius / paslaugas. Jei reikia parduoti, kopijuoti arba platinti Programin&#281;
    &#303;rang&#261; komerci&#353;kai, pvz., kaip i&#353; anksto &#303;diegt&#261; programin&#281; &#303;rang&#261; arba
    programin&#279;s &#303;rangos paketus, turite gauti ra&#353;ti&#353;k&#261; &#303;galiojim&#261; ir licencij&#261; i&#353;
    &#8222;Xiaomi“. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Netur&#279;damas
    &#8222;Xiaomi“ leidimo Naudotojas negali diegti Programin&#279;s &#303;rangos kituose terminal&#371;
    &#303;renginiuose, kurie n&#279;ra ai&#353;kiai leid&#382;iami &#8222;Xiaomi“, &#303;skaitant pried&#279;lius,
    &#382;aidim&#371; konsoles, televizorius, DVD grotuvus ir pan., bet jais neapsiribojant. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Naudotojas
    gali sukurti Programin&#279;s &#303;rangos kopij&#261; programin&#279;s &#303;rangos ir paslaug&#371;
    naudojimo tikslais, ta&#269;iau ji gali būti naudojama tik kaip atsargin&#279; kopija.
    Atsargin&#279;je kopijoje turi būti visa autori&#371; teisi&#371; informacija, esanti
    originalioje programin&#279;je &#303;rangoje.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Jei n&#279;ra ai&#353;kiai
    &#303;galiota &#353;ia Sutartimi, &#8222;Xiaomi“ nesuteikia Naudotojui kit&#371; teisi&#371;. Jei
    Naudotojas ketina naudotis bet kokiomis kitomis teis&#279;mis, reikia i&#353; anksto
    gauti ra&#353;ti&#353;k&#261; &#8222;Xiaomi“ sutikim&#261;. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>3. Programin&#279;s &#303;rangos &#303;sigijimas,
    diegimas ir atnaujinimas</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Naudotojas
    atsisi&#371;s ir &#303;diegs Programin&#281; &#303;rang&#261; i&#353; interneto svetain&#279;s arba &#8222;Xiaomi“
    nurodytu būdu. Nor&#279;dami i&#353;vengti mobili&#371;j&#371; &#303;rengini&#371; u&#382;kr&#279;timo kenk&#279;ji&#353;komis
    programomis, galin&#269;iomis sunaikinti naudotojo duomenis ir perimti priva&#269;i&#261;
    naudotojo informacij&#261;, neatsisi&#371;skite Programin&#279;s &#303;rangos i&#353; nenurodyt&#371;
    interneto svetaini&#371;. Jei Programin&#281; &#303;rang&#261; arba diegimo program&#261; tokiu pa&#269;iu
    pavadinimu kaip Programin&#279; &#303;ranga &#303;sigijote ne i&#353; &#8222;Xiaomi“ &#303;galiotos tre&#269;iosios
    &#353;alies, &#8222;Xiaomi“ negali u&#382;tikrinti &#303;prasto jos naudojimo ir &#8222;Xiaomi“ neprisiima
    jokios atsakomyb&#279;s u&#382; d&#279;l to jūs&#371; patirtus nuostolius.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Naudotojas
    turi pasirinkti Programin&#279;s &#303;rangos versij&#261;, atitinkan&#269;i&#261; sumontuot&#261; terminalo
    &#303;rengin&#303;. Prie&#353;ingu atveju u&#382; kilusias programin&#279;s &#303;rangos, &#303;renginio problemas
    arba nuostolius d&#279;l Programin&#279;s &#303;rangos versijos ir &#303;renginio modelio
    neatitikimo bus atsakingas tik Naudotojas.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Siekiant
    pagerinti Naudotojo patirt&#303; ir optimizuoti paslaug&#371; turin&#303;, &#8222;Xiaomi“ pasilieka
    teis&#281; teikti pakeist&#261;, modifikuot&#261; ir atnaujint&#261; Programin&#279;s &#303;rangos versij&#261;,
    taip pat pasilieka teis&#281; imti mokest&#303; u&#382; tokius pakeitimus, modifikacijas arba
    atnaujinimus, ta&#269;iau i&#353; anksto gaus jūs&#371; sutikim&#261; d&#279;l toki&#371; mokes&#269;i&#371;. Pagal
    numatytuosius nustatymus, Programin&#279;je &#303;rangoje bus &#303;galintas &#8222;atnaujinimo
    raginimas“ Naudotojui. Priklausomai nuo Naudotojo naudojamos Programin&#279;s
    &#303;rangos versijos, &#8222;Xiaomi“ leid&#382;ia Naudotojui rinktis, ar &#303;galinti min&#279;t&#261;
    funkcij&#261;, ar ne. I&#353;leidus nauj&#261; Programin&#279;s &#303;rangos versij&#261;, &#8222;Xiaomi“
    negarantuoja, kad senesn&#279; Programin&#279;s &#303;rangos versija bus ir toliau tinkama
    naudoti.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>4. Naudojimo specifikacijos</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Naudotojas
    gali naudotis programine &#303;ranga ir paslaugomis, laikydamasis &#353;ios Sutarties ir
    &#303;statym&#371;. Naudotojui draud&#382;iama atlikti toliau apra&#353;ytus veiksmus:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Panaikinti
    bet koki&#261; autori&#371; teisi&#371; informacij&#261;, esan&#269;i&#261; Programin&#279;je &#303;rangoje ir kitose
    kopijose, arba modifikuoti, panaikinti arba apeiti Programin&#279;je &#303;rangoje
    nustatytas intelektin&#279;s nuosavyb&#279;s teisi&#371; apsaugos priemones; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Atlikti
    Programin&#279;s &#303;rangos apgr&#261;&#382;os in&#382;inerij&#261;, pvz., ardym&#261;, dekompiliavim&#261;, arba
    kitaip bandyti gauti Programin&#279;s &#303;rangos programin&#303; kod&#261;;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Prid&#279;ti,
    pa&#353;alinti arba keisti Programin&#279;s &#303;rangos funkcijas arba veikimo rezultatus,
    modifikuojant arba klastojant instrukcijas ir duomenis Programin&#279;s &#303;rangos
    veikimo metu arba kitaip naudoti ar vie&#353;ai platinti programin&#281; &#303;rang&#261; arba
    būdus, naudojamus anks&#269;iau apra&#353;ytiems tikslams, nepriklausomai nuo to, ar
    tikslai komerciniai;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Naudoti
    Programin&#281; &#303;rang&#261; atliekant veiksmus, kenkian&#269;ius tinklo saugumui, &#303;skaitant
    toliau apra&#353;ytus, bet jais neapsiribojant: neleistin&#371; duomen&#371; naudojimas arba
    prieiga prie neleistin&#371; serveri&#371; / paskyr&#371;; neleistina prieiga prie vie&#353;&#371;
    tinkl&#371; arba kitiems priklausan&#269;i&#371; operacini&#371; sistem&#371; ir bet kokios saugomos
    informacijos naikinimas, modifikavimas arba papildymas; neleistini bandymai
    aptikti, nuskaityti arba i&#353;bandyti Programin&#279;s &#303;rangos sistemos arba tinklo
    silpn&#261;sias vietas, arba kiti tinklo saugumui kenkiantys veiksmai; bandymas
    daryti &#303;tak&#261; &#303;prastam Programin&#279;s &#303;rangos sistemos arba &#382;iniatinklio puslapio
    veikimui arba j&#303; sugadinti, ty&#269;inis kenk&#279;ji&#353;k&#371; program&#371; arba virus&#371; platinimas
    arba kiti veiksmai, gadinantys &#303;prastas tinklo informacines paslaugas arba
    trukdantys joms; TCP/IP duomen&#371; paket&#371; pavadinim&#371; arba pavadinimo dali&#371;
    klastojimas;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Naudotojui
    prisijungti prie Programin&#279;s &#303;rangos ir paslaug&#371; arba naudotis jomis per
    tre&#269;i&#371;j&#371; &#353;ali&#371; suderinam&#261; programin&#281; &#303;rang&#261; arba sistemas, kurios nebuvo
    sukurtos, leistos naudoti ar patvirtintos &#8222;Xiaomi“, arba kurti, publikuoti ar
    platinti anks&#269;iau min&#279;tus &#303;rankius;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Neturint
    ra&#353;ytinio &#8222;Xiaomi“ sutikimo, Naudotojui draud&#382;iama su Programine &#303;ranga arba
    joje esan&#269;ia informacija atlikti toliau apra&#353;ytus veiksmus, ta&#269;iau jais
    neapsiribojant: naudoti, nuomoti, skolinti, kopijuoti, modifikuoti, sukurti
    sait&#261;, atkurti, kompiliuoti, vie&#353;inti, publikuoti, kurti interneto svetain&#279;s
    kopij&#261; arba neteis&#279;tai naudotis Programine &#303;ranga kuriant susijusius
    i&#353;vestinius produktus, kūrinius, paslaugas, papildinius, suderinamumus arba
    sujungimus;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Naudoti
    Programin&#281; &#303;rang&#261; vietinius &#303;statymus ir reglamentus pa&#382;eid&#382;ian&#269;io turinio
    publikavimui, perdavimui, platinimui arba saugojimui; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Naudoti
    Programin&#281; &#303;rang&#261; publikuojant, perduodant, platinant arba saugant bet kok&#303;
    turin&#303;, pa&#382;eid&#382;iant&#303; pagr&#303;stas teises, pvz., intelektin&#279;s nuosavyb&#279;s teises ir
    kit&#371; &#353;ali&#371; komercines paslaptis; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Naudoti
    Programin&#281; &#303;rang&#261; publikuojant, perduodant arba platinant reklamin&#281; informacij&#261;
    arba brukalus dideliais kiekiais; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Naudoti
    Programin&#281; &#303;rang&#261; ir kitas &#8222;Xiaomi“ teikiamas paslaugas pa&#382;eid&#382;iant &#303;statymus,
    bet kokiems neteis&#279;tiems tikslams arba ne pagal &#353;ioje Sutartyje licencijuot&#261;
    naudojim&#261;;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=LT style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Informacijos publikavimo specifikacijos</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Galite naudoti Programin&#281; &#303;rang&#261; publikuodami informacij&#261;, pvz., per&#382;iūras,
    duomenis, tekst&#261;, informacij&#261;, naudotoj&#371; vardus, paveiksl&#279;lius, nuotraukas,
    asmenin&#281; informacij&#261;, garso arba vaizdo &#303;ra&#353;us, nuorodas ir pan., kurias
    sukūr&#279;te patys arba turite teis&#281; publikuoti. Turite u&#382;tikrinti, kad turite
    intelektin&#279;s nuosavyb&#279;s teises arba gavote teis&#279;t&#261; &#303;galiojim&#261; &#303;keltai
    informacijai ir kad naudodamiesi programine &#303;ranga ir paslaugomis nepa&#382;eid&#382;iate
    joki&#371; tre&#269;i&#371;j&#371; &#353;ali&#371; pagr&#303;st&#371; teisi&#371; arba interes&#371;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Naudodamiesi Programine &#303;ranga privalote laikytis vietini&#371; &#303;statym&#371; ir
    reglament&#371;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Draud&#382;iama naudoti Programin&#281; &#303;rang&#261; &#353;iems veiksmams, &#303;skaitant toliau
    apra&#353;ytus, ta&#269;iau jais neapsiribojant</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Kurti, atkurti, publikuoti, platinti arba saugoti bet kok&#303; i&#353; toliau nurodyto
    turinio, pa&#382;eid&#382;iant&#303; vietinius &#303;statymus ir reglamentus;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Publikuoti, perduoti, platinti arba saugoti bet kok&#303; turin&#303;, pa&#382;eid&#382;iant&#303;
    pagr&#303;stas teises, pvz., reputacijos, teis&#279;s &#303; atvaizd&#261;, intelektin&#279;s nuosavyb&#279;s
    teises ir kit&#371; &#353;ali&#371; komercines paslaptis;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Klastoti faktus arba nusl&#279;pti ties&#261;, siekiant suklaidinti arba apgauti kitus;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Publikuoti, perduoti arba platinti reklamin&#281; informacij&#261; arba brukalus;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Vykdyti kitas veiklas, pa&#382;eid&#382;ian&#269;ias vietinius &#303;statymus, reglamentus ir pan.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Be &#8222;Xiaomi“
    leidimo Programin&#279;je &#303;rangoje draud&#382;iama vykdyti bet koki&#261; komercin&#281; veikl&#261;,
    pvz., reklamuoti, pardavin&#279;ti prekes.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Suprantate ir
    sutinkate, kad:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. &#8222;Xiaomi“
    nuspr&#281;s, ar Naudotojas &#303;tariamas pa&#382;eid&#281;s anks&#269;iau min&#279;tas naudojimo
    specifikacijas ir, remdamasi &#353;iuo sprendimu, sustabdys arba nutrauks jums
    suteikt&#261; naudojimo licencij&#261; arba imsis kit&#371; ribojimo priemoni&#371; pagal &#353;i&#261;
    Sutart&#303;;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. &#8222;Xiaomi“
    tiesiogiai panaikins bet koki&#261; informacij&#261;, kuri&#261; Naudotojas paskelb&#279;
    naudodamasis licencijuota Programine &#303;ranga, kilus &#303;tarim&#371;, kad informacija
    pa&#382;eid&#382;ia &#303;statymus arba pagr&#303;stas kit&#371; teises arba pa&#382;eid&#382;i&#261; &#353;i&#261; Sutart&#303;;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Pa&#382;eid&#281;
    anks&#269;iau min&#279;tas naudojimo specifikacijas ir suk&#279;l&#281; &#382;al&#261; tre&#269;iosioms &#353;alims,
    tur&#279;site nepriklausomai prisiimti atsakomyb&#281; savo vardu ir saugoti &#8222;Xiaomi“ nuo
    bet koki&#371; su tuo susijusi&#371; nuostoli&#371; arba i&#353;laid&#371;;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Naudotojas
    atlygins &#382;al&#261; &#8222;Xiaomi“ ir saugos j&#261; nuo bet koki&#371; nuostoli&#371;, tre&#269;i&#371;j&#371; &#353;ali&#371;
    pretenzij&#371;, administracini&#371; nuobaud&#371;, &#382;alos ir (arba) i&#353;laid&#371;, &#303;skaitant
    pagr&#303;st&#261; atlyg&#303; advokatui, bylin&#279;jimosi ir (arba) arbitra&#382;o mokes&#269;ius, patirtus
    &#8222;Xiaomi“ Naudotojui pa&#382;eidus susijusius &#303;statymus arba nesilaikant &#353;ios
    Sutarties.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>5. Privatumo politika ir asmenini&#371; duomen&#371;
    apsauga</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. &#8222;Xiaomi“ yra
    svarbu saugoti jūs&#371; asmens duomenis. Siekdama teikti Programin&#279;s &#303;rangos
    funkcijas ir pagerinti Naudotojo patirt&#303;, &#8222;Xiaomi“ rinks tam tikr&#371; tip&#371;
    duomenis, kaip nurodyta mūs&#371; Privatumo politikoje. Renkame, naudojame ir saugome
    jūs&#371; duomenis pagal savo Privatumo politik&#261;. Privatumo politik&#261; rasite &#353;iame
    &#382;iniatinklio puslapyje [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>6. Paslaug&#371; rizika ir atsakomyb&#279;s
    atsisakymas</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Naudotojas
    turi &#303;sigyti &#303;rengin&#303;, reikaling&#261; interneto prieigai, ir telekomo prid&#279;tin&#279;s vert&#279;s
    paslaugas, naudojamas mobiliojo terminalo &#303;renginio, bei padengti ry&#353;io
    mokes&#269;ius, informacijos mokes&#269;ius ir susijusias i&#353;laidas u&#382; asmeninio mobiliojo
    terminalo &#303;renginio interneto prieig&#261; arba nustatytas tre&#269;i&#371;j&#371; &#353;ali&#371; (&#303;skaitant
    telekomunikacij&#371; ir mobiliojo ry&#353;io paslaug&#371; teik&#279;jus, bet jais
    neapsiribojant). Jei reikalingos bet kokios telekomo prid&#279;tin&#279;s vert&#279;s
    paslaugos, kain&#371; patariama teirautis telekomo prid&#279;tin&#279;s vert&#279;s paslaug&#371;
    teik&#279;jo.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Nei &#8222;Xiaomi“,
    nei jos Partneris n&#279;ra atsakingi u&#382; jokius nuostolius, Naudotojo patirtus d&#279;l
    nuo tre&#269;i&#371;j&#371; &#353;ali&#371; priklausan&#269;i&#371; prie&#382;as&#269;i&#371;, pvz., ry&#353;io linijos gedimo,
    technini&#371; problem&#371;, tinklo arba mobiliojo terminalo &#303;renginio gedimo, sistemos
    nestabilumo ir &#303;vairi&#371; kit&#371; nenugalimos j&#279;gos veiksni&#371;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Programin&#279;
    &#303;ranga, kaip ir dauguma kitos Internetin&#279;s programin&#279;s &#303;rangos, gali būti
    paveikta veiksni&#371;, &#303;skaitant, bet jomis neapsiribojant, naudotojo prie&#382;astis,
    tinklo paslaug&#371; kokyb&#281;, socialin&#279;s aplinkos skirtumus ir pan., taip pat gali
    būti vykdomas persekiojimas d&#279;l &#303;vairi&#371; saugumo problem&#371;, toki&#371; kaip kit&#371;
    asmen&#371; naudojimasis Naudotojo duomenimis, d&#279;l kurio realiame gyvenime
    patiriamas persekiojimas; kitoje Naudotojo atsisiun&#269;iamoje ir &#303;diegtoje
    programin&#279;je &#303;rangoje arba kitose Naudotojo lankomose svetain&#279;se yra &#8222;Trojos
    arkli&#371;“ ir kit&#371; virus&#371;, kelian&#269;i&#371; gr&#279;sm&#281; Naudotojo terminal&#371; &#303;renginio
    informacijos ir duomen&#371; saugumui, o v&#279;liau &#303;takojan&#269;i&#371; &#303;prast&#261; Programin&#279;s
    &#303;rangos naudojim&#261;. Naudotojas turi didinti informuotum&#261; apie informacin&#303;
    saugum&#261; ir naudotojo duomen&#371; apsaug&#261; bei skirti d&#279;mesio slapta&#382;od&#382;i&#371; apsaugos
    stiprinimui, norint i&#353;vengti nuostoli&#371; ir persekiojimo.</span></b><span
    lang=LT style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Naudotojui
    naudojantis Programine &#303;ranga arba pra&#353;ant &#8222;Xiaomi“ suteikti konkre&#269;ias
    paslaugas, Programin&#279; &#303;ranga gali kreiptis &#303; tre&#269;i&#371;j&#371; &#353;ali&#371; sistemas arba
    programin&#281; &#303;rang&#261; Naudotojo naudojimo arba prieigos palaikymo tikslais.
    Naudojimosi arba prieigos rezultatus pateiks tre&#269;ioji &#353;alis. &#8222;Xiaomi“
    negarantuoja rezultat&#371;, gaut&#371; naudojant min&#279;t&#261; sistem&#261; arba programin&#281; &#303;rang&#261;,
    saugumo, tikslumo ir efektyvumo, &#8222;Xiaomi“ taip pat neprisiima joki&#371; kit&#371;
    neapibr&#279;&#382;t&#371; rizik&#371;. Kilus su tuo susijusiam gin&#269;ui arba nuostoliams, &#8222;Xiaomi“
    neprisiims jokios atsakomyb&#279;s.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. &#8222;Xiaomi“
    konkre&#269;iai nori atkreipti Naudotojo d&#279;mes&#303; &#303; tai, kad siekdama apsaugoti
    kompanijos verslo pl&#279;tr&#261; ir prisitaikymo autonomi&#353;kum&#261;, &#8222;Xiaomi“ turi teis&#281; bet
    kada keisti paslaugas arba sustabdyti j&#371; teikim&#261; nepersp&#279;jus Naudotojo ir be
    jokios atsakomyb&#279;s Naudotojui arba bet kokioms tre&#269;iosioms &#353;alims.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Jei
    &#303;statymuose ir reglamentuose n&#279;ra ai&#353;kiai nurodyta prie&#353;ingai, kiek gal&#279;dami
    stengsim&#279;s u&#382;tikrinti, kad Programin&#279; &#303;ranga ir susijusi technologija bei
    informacija būt&#371; saugios, efektyvios, tikslios ir patikimos. Ta&#269;iau Naudotojas
    supranta, kad d&#279;l esamos technologijos &#8222;Xiaomi“ negali to u&#382;tikrinti.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Naudotojui
    tenka visa atsakomyb&#279; u&#382; bet kokius asmeninius su&#382;eidimus arba atsitiktin&#281; ir
    pasekmin&#281; &#382;al&#261;, &#303;skaitant prarast&#261; peln&#261;, prarastus duomenis, verslo veiklos
    pertraukim&#261; arba kitoki&#261; komercin&#281; &#382;al&#261;, ta&#269;iau tuo neapsiribojant, kylan&#269;ius
    d&#279;l arba susijusius su toliau nurodytais punktais: (1) naudojimasis arba
    negal&#279;jimas naudotis licencijuota Programine &#303;ranga; (2) ne&#303;galiot&#371; tre&#269;i&#371;j&#371;
    &#353;ali&#371; naudojimasis Programine &#303;ranga arba Naudotojo duomen&#371; keitimas; (3) ka&#353;tai
    ir nuostoliai, patirti Naudotojo naudojimosi Programine &#303;ranga metu; (4)
    Naudotojo nesupratimas, kaip naudotis Programine &#303;ranga; (5) kiti nuostoliai,
    susij&#281; su Programine &#303;ranga, d&#279;l su &#8222;Xiaomi“ nesusijusi&#371; prie&#382;as&#269;i&#371;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. Patyrus
    asmenin&#281; arba ekonomin&#281; &#382;al&#261; arba nuostolius, kuriuos suk&#279;l&#279; arba gal&#279;jo
    sukelti Naudotojo ir kit&#371; bet kokios programin&#279;s &#303;rangos naudotoj&#371; elgesys arba
    Naudotojo suklaidinimas arba apgavimas, kalta &#353;alis prisiims vis&#261; su tuo
    susijusi&#261; atsakomyb&#281;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>7. Intelektin&#279;s nuosavyb&#279;s teisi&#371;
    parei&#353;kimas</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Programin&#279;s
    &#303;rangos intelektin&#279;s nuosavyb&#279;s teis&#279;s priklauso &#8222;Xiaomi“. Visos intelektin&#279;s
    nuosavyb&#279;s teis&#279;s, pvz., autori&#371; teis&#279;s, preki&#371; &#382;enklai, patentai, komercin&#279;s
    paslaptys ir pan., susijusios su Programine &#303;ranga ir visa su ja susijusi
    informacija (&#303;skaitant tekst&#261;, paveiksl&#279;lius, garso ir vaizdo &#303;ra&#353;us, grafik&#261;,
    s&#261;sajos dizain&#261;, i&#353;d&#279;stym&#261;, duomenis arba elektroninius dokumentus ir pan.,
    ta&#269;iau tuo neapsiribojant) yra saugoma vietini&#371; &#303;statym&#371;, reglament&#371; ir
    atitinkam&#371; tarptautini&#371; sutar&#269;i&#371;. &#8222;Xiaomi“ priklauso anks&#269;iau min&#279;tos
    intelektin&#279;s nuosavyb&#279;s teis&#279;s.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Netur&#279;damas
    i&#353;ankstinio ra&#353;ti&#353;ko &#8222;Xiaomi“ sutikimo, Naudotojas negali savaranki&#353;kai naudoti
    arba perduoti joki&#371; anks&#269;iau min&#279;t&#371; intelektin&#279;s nuosavyb&#279;s teisi&#371; bet kokiais
    komerciniais ar nekomerciniais tikslais arba leisti tai daryti bet kokioms
    tre&#269;iosioms &#353;alims. &#8222;Xiaomi“ pasilieka teis&#281; reikalauti teisin&#279;s atsakomyb&#279;s u&#382;
    tokius veiksmus.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>8. Pataisymas</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. &#8222;Xiaomi“
    pasilieka teis&#281; kartais pataisyti &#353;ios Sutarties s&#261;lygas savo nuo&#382;iūra, visos
    pataisytos s&#261;lygos bus laiku skelbiamos susijusiuose interneto puslapiuose. Jei
    nesutinkate su bet kokiu pataisymu, turite imtis iniciatyvos nutraukti
    naudojim&#261;si paslaugomis. Tolimesnis naudojimasis paslaugomis bus laikomas jūs&#371;
    sutikimu su pataisyta Sutartimi. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. &#8222;Xiaomi“ arba
    Partneris pasilieka teis&#281; kartais savo nuo&#382;iūra modifikuoti arba keisti
    teikiamas mokamas paslaugas, apmokestinimo kriterijus, apmok&#279;jimo būd&#261;,
    paslaug&#371; mokes&#269;ius arba s&#261;lygas. Teikdama paslaugas, &#8222;Xiaomi“ gali prad&#279;ti
    apmokestinti kai kuriuos naudotojus dabar arba ateityje. Naudotojui atsisakius
    sumok&#279;ti &#353;iuos mokes&#269;ius, jis nebegal&#279;s toliau naudotis susijusiomis
    paslaugomis, prasid&#279;jus apmokestinimui. </span></b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&#8222;Xiaomi“ ir
    Partneris kiek gal&#279;dami stengsis el. pa&#353;tu ar kitu būdu informuoti naudotoj&#261;
    apie visus pataisymus arba pakeitimus. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>9. Taikomi &#303;statymai ir gin&#269;&#371;
    sprendimas</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. &#352;ios
    Sutarties galiojim&#261; ir interpretavim&#261; reglamentuos &#382;emynin&#279;s Kinijos Liaudies
    Respublikos &#303;statymai. Jei n&#279;ra susijusi&#371; teisini&#371; nuostat&#371;, galima vadovautis
    tarptautin&#279;mis verslo praktikomis ir (arba) verslo praktikomis.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. &#352;i sutartis
    pasira&#353;oma Haidiano rajone, Pekine.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Naudotojas ir
    &#8222;Xiaomi“ susitaria, kad visi d&#279;l paslaug&#371; kylantys gin&#269;ai pirmiausia bus sprend&#382;iami
    &#352;ali&#371; pasitarimu. Jei susitarimo pasiekti nepavyksta, bet kuri &#352;alis gali
    teikti gin&#269;&#261; teismui, kurio jurisdikcija apima Sutarties pasira&#353;ymo viet&#261;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LT style='font-family:
    "Times New Roman",serif;'>10. &#302;vairios nuostatos</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Bet kokiai
    Programin&#279;s &#303;rangos paslaugai gali būti taikoma atskira sutartis ir susijusios
    verslo taisykl&#279;s ir pan. (toliau bendrai vadinama &#8222;atskira sutartimi“), tod&#279;l
    prie&#353; naudodamiesi &#353;ia konkre&#269;ia paslauga, perskaitykite susijusi&#261; atskir&#261;
    sutart&#303; ir sutikite su ja.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. &#352;i Sutartis
    &#303;sigalios 2023 m. gruod&#382;io 1 d.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Visos &#353;ios
    Sutarties s&#261;lyg&#371; antra&#353;t&#279;s skirtos tik lengvesniam j&#371; radimui ir turi būti
    ignoruojamos interpretuojant Sutart&#303;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Jei d&#279;l
    koki&#371; nors prie&#382;as&#269;i&#371; bet kuri &#353;ios Sutarties nuostata yra negaliojanti arba
    ne&#303;gyvendinama arba tampa tokia, kitos nuostatos lieka galioti ir &#303;pareigoja
    abi &#352;alis.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=LT
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&#8222;XIAOMI“</span></p>
    
</div>
