<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Programmatūras
    licences un pakalpojumu līgums</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Svarīga piezīme]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc.
    (turpmāk tekstā&nbsp;— &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    ar &#353;o atgādina lietotājam rūpīgi izlasīt un pilnībā izprast Programmatūras
    licences un pakalpojumu līgumu (turpmāk&nbsp;— &#353;is &quot;Līgums&quot;). <b>Lietotājs
    rūpīgi izlasa un pilnībā izprot &#353;ī Līguma noteikumus, jo īpa&#353;i tos, kas
    attiecas uz Xiaomi atbrīvojumu no atbildības vai tās ierobe&#382;o&#353;anu, strīdu
    iz&#353;&#311;ir&#353;anu un spēkā eso&#353;ajiem likumiem.</b> <b>Jūsu uzmanība tiek pievērsta
    noteikumiem attiecībā uz atbrīvojumu no atbildības vai tās ierobe&#382;o&#353;anu,
    izce&#316;ot tos treknrakstā. Lūdzu, uzmanīgi izlasiet un izvēlieties pie&#326;emt vai nepie&#326;emt
    &#353;o Līgumu (nepilngadīgajam &#353;is Līgums jālasa kopā ar savu likumīgo aizbildni).
    Lejupielādējot, instalējot un lietojot programmatūru, kā arī re&#291;istrējoties un
    piesakoties savā kontā, jūs piekrītat pie&#326;emt &#353;o Līgumu un pilnībā ievērot tā
    noteikumus.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi patur
    tiesības grozīt &#353;o Līgumu. &#352;ā Līguma atjauninātie noteikumi tiks publicēti
    oficiālajā tīmek&#316;a vietnē vai programmatūrā un stāsies spēkā no publicē&#353;anas
    dienas.</span></b><span lang=LV style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    Lietotājs var atkārtoti lejupielādēt un instalēt programmatūru vai skatīt
    jaunāko &#353;ī Līguma noteikumu versiju tīmek&#316;a vietnē. <b>Pēc tam, kad uz&#326;ēmums
    Xiaomi ir grozījis &#353;ī Līguma noteikumus, ja neakceptējat grozītos noteikumus,
    lūdzu, nekavējoties pārtrauciet izmantot Xiaomi nodro&#353;ināto produkta
    &quot;Xiaomi rūtera <span class="name"></span></b>&quot; <b>programmatūru un pakalpojumus;
    lietotāja nepārtrauktā produkta &quot;Xiaomi rūtera <span class="name"></span>&quot;
    programmatūras un Xiaomi sniegto pakalpojumu izmanto&#353;ana tiks uzskatīta par &#353;ī
    Līguma grozīto noteikumu akceptē&#353;anu.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>1. Vispārīgie noteikumi</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. &#352;is Līgums
    tiek noslēgts starp jums (turpmāk tekstā&nbsp;— &quot;Lietotājs&quot;),
    uz&#326;ēmumu Xiaomi un tā sadarbības partneri (turpmāk tekstā&nbsp;—
    &quot;Partneris&quot;) par to, kā Lietotājs lejupielādē, instalē un izmanto
    Xiaomi nodro&#353;ināto<b> produkta </b>&quot;Xiaomi rūtera <span class="name"></span>&quot;
    programmatūru (turpmāk tekstā&nbsp;— &quot;Programmatūra&quot;), kā arī izmanto
    attiecīgos Xiaomi pakalpojumus.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Programmatūra
    un pakalpojumi, ko nodro&#353;ina Xiaomi, ir paredzēti (tostarp, bet ne tikai)
    instalē&#353;anai mobilajās viedā terminā&#316;a ierīcēs, lai sniegtu Xiaomi pakalpojumus
    Lietotājam, kuri izmanto minēto viedo termināli.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3.
    Programmatūras un pakalpojumu īpa&#353;umtiesības un lieto&#353;anas tiesības pieder
    Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>2. Programmatūras licencē&#353;anas apjoms</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi
    pie&#353;&#311;ir Lietotājam personisku, tālāk nenododamu un neekskluzīvu Programmatūras
    lieto&#353;anas licenci bez tiesībām uz apak&#353;licencē&#353;anu.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Lietotājs
    drīkst instalēt, izmantot, parādīt un darbināt Programmatūru vienā mobilā
    termināla ierīcē nekomerciāliem mēr&#311;iem. Tomēr lietotājs nedrīkst instalēt,
    lietot vai darbināt Programmatūru komerciālas darbības nolūkos. Lietotājs
    nedrīkst kopēt, mainīt vai modificēt Programmatūras datus vai jebkādus datus,
    kas izlaisti jebkuras terminā&#316;a ierīces atmi&#326;ā Programmatūras darbības laikā,
    kā arī interaktīvos datus, kas &#291;enerēti starp klientu un serveri Programmatūras
    darbības laikā, kā arī darbināt Programmatūru ar spraud&#326;iem vai radīt
    atvasinājumu jebkādā formā, ieskaitot, bet neaprobe&#382;ojoties ar spraud&#326;iem, nedz
    arī piek&#316;ūt Programmatūrai un saistītajām sistēmām, izmantojot neautorizētus
    tre&#353;o pu&#353;u rīkus/pakalpojumus. Ja nepiecie&#353;ams Programmatūru pārdot, kopēt vai
    izplatīt komerciāli, piemēram, veikt programmatūras pirmsinstalē&#353;anu un
    komplektē&#353;anu, jums ir jāsa&#326;em rakstiska at&#316;auja un licence no Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Lietotājs
    nedrīkst instalēt Programmatūru bez Xiaomi at&#316;aujas citās terminā&#316;u ierīcēs,
    kuras nav skaidri at&#316;āvis Xiaomi, ieskaitot, bet neaprobe&#382;ojoties ar televizora
    pierīcēm, spē&#316;u konsolēm, televizoriem, DVD atska&#326;otājiem utt. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Lietotājs var
    izveidot Programmatūras kopiju, lai izmantotu programmatūru un pakalpojumus,
    bet tā jāizmanto tikai kā dublējums. Dublējuma kopijai jāietver visu ori&#291;inālās
    programmatūras autortiesību informāciju.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Xiaomi
    nepie&#353;&#311;ir Lietotājam citas tiesības, iz&#326;emot gadījumus, kas ir īpa&#353;i norādīti
    &#353;ajā Līgumā. Ja Lietotājs plāno izmantot kādas citas tiesības, tam iepriek&#353;
    jāsa&#326;em rakstiska Xiaomi piekri&#353;ana. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>3. Programmatūras iegū&#353;ana,
    instalē&#353;ana un jauninā&#353;ana</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Lietotājs
    lejupielādē un instalē Programmatūru no tīmek&#316;a vietnes vai Xiaomi norādītajā
    veidā. Neveiciet Programmatūras lejupielādi nenorādītās vietnēs, lai mobilajām
    ierīcēm ne&#316;autu inficēties ar &#316;aunprātīgām programmām, kas var iznīcināt
    lietotāju datus un iegūt lietotāja privātuma informāciju. Ja Programmatūru vai
    instalācijas programmu ar tādu pa&#353;u nosaukumu kā Programmatūra iegādājaties no
    tre&#353;ās puses, ko nav pilnvarojis Xiaomi, Xiaomi nevar garantēt, ka tā būs
    izmantojama kā parasti, un Xiaomi neuz&#326;emas atbildību par iespējamajiem
    zaudējumiem.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Lietotājam ir
    jāizvēlas Programmatūras versija, kas atbilst terminā&#316;a ierīcei, kur tā
    instalēta. Pretējā gadījumā visas programmatūras problēmas, ierīces problēmas
    vai bojājumus, kas radu&#353;ies Programmatūras versijas un ierīces mode&#316;a
    neatbilstības dē&#316;, uz&#326;emas tikai pats Lietotājs.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Lai uzlabotu
    Lietotāja pieredzi un optimizētu pakalpojuma saturu, Xiaomi patur tiesības
    nodro&#353;ināt aizstātu, modificētu un jauninātu Programmatūras versiju, kā arī
    patur tiesības iekasēt maksu par &#353;ādu aizstā&#353;anu, pārveido&#353;anu vai jauninā&#353;anu,
    iepriek&#353; sa&#326;emot jūsu piekri&#353;anu &#353;ādai maksai. Programmatūra pēc noklusējuma
    iespējos Lietotāja &quot;jauninā&#353;anas uzvednes&quot; funkciju. Atkarībā no
    Lietotāja izmantotās Programmatūras versijas Xiaomi sniedz Lietotājam brīvu izvēli
    iespējot vai neiespējot &#353;o funkciju. Pēc jaunās Programmatūras versijas
    izlaides Xiaomi negarantē, ka vecākas Programmatūras versijas būs izmantojamas
    arī turpmāk.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>4. Lieto&#353;anas noteikumi</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Lietotājs var
    izmantot Programmatūru un pakalpojumus saska&#326;ā ar &#353;o Līgumu un tiesību aktiem.
    Lietotājs nedrīkst veikt &#353;ādas darbības:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Dzēst
    jebkuru autortiesību informāciju Programmatūrā un citās kopijās vai modificēt,
    dzēst vai apiet Programmatūras noteiktos tehniskos pasākumus intelektuālā
    īpa&#353;uma tiesību aizsardzībai; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Veikt
    Programmatūras reverso in&#382;enieriju, piemēram, izjauk&#353;anu, dekompilāciju vai
    citus mē&#291;inājumus iegūt Programmatūras pirmkodu;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Pievienot,
    no&#326;emt vai mainīt Programmatūras līdzek&#316;us vai darbības efektus, mainot vai
    viltojot instrukcijas un datus Programmatūras darbības laikā, vai kā citādi
    ekspluatēt vai izplatīt sabiedrībai programmatūru vai metodes, kas izmantotas
    iepriek&#353; aprakstītajos nolūkos, neatkarīgi no tā, vai tās ir vai nav
    komerciālas;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Izmantot
    Programmatūru, lai veiktu jebkādas darbības, kas kaitē tīkla dro&#353;ībai, tostarp,
    bet ne tikai izmantot nesankcionētus datus vai piek&#316;ūt nesankcionētiem
    serveriem/kontiem; bez at&#316;aujas piek&#316;ūt publiskajiem tīkliem vai citu lietotāju
    operētājsistēmai un dzēst, modificēt vai pievienot jebkādu saglabāto
    informāciju; neat&#316;auti mē&#291;ināt atklāt, skenēt vai testēt Programmatūras
    sistēmas vai tīkla nepilnības, vai veikt citas darbības, kas mazina tīkla
    dro&#353;ību; mē&#291;ināt traucēt vai novērst parasto Programmatūras sistēmas vai
    tīmek&#316;a vietnes darbību, apzināti izplatīt &#316;aunprātīgas programmas vai vīrusus,
    vai veikt citas darbības, kas iznīcina vai traucē normālus tīkla informācijas
    pakalpojumus; viltot TCP/IP datu paketes nosaukumu vai da&#316;ējos nosaukumus;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Lietotājs
    piesakās vai lieto Programmatūru un pakalpojumus, izmantojot tre&#353;ās puses
    saderīgu programmatūru vai sistēmas, ko nav izstrādājis, autorizējis vai
    apstiprinājis uz&#326;ēmums Xiaomi, vai izgatavo, publicē vai izplata iepriek&#353;
    minētos rīkus;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Bez Xiaomi
    rakstiskas piekri&#353;anas lietotājs veic ar Programmatūru vai tajā iek&#316;auto
    informāciju saistītas darbības, ieskaitot, bet neaprobe&#382;ojoties ar izmanto&#353;anu,
    līzingu, patapinā&#353;anu, kopē&#353;anu, pārveido&#353;anu, saites izveidi, reproducē&#353;anu,
    kompilē&#353;anu, izlaidi, publicē&#353;anu, spogu&#316;attēla vietnes izveidi vai
    neautorizētu Programmatūras izmanto&#353;anu, lai izstrādātu saistītus atvasinātos
    produktus, darbus, pakalpojumus, spraud&#326;us, saderību vai savstarpēju
    savienojumu;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Izmantot
    Programmatūru, lai publicētu, pārraidītu, izplatītu vai glabātu jebkādu saturu,
    kas ir pretrunā vietējiem likumiem un noteikumiem; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Izmantot
    Programmatūru, lai publicētu, pārraidītu, izplatītu vai glabātu jebkuru saturu,
    kas pārkāpj tādas likumīgas tiesības kā intelektuālā īpa&#353;uma tiesības un citu
    personu komercnoslēpumi; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Izmantot
    Programmatūru, lai masveidā publicētu, pārraidītu vai izplatītu reklāmas
    informāciju vai surogātpastu; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Izmantot
    Programmatūru un citus Xiaomi sniegtos pakalpojumus jebkādā nelikumīgā veidā,
    jebkādiem nelikumīgiem mēr&#311;iem vai jebkādā veidā, kas neatbilst licencētajam
    lietojumam saska&#326;ā ar &#353;o Līgumu;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=LV style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Informācijas publicē&#353;anas noteikumi</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Programmatūru var izmantot, lai publicētu informāciju, piemēram, skatus, datus,
    tekstu, informāciju, lietotājvārdus, attēlus, fotoattēlus, personisko
    informāciju, audio vai video failus, saites utt., ko esat izveidojis vai kuras
    jums ir tiesības publicēt. Jums ir jāgarantē, ka jums ir intelektuālā īpa&#353;uma
    tiesības vai jūs esat sa&#326;ēmis likumīgo jūsu aug&#353;upielādētās informācijas
    at&#316;auju, un ka Programmatūras un pakalpojumu izmanto&#353;ana nepārkāpj nevienas
    tre&#353;ās puses likumīgās tiesības vai intereses.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Lietojot Programmatūru, jums ir jāievēro vietējie likumi un noteikumi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Programmatūru nedrīkst izmantot &#353;ādu darbību veik&#353;anai, tostarp, bet ne tikai</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Tālāk minētā satura veido&#353;anai, pavairo&#353;anai, publicē&#353;anai, izplatī&#353;anai vai
    uzglabā&#353;anai, kas ir pretrunā ar vietējiem likumiem un noteikumiem;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Publicēt, pārraidīt, izplatīt vai glabāt jebkuru saturu, ar ko tiek pārkāptas
    tādas likumīgas tiesības kā reputācijas tiesības, portreta tiesības,
    intelektuālā īpa&#353;uma tiesības un citu personu komercnoslēpumi;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Izdomāt faktu vai slēpt patiesību, lai maldinātu vai krāptu citas personas;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Publicēt, pārraidīt vai izplatīt reklāmas informāciju vai surogātpastu;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Iesaistīties citās darbībās, ar kurām tiek pārkāpti vietējie tiesību akti un
    noteikumi utt.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Bez Xiaomi
    at&#316;aujas Programmatūrā nedrīkst veikt komerciālas darbības, piemēram, reklamēt
    un pārdot preces.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Jūs saprotat
    un piekrītat, ka:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi
    noteiks, vai Lietotājs tiek turēts aizdomās par iepriek&#353;minēto lieto&#353;anas
    noteikumu pārkāp&#353;anu, un, pamatojoties uz &#353;āda lēmuma rezultātiem, apturēs vai
    pārtrauks jums pie&#353;&#311;irto lieto&#353;anas licenci vai veiks citus ierobe&#382;ojo&#353;us
    pasākumus saska&#326;ā ar &#353;o Līgumu;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    tie&#353;i dzēsīs informāciju, ko lietotājs ir publicējis licencētās Programmatūras
    lieto&#353;anas laikā, par kuru ir aizdomas, ka tā ir prettiesiska vai pārkāpj citu
    personu likumīgās tiesības, vai &#353;o Līgumu;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Ja
    pārkāpjat iepriek&#353;minētos lieto&#353;anas noteikumus un tādējādi nodarāt kaitējumu
    tre&#353;ajām pusēm, jums neatkarīgi jāuz&#326;emas atbildība savā vārdā un jāpasargā
    Xiaomi no jebkuriem zaudējumiem vai izdevumiem, ko &#353;ī rīcība rada;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Lietotājs
    atlīdzina un pasargā Xiaomi no jebkādiem zaudējumiem, tre&#353;o pu&#353;u prasījumiem,
    administratīviem sodiem, zaudējumu atlīdzinā&#353;anas un zaudējumu atlīdzinā&#353;anas
    izdevumiem, tostarp pamatotām advokāta izmaksām, izmeklē&#353;anas un pierādījumu
    vāk&#353;anas izmaksām, kas radu&#353;ās vai kuras uzliktas Xiaomi un kuru cēlonis ir
    Lietotāja attiecīgo likumu pārkāp&#353;ana vai &#353;ā Līguma neievēro&#353;ana.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>5. Privātuma politika un personas
    datu aizsardzība</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Xiaomi ir
    svarīgi aizsargāt jūsu personas datus. Lai nodro&#353;inātu Programmatūras funkcijas
    un uzlabotu Lietotāja pieredzi, Xiaomi apkopos noteikta veida datus, kā
    norādīts mūsu Privātuma politikā; mēs apkopojam, izmantojam un aizsargājam jūsu
    datus saska&#326;ā ar mūsu Privātuma politiku. Privātuma politika ir pieejama tālāk
    norādītajā tīmek&#316;a vietnē [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>6. Pakalpojuma risks un atruna</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Lietotājam
    jāiegādājas ierīce, kas nepiecie&#353;ama interneta piek&#316;uvei, un mobilās termināla
    ierīces telekomunikāciju pievienotās vērtības pakalpojumu izmanto&#353;anai, kā arī
    jāsedz maksa par sakariem un informāciju, tostarp izmaksas, kas radu&#353;ās
    saistībā ar personisko mobilo terminā&#316;u ierī&#269;u piek&#316;uvi internetam vai ko
    iekasē tre&#353;ās puses (tostarp, bet ne tikai, telekomunikāciju un mobilo sakaru
    pakalpojumu sniedzēji). Ja nepiecie&#353;ami telekomunikāciju pievienotās vērtības
    pakalpojumi, izmaksas ieteicams saska&#326;ot ar savu telekomunikāciju pievienotās
    vērtības pakalpojuma sniedzēju.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Ne Xiaomi, ne
    tā Partneris neatbild par zaudējumiem, kas radu&#353;ies Lietotājam tre&#353;o pu&#353;u dē&#316;,
    piemēram, sakaru līnijas atteices, tehniskas problēmas, tīkla vai mobilā
    terminā&#316;a ierīces atteices, sistēmas nestabilitātes un citu force majeure
    faktoru dē&#316;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3.
    Programmatūru, tāpat kā vairākumu citu interneta programmatūru, var ietekmēt
    tādi faktori (bet ne tikai) kā lietotāja iemesli, tīkla pakalpojumu kvalitāte,
    sociālās vides at&#353;&#311;irības utt., un tajā var tikt veikti arī uzmāk&#353;anās
    mē&#291;inājumi, kas saistīti ar da&#382;ādām dro&#353;ības problēmām, piemēram, Lietotāja
    datu izmanto&#353;ana, ko veic citas personas, kuru rezultāts ir uzmāk&#353;anās reālajā
    dzīvē; Lietotāja lejupielādēta un instalēta cita programmatūra vai citas
    lietotāja apmeklētas tīmek&#316;a vietnes, kas satur &quot;Trojas zirgu&quot; un
    citus vīrusus, apdraudot Lietotāja terminā&#316;a ierīces informāciju un datus un
    pēc tam ietekmējot normālu Programmatūras lietojumu. Lietotājam jāuzlabo
    informētību par informācijas dro&#353;ību un lietotāju datu aizsardzību un jāpievēr&#353;
    uzmanība paroles aizsardzības stiprinā&#353;anai, lai izvairītos no zaudējumiem un
    uzmāk&#353;anās.</span></b><span lang=LV style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Ja lietotājs
    izmanto Programmatūru vai pieprasa Xiaomi sniegt noteiktus pakalpojumus,
    Programmatūra var aktivizēt tre&#353;ās puses sistēmu vai programmatūru, lai
    atbalstītu Lietotāja izmanto&#353;anu vai piek&#316;uvi. Izmanto&#353;anas vai piek&#316;uves
    rezultātus nodro&#353;inās tre&#353;ā puse. Xiaomi negarantē ar minētās sistēmas vai
    programmatūras atbalstu sasniegto rezultātu dro&#353;ību, precizitāti un
    efektivitāti, kā arī Xiaomi neuz&#326;emas citus neskaidros riskus; ja to dē&#316; rodas
    domstarpības vai kaitējums, Xiaomi neuz&#326;emas nekādu atbildību.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5.&nbsp;Xiaomi
    īpa&#353;i vēr&#353; Lietotāja uzmanību uz to, ka uz&#326;ēmuma uz&#326;ēmējdarbības attīstības un
    pielāgo&#353;anās autonomijas nolūkā Xiaomi ir tiesības jebkurā laikā mainīt vai
    apturēt pakalpojumus, par to nepazi&#326;ojot Lietotājam un neuz&#326;emoties atbildību
    pret Lietotāju vai jebkuru tre&#353;o pusi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Papildus
    skaidri noteiktajam likumos un noteikumos, mēs darīsim visu iespējamo, lai
    nodro&#353;inātu, ka Programmatūra un ar to saistītās tehnolo&#291;ijas, un informācija
    ir dro&#353;as, efektīvas, precīzas un uzticamas; tomēr, ievērojot eso&#353;o
    tehnolo&#291;iju, Lietotājs saprot, ka Xiaomi to nevar garantēt.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Lietotājs ir
    vienpersoniski atbildīgs par jebkādiem miesas bojājumiem, nejau&#353;iem vai
    izrieto&#353;iem kaitējumiem, tostarp, bet ne tikai par pe&#316;&#326;as zaudē&#353;anu, datu zudumu,
    uz&#326;ēmējdarbības pārtrauk&#353;anu vai citiem komerciāliem kaitējumiem, kas radu&#353;ies
    saistībā ar: (1) licencētās Programmatūras izmanto&#353;anu vai nelieto&#353;anu; (2)
    neat&#316;autu Programmatūras izmanto&#353;anu vai Lietotāja datu modificē&#353;anu, ko veic
    tre&#353;ā puse; (3) izmaksām un zaudējumiem, ko radījis Lietotājs Programmatūras
    lieto&#353;anas laikā; (4) programmatūras pārpra&#353;anu no Lietotāja puses; (5) citiem
    zaudējumiem saistībā ar Programmatūru, kas radu&#353;ies tādu iemeslu dē&#316;, kuri nav
    piedēvējami Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. Personisku vai
    ekonomisku zaudējumu vai tādu zaudējumu gadījumā, kas radu&#353;ies vai var būt
    radu&#353;ies Lietotāja un citu programmatūras lietotāju rīcības dē&#316;, izmantojot
    jebkuru programmatūru, vai Lietotāja maldinā&#353;anas vai krāp&#353;anas dē&#316;, vainīgā
    puse uz&#326;emas visas no tās izrieto&#353;ās saistības.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>7. Pazi&#326;ojums par intelektuālā
    īpa&#353;uma tiesībām</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi ir
    Programmatūras intelektuālā īpa&#353;uma tiesību turētājs. Visas intelektuālā
    īpa&#353;uma tiesības, piemēram, autortiesības, pre&#269;zīme, patents, komercnoslēpums
    utt., kas attiecas uz Programmatūru, un visa ar Programmatūru saistītā
    informācija, (ieskaitot, bet neaprobe&#382;ojoties ar tekstu, attēliem, audio,
    video, grafikas, interfeisa dizainu, izkārtojumu, datiem vai elektroniskiem
    dokumentiem utt.) ir aizsargātas ar vietējiem likumiem un noteikumiem un
    attiecīgiem starptautiskiem līgumiem. Uz Xiaomi attiecas iepriek&#353; minētās
    intelektuālā īpa&#353;uma tiesības.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2.&nbsp;Bez
    iepriek&#353;ējas Xiaomi rakstiskas piekri&#353;anas Lietotājs nedrīkst patstāvīgi
    izmantot vai nodot jebkādas iepriek&#353; minētās intelektuālā īpa&#353;uma tiesības
    komerciāliem vai nekomerciāliem mēr&#311;iem vai at&#316;aut to darīt jebkurai tre&#353;ajai
    pusei. Xiaomi patur tiesības pieprasīt uz&#326;emties juridisku atbildību par &#353;ādām
    darbībām.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>8. Grozījums</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi patur
    tiesības laiku pa laikam pēc saviem ieskatiem grozīt &#353;ā Līguma noteikumus, un
    visi &#353;ādi grozītie noteikumi tiks savlaicīgi publicēti attiecīgajās tīmek&#316;a
    lapās. Ja nepiekrītat grozījumiem, jums jāatce&#316; pakalpojumu lieto&#353;ana. Ja jūs
    turpināt izmantot pakalpojumus, tiek uzskatīts, ka jūs pie&#326;emat grozīto Līgumu.
    </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi vai
    Partneris patur tiesības laiku pa laikam un pēc saviem ieskatiem modificēt vai
    mainīt sniegtos maksas pakalpojumus, apmaksas kritērijus, maksas iekasē&#353;anas
    re&#382;īmu, pakalpojumu maksu vai pakalpojumu nosacījumus. Sniedzot pakalpojumus,
    Xiaomi tagad vai nākotnē var sākt iekasēt noteiktu maksu no atsevi&#353;&#311;iem
    lietotājiem. Ja Lietotājs atsakās maksāt &#353;ādu maksu, tas nevarēs turpināt
    izmantot attiecīgos pakalpojumus pēc maksas stā&#353;anās spēkā. </span></b><span
    lang=LV style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi un
    Partneri darīs visu iespējamo, lai pa e-pastu vai citādi pazi&#326;otu Lietotājam
    par jebkādiem grozījumiem vai izmai&#326;ām. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>9. Piemērojamie tiesību akti un
    strīdu iz&#353;&#311;ir&#353;ana</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. &#352;ā Līguma
    spēkā esamību un interpretāciju reglamentē &#310;īnas Tautas Republikas
    kontinentālās da&#316;as likumi. Ja nav attiecīgu tiesību normu, iespējama atsauce
    uz starptautisku uz&#326;ēmējdarbības praksi un/vai uz&#326;ēmējdarbības praksi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. &#352;is līgums ir
    parakstīts Haidianas apgabalā, Pekinā.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Gan
    Lietotājs, gan Xiaomi vienojas, ka jebkuru strīdu, kas radies no pakalpojumiem,
    Puses vispirms risina pārrunu ce&#316;ā. Ja &#353;ādās pārrunās nav iespējams panākt
    izlīgumu, jebkura no Pusēm var iesniegt strīdu izskatī&#353;anai kompetentās
    jurisdikcijas tiesā tajā vietā, kur &#353;is Līgums ir parakstīts.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=LV style='font-family:
    "Times New Roman",serif;'>10. Citi noteikumi</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Attiecībā uz
    jebkuru konkrētu Programmatūras pakalpojumu var tikt noslēgts atsevi&#353;&#311;s līgums
    un noteikti attiecīgi uz&#326;ēmējdarbības noteikumi utt. (turpmāk tekstā&nbsp;—
    &quot;atsevi&#353;&#311;s līgums&quot;), tāpēc pirms &#353;āda konkrēta pakalpojuma
    izmanto&#353;anas, lūdzu, izlasiet un piekrītiet attiecīgajam atsevi&#353;&#311;ajam līgumam.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. &#352;is Līgums
    stājas spēkā 2023.&nbsp;gada 1.&nbsp;decembrī.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Visi &#353;ī
    Līguma punktu virsraksti ir domāti tikai atsauces ērtībai, un tie nevar tikt
    izmantoti &#353;ī Līguma interpretē&#353;anā.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Ja kāds no
    &#353;ā Līguma noteikumiem jebkādu iemeslu dē&#316; ir vai k&#316;ūst nederīgs vai
    neizpildāms, pārējie tā noteikumi paliek spēkā, un tie ir saisto&#353;i abām Pusēm.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=LV
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
