<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Perjanjian Lesen
    Perisian dan Perkhidmatan</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Notis Penting]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc.
    (selepas ini dirujuk sebagai &quot;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&quot;)
    dengan ini mengingatkan pengguna untuk membaca dengan teliti dan memahami
    sepenuhnya Perjanjian Lesen Perisian dan Perkhidmatan (&quot;Perjanjian&quot;
    ini). <b>Pengguna hendaklah membaca dengan teliti dan memahami sepenuhnya terma
    Perjanjian ini, khususnya yang berkaitan dengan pengecualian atau batasan
    liabiliti Xiaomi, penyelesaian pertikaian dan undang-undang yang terpakai.</b> <b>Perhatian
    anda ditarik kepada terma yang berkaitan dengan pengecualian atau batasan
    liabiliti, yang ditandakan dengan huruf tebal. Sila baca dengan teliti dan
    pilih untuk menerima atau tidak menerima Perjanjian ini (kanak-kanak di bawah
    umur hendaklah diiringi oleh penjaganya yang sah semasa membaca Perjanjian
    ini). Dengan memuat turun, memasang dan menggunakan perisian, serta memperoleh
    dan mengelog masuk ke akaun, anda bersetuju untuk menerima Perjanjian ini dan
    terikat dengan termanya.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi berhak
    meminda Perjanjian ini. Terma Perjanjian ini yang dikemas kini akan diterbitkan
    di laman web atau perisian rasmi, dan akan berkuat kuasa dari tarikh
    penerbitan.</span></b><span lang=MS style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    Pengguna boleh memuat turun semula dan memasang perisian atau melihat versi
    terkini terma Perjanjian ini di laman web. <b>Selepas Xiaomi meminda terma
    Perjanjian ini, jika anda tidak menerima terma yang dipinda, segera hentikan
    penggunaan perisian dan perkhidmatan&nbsp;&quot;Penghala <span class="name"></span> Xiaomi</b>&quot;
    <b>yang disediakan oleh Xiaomi; penggunaan berterusan pengguna terhadap
    perisian dan perkhidmatan &quot;Penghala <span class="name"></span> Xiaomi&quot; yang disediakan
    oleh Xiaomi akan dianggap sebagai persetujuan anda dengan pemindaan terma
    Perjanjian ini.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>1. Peruntukan Am</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Perjanjian
    ini ialah perjanjian yang telah dicapai dan antara anda (selepas ini dirujuk
    sebagai &quot;Pengguna&quot;) dan Xiaomi serta rakan operasinya (selepas ini
    dirujuk sebagai &quot;Rakan Kongsi&quot;) berkenaan muat turun, pemasangan dan
    penggunaan oleh Pengguna terhadap perisian<b> &quot;Penghala <span class="name"></span> Xiaomi</b>&quot;
    (selepas ini dirujuk sebagai &quot;Perisian&quot;) bagi Xiaomi dan penggunaan
    perkhidmatan Xiaomi yang relevan.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Perisian dan
    perkhidmatan disediakan oleh Xiaomi untuk pemasangan pada (termasuk tetapi
    tidak terhad kepada) peranti terminal pintar mudah alih, bagi menyediakan
    perkhidmatan Xiaomi kepada Pengguna yang menggunakan terminal pintar yang
    dinyatakan.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Pemilikan dan
    hak untuk mengendalikan Perisian dan perkhidmatan akan diberikan kepada Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>2. Skop Pelesenan Perisian</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Xiaomi
    memberikan Pengguna lesen peribadi, tidak boleh dipindahkan dan tidak eksklusif
    untuk menggunakan Perisian tanpa ada hak untuk memberikan sublesen.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Pengguna
    boleh memasang, menggunakan, memaparkan dan menjalankan Perisian pada terminal
    mudah alih tunggal untuk tujuan bukan komersial. Walau bagaimanapun, Pengguna
    tidak boleh memasang, menggunakan, atau menjalankan Perisian untuk tujuan
    pengendalian komersial. Pengguna tidak boleh menyalin, mengubah atau mengubah
    suai apa-apa data Perisian, atau apa-apa data yang dikeluarkan kepada memori
    mana-mana peranti terminal semasa menjalankan Perisian dan data interaktif yang
    dihasilkan antara klien dan pelayan semasa menjalankan Perisian, atau
    menjalankan Perisian dengan pemalam, atau membuat sebarang kerja terbitan dalam
    sebarang bentuk, termasuk tetapi tidak terhad kepada pemalam, akses kepada
    Perisian dan sistem yang berkaitan melalui alat/perkhidmatan pihak ketiga yang
    tidak dibenarkan. Jika anda perlu menjual, menyalin atau mengedarkan Perisian
    secara komersial, contohnya perisian prapemasangan dan berkas, anda mesti
    mendapatkan pemberian kuasa bertulis dan lesen daripada Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Tanpa
    persetujuan Xiaomi, Pengguna tidak boleh memasang Perisian pada peranti
    terminal lain yang tidak dibenarkan secara nyata oleh Xiaomi, termasuk tetapi
    tidak terhad kepada kotak atas set, konsol permainan, televisyen, pemain DVD
    dan sebagainya. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Pengguna
    boleh membuat salinan Perisian untuk tujuan menggunakan Perisian dan
    perkhidmatan, tetapi ia hanya boleh digunakan sebagai sandaran. Salinan
    sandaran mesti mengandungi semua maklumat hak cipta yang terkandung dalam
    perisian asal.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Kecuali
    seperti yang dibenarkan secara nyata oleh Perjanjian ini, Xiaomi tidak
    memberikan hak lain kepada Pengguna. Jika Pengguna berhasrat menggunakan
    sebarang hak lain, persetujuan bertulis daripada Xiaomi haruslah diperoleh
    terlebih dahulu. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>3. Pemerolehan, Pemasangan dan
    Peningkatan Perisian</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Pengguna
    boleh memuat turun dan memasang Perisian daripada laman web atau mengikut cara
    yang ditetapkan oleh Xiaomi. Berhati-hati untuk tidak memuat turun Perisian di
    laman web yang tidak dikhususkan, bagi mengelakkan peranti mudah alih dijangkiti
    program berbahaya yang boleh memusnahkan data pengguna dan memperoleh maklumat
    sulit pengguna. Jika anda memperoleh Perisian atau program pemasangan dengan
    nama yang sama seperti Perisian daripada pihak ketiga yang tidak diberikan
    kuasa oleh Xiaomi, Xiaomi tidak dapat menjamin bahawa ia akan digunakan secara
    normal dan Xiaomi tidak menerima sebarang liabiliti bagi apa-apa kerugian yang
    anda alami.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Pengguna
    mesti memilih versi Perisian yang sepadan dengan peranti terminal yang
    dipasang. Jika tidak, apa-apa masalah perisian, masalah atau kerosakan peranti
    yang mengakibatkan ketidakserasian antara versi Perisian dengan model peranti
    akan ditanggung sepenuhnya oleh Pengguna.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. Bagi
    meningkatkan pengalaman Pengguna dan mengoptimumkan kandungan perkhidmatan,
    Xiaomi berhak untuk menyediakan versi Perisian yang diganti, diubah suai dan
    dipertingkatkan, serta berhak untuk mengenakan caj bagi penggantian,
    pengubahsuaian dan peningkatan tersebut, tetapi akan mendapatkan persetujuan
    anda terlebih dahulu bagi caj sedemikian. Perisian ini akan mendayakan ciri
    &quot;gesaan peningkatan&quot; secara lalai untuk Pengguna. Bergantung kepada
    versi Perisian yang digunakan oleh Pengguna, Xiaomi menyediakan Pengguna dengan
    budi bicara untuk mendayakan atau tidak mendayakan ciri tersebut. Selepas versi
    baharu Perisian dikeluarkan, Xiaomi tidak menjamin bahawa versi lama Perisian
    akan terus boleh digunakan.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>4. Spesifikasi Penggunaan</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Pengguna
    boleh menggunakan Perisian dan perkhidmatan mengikut Perjanjian ini dan undang-undang.
    Pengguna tidak boleh melakukan tindakan berikut:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Memadam
    apa-apa maklumat hak cipta pada Perisian dan salinan lain, atau mengubah suai,
    memadam atau memintas langkah-langkah teknikal yang ditetapkan oleh Perisian
    sebagai perlindungan hak harta intelek; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Melakukan
    kejuruteraan songsang terhadap Perisian, seperti menyahhimpun, menyahsusun atau
    percubaan lain untuk mendapatkan kod sumber Perisian;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Menambah,
    mengalih keluar atau mengubah ciri atau kesan yang dijalankan oleh Perisian
    dengan mengubah suai atau memalsukan arahan dan data semasa menjalankan
    Perisian, atau sebaliknya mengendalikan atau menyebarkan kepada orang awam
    mengenai perisian atau kaedah yang digunakan untuk tujuan yang dinyatakan di
    atas, sama ada untuk tujuan komersial ataupun bukan;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Menggunakan
    Perisian untuk melakukan apa-apa tindakan yang merosakkan keselamatan
    rangkaian, termasuk tetapi tidak terhad kepada: menggunakan data yang tidak
    dibenarkan atau akses kepada pelayan/akaun yang tidak dibenarkan; akses tanpa
    izin ke rangkaian awam atau sistem pengendalian orang lain dan memadam,
    mengubah suai atau menambah sebarang maklumat yang disimpan; percubaan yang
    tidak dibenarkan untuk mengesan, mengimbas atau menguji sistem Perisian atau
    kelemahan rangkaian atau melakukan perkara lain yang merosakkan keselamatan
    rangkaian; percubaan mengganggu atau merosakkan operasi biasa sistem Perisian
    atau laman web, menyebarkan program atau virus yang berbahaya dengan sengaja,
    atau melakukan tindakan lain yang merosakkan atau mengganggu perkhidmatan
    maklumat rangkaian biasa; memalsukan nama atau sebahagian nama paket data
    TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Pengguna
    log masuk atau menggunakan Perisian dan perkhidmatan melalui perisian pihak
    ketiga yang serasi atau sistem yang belum dibangunkan, diberikan kuasa atau
    diluluskan oleh Xiaomi, atau membuat, menerbitkan atau menyebarkan alat-alat di
    atas;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Tanpa
    persetujuan bertulis daripada Xiaomi, Pengguna melakukan apa-apa sahaja ke atas
    Perisian atau maklumat yang terkandung di dalamnya, termasuk tetapi tidak
    terhad kepada menggunakan, memajak, meminjamkan, menyalin, mengubah suai,
    mencipta pautan, menghasilkan semula, menyusun, mengeluarkan, menerbitkan,
    membina laman web imej cermin, atau penggunaan Perisian yang tidak diberikan
    kuasa untuk membangunkan produk, kerja, perkhidmatan, pemalam, keserasian atau
    antara sambungan derivatif yang berkaitan;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. Menggunakan
    Perisian untuk menerbitkan, menghantar, menyebarkan atau menyimpan sebarang
    kandungan yang melanggar undang-undang dan peraturan tempatan; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Menggunakan
    Perisian untuk menerbitkan, menghantar, menyebarkan atau menyimpan sebarang
    kandungan yang melanggar hak-hak yang sah seperti hak harta intelek dan rahsia
    perdagangan orang lain; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Menggunakan
    Perisian untuk menerbitkan, menghantar atau menyebarkan maklumat pengiklanan
    atau spam secara pukal; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10.
    Menggunakan Perisian dan perkhidmatan lain yang disediakan oleh Xiaomi, dengan
    apa-apa cara yang menyalahi undang-undang, untuk sebarang tujuan yang menyalahi
    undang-undang atau dengan apa-apa cara yang tidak selaras dengan penggunaan
    berlesen di bawah Perjanjian ini;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=MS style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Spesifikasi Penerbitan Maklumat</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Anda boleh menggunakan Perisian untuk menerbitkan maklumat seperti paparan,
    data, teks, maklumat, nama pengguna, gambar, foto, maklumat peribadi, fail
    audio atau video, pautan dan sebagainya yang dicipta oleh anda atau anda
    mempunyai hak untuk menerbitkan. Anda mesti menjamin bahawa anda mempunyai hak
    harta intelektual atau anda telah mendapatkan kebenaran undang-undang bagi
    maklumat yang dimuat naik oleh anda, serta penggunaan Perisian dan perkhidmatan
    anda tidak melanggar mana-mana hak atau kepentingan sah pihak ketiga.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Semasa menggunakan Perisian, anda dikehendaki mematuhi undang-undang dan
    peraturan tempatan.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Anda tidak boleh menggunakan Perisian untuk melakukan tindakan berikut,
    termasuk tetapi tidak terhad kepada</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Menghasilkan, menghasilkan semula, menerbitkan, menyebarkan atau menyimpan
    sebarang kandungan berikut yang melanggar undang-undang dan peraturan tempatan;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Menerbitkan, menghantar, menyebarkan atau menyimpan apa-apa kandungan yang
    melanggar hak-hak yang sah seperti hak reputasi, hak potret, hak harta intelek
    dan rahsia perdagangan orang lain;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Memalsukan fakta atau menyembunyikan kebenaran untuk mengelirukan atau menipu
    orang lain;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Menerbitkan, menghantar atau menyebarkan maklumat pengiklanan atau spam;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Terlibat dalam tindakan lain yang melanggar undang-undang dan peraturan
    tempatan dan sebagainya.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Tanpa
    keizinan Xiaomi anda tidak boleh melaksanakan apa-apa pengendalian komersial
    dalam Perisian, seperti pengiklanan dan menjual barangan.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Anda memahami
    dan bersetuju bahawa:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi akan
    menentukan sama ada Pengguna disyaki melanggar spesifikasi penggunaan yang
    disebutkan di atas dan, berdasarkan hasil penentuan sedemikian, menggantung
    atau menamatkan lesen penggunaan yang diberikan kepada anda atau mengambil
    tindakan penyekat lain yang mungkin dilakukan mengikut Perjanjian ini;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi akan
    terus memadamkan sebarang maklumat yang disyaki tidak mematuhi undang-undang
    atau melanggar hak orang lain yang sah atau melanggar Perjanjian ini, yang
    diterbitkan oleh Pengguna semasa penggunaan Perisian berlesen;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Jika anda
    melanggar spesifikasi penggunaan yang disebutkan di atas dan menyebabkan
    kerosakan kepada pihak ketiga, anda perlu menganggap bahawa liabiliti itu
    berada atas nama anda sendiri secara bebas dan tidak menyalahkan Xiaomi
    daripada dan terhadap sebarang kerugian atau perbelanjaan yang timbul
    daripadanya;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Pengguna
    perlu melindungi dan tidak menyalahkan Xiaomi daripada dan terhadap mana-mana
    serta semua kerugian, tuntutan pihak ketiga, penalti pentadbiran, kerosakan
    dan/atau perbelanjaan, termasuk yuran peguam, kos penyiasatan dan pengumpulan
    bukti yang munasabah yang ditanggung atau dialami oleh Xiaomi akibat daripada
    pelanggaran undang-undang berkaitan atau pelanggaran Perjanjian ini oleh
    Pengguna.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>5. Dasar Privasi dan Perlindungan Data
    Peribadi</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Penting untuk
    Xiaomi melindungi data peribadi anda. Untuk menyediakan ciri Perisian dan
    meningkatkan pengalaman Pengguna, Xiaomi akan mengumpulkan jenis data tertentu
    seperti yang ditulis dalam Dasar Privasi kami. Kami mengumpulkan, menggunakan
    dan melindungi data anda mengikut Dasar Privasi kami. Dasar Privasi tersedia
    pada laman web berikut [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>6. Risiko dan Penafian Perkhidmatan</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Pengguna
    mesti mendapatkan peranti yang diperlukan bagi akses Internet dan penggunaan
    perkhidmatan nilai tambah telekomunikasi oleh peranti terminal mudah alih, dan
    menanggung yuran komunikasi, yuran maklumat dan kos berkaitan yang ditanggung
    oleh akses Internet peranti terminal mudah alih peribadi atau yang dikenakan
    oleh pihak ketiga (termasuk tetapi tidak terhad kepada telekomunikasi dan
    pembekal komunikasi mudah alih). Jika mana-mana perkhidmatan nilai tambah
    telekom diperlukan, anda dinasihatkan untuk mengesahkan kos dengan pembekal
    perkhidmatan nilai tambah telekom anda.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Kedua-dua
    Xiaomi atau Rakan Kongsinya tidak bertanggungjawab terhadap sebarang kerugian
    yang dialami oleh Pengguna atas sebab-sebab yang berpunca daripada pihak ketiga
    seperti kegagalan talian komunikasi, masalah teknikal, kegagalan rangkaian atau
    peranti terminal mudah alih, ketidakstabilan sistem dan pelbagai faktor force
    majeure lain.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Perisian ini,
    seperti kebanyakan perisian Internet lain, mungkin dipengaruhi oleh
    faktor-faktor termasuk tetapi tidak terhad kepada sebab pengguna, kualiti
    perkhidmatan rangkaian, perbezaan persekitaran sosial, dll., dan mungkin juga
    tertakluk kepada gangguan yang berkaitan dengan pelbagai masalah keselamatan,
    seperti penggunaan data Pengguna oleh orang lain, mengakibatkan gangguan dalam
    kehidupan sebenar; perisian lain yang dimuat turun dan dipasang oleh Pengguna
    atau laman web lain yang dilawati oleh Pengguna mengandungi &quot;Trojan
    horse&quot; dan virus lain, mengancam keselamatan maklumat dan data peranti
    terminal Pengguna, dan kemudiannya mempengaruhi penggunaan biasa Perisian. Pengguna
    harus meningkatkan kesedaran tentang keselamatan maklumat dan perlindungan data
    pengguna, dan memberi perhatian kepada menguatkan perlindungan kata laluan,
    bagi mengelakkan kerugian dan gangguan.</span></b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Apabila
    Pengguna menggunakan Perisian atau meminta Xiaomi untuk menyediakan
    perkhidmatan tertentu, Perisian boleh memanggil sistem atau perisian pihak
    ketiga untuk menyokong penggunaan atau akses Pengguna. Keputusan penggunaan
    atau akses akan disediakan oleh pihak ketiga. Xiaomi tidak menjamin
    keselamatan, ketepatan dan keberkesanan hasil yang dicapai melalui sokongan
    sistem atau perisian tersebut dan Xiaomi juga tidak akan menanggung sebarang
    risiko lain yang tidak pasti; jika terdapat sebarang pertikaian atau kerugian
    yang diakibatkan olehnya, Xiaomi tidak akan menanggung sebarang liabiliti.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Xiaomi secara
    khusus menarik perhatian Pengguna untuk perkara tersebut, untuk melindungi
    autonomi pembangunan dan pelarasan perniagaan syarikat, Xiaomi mempunyai hak
    untuk mengubah suai atau menggantung perkhidmatan pada bila-bila masa tanpa
    notis kepada Pengguna dan tanpa sebarang liabiliti kepada Pengguna atau
    mana-mana pihak ketiga.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Kecuali
    sebagaimana yang diperuntukkan dengan jelas dalam undang-undang dan peraturan,
    kami akan melakukan yang terbaik untuk memastikan bahawa Perisian dan teknologi
    dan maklumat yang terlibat adalah selamat, berkesan, tepat dan boleh
    dipercayai; walau bagaimanapun, tertakluk kepada teknologi sedia ada, Pengguna
    memahami bahawa Xiaomi tidak dapat menjamin yang sedemikian.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Pengguna
    bertanggungjawab sepenuhnya untuk sebarang kecederaan peribadi atau ganti rugi
    sampingan atau berbangkit, termasuk tetapi tidak terhad kepada kehilangan
    keuntungan, kehilangan data, gangguan perniagaan atau ganti rugi komersial lain
    yang timbul daripada atau berkaitan dengan: (1) penggunaan atau kegagalan
    menggunakan Perisian berlesen; (2) penggunaan Perisian atau pengubahsuaian data
    Pengguna tanpa kebenaran oleh pihak ketiga; (3) kos dan kerugian yang
    ditanggung oleh Pengguna semasa penggunaan Perisian; (4) salah faham oleh
    Pengguna Perisian; (5) kerugian-kerugian lain yang berkaitan dengan Perisian
    atas sebab yang tidak berhubung kait dengan Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. Jika berlaku
    apa-apa kerosakan atau kerugian peribadi atau ekonomi yang telah atau mungkin
    disebabkan oleh tindakan yang dilakukan oleh Pengguna dan pengguna perisian
    lain melalui mana-mana perisian, atau disebabkan kerana Pengguna terpedaya atau
    tertipu, pihak yang bersalah hendaklah menanggung semua liabiliti yang timbul
    daripada kejadian itu.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>7. Pernyataan Hak Harta Intelek</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Xiaomi
    merupakan pemegang hak harta intelek Perisian. Semua hak harta intelek seperti
    hak cipta, tanda dagangan, paten, rahsia perdagangan, dll. yang berkaitan
    dengan Perisian, dan semua maklumat yang berkaitan dengan Perisian (termasuk
    tetapi tidak terhad kepada teks, gambar, audio, video, grafik, reka bentuk
    antara muka, data atau dokumen elektronik, dll.) dilindungi oleh undang-undang
    dan peraturan tempatan dan perjanjian antarabangsa yang sepadan. Xiaomi
    menikmati hak harta intelek di atas.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Tanpa
    persetujuan bertulis terlebih dahulu daripada Xiaomi, Pengguna tidak boleh
    sewenang-wenangnya menggunakan atau memindahkan mana-mana hak harta intelek di
    atas untuk sebarang tujuan komersial atau bukan komersial, atau membenarkan
    mana-mana pihak ketiga melakukannya. Xiaomi berhak untuk mengemukakan liabiliti
    undang-undang untuk tindakan sedemikian.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>8. Pindaan</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi berhak
    untuk meminda terma Perjanjian ini dari semasa ke semasa mengikut budi bicara
    mutlaknya, dan mana-mana terma yang dipinda akan diterbitkan tepat pada masanya
    pada halaman web yang berkaitan. Jika anda tidak bersetuju dengan sebarang
    pindaan, anda perlu mengambil inisiatif untuk membatalkan perkhidmatan. Jika
    anda terus menggunakan perkhidmatan tersebut, ia akan dianggap sebagai
    penerimaan anda terhadap Perjanjian yang dipinda. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi atau
    Rakan Kongsinya berhak dari semasa ke semasa dan mengikut budi bicara mutlaknya
    mengubah atau menukar perkhidmatan berbayar yang disediakan, kriteria mengenakan
    caj, cara mengenakan caj, caj perkhidmatan atau terma perkhidmatan. Dalam
    menyediakan perkhidmatan tersebut, Xiaomi mungkin akan mula mengenakan caj
    kepada sesetengah pengguna untuk yuran tertentu sekarang atau pada masa akan
    datang. Jika Pengguna enggan membayar yuran tersebut, Pengguna tidak akan dapat
    meneruskan penggunaan perkhidmatan yang berkaitan selepas pengenaan caj
    bermula. </span></b><span lang=MS style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi
    dan Rakan Kongsi akan melakukan yang terbaik untuk memaklumkan Pengguna
    mengenai apa-apa pindaan atau perubahan melalui e-mel atau cara yang lain. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>9. Undang-undang Terpakai dan
    Penyelesaian Pertikaian</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. Kesahihan dan
    tafsiran Perjanjian ini akan ditadbir oleh undang-undang Tanah Besar Republik
    Rakyat China. Sekiranya tiada peruntukan undang-undang yang berkaitan, rujukan
    boleh dibuat kepada amalan perniagaan antarabangsa/atau amalan perniagaan.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Perjanjian
    ini ditandatangani di Daerah Haidian, Beijing.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Kedua-dua
    Pengguna dan Xiaomi bersetuju bahawa apa-apa pertikaian yang timbul daripada
    perkhidmatan hendaklah diselesaikan terlebih dahulu melalui perundingan antara
    kedua-dua Pihak. Sekiranya tiada penyelesaian yang boleh dicapai melalui
    perundingan sedemikian, mana-mana Pihak boleh mengemukakan pertikaian kepada
    mahkamah yang mempunyai bidang kuasa yang selayaknya ke atas Perjanjian yang
    ditandatangani ini.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=MS style='font-family:
    "Times New Roman",serif;'>10. Lain-lain</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Untuk
    mana-mana perkhidmatan khusus Perisian, mungkin terdapat perjanjian berasingan
    dan peraturan perniagaan yang berkaitan, dll. (selepas ini dirujuk secara
    kolektif sebagai &quot;perjanjian berasingan&quot;), jadi sila baca dan
    bersetuju dengan perjanjian berasingan yang berkaitan sebelum menggunakan
    perkhidmatan khusus tersebut.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Perjanjian
    ini akan berkuat kuasa pada 1 Disember 2023.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Tajuk kepada
    semua terma Perjanjian ini adalah untuk memudahkan rujukan sahaja dan hendaklah
    diabaikan dalam mentafsirkan Perjanjian ini.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Sekiranya
    mana-mana peruntukan Perjanjian ini adalah atau menjadi tidak sah atau tidak
    boleh dikuatkuasakan atas apa-apa sebab, peruntukan yang selebihnya di sini
    akan terus berkuat kuasa dan berkesan sepenuhnya serta mengikat kedua-dua Pihak
    di sini.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=MS
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
