<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Umowa Licencyjna
    na Oprogramowanie oraz &#346;wiadczenie Us&#322;ug</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Wa&#380;ne informacje]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Firma Xiaomi Inc.
    (zwana dalej &#8222;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>)
    przypomina U&#380;ytkownikowi, &#380;e powinien on uwa&#380;nie i z pe&#322;nym zrozumieniem
    zapozna&#263; si&#281; z niniejsz&#261; umow&#261;, b&#281;d&#261;c&#261; Umow&#261; licencyjn&#261; na oprogramowanie oraz
    &#347;wiadczenie us&#322;ug (&#8222;Umowa”). <b>Nale&#380;y uwa&#380;nie i z pe&#322;nym zrozumieniem zapozna&#263;
    si&#281; z warunkami Umowy, zw&#322;aszcza tymi dotycz&#261;cymi wy&#322;&#261;czenia lub ograniczenia
    odpowiedzialno&#347;ci Xiaomi, rozstrzygania sporów i prawa w&#322;a&#347;ciwego.</b> <b>Nale&#380;y
    zwróci&#263; szczególn&#261; uwag&#281; na warunki dotycz&#261;ce zwolnienia
    z&nbsp;odpowiedzialno&#347;ci lub jej ograniczenia wyró&#380;nione pogrubion&#261; czcionk&#261;.
    Prosimy o&nbsp;dok&#322;adne przeczytanie i&nbsp;zaakceptowanie lub odrzucenie
    niniejszej umowy (podczas czytania niniejszej umowy osobie niepe&#322;noletniej
    powinien towarzyszy&#263; jej opiekun prawny). Pobranie, instalacja
    i&nbsp;korzystanie z oprogramowania, a&nbsp;tak&#380;e utworzenie konta
    i&nbsp;zalogowanie si&#281; na nim, oznaczaj&#261; akceptacj&#281; niniejszej Umowy przez
    U&#380;ytkownika i&nbsp;zgod&#281; na przestrzeganie jej warunków.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi zastrzega
    sobie prawo do wprowadzania zmian w&nbsp;Umowie. Zaktualizowane postanowienia
    Umowy zostan&#261; opublikowane w&nbsp;oficjalnej witrynie internetowej lub
    w&nbsp;oprogramowaniu i&nbsp;zaczn&#261; obowi&#261;zywa&#263; w&nbsp;dniu opublikowania.</span></b><span
    lang=PL style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    U&#380;ytkownik mo&#380;e ponownie pobra&#263; i&nbsp;zainstalowa&#263; oprogramowanie lub
    wy&#347;wietli&#263; najnowsz&#261; wersj&#281; warunków niniejszej umowy w&nbsp;witrynie
    internetowej. <b>Je&#380;eli U&#380;ytkownik nie wyrazi zgody na wprowadzone przez spó&#322;k&#281;
    Xiaomi zmiany warunków Umowy, powinien natychmiast zaprzesta&#263; korzystania
    z&nbsp;oprogramowania i&nbsp;us&#322;ug powi&#261;zanych z routerem Xiaomi <span class="name"></span></b> <b>zapewnianych
    przez spó&#322;k&#281; Xiaomi. Dalsze korzystanie przez U&#380;ytkownika z&nbsp;oprogramowania
    i&nbsp;us&#322;ug do routera Xiaomi <span class="name"></span> dostarczanych przez spó&#322;k&#281; Xiaomi b&#281;dzie
    równoznaczne z&nbsp;akceptacj&#261; zmienionych warunków Umowy.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>1. Postanowienia ogólne</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Niniejsza
    Umowa stanowi porozumienie zawarte pomi&#281;dzy U&#380;ytkownikiem (zwanym dalej &#8222;U&#380;ytkownikiem”)
    a&nbsp;spó&#322;k&#261; Xiaomi i&nbsp;jej partnerem operacyjnym (zwanym dalej
    &#8222;Partnerem”) dotycz&#261;c&#261; pobierania, instalacji i&nbsp;korzystania przez
    U&#380;ytkownika z&nbsp;oprogramowania do&nbsp;<b>routera Xiaomi <span class="name"></span></b>
    (zwanego dalej &#8222;Oprogramowaniem”) spó&#322;ki Xiaomi oraz korzystania przez niego
    z&nbsp;odpowiednich us&#322;ug firmy Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Xiaomi
    dostarcza oprogramowanie i zapewnia us&#322;ugi na potrzeby instalacji (mi&#281;dzy
    innymi) na inteligentnych mobilnych urz&#261;dzeniach końcowych w celu &#347;wiadczenia
    przez Xiaomi us&#322;ug U&#380;ytkownikowi, który korzysta z takich inteligentnych
    urz&#261;dzeń końcowych.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Xiaomi
    zachowuje prawo w&#322;asno&#347;ci do Oprogramowania i us&#322;ug oraz prawo do ich
    eksploatacji.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>2. Zakres Licencji na Oprogramowanie</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Spó&#322;ka Xiaomi
    udziela U&#380;ytkownikowi osobistej, nieprzenoszalnej i niewy&#322;&#261;cznej licencji na
    korzystanie z Oprogramowania bez prawa udzielania sublicencji.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. U&#380;ytkownik
    mo&#380;e instalowa&#263;, u&#380;ytkowa&#263;, wy&#347;wietla&#263; i uruchamia&#263; Oprogramowanie dla celów
    niekomercyjnych na pojedynczym mobilnym urz&#261;dzeniu końcowym. U&#380;ytkownik nie
    mo&#380;e jednak instalowa&#263;, uruchamia&#263; ani korzysta&#263; z oprogramowania w celach
    komercyjnych. U&#380;ytkownik nie mo&#380;e kopiowa&#263;, zmienia&#263; ani modyfikowa&#263; danych
    Oprogramowania, &#380;adnych danych wprowadzonych do pami&#281;ci jakiegokolwiek
    urz&#261;dzenia końcowego podczas dzia&#322;ania Oprogramowania ani danych interaktywnych
    wygenerowanych mi&#281;dzy klientem a serwerem podczas dzia&#322;ania Oprogramowania, ani
    uruchamia&#263; Oprogramowania z wtyczkami, ani tworzy&#263; dzie&#322; pochodnych w
    jakiejkolwiek formie, w tym mi&#281;dzy innymi wtyczek, ani uzyskiwa&#263; dost&#281;pu do
    Oprogramowania i powi&#261;zanych systemów za pomoc&#261; niedozwolonych narz&#281;dzi/us&#322;ug
    osób trzecich. W przypadku konieczno&#347;ci sprzeda&#380;y, kopiowania lub dystrybucji
    Oprogramowania w celach komercyjnych, np. w celu wst&#281;pnej instalacji
    Oprogramowania lub po&#322;&#261;czenia go w pakiety, U&#380;ytkownik musi uzyska&#263; pisemn&#261;
    zgod&#281; i licencj&#281; od spó&#322;ki Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Bez zgody
    Xiaomi U&#380;ytkownik nie mo&#380;e instalowa&#263; Oprogramowania na innych urz&#261;dzeniach
    końcowych, które nie s&#261; obj&#281;te wyra&#378;nym zezwoleniem Xiaomi, w tym mi&#281;dzy innymi
    na dekoderach, konsolach do gier, telewizorach, odtwarzaczach DVD itd. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. W&nbsp;celu
    korzystania z&nbsp;Oprogramowania i&nbsp;us&#322;ug U&#380;ytkownikowi wolno wykona&#263;
    kopi&#281; oprogramowania, jednak mo&#380;e by&#263; ona wykorzystywana jedynie jako kopia
    zapasowa. Kopia zapasowa musi zawiera&#263; wszystkie informacje o prawach
    autorskich zawarte w oryginalnym oprogramowaniu.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Je&#380;eli nie
    zosta&#322;o to wyra&#378;nie dozwolone w Umowie, Xiaomi nie udziela U&#380;ytkownikowi
    &#380;adnych innych praw. W przypadku gdy U&#380;ytkownik zamierza skorzysta&#263;
    z&nbsp;jakiegokolwiek innego prawa, musi uzyska&#263; na to uprzedni&#261; pisemn&#261; zgod&#281;
    spó&#322;ki Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>3. Pobieranie, instalacja i
    aktualizacja oprogramowania</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. U&#380;ytkownik
    powinien pobra&#263; i zainstalowa&#263; Oprogramowanie z witryny internetowej lub w
    sposób wskazany przez Xiaomi. Nale&#380;y uwa&#380;a&#263;, aby nie pobiera&#263; Oprogramowania
    z&nbsp;witryn internetowych innych ni&#380; wskazane, aby zabezpieczy&#263; urz&#261;dzenia
    przeno&#347;ne przed z&#322;o&#347;liwym oprogramowaniem, które mo&#380;e zniszczy&#263; dane
    U&#380;ytkownika i&nbsp;pozyska&#263; jego prywatne dane. W przypadku gdy U&#380;ytkownik
    pobierze Oprogramowanie lub program instalacyjny o nazwie takiej samej jak
    Oprogramowanie od dostawcy zewn&#281;trznego, który nie zosta&#322; zatwierdzony przez
    spó&#322;k&#281; Xiaomi, spó&#322;ka Xiaomi nie mo&#380;e zagwarantowa&#263; jego normalnej eksploatacji
    i&nbsp;nie przyjmuje odpowiedzialno&#347;ci za jakiekolwiek straty poniesione przez
    U&#380;ytkownika z&nbsp;tego powodu.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. U&#380;ytkownik
    musi wybra&#263; wersj&#281; oprogramowania dopasowan&#261; do zainstalowanego urz&#261;dzenia. W
    innym przypadku odpowiedzialno&#347;&#263; za wszelkie problemy z oprogramowaniem,
    urz&#261;dzeniem lub szkody wynik&#322;e z niedopasowania wersji oprogramowania do modelu
    urz&#261;dzenia ponosi wy&#322;&#261;cznie U&#380;ytkownik.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. W celu
    poprawy komfortu u&#380;ytkowania i optymalizacji tre&#347;ci zawartych w us&#322;udze spó&#322;ka
    Xiaomi zastrzega sobie prawo do dostarczenia zmodyfikowanej i zaktualizowanej
    wersji Oprogramowania zast&#281;puj&#261;cej poprzedni&#261;, a tak&#380;e zastrzega sobie prawo do
    pobrania za ni&#261; op&#322;aty po uprzednim uzyskaniu zgody U&#380;ytkownika na obci&#261;&#380;enie
    go tak&#261; op&#322;at&#261;. Oprogramowanie b&#281;dzie mia&#322;o domy&#347;lnie aktywn&#261; funkcj&#281; &#8222;monitu
    o&nbsp;aktualizacji” przeznaczon&#261; dla U&#380;ytkownika. W&nbsp;zale&#380;no&#347;ci od wersji
    Oprogramowania u&#380;ywanej przez U&#380;ytkownika spó&#322;ka Xiaomi pozostawia
    U&#380;ytkownikowi decyzj&#281; o&nbsp;ewentualnym w&#322;&#261;czeniu wspomnianej funkcji. Spó&#322;ka
    Xiaomi nie gwarantuje, &#380;e po wydaniu nowej wersji starsze wersje Oprogramowania
    b&#281;d&#261; nadal zdatne do u&#380;ytku.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>4. Wymagania dotycz&#261;ce u&#380;ytkowania</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. U&#380;ytkownik
    mo&#380;e korzysta&#263; z oprogramowania i us&#322;ug zgodnie z niniejsz&#261; Umow&#261; i przepisami
    prawa. U&#380;ytkownikowi nie wolno:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Usuwa&#263;
    &#380;adnych informacji o&nbsp;prawach autorskich zamieszczonych
    w&nbsp;Oprogramowaniu i&nbsp;innych kopiach ani modyfikowa&#263;, usuwa&#263; lub
    obchodzi&#263; &#347;rodków technicznych ustawionych przez Oprogramowanie w&nbsp;celu
    ochrony praw w&#322;asno&#347;ci intelektualnej; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Stosowa&#263;
    w&nbsp;odniesieniu do Oprogramowania metod in&#380;ynierii wstecznej, takich jak
    demonta&#380;, dekompilacja lub inny rodzaj prób pozyskania kodu &#378;ród&#322;owego
    Oprogramowania;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Dodawa&#263;,
    usuwa&#263; ani zmienia&#263; funkcji czy istniej&#261;cych efektów Oprogramowania poprzez
    modyfikowanie lub fa&#322;szowanie instrukcji i danych podczas dzia&#322;ania
    Oprogramowania, ani w inny sposób obs&#322;ugiwa&#263; czy rozpowszechnia&#263; publicznie
    Oprogramowania lub metod u&#380;ywanych do celów opisanych powy&#380;ej do zastosowań
    komercyjnych lub niekomercyjnych;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Korzysta&#263;
    z&nbsp;Oprogramowania w&nbsp;celu podj&#281;cia dzia&#322;ań o&nbsp;negatywnym wp&#322;ywie na
    bezpieczeństwo sieci, co obejmuje mi&#281;dzy innymi: korzystanie
    z&nbsp;nieautoryzowanych danych lub uzyskiwanie dost&#281;pu do nieautoryzowanych
    serwerów/kont; uzyskiwanie nieautoryzowanego dost&#281;pu do sieci publicznych lub
    systemu operacyjnego innych podmiotów oraz usuwanie, modyfikowanie lub
    dodawanie jakichkolwiek przechowywanych informacji; podejmowanie bez
    uprawnienia prób wykrycia, skanowania lub testowania s&#322;abych punktów systemu
    lub sieci Oprogramowania lub wykonywania innych czynno&#347;ci szkodliwych dla
    bezpieczeństwa sieci; podejmowanie prób zak&#322;ócania lub przerywania normalnego
    dzia&#322;ania systemu lub witryny internetowej Oprogramowania, celowe
    rozprowadzanie szkodliwego oprogramowania lub wirusów b&#261;d&#378; podejmowanie innych
    dzia&#322;ań przerywaj&#261;cych lub zak&#322;ócaj&#261;cych standardowe us&#322;ugi informatyczne
    sieci; fa&#322;szowanie nazwy lub nazw cz&#281;&#347;ciowych pakietu danych TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Logowa&#263; si&#281;
    w Oprogramowaniu i&nbsp;us&#322;ugach lub korzysta&#263; z&nbsp;nich za po&#347;rednictwem
    zgodnego oprogramowania lub systemów dostawców zewn&#281;trznych, które nie zosta&#322;y
    opracowane, autoryzowane lub zatwierdzone przez Xiaomi, ani tworzy&#263;, publikowa&#263;
    b&#261;d&#378; rozpowszechnia&#263; takich narz&#281;dzi;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Wykonywa&#263;
    bez pisemnej zgody Xiaomi jakichkolwiek dzia&#322;ań w&nbsp;odniesieniu do
    Oprogramowania lub zawartych w&nbsp;nim informacji, co obejmuje mi&#281;dzy innymi
    wykorzystywanie, wynajmowanie, wypo&#380;yczanie, kopiowanie, modyfikowanie,
    ustanawianie &#322;&#261;cza, reprodukowanie, kompilowanie, wprowadzanie na rynek,
    publikowanie, ustanawianie witryny z&nbsp;obrazem Oprogramowania lub
    nieuprawnione korzystanie z&nbsp;Oprogramowania w&nbsp;celu tworzenia
    powi&#261;zanych zale&#380;nych produktów, utworów, us&#322;ug, dodatków&#8203;plug-in, zgodno&#347;ci
    lub wzajemnych po&#322;&#261;czeń;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7. U&#380;ywa&#263;
    Oprogramowania w&nbsp;celu publikowania, przekazywania, rozpowszechniania lub
    przechowywania tre&#347;ci naruszaj&#261;cych lokalne normy i przepisy prawa; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8. Korzysta&#263;
    z&nbsp;Oprogramowania w&nbsp;celu publikowania, przekazywania,
    rozpowszechniania lub przechowywania jakichkolwiek tre&#347;ci naruszaj&#261;cych
    uzasadnione prawa, takie jak prawa w&#322;asno&#347;ci intelektualnej i&nbsp;tajemnice
    handlowe osób trzecich; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Korzysta&#263;
    z&nbsp;Oprogramowania w&nbsp;celu publikowania, przekazywania lub
    rozpowszechniania masowych informacji reklamowych lub spamu; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10. Korzysta&#263;
    z Oprogramowania i innych us&#322;ug &#347;wiadczonych przez spó&#322;k&#281; Xiaomi w jakikolwiek
    sposób niezgodny z prawem, w jakimkolwiek celu niezgodnym z prawem lub w
    jakikolwiek sposób niezgodny z wynikaj&#261;cym z niniejszej Umowy zakresem
    u&#380;ytkowania obj&#281;tym licencj&#261;;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=PL style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Wymagania dotycz&#261;ce publikowania informacji</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    U&#380;ytkownik mo&#380;e korzysta&#263; z&nbsp;Oprogramowania w&nbsp;celu publikowania danych
    takich jak widoki, dane, tekst, informacje, nazwy U&#380;ytkowników, obrazy,
    fotografie, dane osobowe, pliki audio lub wideo, &#322;&#261;cza itp., które zosta&#322;y
    utworzone przez U&#380;ytkownika lub do których publikowania U&#380;ytkownik jest
    uprawniony. U&#380;ytkownik winien zagwarantowa&#263;, &#380;e ma prawa w&#322;asno&#347;ci
    intelektualnej lub uzyska&#322; prawne upowa&#380;nienie dotycz&#261;ce przekazanych przez
    siebie informacji, a tak&#380;e i&#380; korzystanie przez niego z Oprogramowania i us&#322;ug
    nie narusza uzasadnionych praw ani interesów osób trzecich.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Podczas korzystania z&nbsp;Oprogramowania U&#380;ytkownik winien stosowa&#263; si&#281; do
    lokalnych przepisów ustawowych i&nbsp;wykonawczych.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    U&#380;ytkownik nie mo&#380;e korzysta&#263; z Oprogramowania mi&#281;dzy innymi w celu</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Wytwarzania, reprodukowania, publikowania, rozpowszechniania lub przechowywania
    jakichkolwiek tre&#347;ci wymienionych poni&#380;ej, naruszaj&#261;cych krajowe przepisy
    ustawowe i wykonawcze;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Publikowanie, przekazywanie, rozpowszechnianie lub przechowywanie jakichkolwiek
    tre&#347;ci naruszaj&#261;cych uzasadnione prawa, takie jak prawo do dobrego imienia,
    prawo do wizerunku, prawa w&#322;asno&#347;ci intelektualnej i tajemnice handlowe osób
    trzecich;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Fa&#322;szowanie faktów lub zatajanie prawdy w celu zmylenia lub oszukania innych
    osób;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Publikowania, przekazywania i rozpowszechniania informacji reklamowych lub
    spamu;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Anga&#380;owania si&#281; w&nbsp;dzia&#322;ania, które naruszaj&#261; lokalne normy i przepisy
    prawa itd.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Bez zgody
    spó&#322;ki Xiaomi U&#380;ytkownik nie powinien prowadzi&#263; jakiejkolwiek dzia&#322;alno&#347;ci
    handlowej w ramach Oprogramowania, takiej jak reklamowanie czy sprzeda&#380;
    towarów.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. U&#380;ytkownik
    przyjmuje do wiadomo&#347;ci i&nbsp;akceptuje, &#380;e:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Xiaomi
    ustali, czy U&#380;ytkownik jest podejrzany o&nbsp;naruszenie przedstawionych
    powy&#380;ej wymagań dotycz&#261;cych u&#380;ytkowania i&nbsp;na podstawie dokonanych ustaleń
    zawiesi lub wypowie udzielon&#261; U&#380;ytkownikowi licencj&#281; lub podejmie inne &#347;rodki
    ograniczaj&#261;ce, jakie mog&#261; by&#263; stosowane zgodnie z&nbsp;niniejsz&#261; Umow&#261;;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Xiaomi
    bezpo&#347;rednio usunie wszelkie informacje opublikowane przez U&#380;ytkownika w
    trakcie korzystania z licencjonowanego Oprogramowania, co do których istnieje
    podejrzenie, &#380;e s&#261; niezgodne z prawem lub naruszaj&#261; uzasadnione prawa osób
    trzecich;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Je&#380;eli
    U&#380;ytkownik naruszy powy&#380;sze wymagania dotycz&#261;ce u&#380;ytkowania
    i&nbsp;w&nbsp;wyniku tego wyrz&#261;dzi szkody osobom trzecim, musi niezale&#380;nie
    przyj&#261;&#263; odpowiedzialno&#347;&#263; na siebie i&nbsp;zwolni spó&#322;k&#281; Xiaomi
    z&nbsp;odpowiedzialno&#347;ci z&nbsp;tytu&#322;u wszelkich wynikaj&#261;cych z&nbsp;tego strat
    i&nbsp;kosztów;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. U&#380;ytkownik
    zabezpieczy i&nbsp;zwolni spó&#322;k&#281; Xiaomi z&nbsp;odpowiedzialno&#347;ci z&nbsp;tytu&#322;u
    wszelkich szkód, roszczeń osób trzecich, kar administracyjnych, odszkodowań
    i/lub kosztów, obejmuj&#261;cych tak&#380;e w&nbsp;rozs&#261;dnym zakresie koszty obs&#322;ugi
    prawnej, koszty dochodzenia i&nbsp;gromadzenia dowodów, wyrz&#261;dzonych spó&#322;ce
    Xiaomi lub przez ni&#261; poniesionych w&nbsp;wyniku naruszenia przez U&#380;ytkownika
    odpowiednich przepisów prawa lub postanowień niniejszej Umowy.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>5. Polityka prywatno&#347;ci i ochrona
    danych osobowych</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Ochrona
    danych osobowych jest dla spó&#322;ki Xiaomi istotn&#261; kwesti&#261;. Aby zapewni&#263; okre&#347;lone
    w&#322;a&#347;ciwo&#347;ci Oprogramowania i poprawi&#263; komfort u&#380;ytkowania, spó&#322;ka Xiaomi b&#281;dzie
    gromadzi&#263; okre&#347;lone rodzaje danych wskazane w swojej Polityce prywatno&#347;ci.
    Spó&#322;ka Xiaomi gromadzi, wykorzystuje i chroni dane U&#380;ytkownika zgodnie ze swoj&#261;
    Polityk&#261; prywatno&#347;ci. Polityka prywatno&#347;ci jest dost&#281;pna w nast&#281;puj&#261;cej
    witrynie internetowej [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>6. Ryzyko zwi&#261;zane z us&#322;ugami i
    o&#347;wiadczenie o wy&#322;&#261;czeniu odpowiedzialno&#347;ci</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. U&#380;ytkownik
    zapewnia urz&#261;dzenie niezb&#281;dne do uzyskania dost&#281;pu do Internetu
    i&nbsp;korzystania z&nbsp;us&#322;ug telekomunikacyjnych o&nbsp;warto&#347;ci dodanej za
    po&#347;rednictwem mobilnego urz&#261;dzenia końcowego, a&nbsp;tak&#380;e ponosi op&#322;aty
    telekomunikacyjne, op&#322;aty za korzystanie z&nbsp;informacji oraz zwi&#261;zane
    z&nbsp;tym koszty dost&#281;pu do Internetu za po&#347;rednictwem mobilnego urz&#261;dzenia
    końcowego lub koszty naliczane przez osoby trzecie (w tym operatorów
    telekomunikacyjnych i&nbsp;operatorów telefonii komórkowej). Je&#380;eli istnieje
    konieczno&#347;&#263; skorzystania z&nbsp;jakichkolwiek us&#322;ug o&nbsp;warto&#347;ci dodanej,
    zaleca si&#281;, aby U&#380;ytkownik sprawdzi&#322; koszty u swojego operatora dostarczaj&#261;cego
    takie us&#322;ugi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Ani Xiaomi,
    ani Partner nie ponosz&#261; odpowiedzialno&#347;ci za straty poniesione przez
    U&#380;ytkownika z przyczyn zale&#380;nych od osób trzecich, takich jak awaria linii
    telekomunikacyjnej, problem techniczny, awaria sieci lub przeno&#347;nego urz&#261;dzenia
    końcowego, niestabilno&#347;&#263; systemu i inne ró&#380;ne czynniki zwi&#261;zane z si&#322;&#261; wy&#380;sz&#261;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Na
    Oprogramowanie, podobnie jak na wi&#281;kszo&#347;&#263; oprogramowania internetowego, mog&#261;
    wp&#322;ywa&#263; czynniki takie, jak mi&#281;dzy innymi czynniki le&#380;&#261;ce po stronie
    U&#380;ytkownika, jako&#347;&#263; us&#322;ug sieciowych, ró&#380;nice w&nbsp;&#347;rodowisku spo&#322;ecznym
    itp., a&nbsp;ponadto Oprogramowanie mo&#380;e by&#263; nara&#380;one na nadu&#380;ycia zwi&#261;zane
    z&nbsp;ró&#380;norodnymi problemami z&nbsp;bezpieczeństwem, takimi jak prowadz&#261;ce do
    nadu&#380;y&#263; w&nbsp;realnym &#380;yciu korzystanie z&nbsp;danych U&#380;ytkownika przez inne
    osoby, inne oprogramowanie pobierane i&nbsp;instalowane przez U&#380;ytkownika lub
    inne witryny internetowe odwiedzane przez U&#380;ytkownika zawieraj&#261;ce tzw. &#8222;konie
    trojańskie” i&nbsp;inne wirusy zagra&#380;aj&#261;ce bezpieczeństwu informacji
    i&nbsp;danych na urz&#261;dzeniu końcowym U&#380;ytkownika, a&nbsp;nast&#281;pnie wp&#322;ywaj&#261;ce
    na normalne korzystanie z&nbsp;Oprogramowania. U&#380;ytkownik powinien poszerza&#263;
    &#347;wiadomo&#347;&#263; dotycz&#261;c&#261; bezpieczeństwa informacji i ochrony danych U&#380;ytkownika, a
    tak&#380;e zwraca&#263; uwag&#281; na wzmacnianie zabezpieczenia has&#322;em, aby unikn&#261;&#263; strat i
    nadu&#380;y&#263;.</span></b><span lang=PL style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4.
    W&nbsp;sytuacji, gdy U&#380;ytkownik korzysta z&nbsp;Oprogramowania lub zwraca si&#281;
    do Xiaomi z&nbsp;wnioskiem o&nbsp;&#347;wiadczenie okre&#347;lonych us&#322;ug, Oprogramowanie
    mo&#380;e nawi&#261;zywa&#263; po&#322;&#261;czenie z&nbsp;systemem lub oprogramowaniem dostawcy
    zewn&#281;trznego, aby u&#322;atwi&#263; U&#380;ytkownikowi korzystanie i&nbsp;dost&#281;p. Rezultaty
    u&#380;ytkowania lub uzyskania dost&#281;pu b&#281;d&#261; zapewnianie przez osoby trzecie. Spó&#322;ka
    Xiaomi nie gwarantuje bezpieczeństwa, dok&#322;adno&#347;ci ani skuteczno&#347;ci wyników
    uzyskanych z&nbsp;pomoc&#261; rzeczonego systemu lub oprogramowania i&nbsp;nie
    ponosi &#380;adnego innego nieokre&#347;lonego ryzyka. W&nbsp;przypadku wyst&#261;pienia
    w&nbsp;zwi&#261;zku z&nbsp;tym jakiejkolwiek szkody b&#261;d&#378; sporu spó&#322;ka Xiaomi nie
    przyjmie &#380;adnej odpowiedzialno&#347;ci.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Spó&#322;ka Xiaomi
    w&nbsp;szczególno&#347;ci zwraca uwag&#281; U&#380;ytkownika na fakt, &#380;e w&nbsp;celu ochrony
    rozwoju biznesowego firmy i&nbsp;swobody wprowadzania zmian spó&#322;ka Xiaomi ma
    prawo do modyfikacji lub zawieszenia us&#322;ug w&nbsp;dowolnym momencie bez
    wcze&#347;niejszego powiadomienia U&#380;ytkownika oraz bez ponoszenia jakiejkolwiek
    odpowiedzialno&#347;ci wobec U&#380;ytkownika czy osoby trzeciej.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Z wyj&#261;tkiem
    przypadków wyra&#378;nie okre&#347;lonych przez normy i przepisy prawa do&#322;o&#380;ymy wszelkich
    starań, aby zapewni&#263;, &#380;e Oprogramowanie, technologia oraz informacje b&#281;d&#261;ce
    jego cz&#281;&#347;ci&#261; s&#261; bezpieczne, skuteczne, dok&#322;adne i&nbsp;wiarygodne; jednak ze
    wzgl&#281;du na istniej&#261;ce ograniczenia techniczne U&#380;ytkownik rozumie, &#380;e Xiaomi nie
    mo&#380;e tego zagwarantowa&#263;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. U&#380;ytkownik
    ponosi wy&#322;&#261;czn&#261; odpowiedzialno&#347;&#263; za wszelkie obra&#380;enia lub szkody przypadkowe
    lub wynikowe, w tym za utrat&#281; zysków i danych, przerwy w dzia&#322;alno&#347;ci lub inne
    szkody handlowe wynikaj&#261;ce bezpo&#347;rednio lub po&#347;rednio z: (1) korzystania lub
    niekorzystania z Oprogramowania obj&#281;tego licencj&#261;; (2) nieuprawnionego korzystania
    z Oprogramowania lub modyfikacji danych U&#380;ytkownika przez dostawc&#281;
    zewn&#281;trznego; (3) kosztów i strat poniesionych przez U&#380;ytkownika podczas
    korzystania z Oprogramowania; (4) niezrozumienia przez U&#380;ytkownika zasad
    dzia&#322;ania Oprogramowania; (5) innych strat zwi&#261;zanych z Oprogramowaniem z
    przyczyn niezale&#380;nych od spó&#322;ki Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. W przypadku
    wyst&#261;pienia jakichkolwiek szkód b&#261;d&#378; strat osobistych lub gospodarczych, które
    zosta&#322;y lub mog&#322;y zosta&#263; spowodowane dzia&#322;aniem U&#380;ytkownika lub innych
    U&#380;ytkowników Oprogramowania korzystaj&#261;cych z&nbsp;jakiegokolwiek oprogramowania
    b&#261;d&#378; spowodowanych wprowadzeniem w&nbsp;b&#322;&#261;d lub oszukaniem U&#380;ytkownika, strona
    winna niedopatrzenia przyjmuje wszelk&#261; wynikaj&#261;c&#261; z&nbsp;tego odpowiedzialno&#347;&#263;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>7. O&#347;wiadczenie w sprawie praw
    w&#322;asno&#347;ci intelektualnej</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Spó&#322;ka Xiaomi
    dysponuje prawami w&#322;asno&#347;ci intelektualnej do Oprogramowania. Wszelkie prawa
    w&#322;asno&#347;ci intelektualnej, takie jak prawa autorskie, znaki towarowe, patenty,
    tajemnice handlowe itp., dotycz&#261;ce Oprogramowania oraz wszelkie informacje
    dotycz&#261;ce Oprogramowania (w&nbsp;tym mi&#281;dzy innymi tekst, zdj&#281;cia, pliki audio
    i&nbsp;wideo, grafika, projekt interfejsu, uk&#322;ad, dane lub dokumenty
    elektroniczne itp.) s&#261; chronione na mocy lokalnych przepisów ustawowych
    i&nbsp;wykonawczych oraz odpowiadaj&#261;cych im traktatów mi&#281;dzynarodowych.
    Powy&#380;sze prawa w&#322;asno&#347;ci intelektualnej nale&#380;&#261; do spó&#322;ki Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Bez
    uprzedniej pisemnej zgody spó&#322;ki Xiaomi U&#380;ytkownik nie ma prawa do niezale&#380;nego
    u&#380;ycia b&#261;d&#378; przeniesienia powy&#380;szych praw w&#322;asno&#347;ci intelektualnej w&nbsp;jakimkolwiek
    celu komercyjnym lub niekomercyjnym ani do zezwolenia na to osobie trzeciej.
    Spó&#322;ka Xiaomi zastrzega sobie prawo do poci&#261;gni&#281;cia sprawców do
    odpowiedzialno&#347;ci prawnej w przypadku takich dzia&#322;ań.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>8. Zmiany</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Xiaomi
    zastrzega sobie prawo do wprowadzania zmian w warunkach niniejszej Umowy wedle
    w&#322;asnego wy&#322;&#261;cznego uznania, a wszelkie takie zmienione warunki zostan&#261; w
    odpowiednim czasie opublikowane we w&#322;a&#347;ciwych witrynach internetowych. Je&#347;li
    U&#380;ytkownik nie akceptuje jakiejkolwiek zmiany, powinien podj&#261;&#263; dzia&#322;ania w celu
    rezygnacji z us&#322;ug. Dalsze korzystanie z us&#322;ug jest równoznaczne z
    zaakceptowaniem przez U&#380;ytkownika zmienionej Umowy. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Xiaomi lub
    Partner zastrzega sobie prawo do modyfikowania lub zmiany &#347;wiadczonych przez
    siebie p&#322;atnych us&#322;ug, kryteriów i trybu naliczania p&#322;atno&#347;ci, op&#322;at za us&#322;ugi
    oraz warunków &#347;wiadczenia us&#322;ug w dowolnym momencie i wedle w&#322;asnego uznania. W
    trakcie &#347;wiadczenia us&#322;ug spó&#322;ka Xiaomi mo&#380;e zacz&#261;&#263; nalicza&#263; niektórym
    U&#380;ytkownikom okre&#347;lone op&#322;aty, obecnie lub w przysz&#322;o&#347;ci. Je&#380;eli U&#380;ytkownik
    odmówi zap&#322;aty tych op&#322;at, po ich wprowadzeniu nie b&#281;dzie móg&#322; korzysta&#263; z
    danych us&#322;ug. </span></b><span lang=PL style='font-size:12.0pt;font-family:
    "Times New Roman",serif'>Spó&#322;ka Xiaomi oraz Partner do&#322;o&#380;&#261; wszelkich starań w
    celu powiadomienia U&#380;ytkownika o wszelkich modyfikacjach b&#261;d&#378; zmianach poczt&#261;
    elektroniczn&#261; lub w inny sposób. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>9. Prawo w&#322;a&#347;ciwe i rozstrzyganie
    sporów</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. Wa&#380;no&#347;&#263; i
    interpretacja niniejszej Umowy podlegaj&#261; przepisom prawa kontynentalnej cz&#281;&#347;ci
    Chińskiej Republiki Ludowej. W&nbsp;przypadku braku odpowiednich zapisów
    prawnych mo&#380;na si&#281; powo&#322;a&#263; na mi&#281;dzynarodowe praktyki biznesowe i/lub praktyki
    biznesowe.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Niniejsza
    Umowa zostaje zawarta w dzielnicy Haidian w&nbsp;Pekinie.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. U&#380;ytkownik i
    Xiaomi uzgadniaj&#261;, &#380;e wszelkie spory wynikaj&#261;ce z&nbsp;us&#322;ug b&#281;d&#261; w pierwszej
    kolejno&#347;ci rozstrzygane przez Strony w&nbsp;drodze konsultacji. W przypadku
    nieosi&#261;gni&#281;cia porozumienia w&nbsp;drodze konsultacji ka&#380;da ze Stron mo&#380;e
    skierowa&#263; spór do s&#261;du w&#322;a&#347;ciwego dla miejsca podpisania niniejszej Umowy.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=PL style='font-family:
    "Times New Roman",serif;'>10. Inne postanowienia</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Okre&#347;lone
    us&#322;ugi Oprogramowania mog&#261; by&#263; obj&#281;te odr&#281;bn&#261; umow&#261; i&nbsp;powi&#261;zanymi zasadami
    biznesowymi itp. (zwanymi dalej &#322;&#261;cznie &#8222;odr&#281;bn&#261; umow&#261;”). Przed skorzystaniem
    z&nbsp;takiej okre&#347;lonej us&#322;ugi nale&#380;y zatem przeczyta&#263; w&#322;a&#347;ciw&#261; odr&#281;bn&#261; umow&#281;
    i&nbsp;zaakceptowa&#263; jej warunki.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Niniejsza
    Umowa wchodzi w &#380;ycie z dniem 1 grudnia 2023 r.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Nag&#322;ówki
    wszystkich warunków niniejszej Umowy s&#322;u&#380;&#261; jedynie u&#322;atwieniu wyszukiwania
    informacji i nie b&#281;d&#261; brane pod uwag&#281; przy interpretacji niniejszej Umowy.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Je&#347;li
    którekolwiek z&nbsp;postanowień niniejszej Umowy z&nbsp;jakiegokolwiek powodu
    jest lub stanie si&#281; niewa&#380;ne lub niewykonalne, pozosta&#322;e postanowienia
    pozostaj&#261; w&nbsp;pe&#322;ni wa&#380;ne, skuteczne i&nbsp;wi&#261;&#380;&#261;ce dla jej stron.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=PL
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
