<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Соглашение о
    лицензировании и обслуживании программного обеспечения</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Важное
    примечание]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc. (далее
    в тексте именуемая &laquo;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&raquo;)
    настоящим напоминает пользователю о необходимости внимательно ознакомиться с
    данным Соглашением о лицензировании и обслуживании программного обеспечения
    (&laquo;Соглашение&raquo;). <b>Пользователь должен внимательно ознакомиться с положениями
    настоящего Соглашения, в частности&nbsp;— положениями, касающимися ограничения
    или освобождения от ответственности Xiaomi, урегулирования споров и применимых
    законов.</b> <b>Обращаем ваше внимание на положения, связанные с освобождением
    от ответственности или ее ограничением, выделенные жирным шрифтом. Внимательно
    изучите и примите либо отклоните условия настоящего Соглашения
    (несовершеннолетним лицам необходимо ознакомиться с Соглашением в присутствии
    своего законного опекуна). Скачивая, устанавливая и используя программное
    обеспечение, а также регистрируясь для получения аккаунта и выполняя в него
    вход, вы принимаете условия настоящего Соглашения и обязуетесь в полной мере
    соблюдать его положения.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Компания Xiaomi
    оставляет за собой право вносить поправки в данное Соглашение. Обновленные условия
    настоящего Соглашения будут публиковаться на официальном веб-сайте или в
    программном обеспечении и вступать в силу со дня публикации.</span></b><span
    lang=RU style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    Пользователь может повторно загрузить и установить программное обеспечение или
    просмотреть последнюю версию положений настоящего Соглашения на сайте. <b>Если
    после внесения изменений в условия настоящего Соглашения компанией Xiaomi вы не
    принимаете измененные условия, немедленно прекратите использовать программное
    обеспечение для Маршрутизатора Xiaomi Router <span class="name"></span></b> <b>и услуги,
    предоставляемые компанией Xiaomi. Продолжая их использовать, пользователь тем
    самым принимает измененные условия настоящего Соглашения.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>1. Общие положения</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Настоящее
    Соглашение заключено между вами (далее&nbsp;— &laquo;Пользователь&raquo;) и компанией
    Xiaomi и ее партнером по операциям (далее&nbsp;— &laquo;Партнер&raquo;) в отношении
    скачивания, установки и использования Пользователем программного обеспечения
    для <b>Маршрутизатора Xiaomi Router <span class="name"></span></b> (далее&nbsp;— &laquo;Программное
    обеспечение&raquo;), а также соответствующих услуг компании Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Программное
    обеспечение и услуги предоставляются компанией Xiaomi для установки на (помимо
    прочего) конечные мобильные смарт-устройства, на которых Пользователь сможет
    использовать упомянутые выше услуги Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Права
    владения и управления Программным обеспечением и услугами принадлежат компании
    Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>2. Объем лицензирования Программного
    обеспечения</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Компания
    Xiaomi предоставляет Пользователю персональную, не подлежащую передаче,
    неисключительную лицензию на использование Программного обеспечения без права
    сублицензирования.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Пользователь
    может устанавливать, использовать, отображать и запускать Программное
    обеспечение на одном конечном мобильном устройстве в некоммерческих целях.
    Однако, Пользователь не должен устанавливать, использовать или запускать
    Программное обеспечение в целях коммерческой эксплуатации. Пользователь не
    имеет права копировать, изменять или модифицировать какие-либо данные
    Программного обеспечения или любые данные, передаваемые в память любого
    конечного устройства во время работы Программного обеспечения, и интерактивные
    данные, генерируемые между клиентом и сервером во время работы Программного
    обеспечения, или запускать Программное обеспечение с плагинами, или создавать
    какие-либо производные работы в любой форме, включая среди прочего, плагины,
    доступ к Программному обеспечению и связанным системам с помощью
    несанкционированных сторонних инструментов/сервисов. Чтобы продавать,
    копировать или распространять Программное обеспечение на коммерческой основе
    (например, предварительно устанавливать и объединять в пакет), требуется
    получить письменное разрешение и лицензию от компании Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Без
    разрешения компании Xiaomi Пользователь не должен устанавливать Программное
    обеспечение на других конечных устройствах, которые явно не одобрены компанией
    Xiaomi, включая, помимо прочего, ТВ-приставки, игровые приставки, телевизоры и
    DVD-плееры. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Пользователь
    может сделать копию Программного обеспечения в целях использования самого
    Программного обеспечения и сервисов, однако данная копия должна использоваться
    только в качестве резервной. Резервная копия должна содержать все сведения об
    авторском праве, имеющиеся в оригинальном программном обеспечении.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. За
    исключением разрешения, явно указанного в данном Соглашении, компания Xiaomi не
    предоставляет Пользователю никакие права. Для использования каких-либо других
    прав, Пользователю необходимо получить предварительное письменное согласие
    компании Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>3. Приобретение, установка и
    обновление Программного обеспечения</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Пользователь
    должен загрузить и установить Программное обеспечение с веб-сайта либо иным
    способом, указанным компанией Xiaomi. Не скачивайте Программное обеспечение с
    неуказанных веб-сайтов, чтобы избежать заражения мобильных устройств
    вредоносными программами, которые могут уничтожить ваши пользовательские данные
    и получить доступ к конфиденциальной информации. Если вы приобретаете
    Программное обеспечение или установочную программу с таким же названием у
    третьей стороны, не уполномоченной на то компанией Xiaomi, последняя не может
    гарантировать надлежащую работу и снимает с себя всю ответственность за любой
    ущерб, понесенный вам впоследствии.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Пользователю
    следует выбрать версию Программного обеспечения, которая соответствует
    установленному конечному устройству. В противном случае, ответственность за
    проблемы в работе Программного обеспечения и устройства или ущерб в связи с
    несоответствием версии Программного обеспечения и модели устройства возлагается
    исключительно на Пользователя.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. С целью
    повышения удобства пользования и оптимизации содержимого услуг компания Xiaomi
    оставляет за собой право заменять, модифицировать и обновлять версию
    Программного обеспечения, а также право взимать плату за замену, модификацию и
    обновление, предварительно получив ваше согласие. В Программном обеспечении,
    функция оповещения о необходимости обновления активируется по умолчанию. В
    зависимости от того, какова версия Программного обеспечения у Пользователя,
    компания Xiaomi оставляет решение об активации указанной функции за самим
    Пользователем. После выпуска новой версии Программного обеспечения Xiaomi не
    гарантирует пригодность устаревших версий для дальнейшего использования.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>4. Технические характеристики
    использования</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Пользователь
    может использовать Программное обеспечение и услуги в соответствии с настоящим
    Соглашением и действующим законодательством. Пользователю запрещается совершать
    перечисленные ниже действия:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Удалять
    какие-либо сведения об авторских правах в Программном обеспечении и его копиях
    или изменять, удалять или обходить технические средства защиты прав
    интеллектуальной собственности, установленные в Программном обеспечении; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2.
    Осуществлять обратное проектирование Программного обеспечения (например,
    дизассемблировать, декомпилировать) или совершать другие действия для получения
    исходного кода Программного обеспечения;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Добавлять,
    удалять или изменять функции или рабочие действия Программного обеспечения,
    изменяя или подделывая инструкции и данные во время его работы, а также любым
    другим способом распространять в свободном доступе Программное обеспечение и
    методы, используемые в описанных выше целях, независимо от того, делается это в
    коммерческих целях или нет;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4.
    Использовать Программное обеспечение для совершения каких-либо действий,
    нарушающих сетевую безопасность, включая, помимо прочего: использование данных,
    полученных несанкционированным путем; получение доступа к несанкционированным
    серверам или аккаунтам; несанкционированный доступ к общедоступным сетям или
    операционным системам других лиц и удаление, изменение или добавление
    какой-либо хранящейся информации; несанкционированные попытки определить,
    сканировать или тестировать уязвимости системы Программного обеспечения или
    сети, а также осуществление других действий, нарушающих сетевую безопасность; попытки
    прервать или остановить обычную работу системы Программного обеспечения или
    веб-сайта; намеренное распространение вредоносных программ или вирусов, а также
    выполнение каких-либо других действий, которые прерывают обычную работу сетевых
    информационных служб или вмешиваются в нее; подделка имен или частичных имен
    пакетов данных TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Входить в
    систему или использовать Программное обеспечение и услуги через совместимое ПО
    и системы сторонних производителей, не разработанные, не санкционированные и не
    одобренные компанией Xiaomi, а также изготавливать, публиковать и
    распространять вышеупомянутые инструменты;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Без
    письменного согласия компании Xiaomi выполнять какие-либо действия с
    Программным обеспечением или содержащейся в нем информацией, включая, помимо
    прочего, использование, аренду, копирование, изменение, настройку ссылки,
    воспроизведение, компиляцию, выпуск, публикацию, организацию зеркального
    веб-сайта или несанкционированное использование Программного обеспечения для разработки
    соответствующих производных продуктов, работ, услуг, плагинов, средств
    совместимости и взаимодействия;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7.
    Использовать Программное обеспечение для публикации, передачи, распространения
    или хранения контента, нарушающего местное законодательство и
    нормативно-правовые акты; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8.
    Использовать Программное обеспечение для публикации, передачи, распространения
    или хранения контента, нарушающего законные права, такие как права
    интеллектуальной собственности и коммерческая тайна других лиц; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9.
    Использовать Программное обеспечение для публикации, передачи или
    распространения рекламной информации или массовой рассылки нежелательных
    почтовых сообщений; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10.
    Использовать Программное обеспечение и прочие услуги, предоставляемые компанией
    Xiaomi, каким-либо противоправным образом, для противоправных целей или иным
    способом, противоречащим лицензированному использованию в рамках настоящего
    Соглашения;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=RU style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Условия публикации информации</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Вы можете использовать Программное обеспечение для публикации точек зрения,
    данных, текста, информации, имен пользователей, изображений, фотографий, личных
    данных, аудио- или видеофайлов, ссылок и&nbsp;т.&nbsp;д., которые были созданы
    вами или на публикацию которых у вас есть право. Вы должны гарантировать, что у
    вас есть права интеллектуальной собственности или что вы получили законное
    разрешение на передаваемую вами информацию, а также что использование вами
    Программного обеспечения и сервисов не нарушает законные права и интересы
    третьих лиц.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    При использовании Программного обеспечения вы должны соблюдать местное
    законодательство и нормативно-правовые акты.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Вы не должны использовать Программное обеспечение для совершения, помимо
    прочего, указанных ниже действий</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Производство, воспроизведение, публикация, распространение или хранение
    контента, нарушающего местные законы и нормы;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Публикация, передача, распространение или хранение контента, нарушающего
    законные права, включая право на защиту репутации, право на изображение, права
    интеллектуальной собственности и коммерческую тайну других лиц;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Искажение фактов или сокрытие истины с целью введения в заблуждение или обмана
    других лиц;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Публикация, передача либо распространение рекламы или спама;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Совершение других действий, нарушающих местное законодательство, нормативные
    акты и&nbsp;т.&nbsp;д.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Вы не
    должны осуществлять какую-либо коммерческую деятельность в Программном
    обеспечении, такую как реклама и продажа товаров, без разрешения компании
    Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3. Вы понимаете и
    соглашаетесь, что:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Компания
    Xiaomi решает, подозревается ли Пользователь в нарушении вышеуказанных
    технических характеристик использования, и на основании результатов такого
    решения приостанавливает или прекращает действие предоставленной вам лицензии
    на использование либо принимает иные ограничительные меры, допускаемые в
    соответствии с настоящим Соглашением;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Компания
    Xiaomi непосредственно удаляет любую информацию с подозрением на незаконность,
    ущемление законных прав других лиц или нарушение настоящего Соглашения,
    публикуемую Пользователем во время использования лицензированного Программного
    обеспечения;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Если вы
    нарушаете вышеуказанные технические характеристики использования и это влечет
    за собой нанесение ущерба третьим лицам, вы обязаны самостоятельно взять на
    себя ответственность, освобождая компанию Xiaomi от убытков и издержек,
    связанных с этим нарушением;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4.
    Пользователь освобождает и ограждает компанию Xiaomi от убытков, претензий
    третьих лиц, административных штрафов, ущерба и/или издержек (включая
    обоснованные суммы расходов на юридические услуги, затраты на ведение
    расследования и сбор доказательств), которым компания подвергается в результате
    нарушения Пользователем соответствующих законов или неисполнения данного
    Соглашения.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>5. Политика конфиденциальности и
    защита личных данных</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Для компании
    Xiaomi важно защитить ваши личные данные. Чтобы предоставлять функции
    Программного обеспечения и совершенствовать взаимодействие с Пользователем,
    компания Xiaomi будет собирать некоторые типы данных, указанных в Политике
    конфиденциальности. Мы собираем, используем и защищаем ваши данные в
    соответствии с Политикой конфиденциальности. Политика конфиденциальности
    доступна на веб-сайте [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>6. Риски при обслуживании и заявление
    об ограничении ответственности</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Пользователь
    должен подготовить устройство для доступа к Интернету и использования
    дополнительных телекоммуникационных услуг на мобильном конечном устройстве, а
    также обеспечить оплату всех услуг связи, тарифов на передачу информации и
    прочих затрат, связанных с доступом к Интернету на персональном мобильном
    конечном устройстве и взимаемых третьими лицами (включая, помимо прочего,
    поставщиков услуг мобильной связи и телекоммуникационных услуг). Если требуются
    платные телекоммуникационные услуги, рекомендуем уточнить их стоимость у
    поставщика указанных услуг.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Ни компания
    Xiaomi, ни ее Партнер не несут ответственности за какие-либо убытки, понесенные
    Пользователем по причинам, связанным с третьими лицами, например из-за
    неработоспособности линий связи, технических проблем, сбоев сети или мобильного
    устройства Пользователя, нестабильности системы и других форс-мажорных
    обстоятельств.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. На данное
    Программное обеспечение, как и на многие другие программные продукты для работы
    в Интернете, может влиять целый ряд факторов, включая, помимо прочего,
    обстоятельства пользователя, качество услуг связи, различия социальной среды
    и&nbsp;т.&nbsp;д. Оно может подвергаться воздействию различных проблем
    безопасности, связанных, например, с использованием данных Пользователя другими
    лицами, что приведет к действиям досаждающего характера в реальной жизни, а
    также загрузкой и установкой Пользователем другого программного обеспечения или
    посещением Пользователем веб-сайтов с вирусами типа &quot;Троянский конь&quot;
    и другими вирусами, угрожающими безопасности информации и данных на конечном
    устройстве Пользователя и влияющими на обычное использование Программного
    обеспечения. Пользователь должен расширять свою осведомленность об информационной
    безопасности и защите пользовательских данных, а также уделять внимание защите
    своего пароля во избежание потерь данных и их незаконного использования.</span></b><span
    lang=RU style='font-size:12.0pt;font-family:"Times New Roman",serif'> </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Если
    Пользователь применяет Программное обеспечение или запрашивает у компании
    Xiaomi определенные услуги, данное Программное обеспечение может использовать
    стороннюю систему или программное обеспечение с целью поддержки использования и
    доступа Пользователя. Результаты использования или доступа будут
    предоставляться третьей стороной. Компания Xiaomi не гарантирует безопасность,
    точность и эффективность результатов, полученных за счет поддержки
    вышеуказанными системами и программным обеспечением. Компания Xiaomi не
    принимает на себя другие неопределенные риски. В случае возникновения споров
    или убытков по причине вышеизложенного, компания Xiaomi не берет на себя
    никакой ответственности.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Компания
    Xiaomi обращает особое внимание Пользователя на то, что для безопасного
    развития бизнеса компании и автономности внесения поправок она вправе менять
    или приостанавливать услуги в любое время, не уведомляя Пользователя и не неся
    при этом ответственности перед Пользователем или третьей стороной.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Если законы и
    нормативно-правовые акты явно не предусматривают обратного, мы делаем все от
    нас зависящее, чтобы обеспечить безопасность, эффективность, точность и
    надежность Программного обеспечения, задействованных технологий и данных. Тем
    не менее, учитывая возможности существующих технологий, Пользователь должен
    понимать, что компания Xiaomi не может гарантировать вышеуказанное.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Пользователь
    несет исключительную ответственность за травмы, случайный или косвенный ущерб,
    в том числе потерю прибыли и данных, перерывы в производственной деятельности,
    иной материальный ущерб, полученные в связи с: (1) использованием или
    неиспользованием лицензированного Программного обеспечения; (2)
    несанкционированным использованием Программного обеспечения или изменением
    данных Пользователя третьей стороной; (3) затратами и убытками Пользователя в
    ходе применения Программного обеспечения; (4) неправильным пониманием
    Пользователем Программного обеспечения; (5) иными убытками в связи с
    Программным обеспечением по причинам, не зависящим от Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. В случае
    какой-либо травмы, материального ущерба или потерь, которые вызваны или могут
    быть вызваны действиями Пользователя и других пользователей программного
    обеспечения, а также обманом или введением Пользователя в заблуждение, всю
    ответственность несет виновная сторона.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>7. Заявление о правах
    интеллектуальной собственности</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Компании
    Xiaomi принадлежат права на интеллектуальную собственность в отношении
    Программного обеспечения. Все права на интеллектуальную собственность, такие
    как авторские права, товарные знаки, патенты, коммерческие тайны и т.&nbsp;д.,
    связанные с Программным обеспечением, а также вся информация, связанная с
    Программным обеспечением (включая, помимо прочего, текст, изображения, аудио,
    видео, графику, дизайн интерфейса, компоновку, данные, электронные документы и
    т.&nbsp;д.), защищены региональными законами и нормативными требованиями, а
    также соответствующими международными соглашениями. Указанные выше права
    интеллектуальной собственности принадлежат Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Без
    предварительного письменного согласия компании Xiaomi Пользователь не имеет
    права самостоятельно использовать или передавать какие-либо из вышеуказанных
    прав на интеллектуальную собственность для коммерческих или некоммерческих
    целей или позволять какому-либо третьему лицу делать это. Компания Xiaomi
    оставляет за собой право привлекать виновных к юридической ответственности за
    совершение таких действий.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>8. Внесение поправок</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Компания
    Xiaomi оставляет за собой право периодически вносить поправки в положения
    настоящего Соглашения по своему усмотрению. Обновленные положения своевременно
    публикуются на соответствующих веб-страницах. В случае несогласия с любыми
    поправками вы должны самостоятельно прекратить использование соответствующих
    сервисов. Если вы продолжаете пользоваться услугами, это означает, что вы
    приняли измененные условия Соглашения. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Компания
    Xiaomi или ее Партнер оставляют за собой право периодически и по своему
    усмотрению изменять предоставляемые платные услуги, критерии и режимы взимания
    платы, сервисные сборы и условия предоставления услуг. В процессе
    предоставления сервисов компания Xiaomi может начать взимать с некоторых
    пользователей плату сразу или в будущем. Если Пользователь отказывается
    оплачивать соответствующие сервисы, они не будут предоставляться после начала
    взимания платы. </span></b><span lang=RU style='font-size:12.0pt;font-family:
    "Times New Roman",serif'>Компания Xiaomi и Партнер сделают все возможное, чтобы
    уведомлять Пользователя о любых исправлениях и изменениях по электронной почте
    или иным образом. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>9. Действующее законодательство и
    разрешение споров</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1.
    Действительность и толкование настоящего Соглашения регулируются законами
    континентальной части Китайской Народной Республики. При отсутствии
    соответствующих юридических положений, могут применяться правила международной
    и/или региональной деловой практики.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Настоящее
    Соглашение подписано в районе Хайдянь, Пекин.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. И
    Пользователь, и компания Xiaomi соглашаются с тем, что любой спор, связанный с
    услугами, необходимо сначала попытаться разрешить посредством переговоров
    Сторон. Если это не удается, каждая Сторона может передать спор в суд
    надлежащей юрисдикции по месту подписания данного Соглашения.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=RU style='font-family:
    "Times New Roman",serif;'>10. Прочие положения</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Касательно
    какой-либо отдельной услуги, связанной с Программным обеспечением, может быть
    заключено отдельное соглашение и приняты соответствующие деловые правила и
    другие условия (далее&nbsp;— &laquo;отдельное соглашение&raquo;), поэтому перед
    использованием такой услуги изучите и примите условия соответствующего
    отдельного соглашения.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Настоящее
    Соглашение вступает в силу с 1&nbsp;декабря 2023&nbsp;г.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Заголовки
    положений настоящего Соглашения приведены исключительно для удобства поиска и
    не могут использоваться для трактовки настоящего Соглашения.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Если
    какое-либо положение настоящего Соглашения по каким-либо причинам является либо
    становится недействительным или лишенным исковой силы, остальные положения
    сохраняют полную силу и остаются обязательными для исполнения обеими Сторонами.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=RU
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
