<div class=WordSection1 style='layout-grid:15.6pt'>

    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:16.0pt;font-family:"Times New Roman",serif'>Л&#1110;ценз&#1110;йна й
    серв&#1110;сна угода щодо використання програмного забезпечення</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>[Важлива прим&#1110;тка]</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Xiaomi Inc.
    (дал&#1110;&nbsp;– &laquo;<a name="OLE_LINK10"></a><a name="OLE_LINK9">Xiaomi</a>&raquo;) цим
    нагаду&#1108; користувачев&#1110; про необх&#1110;дн&#1110;сть уважно ознайомитися з ц&#1110;&#1108;ю Угодою про
    л&#1110;цензування та обслуговування програмного забезпечення (дал&#1110;&nbsp;–&laquo;Угода&raquo;). <b>Користувач&#1110;
    повинн&#1110; уважно ознайомитися з умовами ц&#1110;&#1108;&#1111; Угоди, зокрема з положеннями, як&#1110;
    стосуються виключення або обмеження в&#1110;дпов&#1110;дальност&#1110; компан&#1110;&#1111; Xiaomi,
    урегулювання суперечок, а також чинних закон&#1110;в.</b> <b>Зверн&#1110;ть особливу увагу
    на положення, що стосуються в&#1110;дмови в&#1110;д в&#1110;дпов&#1110;дальност&#1110; або &#1111;&#1111; обмеження, як&#1110;
    вид&#1110;лено жирним шрифтом. П&#1110;сля уважного вивчення Угоди прийм&#1110;ть або в&#1110;дхил&#1110;ть
    &#1111;&#1111; умови (неповнол&#1110;тн&#1110; повинн&#1110; читати цю Угоду в присутност&#1110; свого оф&#1110;ц&#1110;йного
    оп&#1110;куна). Завантажуючи, установлюючи та використовуючи програмне забезпечення,
    а також створюючи св&#1110;й акаунт &#1110; входячи до нього, ви погоджу&#1108;теся прийняти
    умови ц&#1110;&#1108;&#1111; Угоди.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>Компан&#1110;я Xiaomi
    збер&#1110;га&#1108; за собою право вносити зм&#1110;ни до ц&#1110;&#1108;&#1111; Угоди. Оновлен&#1110; умови ц&#1110;&#1108;&#1111; Угоди
    публ&#1110;куються на оф&#1110;ц&#1110;йному сайт&#1110; або в програмному забезпеченн&#1110; й набувають
    чинност&#1110; з дати публ&#1110;кац&#1110;&#1111;.</span></b><span lang=UK style='font-size:12.0pt;
    font-family:"Times New Roman",serif'> Користувач може повторно завантажити та
    встановити програмне забезпечення, а також ознайомитися з найнов&#1110;шою верс&#1110;&#1108;ю
    положень ц&#1110;&#1108;&#1111; Угоди на вебсайт&#1110;. <b>Якщо п&#1110;сля внесення компан&#1110;&#1108;ю Xiaomi зм&#1110;н в
    умови ц&#1110;&#1108;&#1111; Угоди ви не приймете оновлен&#1110; положення, негайно припин&#1110;ть
    користуватися програмним забезпеченням &#1110; службами для маршрутизатора Xiaomi
    Router <span class="name"></span>,</b> <b>як&#1110; надаються компан&#1110;&#1108;ю Xiaomi. Продовжуючи
    користуватися програмним забезпеченням &#1110; службами для маршрутизатора Xiaomi
    Router <span class="name"></span>, як&#1110; надаються компан&#1110;&#1108;ю Xiaomi, ви прийма&#1108;те зм&#1110;нен&#1110; положення
    ц&#1110;&#1108;&#1111; Угоди.</b></span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>1. Загальн&#1110; положення</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.1. Ця Угода
    уклада&#1108;ться м&#1110;ж вами (дал&#1110;&nbsp;– &laquo;Користувач&raquo;) &#1110; компан&#1110;&#1108;ю Xiaomi разом &#1110;з &#1111;&#1111;
    функц&#1110;ональним партнером (дал&#1110;&nbsp;– &laquo;Партнер&raquo;) стосовно завантаження,
    установлення та використання вами програмного забезпечення для <b>маршрутизатора
    Xiaomi Router <span class="name"></span></b> (дал&#1110;&nbsp;– &laquo;Програмне забезпечення&raquo;) в&#1110;д компан&#1110;&#1111;
    Xiaomi й використання &#1111;&#1111; в&#1110;дпов&#1110;дних служб.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.2. Компан&#1110;я
    Xiaomi нада&#1108; програмне забезпечення i послуги для встановлення на пристроях,
    зокрема на моб&#1110;льних &#1110;нтелектуальних терм&#1110;нальних пристроях, з метою надання
    послуг компан&#1110;&#1111; Xiaomi Користувачу, який використову&#1108; зазначений
    &#1110;нтелектуальний терм&#1110;нал.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>1.3. Право на
    волод&#1110;ння та керування Програмним забезпеченням та послугами належать компан&#1110;&#1111;
    Xiaomi.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>2. Сфера л&#1110;цензування Програмного
    забезпечення</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.1. Компан&#1110;я
    Xiaomi нада&#1108; Користувачев&#1110; персональну невиключну л&#1110;ценз&#1110;ю, яка не п&#1110;дляга&#1108;
    передач&#1110;, на користування Програмним забезпеченням без права субл&#1110;цензування.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.2. Користувач
    може встановлювати, використовувати, в&#1110;дображати й запускати Програмне
    забезпечення на одному моб&#1110;льному терм&#1110;нальному пристро&#1111; в некомерц&#1110;йних ц&#1110;лях.
    Проте Користувач не може встановлювати, використовувати або запускати Програмне
    забезпечення в комерц&#1110;йних ц&#1110;лях. Користувач не повинен коп&#1110;ювати, зм&#1110;нювати
    або модиф&#1110;кувати дан&#1110; Програмного забезпечення, дан&#1110;, що надсилаються в пам’ять
    к&#1110;нцевого пристрою п&#1110;д час роботи Програмного забезпечення, або &#1110;нтерактивн&#1110;
    дан&#1110;, що генеруються в раз&#1110; вза&#1108;мод&#1110;&#1111; кл&#1110;&#1108;нта &#1110;з сервером п&#1110;д час роботи
    Програмного забезпечення. Користувач не повинен запускати Програмне
    забезпечення з додатковими модулями, створювати жодних пох&#1110;дних роб&#1110;т у
    будь-як&#1110;й форм&#1110;, зокрема додаткових модул&#1110;в, а також отримувати доступ до Програмного
    забезпечення та в&#1110;дпов&#1110;дних систем за допомогою несанкц&#1110;онованих сторонн&#1110;х
    &#1110;нструмент&#1110;в або послуг. Для продажу, коп&#1110;ювання або комерц&#1110;йного
    розповсюдження Програмного забезпечення (наприклад, попереднього встановлення
    або об’&#1108;днання ПЗ в пакет) необх&#1110;дно отримати письмовий дозв&#1110;л &#1110; л&#1110;ценз&#1110;ю
    компан&#1110;&#1111; Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.3. Без дозволу
    компан&#1110;&#1111; Xiaomi Користувач не повинен встановлювати Програмне забезпечення на
    &#1110;нших пристроях, як&#1110; явно не схвалено компан&#1110;&#1108;ю Xiaomi, зокрема, на ТВ-тюнерах,
    &#1110;грових приставках, телев&#1110;зорах, DVD-пле&#1108;рах тощо. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.4. Користувач
    може створити коп&#1110;ю Програмного забезпечення з метою використання Програмного
    забезпечення i послуг, але ця коп&#1110;я ма&#1108; використовуватися лише як резервна.
    Резервна коп&#1110;я ма&#1108; м&#1110;стити всю &#1110;нформац&#1110;ю про авторськ&#1110; права, яку наведено в
    ориг&#1110;нальному Програмному забезпеченн&#1110;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5. Компан&#1110;я
    Xiaomi не нада&#1108; Користувачу &#1110;нш&#1110; права, окр&#1110;м випадк&#1110;в, коли це в явн&#1110;й форм&#1110;
    передбачено ц&#1110;&#1108;ю Угодою. Якщо Користувач ма&#1108; нам&#1110;р скористатися будь-яким &#1110;ншим
    правом, в&#1110;н повинен заздалег&#1110;дь отримати письмову згоду в&#1110;д компан&#1110;&#1111; Xiaomi. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>3. Придбання, &#1110;нсталювання й
    оновлення Програмного забезпечення</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.1. Користувач
    ма&#1108; встановити Програмне забезпечення, завантаживши його з вебсайту (або в
    спос&#1110;б, визначений компан&#1110;&#1108;ю Xiaomi). Не завантажуйте Програмне забезпечення з
    нев&#1110;домих сайт&#1110;в, щоб уникнути зараження моб&#1110;льних пристро&#1111;в шк&#1110;дливими
    програмами, як&#1110; можуть знищити дан&#1110; користувача або отримувати його
    конф&#1110;денц&#1110;йну &#1110;нформац&#1110;ю. Якщо ви придба&#1108;те програмне забезпечення або програму
    для встановлення з такою самою назвою, як у цього Програмного забезпечення, в&#1110;д
    третьо&#1111; сторони, не уповноважено&#1111; компан&#1110;&#1108;ю Xiaomi, Xiaomi не зможе
    гарантувати, що вони нормально працюватимуть, &#1110; компан&#1110;я Xiaomi не несе
    в&#1110;дпов&#1110;дальност&#1110; за будь-яку запод&#1110;яну вам шкоду в цьому випадку.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.2. Користувач
    повинен обрати верс&#1110;ю Програмного забезпечення, що в&#1110;дпов&#1110;да&#1108; пристрою, на
    якому вона встановлю&#1108;ться. В &#1110;ншому раз&#1110; Користувач несе одноособову
    в&#1110;дпов&#1110;дальн&#1110;сть за будь-як&#1110; проблеми з Програмним забезпеченням &#1110; пристро&#1108;м, а
    також будь-яку шкоду, спричинену нев&#1110;дпов&#1110;дн&#1110;стю верс&#1110;&#1111; Програмного
    забезпечення та модел&#1110; пристрою.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.3. З метою
    покращення вза&#1108;мод&#1110;&#1111; з користувачем та оптим&#1110;зац&#1110;&#1111; вм&#1110;сту служби, Xiaomi
    залиша&#1108; за собою право надати зам&#1110;нену, модиф&#1110;ковану та модерн&#1110;зовану верс&#1110;ю
    Програмного забезпечення, а також залиша&#1108; за собою право стягувати плату за
    таку зам&#1110;ну, модиф&#1110;кац&#1110;ю або модерн&#1110;зац&#1110;ю, але заздалег&#1110;дь отрима&#1108; вашу згоду
    на так&#1110; витрати. За замовчуванням для Користувача в Програмному забезпеченн&#1110;
    вв&#1110;мкнуто функц&#1110;ю &laquo;нагадування про оновлення&raquo;. Залежно в&#1110;д установлено&#1111; верс&#1110;&#1111;
    Програмного забезпечення компан&#1110;я Xiaomi нада&#1108; Користувачев&#1110; можлив&#1110;сть
    самост&#1110;йно вир&#1110;шувати, чи вмикати цю функц&#1110;ю. Компан&#1110;я Xiaomi не гаранту&#1108;, що
    п&#1110;сля випуску ново&#1111; верс&#1110;&#1111; Програмного забезпечення стар&#1110; верс&#1110;&#1111; працюватимуть
    належним чином.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>4. Техн&#1110;чн&#1110; характеристики
    використання</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1. Користувач
    може використовувати Програмне забезпечення та послуги в&#1110;дпов&#1110;дно до умов ц&#1110;&#1108;&#1111;
    Угоди й законодавства. Користувачу заборонено зд&#1110;йснювати зазначен&#1110; нижче д&#1110;&#1111;:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.1. Видаляти
    будь-яку &#1110;нформац&#1110;ю про авторськ&#1110; права в Програмному забезпеченн&#1110; та його
    коп&#1110;ях, зм&#1110;нювати, знищувати або обходити техн&#1110;чн&#1110; заходи, вжит&#1110; в Програмному
    забезпеченн&#1110; для захисту прав &#1110;нтелектуально&#1111; власност&#1110;; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.2. Зд&#1110;йснювати
    зворотну розробку Програмного забезпечення (наприклад, розбирання й
    декомп&#1110;лювання) або &#1110;нш&#1110; спроби отримати вих&#1110;дний код Програмного забезпечення;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.3. Додавати,
    вилучати або зм&#1110;нювати функц&#1110;&#1111; або ефекти запуску Програмного забезпечення,
    зм&#1110;нюючи або п&#1110;дробляючи &#1110;нструкц&#1110;&#1111; та дан&#1110; п&#1110;д час роботи Програмного
    забезпечення; &#1110;ншим чином застосовувати або поширювати програми чи методи для
    досягнення вищезазначеного як у комерц&#1110;йних, так &#1110; в некомерц&#1110;йних ц&#1110;лях;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.4. Застосовувати
    Програмне забезпечення для будь-яких д&#1110;й, що завдають шкоди мережев&#1110;й безпец&#1110;,
    зокрема: для використання незаконно отриманих даних або для несанкц&#1110;онованого
    доступу до сервер&#1110;в чи акаунт&#1110;в; несанкц&#1110;онованого доступу до загальнодоступних
    мереж або операц&#1110;йних систем &#1110;нших користувач&#1110;в &#1110; знищення чи модиф&#1110;кац&#1110;&#1111;
    будь-яко&#1111; розм&#1110;щено&#1111; там &#1110;нформац&#1110;&#1111; або додавання чогось до не&#1111;;
    несанкц&#1110;онованих спроб виявлення, сканування або тестування слабких м&#1110;сць
    системи Програмного забезпечення чи мереж&#1110;, а також &#1110;нших д&#1110;й, що &#1108; шк&#1110;дливими
    для мережево&#1111; безпеки; спроб порушення належно&#1111; роботи системи Програмного
    забезпечення або сайту чи &#1111;хнього пошкодження, навмисного поширення шк&#1110;дливих
    програм або в&#1110;рус&#1110;в чи виконання &#1110;нших д&#1110;й, що &#1108; втручанням у роботу мережевих &#1110;нформац&#1110;йних
    послуг або &#1108; шк&#1110;дливими для них; п&#1110;дроблення &#1110;мен&#1110; або частини &#1110;мен&#1110; пакета
    даних TCP/IP;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.5. Зд&#1110;йснювати
    вх&#1110;д або використовувати Програмне забезпечення та послуги через сум&#1110;сне
    програмне забезпечення або системи третьо&#1111; сторони, що не розроблен&#1110;, не
    дозволен&#1110; й не схвален&#1110; компан&#1110;&#1108;ю Xiaomi, а також виготовляти, оприлюднювати й
    поширювати зазначен&#1110; засоби;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.6. Без
    письмово&#1111; згоди компан&#1110;&#1111; Xiaomi використовувати Програмне забезпечення або
    &#1110;нформац&#1110;ю, що м&#1110;ститься в ньому, для розробки супутн&#1110;х пох&#1110;дних продукт&#1110;в,
    служб, плаг&#1110;н&#1110;в, а також для забезпечення сум&#1110;сност&#1110; та вза&#1108;мозв’язку, зокрема
    шляхом використання, л&#1110;зингу, позичання, коп&#1110;ювання, модиф&#1110;кац&#1110;&#1111;, надання
    посилання, в&#1110;дтворення, трансляц&#1110;&#1111;, випуску, публ&#1110;кац&#1110;&#1111;, створення образу сайту
    або несанкц&#1110;онованого використання Програмного забезпечення;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.7.
    Використовувати Програмне забезпечення для публ&#1110;кування, передавання,
    розповсюдження або збер&#1110;гання будь-якого контенту, що порушу&#1108; м&#1110;сцев&#1110; закони й
    вимоги нормативних документ&#1110;в; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.8.
    Використовувати Програмне забезпечення для публ&#1110;кування, передавання,
    розповсюдження або збер&#1110;гання будь-якого вм&#1110;сту, який порушу&#1108; законн&#1110; права,
    зокрема права &#1110;нтелектуально&#1111; власност&#1110; й права на комерц&#1110;йну та&#1108;мницю &#1110;нших
    ос&#1110;б; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.9. Використовувати
    Програмне забезпечення для публ&#1110;кування, передавання чи поширення рекламно&#1111;
    &#1110;нформац&#1110;&#1111; або спаму в групових розсилках; </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.1.10.
    Використовувати Програмне забезпечення та &#1110;нш&#1110; послуги компан&#1110;&#1111; Xiaomi в
    будь-який незаконний спос&#1110;б, для будь-яких незаконних ц&#1110;лей або будь-яким
    чином, що порушу&#1108; умови використання в рамках ц&#1110;&#1108;&#1111; Угоди;</span></p>
    
    <p class=MsoNormal align=left style='margin-top:11.25pt;text-align:left'><b><span
    lang=UK style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2. <span
    style=''>Техн&#1110;чн&#1110; вимоги щодо поширення &#1110;нформац&#1110;&#1111;</span></span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.1.
    Ви можете використовувати Програмне забезпечення для поширення &#1110;нформац&#1110;&#1111;,
    як-от особистих думок, факт&#1110;в, текст&#1110;в, в&#1110;домостей, &#1110;мен користувач&#1110;в,
    зображень, фотограф&#1110;й, особистих даних, звукових чи в&#1110;деофайл&#1110;в, посилань тощо,
    створених вами або таких, як&#1110; ви ма&#1108;те право публ&#1110;кувати. Ви повинн&#1110;
    гарантувати, що ма&#1108;те права &#1110;нтелектуально&#1111; власност&#1110; або отримали законний дозв&#1110;л
    стосовно &#1110;нформац&#1110;&#1111;, яку ви завантажили, а також що використання вами
    Програмного забезпечення i послуг не порушу&#1108; жодних законних прав або &#1110;нтерес&#1110;в
    будь-яко&#1111; третьо&#1111; сторони.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.2.
    Використовуючи Програмне забезпечення, ви зобов’язу&#1108;теся дотримуватись ус&#1110;х
    м&#1110;сцевих закон&#1110;в &#1110; норм.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.
    Ви не ма&#1108;те права використовувати Програмне забезпечення для зд&#1110;йснення таких
    д&#1110;й, зокрема</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.1.
    Створення, в&#1110;дтворення, публ&#1110;кац&#1110;я, розповсюдження й збер&#1110;гання вм&#1110;сту, який
    порушу&#1108; м&#1110;сцеве законодавство;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.2.
    Публ&#1110;кування, передавання, розповсюдження та збер&#1110;гання контенту, що порушу&#1108;
    законн&#1110; права, зокрема право на репутац&#1110;ю, права на зображення, права на
    &#1110;нтелектуальну власн&#1110;сть &#1110; комерц&#1110;йн&#1110; та&#1108;мниц&#1110; трет&#1110;х стор&#1110;н.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.3.
    Фабрикування факт&#1110;в або приховування &#1110;стини з метою обману або введення в оману
    &#1110;нших ос&#1110;б;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.4.
    Публ&#1110;кування, передавання або розповсюдження рекламно&#1111; &#1110;нформац&#1110;&#1111; або спаму;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif;'>4.2.3.5.
    Виконання &#1110;нших д&#1110;й, що порушують м&#1110;сцеве законодавство тощо.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.2.4. Без дозволу
    компан&#1110;&#1111; Xiaomi ви не повинн&#1110; провадити в Програмному забезпеченн&#1110; будь-яку
    комерц&#1110;йну д&#1110;яльн&#1110;сть, наприклад рекламну д&#1110;яльн&#1110;сть або продаж товар&#1110;в.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3 Ви розум&#1110;&#1108;те
    та погоджу&#1108;теся з тим, що:</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.1. Компан&#1110;я
    Xiaomi вир&#1110;шу&#1108;, чи п&#1110;дозрю&#1108;ться Користувач у порушенн&#1110; зазначених вище вимог
    щодо використання, &#1110; на п&#1110;дстав&#1110; такого р&#1110;шення призупиня&#1108; чи припиня&#1108; д&#1110;ю
    надано&#1111; вам л&#1110;ценз&#1110;&#1111; або вжива&#1108; &#1110;нш&#1110; обмежувальн&#1110; заходи, дозволен&#1110; в&#1110;дпов&#1110;дно
    до ц&#1110;&#1108;&#1111; Угоди;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.2. Компан&#1110;я
    Xiaomi безпосередньо видаля&#1108; будь-яку &#1110;нформац&#1110;ю, що публ&#1110;ку&#1108;ться Користувачем
    п&#1110;д час використання цього л&#1110;цензованого Програмного забезпечення, якщо вона
    виклика&#1108; п&#1110;дозри щодо незаконност&#1110;, порушення законних прав &#1110;нших ос&#1110;б або умов
    ц&#1110;&#1108;&#1111; Угоди;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.3. Якщо ви
    порушу&#1108;те вказан&#1110; вище вимоги щодо використання, завдаючи таким чином збитк&#1110;в
    трет&#1110;м сторонам, ви ма&#1108;те самост&#1110;йно взяти на себе повну в&#1110;дпов&#1110;дальн&#1110;сть &#1110;
    зв&#1110;льнити компан&#1110;ю Xiaomi в&#1110;д будь-яких пов’язаних &#1110;з цим збитк&#1110;в або витрат;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.3.4. Користувач
    зв&#1110;льня&#1108; та захища&#1108; компан&#1110;ю Xiaomi в&#1110;д ус&#1110;х збитк&#1110;в, претенз&#1110;й трет&#1110;х стор&#1110;н,
    адм&#1110;н&#1110;стративних штраф&#1110;в, видатк&#1110;в та (або) витрат (зокрема, об&#1169;рунтованих сум
    витрат на юридичн&#1110; послуги, ведення розсл&#1110;дування та збирання доказ&#1110;в), яких
    компан&#1110;я Xiaomi зазна&#1108; в результат&#1110; порушення Користувачем в&#1110;дпов&#1110;дних закон&#1110;в
    або невиконання умов ц&#1110;&#1108;&#1111; Угоди.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>5. Пол&#1110;тика конф&#1110;денц&#1110;йност&#1110; та
    захист особистих даних</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1. Захист ваших
    особистих даних &#1108; важливим для компан&#1110;&#1111; Xiaomi. Щоб надавати функц&#1110;&#1111;
    Програмного забезпечення та зробити його використання зручн&#1110;шим, компан&#1110;я
    Xiaomi буде збирати певн&#1110; типи даних, як зазначено в наш&#1110;й Пол&#1110;тиц&#1110;
    конф&#1110;денц&#1110;йност&#1110;. Ми збира&#1108;мо, використову&#1108;мо та захища&#1108;мо ваш&#1110; дан&#1110; в&#1110;дпов&#1110;дно
    до нашо&#1111; Пол&#1110;тики конф&#1110;денц&#1110;йност&#1110;. Пол&#1110;тикою конф&#1110;денц&#1110;йност&#1110; можна
    ознайомитися на ц&#1110;й вебстор&#1110;нц&#1110; [&nbsp;<a class="privacy-link" style="text-decoration: underline;" href=""><span>https://router.miwifi.com/privacy_policy</span></a>&nbsp; ].</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>6. Ризики п&#1110;д час обслуговування та
    в&#1110;дмова в&#1110;д в&#1110;дпов&#1110;дальност&#1110;</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.1. Користувач
    ма&#1108; придбати пристр&#1110;й для доступу до &#1030;нтернету й замовити платн&#1110;
    телекомун&#1110;кац&#1110;йн&#1110; послуги для моб&#1110;льного терм&#1110;нального пристрою, оплачувати
    зв’язок, &#1110;нформац&#1110;йн&#1110; збори, а також нести супутн&#1110; витрати на доступ до
    &#1030;нтернету з особистого моб&#1110;льного терм&#1110;нального пристрою або послуги трет&#1110;х
    стор&#1110;н (зокрема постачальник&#1110;в телекомун&#1110;кац&#1110;йних послуг &#1110; послуг моб&#1110;льного
    зв’язку). Якщо потр&#1110;бн&#1110; платн&#1110; телекомун&#1110;кац&#1110;йн&#1110; послуги, рекоменду&#1108;мо уточнити
    &#1111;хню варт&#1110;сть у свого постачальника телекомун&#1110;кац&#1110;йних послуг.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.2. Компан&#1110;я
    Xiaomi та &#1111;&#1111; Партнер не несуть в&#1110;дпов&#1110;дальност&#1110; за збитки, яких зазнав
    Користувач &#1110;з вини трет&#1110;х стор&#1110;н, як-от через в&#1110;дмову л&#1110;н&#1110;й зв’язку, техн&#1110;чн&#1110;
    проблеми, в&#1110;дмову мереж &#1110; моб&#1110;льних терм&#1110;нальних пристро&#1111;в, нестаб&#1110;льну роботу
    систем та &#1110;нш&#1110; форс-мажорн&#1110; обставини.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.3. Це Програмне
    забезпечення, як &#1110; б&#1110;льш&#1110;сть &#1110;нших веб програм, може залежати, зокрема, в&#1110;д
    таких чинник&#1110;в, як в&#1110;дм&#1110;нност&#1110; в повед&#1110;нц&#1110; користувач&#1110;в, як&#1110;сть мережево&#1111;
    послуги, в&#1110;дм&#1110;нност&#1110; соц&#1110;ального середовища тощо. Це Програмне забезпечення
    може також п&#1110;ддаватися д&#1110;&#1111; несприятливих фактор&#1110;в, пов’язаних &#1110;з р&#1110;зноман&#1110;тними
    проблемами безпеки, наприклад використання даних Користувача &#1110;ншими особами, що
    в результат&#1110; спричинить занепоко&#1108;ння в реальному житт&#1110;; &#1110;нше програмне
    забезпечення, яке завантажу&#1108;ться та встановлю&#1108;ться Користувачем, або &#1110;нш&#1110;
    в&#1110;дв&#1110;дуван&#1110; ним сайти, як&#1110; м&#1110;стять &laquo;троянськ&#1110; програми&raquo; й &#1110;нш&#1110; в&#1110;руси, що
    становлять загрозу для безпеки &#1110;нформац&#1110;&#1111; й даних на пристро&#1111; Користувача,
    порушуючи належну роботу Програмного забезпечення. Користувач ма&#1108; зб&#1110;льшувати
    власну об&#1110;знан&#1110;сть про &#1110;нформац&#1110;йну безпеку й захист користувацьких даних, а
    також уважно ставитися до захисту парол&#1110;в, щоб уникнути виникнення шкоди або
    домагань.</span></b><span lang=UK style='font-size:12.0pt;font-family:"Times New Roman",serif'>
    </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.4. Коли
    Користувач застосову&#1108; Програмне забезпечення або зверта&#1108;ться до компан&#1110;&#1111; Xiaomi
    за наданням певних послуг, Програмне забезпечення може зв’язуватись &#1110;з системою
    або програмним забезпеченням третьо&#1111; сторони, щоб забезпечити для Користувача
    можлив&#1110;сть доступу або використання. Результати надання такого доступу або
    використання забезпечуються третьою стороною. Компан&#1110;я Xiaomi не гаранту&#1108;
    безпеки, точност&#1110; й ефективност&#1110; результат&#1110;в, досягнутих завдяки зазначен&#1110;й
    систем&#1110; або програмному забезпеченню, а також не бере на себе &#1110;нш&#1110; невизначен&#1110;
    ризики. Компан&#1110;я Xiaomi не несе в&#1110;дпов&#1110;дальност&#1110; в раз&#1110; виникнення сп&#1110;рних
    питань або завдання шкоди через вищенаведене.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.5. Компан&#1110;я
    Xiaomi зверта&#1108; особливу увагу Користувача на те, що заради забезпечення
    д&#1110;лового розвитку й автономност&#1110; компан&#1110;&#1111; Xiaomi вона ма&#1108; право в будь-який час
    вносити зм&#1110;ни до служб або припиняти &#1111;х д&#1110;ю, не пов&#1110;домляючи про це Користувача
    та не беручи жодно&#1111; в&#1110;дпов&#1110;дальност&#1110; перед Користувачем або будь-якою третьою
    стороною.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.6. Якщо цього
    явно не передбачено законодавством, ми робитимемо все можливе, щоб Програмне
    забезпечення та пов’язан&#1110; з ним технолог&#1110;&#1111; та дан&#1110; були безпечними,
    ефективними, точними й над&#1110;йними. Проте Користувач повинен розум&#1110;ти, що
    компан&#1110;я Xiaomi не може цього гарантувати, враховуючи стан наявних технолог&#1110;й.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.7. Користувач
    несе виключну в&#1110;дпов&#1110;дальн&#1110;сть за будь-як&#1110; т&#1110;лесн&#1110; ушкодження, поб&#1110;чн&#1110; або
    непрям&#1110; збитки, зокрема за втрачену вигоду, втрачен&#1110; дан&#1110;, припинення господарсько&#1111;
    д&#1110;яльност&#1110; або &#1110;нш&#1110; комерц&#1110;йн&#1110; збитки, що пов’язан&#1110; з: (1) вдалим або невдалим
    використанням л&#1110;ценз&#1110;йного Програмного забезпечення; (2) несанкц&#1110;онованим
    використанням Програмного забезпечення або зм&#1110;ною користувацьких даних третьою
    стороною; (3) витратами або збитками, яких зазнав Користувач п&#1110;д час
    використання Програмного забезпечення; (4) неправильним розум&#1110;нням Програмного
    забезпечення Користувачем; (5) &#1110;ншими збитками, пов’язаними з Програмним
    забезпеченням, не зумовленими Xiaomi.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.8. У випадку
    будь-яких особистих або матер&#1110;альних збитк&#1110;в чи втрат, як&#1110; були спричинен&#1110; або
    можуть бути спричинен&#1110; д&#1110;ями Користувача й &#1110;нших користувач&#1110;в &#1110;з застосуванням
    будь-якого програмного забезпечення або через введення Користувача в оману,
    винна сторона несе повну в&#1110;дпов&#1110;дальн&#1110;сть за так&#1110; д&#1110;&#1111;.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>7. Заява щодо прав &#1110;нтелектуально&#1111;
    власност&#1110;</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.1. Ус&#1110; права
    &#1110;нтелектуально&#1111; власност&#1110; на Програмне забезпечення належать компан&#1110;&#1111; Xiaomi.
    Ус&#1110; права &#1110;нтелектуально&#1111; власност&#1110;, зокрема авторське право, права на торговельну
    марку, патент, комерц&#1110;йну та&#1108;мницю тощо, як&#1110; пов’язан&#1110; з цим Програмним
    забезпеченням, а також уся &#1110;нформац&#1110;я, пов’язана з цим Програмним забезпеченням
    (зокрема текст, зображення, звуков&#1110; файли, в&#1110;деофайли, граф&#1110;ка, дизайн
    &#1110;нтерфейсу, макет, дан&#1110; або електронн&#1110; документи тощо), охороняються м&#1110;сцевими
    законами та нормативними актами, а також в&#1110;дпов&#1110;дними м&#1110;жнародними угодами.
    Компан&#1110;я Xiaomi &#1108; власником зазначених прав &#1110;нтелектуально&#1111; власност&#1110;.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.2. Без
    попередньо&#1111; письмово&#1111; згоди компан&#1110;&#1111; Xiaomi Користувач не може самост&#1110;йно
    використовувати або передавати у використання будь-як&#1110; з вищезазначених прав
    &#1110;нтелектуально&#1111; власност&#1110; для будь-яких комерц&#1110;йних або некомерц&#1110;йних ц&#1110;лей а
    також дозволяти вчинення таких д&#1110;й будь-якою третьою особою. Компан&#1110;я Xiaomi
    збер&#1110;га&#1108; за собою право на судове пересл&#1110;дування за вчинення таких д&#1110;й.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>8. Внесення зм&#1110;н</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.1. Компан&#1110;я
    Xiaomi збер&#1110;га&#1108; за собою право пер&#1110;одично та на власний розсуд вносити зм&#1110;ни до
    умов ц&#1110;&#1108;&#1111; Угоди. Будь-як&#1110; так&#1110; зм&#1110;ни будуть вчасно публ&#1110;куватися на в&#1110;дпов&#1110;дних
    веб стор&#1110;нках. Якщо ви не погоджу&#1108;теся з внесеними зм&#1110;нами, ви ма&#1108;те припинити
    користування послугами. Якщо ви продовжу&#1108;те користуватися послугами, це
    означа&#1108;, що ви погоджу&#1108;теся з внесеними зм&#1110;нами. </span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>8.2. Компан&#1110;я
    Xiaomi або Партнер залиша&#1108; за собою право пер&#1110;одично та на власний розсуд
    вносити зм&#1110;ни до платних послуг, критер&#1110;&#1111;в оплати, режиму оплати, оплати послуг
    або умов &#1111;х надання. П&#1110;д час надання послуг компан&#1110;я Xiaomi може почати брати з
    деяких користувач&#1110;в певну плату&nbsp;(тепер або в майбутньому). Якщо Користувач
    в&#1110;дмовля&#1108;ться сплачувати так&#1110; збори, Користувач не зможе продовжувати
    користуватися в&#1110;дпов&#1110;дними послугами п&#1110;сля початку стягнення плати. </span></b><span
    lang=UK style='font-size:12.0pt;font-family:"Times New Roman",serif'>Компан&#1110;я
    Xiaomi та &#1111;&#1111; Партнер робитимуть усе можливе, щоб пов&#1110;домити Користувача про
    будь-як&#1110; зм&#1110;ни або доповнення електронною поштою чи &#1110;ншим чином. </span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>9. Чинне законодавство та
    врегулювання спор&#1110;в</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.1. Д&#1110;йсн&#1110;сть &#1110;
    тлумачення ц&#1110;&#1108;&#1111; Угоди регулюються законами материково&#1111; частини Китайсько&#1111;
    Народно&#1111; Республ&#1110;ки. За в&#1110;дсутност&#1110; в&#1110;дпов&#1110;дних правових положень можна
    посилатися на м&#1110;жнародн&#1110; та (або) м&#1110;сцев&#1110; норми ведення б&#1110;знесу.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.2. Цю Угоду
    п&#1110;дписано в район&#1110; Хайдянь, Пек&#1110;н.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>9.3. Користувач &#1110;
    компан&#1110;я Xiaomi погоджуються, що будь-який сп&#1110;р, який виник унасл&#1110;док надання
    послуг, спочатку ма&#1108; вир&#1110;шуватися шляхом переговор&#1110;в м&#1110;ж Сторонами. Якщо шляхом
    переговор&#1110;в згоди досягти не вда&#1108;ться, будь-яка з&#1110; Стор&#1110;н може звернутися до
    суду компетентно&#1111; юрисдикц&#1110;&#1111; за м&#1110;сцем п&#1110;дписання ц&#1110;&#1108;&#1111; Угоди.</span></b></p>
    
    <p class=MsoNormal align=left style='text-align:left'><b><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>
    
    <h1 align=left style='text-align:left'><b><span lang=UK style='font-family:
    "Times New Roman",serif;'>10. &#1030;нш&#1110; положення</span></b></h1>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.1. Для певно&#1111;
    служби Програмного забезпечення може &#1110;снувати окрема угода та в&#1110;дпов&#1110;дн&#1110;
    б&#1110;знес-правила (дал&#1110; разом&nbsp;– &quot;окрема угода&quot;). Перш н&#1110;ж
    користуватися такою службою, ознайомтеся та погодьтеся з умовами в&#1110;дпов&#1110;дно&#1111;
    окремо&#1111; угоди.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.2. Ця Угода
    набира&#1108; чинност&#1110; з 1&nbsp;грудня 2023&nbsp;року.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.3. Заголовки
    вс&#1110;х положень ц&#1110;&#1108;&#1111; Угоди наведено виключно для зручност&#1110; посилання, вони
    &#1110;гноруються п&#1110;д час тлумачення ц&#1110;&#1108;&#1111; Угоди.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>10.4. Якщо
    будь-яке положення ц&#1110;&#1108;&#1111; Угоди &#1108; або ста&#1108; нед&#1110;йсним чи втрача&#1108; позовну силу з
    будь-яких причин, &#1110;нш&#1110; положення ц&#1110;&#1108;&#1111; Угоди залишаються чинними й обов’язковими
    для виконання обома &#1111;&#1111; Сторонами.</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=left style='text-align:left'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=right style='text-align:right'><span lang=UK
    style='font-size:12.0pt;font-family:"Times New Roman",serif'>XIAOMI</span></p>
    
</div>
